#site-translate-header-wrapper{
	width: 100% !important;
	height:auto;
	box-sizing: border-box;
}

#site-translate-header-wrapper p{
	font-size:10px;
	line-height: 12px;
}

#site-translate-message{
	display:block;	
	vertical-align:middle;
	padding: 3px 0;
	text-align: center;
}

.l-footer__nav__right a {
    height: auto;
}

.stock-slider__tag {
	height: auto;
	width: auto;
}

.section-recruit__copy {
    font-size: 2.1rem;
    line-height: normal;
    letter-spacing: normal;
}


@media (min-width: 751px) {

	.decimal-list.vertical {
	    height: auto;
	}

	.decimal-list.vertical li {
	    width: auto;
	}

}
