.nav__unit link{
	attribute:cltx add 'exclude';
}

@preprocess {
	replace:'<h2 class="sectionTitle">(.*?)<span>(.*?)</span></h2>' '<h2 class="sectionTitle">$1<br style="display:none;"><span>$2</span></h2>';
	replace:'<span class="l-header__textarea__tel">(.*?)</span>' '<br style="display:none;"><span class="l-header__textarea__tel">$1</span><br style="display:none;">';
	replace:'<a href="(.*?)" class="contact-box__tel">(.*?)</a>' '<br style="display:none;"><a href="$1" class="contact-box__tel">$2</a><br style="display:none;">';
}

// @RULESET
// URL #= //itamisyaryo\.com/
@preprocess {
	replace:'<p class="section-pickup__copy"><span>全部再資源化</span>使用済み自動車の処理工程</p>' '<p class="section-pickup__copy"><span>全部再資源化</span><br style="display:none;">使用済み自動車の処理工程</p>';
	replace:'<p class="section-pickup__copy"><span>気に入ったパーツを自分で外す</span>もぎ取り入荷情報</p>' '<p class="section-pickup__copy"><span>気に入ったパーツを自分で外す</span><br style="display:none;">もぎ取り入荷情報</p>';
}

// @RULESET
// URL #= //itamisyaryo\.com/process/.*
@preprocess {
	replace:'<span class="text-arrow">(.*?)</span>' '<span class="text-arrow">$1</span><br style="display:none;">';
}

// @RULESET
// URL #= //itamisyaryo\.com/company/.*
@preprocess {
	replace:'<span class="enkaku-list__year">(.*?)</span>' '<span class="enkaku-list__year">$1</span><br style="display:none;">';
}

