#site-translate-header-wrapper {
	width: auto !important;
	z-index: 99999;
}

.header {
    top: 44px;
}

@media only screen and (max-width: 736px) {

	.header .headerNav .btnCloseNav {
	    top: 59px;
	}

	.header .headerNav ul {
	    margin: 44px auto 0;
	}

}
