@engine default {
  eid: CR-JK;
  dictionaries: "ISHIKAWA-RYOKANHOTEL_DIC ISHIKAWA-RYOKANHOTEL_TM";
}

@engine ishikawa-ryokanhotel/main {
  eid: CR-JK;
  dictionaries: "ISHIKAWA-RYOKANHOTEL_DIC_MASTER ISHIKAWA-RYOKANHOTEL_TM_MASTER";
}