@engine default {
  eid: CR-JE;
  dictionaries: "FUK-AB_DIC FUK-AB_TM CROSS_DIC CROSS_TM TOURISM GOURMET INTERNET";
}
@engine fuk-ab/main {
  eid: CR-JE;
  dictionaries: "FUK-AB_DIC_MASTER FUK-AB_TM_MASTER TOURISM GOURMET";
}
@engine fuk-ab/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOURMET";
}