@engine default {
  eid: BR-JA.IT.EN;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT LAW ECOLOGY";
}
@engine bosai/main {
  eid: BR-JA.IT.EN;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT LAW ECOLOGY";
}
@engine bosai/cross {
  eid: BR-JA.IT.EN;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT LAW ECOLOGY";
}
