/*2018/02/26　add to*/
.ctgSeichi .ctgTtl h4{
	white-space: normal;
}

.ctgSeichi .ctgTtl:lang(en){
	padding-top: 2.8%;
}

.ctgSeichi .btnList a:lang(en){
	font-size: 80%;
	bottom: 10%;
}

.linkContOne .linkTxt h4:lang(en){
	font-size: 180%;
}

#site-translate-header-wrapper{
	width: 100% !important;
	height: 44px;
	position: fixed;
	top: 0;
	z-index: 9999;
}

#site-translate-header-wrapper p{
	font-size: 10px;
	line-height: 12px;
}

#site-translate-message{
	display: table-cell;
	height: 44px;
	vertical-align: middle;
	width: 5000px
}

#container{
	margin: 40px auto 0;
}

#header{
	top: 44px;
}

.tblType02 th{
	width: 25%;
}

.facCont h4 a{
	font-size: 80%;
}

.siteID a{
	font-size: 152%;
}

.slideTtl{
	font-size: 320%;
	letter-spacing: normal;
	line-height: 1.75;
}

.mainTtl h2{
	font-size: 242%;
}

.searchMonth li{
	padding: 0 8px;
}

.searchMonthSelect{
	padding: 0;
}

.more_sports,
.more_event,
.more_spot{
	width: 50%;
}

.ttl04 .line span{
	padding: 0 10px;
}

.iconUmi{
	-webkit-background-size: 140px auto;
	background-size: 140px auto;
	padding-left: 140px;
}

.iconTake{
	-webkit-background-size: 202px auto;
	background-size: 202px auto;
	padding-left: 202px;
}

.iconMori{
	-webkit-background-size: 143px auto;
	background-size: 143px auto;
	padding-left: 143px;
}

.iconOcha{
	-webkit-background-size: 168px auto;
	background-size: 168px auto;
	padding-left: 168px;
}
    
@media screen and (max-width: 1350px){
	.ctgCal .btnList a,
	.ctgFct .btnList a,
	.ctgVlt .btnList a{
		bottom: 10%;
		font-size: 90%;
	}

	.ctgSeichi .btnList a:lang(en){
		font-size: 75%;
	}

	.ctgSeichi .ctgTtl:lang(en){
		padding-top: 2%;
	}

	.ctgSeichi .ctgTtl h4:lang(en){
		margin-bottom: 15px;
	}

	.ctgSeichi .ctgTtl p:lang(en){
		font-size: 80%;
	}
}

@media screen and (max-width: 768px){
	*{
		letter-spacing: normal !important;
	}

	#container{
		margin: 61px 0 0;
	}

	.ctgCal .btnList a{
		bottom: 26%;
	}

	.ctgFct .btnList a,
	.ctgVlt .btnList a{
		bottom: 22%;
	}

	.iconUmi{
		-webkit-background-size: 113px auto;
		background-size: 113px auto;
		padding-left: 113px;
	}

	.iconTake{
		-webkit-background-size: 161px auto;
		background-size: 161px auto;
		padding-left: 161px;
	}

	.iconMori{
		-webkit-background-size: 112px auto;
		background-size: 112px auto;
		padding-left: 112px;
	}

	.iconOcha{
		-webkit-background-size: 128px auto;
		background-size: 128px auto;
		padding-left: 128px;
	}

	.ctgTtl h4 span{
		font-size: 18px;
	}
}

@media screen and (max-width:690px){
	.slideTtl{
		font-size: 290%;
	}
}

@media screen and (max-width:650px){
	.slideTtl{
		font-size: 265%;
	}
}

@media screen and (max-width:590px){
	.slideTtl{
		font-size: 255%;
	}
}

@media screen and (max-width:510px){
	.slideTtl{
		font-size: 200%;
	}
}

@media screen and (max-width:450px){
	.slideTtl{
		font-size: 183%;
	}
}

@media screen and (max-width:410px){
	.ctgSeichi .ctgTtl h4:lang(en){
		font-size: 15px;
		margin-bottom: 5px;
	}

	.ctgTtl h4 span:lang(en){
		font-size: 12px;
	}

	.ctgSeichi .ctgTtl p:lang(en){
		line-height: 1.1;
	}

	.ctgSeichi .btnList a:lang(en){
		bottom: 22%;
	}
}

@media screen and (max-width:390px){
	.slideTtl{
		font-size: 165%;
	}
}

@media screen and (max-width:355px){
	.slideTtl{
		font-size: 147%;
	}
}

@media screen and (max-width:320px){
	.slideTtl{
		font-size: 140%;
	}
}