h2, h2 > div.titleleft {
  content: translate split both "｜";
}
div.kiji_contents > h3 * {
  text-flow: break;
  content: translate split exclude "\\s";
}
div.kankodb_data_title > span {
  text-flow: break;
  content: ignore;
}
div#side_search1 > select#category > option[value] {
  attribute: value rewrite "@RewriteRegisteredDomain";
}

// @RULESET
// URL ^= http://yamagatakanko.com/datadetail/?data_id=
ul.kankodb_info li span {
  text-flow: break;
}

// @RULESET
// URL #= http://yamagatakanko.com/(?:spot|food|omiyage|event|onsen)/.*
div.data_list > div.links {
  content: translate split both "/";
}
div.data_list > div.links > a {
  text-flow: break;
}
@postprocess {
  replace: "<h3><!--cltx--><a href=" "<h3 cltx><a href=";
}

// @RULESET
// URL #= http://yamagatakanko.com/(?:spot|food|omiyage|event|onsen)detail/.*
div.kankodb_data_title {
  content: translate split exclude "\\s";
}
div.kankodb_data_title.span {
  text-flow: break;
  content: translate split exclude "\\s";
}
