@engine default {
  eid: CR-JC;
  dictionaries: "ASO-GEOPARK_DIC ASO-GEOPARK_TM CROSS_DIC CROSS_TM";
}

@engine aso-geopark/main {
  eid: CR-JC;
  dictionaries: "ASO-GEOPARK_DIC_MASTER ASO-GEOPARK_TM_MASTER";
}

body {
  attribute: lang add 'zh';
}
