@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine biccamera-test/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine biccamera-test/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}
@preprocess {
 replace:'<!-- crosslanguage-t:show(.*?)/crosslanguage-t:show -->' '$1';
}

@preprocess {
 replace:'<!-- crosslanguage-t:show(.*?)/crosslanguage-t:show -->' '$1';
 replace:'<li>店頭販売価格と取置き申込み時のビックカメラ.comの販売価格のうち(.*?)</li>' '<li>店頭販売価格と取置き申込み時の\\"ビックカメラ\\.com\\"の販売価格のうち$1</li>';
}

@postprocess {
 replace:'<li><!--cltx--><a href="(.*?)">\\((.*?)\\)?外有關通信機器</a></li>' '<li><!--cltx--><a href="$1">?外有關通信機器\\($2\\)</a></li>';
}
