@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine matsukiyo/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine matsukiyo/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

body {
  attribute: lang add 'zh';
}

.center {
 attribute: style add 'margin-top: 43px;';
}

@postprocess {
 replace: '</b>円</span>' '</b>元</span>';
 replace: '<span class="couponValue">([0-9])([0-9])日</span>' '<span class="couponValue">$1$2</span>';
}