.home-header-menu,
.navi-list.type-course{
 attribute: cltx add 'exclude';
}

div#galleryContents li, div#galleryThumbnail li, div#slideshow li,div#headerForeignLinks li{
 attribute: cltx add 'exclude';
}

div.slide_container {
 attribute: clftx add 'exclude';
}


#wrapper > .box{
 attribute: cltx add 'exclude';
}

@preprocess {
  replace: '<div class="hero-content_area(.*?)>' '<div class="hero-content_area$1 cltx="exclude">';
  replace: '<span class="event_floor">(.*?)</span><span class="event_name">(.*?)</span>' '<span class="event_floor">$1</span><br style="display:none;"><span class="event_name">$2</span>';
  replace:'<!-- crosslanguage:show.*?/crosslanguage:show -->' '<p class="mt10"><a href="http://nijajani.com/" target="_blank"><img src="/common/images/store/com_nav_bn02.jpg" alt="" width="209" height="50" /></a></p><p class="mt10"><a href="http://weibo.cn/qr/userinfo?uid=5200185773" target="_blank"><img src="/common/images/store/com_nav_bn03.jpg" alt="" width="209" height="50" /></a></p><p class="mt10"><a href="http://weixin.qq.com/r/tUNkfB7ET0MwrVof9xan" target="_blank"><img src="/common/images/store/com_nav_bn04.jpg" alt="" width="209" height="50" /></a></p><p class="mt10"><a href="https://www.facebook.com/daimarudps" target="_blank"><img src="/common/images/store/com_nav_bn05.jpg" alt="" width="209" height="50" /></a></p>';
}

@postprocess {
  replace: "'UA-19142011-2'" "'UA-56621341-1'";
  replace: "'UA-19142011-1'" "'UA-56621341-1'";
  replace: '(<!--cltx--><span clid="[a-z][0-9]+" id="[a-z][0-9]+">)((</span>){1,})' '$2$1';
}

/* 免責非表示 */
// @RULESET
// URL #= //www\.daimaru\.co\.jp/(shinsaibashi|umedamise|kyoto|kobe|tokyo|sapporo|suma|ashiya)/app/menu\.html
@preprocess {
  replace: '<html (.*?)>' '<html $1 class="display_none">';
}

// @RULESET
// URL #=//www\.daimaru\.co\.jp/(|smp/)shinsaibashi/(|index\.html)
@preprocess {
  replace: 'ブランド・ショップ検索' 'ブランド情報';
  replace: 'ブランド検索' 'ブランド情報';
  replace: '"https://dm\.daimaru\.co\.jp/webapp/BIsearch\.jsp\\?shop_nm=1"' '"https://www.daimaru.co.jp/foreign/shinsaibashi/brand.html"';
  replace: '"https://dm\.daimaru\.co\.jp/webapp/BIsearch\.jsp\\?shop_nm=6"' '"https://www.daimaru.co.jp/foreign/umeda/brand.html"';
  replace: '"https://dm\.daimaru\.co\.jp/webapp/BIsearch\.jsp\\?shop_nm=3"' '"https://www.daimaru.co.jp/foreign/kyoto/brand.html"';
  replace: '"https://dm\.daimaru\.co\.jp/webapp/BIsearch\.jsp\\?shop_nm=4"' '"https://www.daimaru.co.jp/foreign/kobe/brand.html"';
  replace: '"https://dm\.daimaru\.co\.jp/webapp/BIsearch\.jsp\\?shop_nm=2"' '"https://www.daimaru.co.jp/foreign/tokyo/brand.html"';
  replace: '"https://dm\.daimaru\.co\.jp/webapp/BIsearch\.jsp\\?shop_nm=7"' '"https://www.daimaru.co.jp/foreign/sapporo/brand.html"';
  replace: '"(/(|smp/)shinsaibashi/service/)index\(.html)"' '"$1gaikoku$3"';
  replace: '(<ul class="btnLink01">.*?</ul>)' '$1<div class="officialAccount"><ul><li><a href="http://nijajani.com/" target="_blank"><img src="/smp/common/images/com_bn01.gif" width="104" alt=""></a></li><li class="socialPlugin noBorder"><ul><li><a href="http://weibo.cn/qr/userinfo?uid=5200185773" target="_blank"><img src="/smp/common/images/com_ic23.png" width="31" alt="weibo"></a></li><li><a href="http://weixin.qq.com/r/tUNkfB7ET0MwrVof9xan" target="_blank"><img src="/smp/common/images/com_ic24.png" width="31" alt="WeChat"></a></li><li><a href="https://www.facebook.com/daimarudps" target="_blank"><img src="/smp/common/images/com_ic25.png" width="31" alt="Facebook"></a></li></ul></li></ul></div>';
}

// @RULESET
// URL #=//www\.daimaru\.co\.jp/(|smp/)(umedamise|kyoto|kobe|tokyo|sapporo)/(|index\.html)
@preprocess {
  replace: 'ブランド・ショップ検索' 'ブランド情報';
  replace: 'ブランド検索' 'ブランド情報';
  replace: '"https://dm\.daimaru\.co\.jp/webapp/BIsearch\.jsp\\?shop_nm=1"' '"https://www.daimaru.co.jp/foreign/shinsaibashi/brand.html"';
  replace: '"https://dm\.daimaru\.co\.jp/webapp/BIsearch\.jsp\\?shop_nm=6"' '"https://www.daimaru.co.jp/foreign/umeda/brand.html"';
  replace: '"https://dm\.daimaru\.co\.jp/webapp/BIsearch\.jsp\\?shop_nm=3"' '"https://www.daimaru.co.jp/foreign/kyoto/brand.html"';
  replace: '"https://dm\.daimaru\.co\.jp/webapp/BIsearch\.jsp\\?shop_nm=4"' '"https://www.daimaru.co.jp/foreign/kobe/brand.html"';
  replace: '"https://dm\.daimaru\.co\.jp/webapp/BIsearch\.jsp\\?shop_nm=2"' '"https://www.daimaru.co.jp/foreign/tokyo/brand.html"';
  replace: '"https://dm\.daimaru\.co\.jp/webapp/BIsearch\.jsp\\?shop_nm=7"' '"https://www.daimaru.co.jp/foreign/sapporo/brand.html"';
  replace: '"(/(|smp/)(umedamise|kyoto|kobe|tokyo|sapporo)/service/)index\(.html)"' '"$1gaikoku$4"';
  replace: '<div class="officialAccount">.*?</div>' '<div class="officialAccount"><ul><li><a href="http://nijajani.com/" target="_blank"><img src="/smp/common/images/com_bn01.gif" width="104" alt=""></a></li><li class="socialPlugin noBorder"><ul><li><a href="http://weibo.cn/qr/userinfo?uid=5200185773" target="_blank"><img src="/smp/common/images/com_ic23.png" width="31" alt="weibo"></a></li><li><a href="http://weixin.qq.com/r/tUNkfB7ET0MwrVof9xan" target="_blank"><img src="/smp/common/images/com_ic24.png" width="31" alt="WeChat"></a></li><li><a href="https://www.facebook.com/daimarudps" target="_blank"><img src="/smp/common/images/com_ic25.png" width="31" alt="Facebook"></a></li></ul></li></ul></div>';
}
