@engine default {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine city-kanoya/main {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine city-kanoya/cross {
  eid: MS-JAVI;
  dictionaries: "CROSS_TM_MASTER";
}
