@engine default {
  eid: CR-JK;
  dictionaries: "TOIN_DIC TOIN_TM CROSS_TM";
}

@rewrite rewriteToOriginalURL {
  if (absurl matches "http://www\\.town\\.toin\\.lg\\.jp\\.k\\.dx\\..+") return "http://www.town.toin.lg.jp/";
}
div#head > div#head_upper > ul#head_links > li > a[href] {
  attribute: href rewrite "@rewriteToOriginalURL";
}
