header,
.bqPlan-table__price,
article.row{
    attribute: cltx add 'exclude';
}

@preprocess{
	replace:'<span class="q-ico">Q</span><span class="q-box">(.*?)</span>' '<span class="q-ico">Q</span><br style="display:none;"><span class="q-box">$1</span>';
	replace:'<span>一覧を見る</span>' '<br style="display:none;"><span>一覧を見る</span><br style="display:none;">';
}
