header,
.bqPlan-table__price,
article.row{
    attribute: cltx add 'exclude';
}

@preprocess{
	replace:'<!-- crosslanguage:show(.*?)/crosslanguage:show -->' '$1';
	replace:'<span class="q-ico">Q</span><span class="q-box">(.*?)</span>' '<span class="q-ico">Q</span><br style="display:none;"><span class="q-box">$1</span>';
	replace:'<span>一覧を見る</span>' '<br style="display:none;"><span>一覧を見る</span><br style="display:none;">';
	replace:'<span class="spnone">(.*?)</span><span class="enpcnone">(.*?)</span>' '<span class="spnone">$1</span><br style="display:none;"><span class="enpcnone">$2</span>';
	replace:'<h2 class="font-self(.*?)">(.*?)<span(.*?)>(.*?)</span></h2>' '<h2 class="font-self$1">$2<br style="display:none;"><span$3>$4</span></h2>';
	replace:'<h2 class="heading08(.*?)">(.*?)<span(.*?)>(.*?)</span></h2>' '<h2 class="heading08$1">$2<br style="display:none;"><span$3>$4</span></h2>';
	replace:'<p class="title(.*?)">(.*?)<span(.*?)>(.*?)</span></p>' '<p class="title$1">$2<br style="display:none;"><span$3>$4</span></p>';
	replace:'<div class="bottom-info-area-shop-area">(.*?)<p>(.*?)<span>(.*?)</span></p>' '<div class="bottom-info-area-shop-area">$1<p>$2<br style="display:none;"><span>$3</span></p>';
}




