@engine default {
  eid: CR-JK;
  dictionaries: "YUMERUN-NET_DIC YUMERUN-NET_TM CROSS_TM";
}

@engine yumerun-net/main {
  eid: CR-JK;
  dictionaries: "YUMERUN-NET_DIC_MASTER YUMERUN-NET_TM_MASTER";
}