div#translation a[href="http://fukuoka-aeonmall.com/"] {
  attribute: href ignore;
}
form[action="http://www.google.co.jp/search"] input[type="hidden"][name#="[io]e"] {
  attribute: value rewrite "UTF-8";
}
div#translation ul, div#cal1Container * {
    attribute: cltx add 'exclude';
}

div#corporatelogo ul.symbolmarks li a {
  attribute: href set 'javascript:void(0)';
  attribute: target delete;
}