@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM SYSTEM COMPUTER";
}
@engine consortium/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER SYSTEM COMPUTER";
}
@engine consortium/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER SYSTEM COMPUTER";
}