@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine kyoto-aeonmall/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine kyoto-aeonmall/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

a[href$="/floorguide/"] {
  attribute: href rewrite "@RewriteFloorGuide";
}

@rewrite RewriteFloorGuide {
  if (absurl matches "(http://kyoto-aeonmall\\.com)/floorguide/(.*)") return "{$1}/floorguide-en/{$2}";
}

a[href$="/floorguide"] {
  attribute: href rewrite "@RewriteFloorGuide2";
}

@rewrite RewriteFloorGuide2 {
  if (absurl matches "(http://kyoto-aeonmall\\.com)/floorguide(.*)") return "{$1}/floorguide-en{$2}";
}