.contentsArea,
.facebookArea,
.TwitterArea {
	attribute: cltx add 'exclude';
}

@preprocess {
	replace:'<h3 class="clearfix">(.*?)<span>(.*?)</span></h3>' '<h3 class="clearfix">$1<br style="display:none;"><span>$2</span><br style="display:none;"></h3>';
	replace:'<a href=(.*?) class="mapPop orangeBtn">(.*?)</a>' '<br style="display:none;"><a href=$1 class="mapPop orangeBtn">$2</a><br style="display:none;">';
	replace:'<a href=(.*?) class="orangeBtn">(.*?)</a>' '<br style="display:none;"><a href=$1 class="orangeBtn">$2</a><br style="display:none;">';
	replace:'<section class="titleIcon spanBr clearfix">(.*?)<h3>(.*?)<span>(.*?)</span></h3>(.*?)</section>' '<section class="titleIcon spanBr clearfix">$1<h3>$2<br style="display:none;"><span>$3</span></h3>$4</section>';
}
