@engine default {
  eid: CR-JE;
  dictionaries: "KURUME_DIC KURUME_TM GOVT TOURISM INTERNET";
}
@engine kurume/main {
  eid: CR-JE;
  dictionaries: "KURUME_DIC_MASTER KURUME_TM_MASTER GOVT TOURISM";
}

@preprocess{
replace: 'UA-24341568-1' 'UA-24341568-3';
}