@engine default {
  eid: CR-JE;
  dictionaries: "SHIMIZU-KANKOU_DIC SHIMIZU-KANKOU_TM CROSS_DIC CROSS_TM TOURISM GOURMET INTERNET";
}

@engine shimizu-kankou/main {
  eid: CR-JE;
  dictionaries: "SHIMIZU-KANKOU_DIC_MASTER SHIMIZU-KANKOU_TM_MASTER TOURISM GOURMET";
}