@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM FASHION GOURMET INTERNET";
}
@engine spsz/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM FASHION GOURMET";
}
@engine spsz/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM FASHION GOURMET";
}

nav.global-nav > ul {
 attribute: style add 'font-size: 10px;';
}

@postprocess {
 replace:'<h2><!--cltx-->About Shizuoka-shi</h2>' '<h2 style="font-size: 12px;"><!--cltx-->About Shizuoka-shi</h2>';
 replace:'<h2><!--cltx-->Access to Shizuoka-shi</h2>' ' <h2  style="font-size: 12px;"><!--cltx-->Access to Shizuoka-shi</h2>';
 replace:'<h2><!--cltx-->Sightseeing, amenity information</h2>' '<h2  style="font-size: 12px;"><!--cltx-->Sightseeing, amenity information</h2>'; 
}

@preprocess {
 replace:'class="lang-jp"' 'class="lang-en"';
}