@engine default {
  eid: CR-JT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM";
}
@engine pref-osaka/main {
  eid: CR-JT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM";
}
@engine pref-osaka/cross {
  eid: CR-JT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM";
}

@preprocess {
  replace:'<!-- crosslanguage-th:show(.*?)/crosslanguage-th:show -->' '$1';
}
