@engine default {
  eid: CR-JC;
  dictionaries: "HIRATSUKA_DIC HIRATSUKA_TM CROSS_DIC CROSS_TM";
}

@engine hiratsuka/main {
  eid: CR-JC;
  dictionaries: "HIRATSUKA_DIC_MASTER HIRATSUKA_TM_MASTER";
}

body {
  attribute: lang add 'zh';
}
