@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM LAW";
}
@engine saga/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER LAW";
}
@engine saga/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER LAW";
}

@postprocess {
replace:"cx = '006160629073588275082:vbxxx4xf2b4'" "cx = '006160629073588275082:ty5tevd6kqm'";
}