@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine harves/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine harves/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@postprocess {
  replace: "<!--kr.css-->" "<link href=\"http://www.harves.co.jp/common/css/kr.css\" rel=\"stylesheet\" type=\"text/css\"/>";
}

@postprocess {
  replace: "'UA-16014599-7', 'harves.co.jp'" "'UA-16014599-9', 'transer.com'";
}

//googleサイト内検索(検索エンジンID書換え)
@postprocess {
  replace: "'005863037217475340831:mngh7fknc8g'" "'005863037217475340831:rxjgyqkr9ao'";
}

@postprocess {
  replace: '<input type="hidden" name="lang" value="ja" />' '<input type="hidden" name="lang" value="kr" />';
}