@engine default {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine biccamera-asia/main {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine biccamera-asia/cross {
  eid: MS-JATH;
  dictionaries: "CROSS_TM_MASTER";
}

// @RULESET
// URL #= http://www\.biccamera\.co\.jp/shoplist/.*
span#kanagawa {
 attribute: style add 'font-size: 16px;';
}

// @RULESET
// URL #= http://www\.biccamera\.co\.jp/bicsports/.*
div.osusume {
 attribute: style add 'font-size: 13px;';
}

// @RULESET
// URL #= http://www\.biccamera\.com/bc/c/info/order/keep-howto\.jsp
@postprocess {
 replace: '"ห<a href="/bc/c/info/order/caution.jsp">มายเหตุ" </a>' '"<a href="/bc/c/info/order/caution.jsp">หมายเหตุ </a>"';
 replace: 'วิธีการชำระเงิน โดยการเก็บแตกต่างกันไป</a>' 'วิธีการชำระเงิน</a> โดยการเก็บแตกต่างกันไป';
}

// @RULESET
// URL #= http://www\.biccamera\.co\.jp/service/store/photo/.*
p.link > a , .price > b {
 text-flow: break;
}
