@engine default {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine biccamera-asia/main {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine biccamera-asia/cross {
  eid: MS-JATH;
  dictionaries: "CROSS_TM_MASTER";
}
@preprocess {
 replace:'charset=Shift_JIS' 'charset=UTF-8';
}
@postprocess {
 replace: 'src="http://www\.biccamera\.com/bc/images/news/(.*?).jpg"' 'src="../images/news/$1.jpg"';
}
@postprocess {
 replace: 'src="http://sake\.biccamera\.com/bs/images/news/(.*?).jpg"' 'src="../images/news/$1.jpg"';
}
@preprocess {
 replace:'<span class="product_count">(.*?)</span>' '<span class="product_count">$1</span><br style="display:none;">';
}
div#CART-BOX.pulldown_area {
 attribute: style add 'line-height:0.9;';
}
span.price {
 attribute: style set 'font-size: 10px; letter-spacing:-0.1em;';
}

// @RULESET
// URL #= http://www\.biccamera\.co\.jp/shoplist/.*
span#kanagawa {
 attribute: style add 'font-size: 16px;';
}

// @RULESET
// URL #= http://www\.biccamera\.co\.jp/bicsports/.*
#header3_inner, div.osusume {
 attribute: style add 'font-size: 13px;';
}
h3#g_pro.sub1 > span.pro {
 attribute: style add 'padding-left: 80px;';
}
h3#own_name.sub1 > span.pro {
 attribute: style add 'padding-left: 140px;';
}
.news {
 attribute: style add 'font-size: 15px;';
}

// @RULESET
// URL #= http://www\.biccamera\.com/bc/c/info/order/keep-howto\.jsp
@postprocess {
 replace: '"ห<a href="/bc/c/info/order/caution.jsp">มายเหตุ" </a>' '"<a href="/bc/c/info/order/caution.jsp">หมายเหตุ </a>"';
 replace: 'วิธีการชำระเงิน โดยการเก็บแตกต่างกันไป</a>' 'วิธีการชำระเงิน</a> โดยการเก็บแตกต่างกันไป';
}

// @RULESET
// URL #= http://www\.biccamera\.co\.jp/service/store/photo/.*
p.link > a , .price > b {
 text-flow: break;
}

// @RULESET
// URL #= http://www\.biccamera\.com/bc/c/service/rakuraku_online/.*
ul.area {
 attribute: style add 'font-size: 11px;letter-spacing: -0.1em;';
}


// @RULESET
// URL #= http://www\.biccamera\.com/bc/c/service/bicsim/.*
@postprocess {
 replace: '<a href="/bc/c/service/sim/index.jsp">ด้านบน Sumah</a>' '<a href="/bc/c/service/sim/index.jsp">ด้านบน Sumah<br>&nbsp;</a>';
 replace: '<a href="/bc/c/service/sim/whats_sim.jsp">และซิ</a>' '<a href="/bc/c/service/sim/whats_sim.jsp">และซิ<br>&nbsp;</a>';
 replace: '<a href="/bc/c/service/bicsim/index.jsp">BIC SIM</a>' '<a href="/bc/c/service/bicsim/index.jsp">BIC SIM<br>&nbsp;</a>';
 replace: '<a href="/bc/c/service/bicmobileone/index.jsp">บิ๊คหนึ่งมือถือ</a>' '<a href="/bc/c/service/bicmobileone/index.jsp">บิ๊คหนึ่งมือถือ<br>&nbsp;</a>';  
 replace: '<a href="/bc/c/service/sim/price.jsp">ราคาพิเศษ</a>' '<a href="/bc/c/service/sim/price.jsp">ราคาพิเศษ<br>&nbsp;</a>';
 replace: '>ร้านค้า</a></p></div>' '>ร้านค้า<br>&nbsp;</a></p></div>';
 replace: '<a href="/bc/c/service/sim/qa.jsp">Q &amp; A</a>' '<a href="/bc/c/service/sim/qa.jsp">Q <br>&nbsp;&amp; A</a>';
 replace: '<a href="/bc/disp/CSfDispListPage_001\.jsp\\?dispNo=001240020">เทอร์มินัล</a>' '<a href="/bc/disp/CSfDispListPage_001.jsp?dispNo=001240020">เทอร์มินัล<br>&nbsp;</a>';    
}

// @RULESET
// URL #= http://www\.biccamera\.com/bc/c/life/futon/.*
div.buystyle {
  attribute: style set 'font-size: 11px;white-space: nowrap;';
}

// @RULESET
// URL #= http://www.biccamera.com/bc/c/topics/staffuse/.*
#headermenufull4l {
  attribute: style add 'font-size: 9px;';
}

// @RULESET
// URL #= http://www\.biccamera\.com/bc/c/contents/diaryplamo/.*
@preprocess {
 replace:'<span class="date">(.*?)</span>' '<span class="date">$1</span><br style="display:none;">';
}

// @RULESET
// URL #= http://sake\.biccamera\.com/bs/(top|disp)/.*
@preprocess {
 replace: '<a href="//sake.biccamera.com(.*?)">' '<a href="http://sake.biccamera.com$1">';
}

// @RULESET
// URL #= http://www\.biccamera.co\.jp/bictoys/.*
.navi_2 {
 attribute: style add 'font-size: 12px;';
}
span.small {
 attribute: style add 'margin-left: 230px;';
}
div#osusume > h3.top {
 attribute: style add 'font-size: 14px;text-align: center;line-height: 14px;display: table-cell;vertical-align: middle;padding-left: 26px;';
}
div#osusume > ul > li.third > a {
 attribute: style add 'font-size:12px;';
}
th.top_line {
 attribute: width set '30%;';
 attribute: style add 'font-size: 12px;';
}
td.top_line {
 attribute: width set '20%;';
 attribute: style add 'font-size: 12px;';
}
th {
 attribute: width set '30%;';
 attribute: style add 'font-size: 12px;';
}
td {
 attribute: width set '20%;';
 attribute: style add 'font-size: 12px;';
}

// @RULESET
// URL #= http://www\.biccamera\.co\.jp/shopguide/office/.*
p#button > a {
 attribute: style add 'padding: 7px;font-size: 12px;';
}
dt.no1_big ,dt.no2_big , dt.no3_big ,dt.no4_big ,dt.no5_big , dt.no6_big , dt.no7_big , dt.no8_big {
 attribute: style add 'font-size: 14px;display: table-cell;vertical-align: middle;line-height: 16px;';
}
h3.blue {
 attribute: style add 'font-size: 14px;line-height: 18px;display: table-cell;vertical-align: middle;';
}

// @RULESET
// URL #= http://www\.biccamera\.com/bc/cart/.*
#TMP-BTN-7 {
 attribute: style set 'font-size: 11px;letter-spacing: -0.1em;';
}
@preprocess {
  replace:'<span style="border-bottom:1px solid #000000;">(.*?)<font style="font-size:1.9em;font-family:Arial;">(.*?)</font>(.*?)</span>' '<span style="border-bottom:1px solid #000000;">$1<br style="display:none;"><font style="font-size:1.9em;font-family:Arial;">$2</font><br style="display:none;">$3</span>';
}


// @RULESET
// URL #= http://www\.biccamera\.co\.jp/.*
div.foot {
 attribute: style add 'font-size: 14px;';
}

