@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM ANIME HOBBY ENTER INTERNET";
}
@engine bandainamco-am/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER ANIME HOBBY ENTER";
}
@engine bandainamco-am/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER ANIME HOBBY ENTER";
}

@preprocess {
  replace: 'UA-69110980-1' 'UA-69110980-4';
  replace:'<!-- crosslanguage-e:show(.*?)/crosslanguage-e:show -->' '$1';
}