@engine default {
  eid: MS-JAID;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine trajal/main {
  eid: MS-JAID;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine trajal/cross {
  eid: MS-JAID;
  dictionaries: "CROSS_TM_MASTER";
}

span.date {
  attribute: style add "letter-spacing:-2px;";
}

@postprocess {
  replace: 'pada 07/01' '07/01';
}