@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM INTERNET";
}
@engine apahotel/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine apahotel/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

@preprocess {
  replace:'<!-- crosslanguage-e:show(.*?)/crosslanguage-e:show -->' '$1';
}

// @RULESET
// URL #=http://www.apahotel.com/language/.+/tokyobay-makuhari/
@preprocess {
  replace: '(<a href="http://www\.apahotel\.com/en/pdf/muslim_english\.pdf".*?)style="display:none;"' '$1';
}

// @RULESET
// URL #=http://www.apahotel.com/language/(|.+/)
@postprocess {
  replace: '(<span class="red">)( There are )(.*?)(</span>)(.*?)(\.</p>)' '$2$1$3$5$4$6';
}