@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOURMET TOURISM ART INTERNET";
}
@engine rokkatei/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOURMET TOURISM ART";
}
@engine rokkatei/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOURMET TOURISM ART";
}

// @ RULESET
// URL = http://www.rokkatei.co.jp/shop/index.html
@postprocess {
replace:'<span class="body2"><font color="#cc0000"><strong>(.*?)</strong></font></span><span class="body1">(.*?)0120-12-6666.</span>' 
'$1<span class="body1">$2</span><span class="body2"><font color="#cc0000"><strong> 0120-12-6666</strong></font></span>.';
replace:'2nd flo<a href="http://www.restaurant-home.jp/" target="_blank">or:' '2nd floor:<a href="http://www.restaurant-home.jp/" target="_blank">';
replace:'s<a href="cafe.html" target="_top">ure to check the inf</a>ormation for the tea room.</span>' 'sure to check the<a href="cafe.html" target="_top"> information for the tea room.</a></span>';
}
