@preprocess {
	replace:'<li class="crnt cl-norewrite"><a href="http://(.*?)">日本語</a></li>' '<li class="crnt cl-norewrite"><a href="https://$1">日本語</a></li>';
}

// @RULESET
// URL #= http://www\.trans-action\.co\.jp.*?
header#top-head {
 attribute: style add "top:34px;";
}

div.swiper-container {
 attribute: style add "top:34px;";
}

div.swiper-container > div.swiper-wrapper.company > div.swiper-slide {
 attribute: style add "margin-top:34px;";
}

// @RULESET
// URL #= http://www\.vapestudio\.jp.*?
div#wrapper > header#header > div.sp_erace > div.inner.headerInner.relativeBlock {
 attribute: style add "top:34px;";
}

div#wrapper > header#header > div.sp_erace > div#header_bottom {
 attribute: style add "margin-top:34px;";
}

div#wrapper > header#header > div.pc_erace.spHeaderUpper.clearFix > div.spHeaderBanner {
 attribute: style add "margin-top:28px;";
}