@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM ENTER INTERNET";
}
@engine oimf/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM ENTER";
}
@engine oimf/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM ENTER";
}

@preprocess {
  replace:'<!-- crosslanguage-e:show(.*?)/crosslanguage-e:show -->' '$1';
}
