@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOURMET FASHION INTERNET";
}
@engine ming/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOURMET FASHION";
}
@engine ming/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOURMET FASHION";
}

dl.calendarBox {
attribute: style add 'font-size:9px;';
}


@postprocess {
replace:'<a href="floorguide/">Floor guide</a>' '<a href="floorguide/">Floor</a>';
replace:'<a href="recommends/">Recommended product</a>' '<a href="recommends/">Recommended</a>';
replace:'<a href="information/">Facility information</a>' '<a href="information/">Facility</a>';
replace:'<a href="events/">Event information</a>' '<a href="events/">Event</a>';
replace:'<a href="recruit/">Job opportunities</a>' '<a href="recruit/">Job</a>';
}

@postprocess {
replace:'<a href="../floorguide/">Floor guide</a>' '<a href="../floorguide/">Floor</a>';
replace:'<a href="../recommends/">Recommended product</a>' '<a href="../recommends/">Recommended</a>';
replace:'<a href="../information/">Facility information</a>' '<a href="../information/">Facility</a>';
replace:'<a href="../events/">Event information</a>' '<a href="../events/">Event</a>';
replace:'<a href="../recruit/">Job opportunities</a>' '<a href="../recruit/">Job</a>';
}