@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine cafe-athome/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine cafe-athome/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}
@preprocess {
  replace: 'UA-3778845-1' 'UA-3778845-6';
}