@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION GOURMET TOURISM INTERNET";
}
@engine ginza6/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION GOURMET TOURISM";
}
@engine ginza6/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION GOURMET TOURISM";
}

/* Googleアナリティクス */
@preprocess {
	replace: 'UA-54523459-1' 'UA-54523459-4';
	replace: '<span class="price">(.*?)</span>(.*?)<span class="price">(.*?)</span>' '<span class="price">$1</span>-<span class="price">$3</span>';
	replace: '<span class="price">(.*?)</span>' '<br style="display:none;"><span class="price">$1</span><br style="display:none;">';
}

@postprocess {
	replace: '<span class="price">(.*?)yen</span>' '<span class="price">&yen;$1</span>';
	replace:'<h1><!--cltx--><span>(.*?)</span> SHOP SEARCH(.*?)</h1>' '<h1><!--cltx-->SHOP SEARCH<br style="display:none;"><span>$1 $2</span></h1>';
}
