@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT TOURISM SYSTEM LAW INTERNET";
}
@engine saga/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT TOURISM SYSTEM LAW";
}
@engine saga/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT TOURISM SYSTEM LAW";
}

@postprocess {
replace:"cx = '006160629073588275082:vbxxx4xf2b4'" "cx = '006160629073588275082:zbiyeb2rig0'";
}