@engine default {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine sousei-expo/main {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine sousei-expo/cross {
  eid: MS-JAVI;
  dictionaries: "CROSS_TM_MASTER";
}
