#first-col {
 attribute: clftx add 'exclude';
}

#sub-col {
 attribute: cltx add 'exclude';
}

@postprocess {
 replace:'href="https://asp.hotel-story.ne.jp/ver3d/.*?"' 'href="http://www.yugaf.com/inbound-reservation.html"';
}