@engine default {
  eid: CR-JC;
  dictionaries: "HIRAKATA_DIC HIRAKATA_TM CROSS_DIC CROSS_TM";
}

@engine hirakata/main {
  eid: CR-JC;
  dictionaries: "HIRAKATA_DIC_MASTER HIRAKATA_TM_MASTER";
}


body {
  attribute: lang add 'zh';
}
