@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine shiga-hino/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine shiga-hino/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}
