@engine default {
  eid: BR-EN.ZH-HANT.JA;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM ART TOURISM";
}
@engine y-triennale/main {
  eid: BR-EN.ZH-HANT.JA;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER ART TOURISM";
}
@engine y-triennale/cross {
  eid: BR-EN.ZH-HANT.JA;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER ART TOURISM";
}
