div[class="MdPickUp01"], div[class="MdPcSnSWidgets01"] {
  attribute: cltx add 'exclude';
}

footer#l-footer {
attribute: style add 'color: red;font-weight: bold;';
}

.l-footer__copyright {
attribute: style add 'color: black;';
}