header#header {
 attribute: style add 'top:44px;';
}

div#container > div#mainvisual_pc {
 attribute: style add 'margin-top:48px;';
}

div#lnav {
 attribute: style add 'margin-top:44px;';
}

div.bx-controls-direction {
 attribute: cltx add 'exclude';
}

div.contentsInner > div.column02 > ul > li {
 attribute: style add 'height:360px;';
}

div.contentsInner > div.column02 > ul > li > a > h2 {
 attribute: style add 'line-height:15px;';
}

div.contentsInner > div.column02 > ul > li > a > p {
 attribute: style add 'line-height:15px;';
}

div#worksSearch.contents > div.contentsInner > aside > nav#searchFromTerms.acdPanel > ul > li {
 attribute: cltx add 'exclude';
}

div.works-search > div.checklist > div.checklist-category {
 attribute: cltx add 'exclude';
}

div.pagenavi > div.pagenavi-container > div.pagenavi-mask {
 attribute: style add 'font-size:13px;';
}

// @RULESET
// URL #= //www.universalhome.co.jp/modelhouse/chiba/kisarazu/
@preprocess{
	replace:'<span class="staffName">強瀬　栞里</span>' '<br style="display:none;"><span class="staffName">強瀬 <br style="display:none;">栞里</span><br style="display:none;">';
}
