@engine default {
  eid: CR-JK;
  dictionaries: "SHINJUKU-OHDOORI_DIC SHINJUKU-OHDOORI_TM";
}

@engine shinjuku-ohdoori/main {
  eid: CR-JK;
  dictionaries: "SHINJUKU-OHDOORI_DIC_MASTER SHINJUKU-OHDOORI_TM_MASTER";
}