@engine miyazaki-aeonmall/service {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM SYSTEM";
}
@engine miyazaki-aeonmall/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER SYSTEM";
}
@engine miyazaki-aeonmall/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER SYSTEM";
}
