@engine default {
  eid: CR-JE;
  dictionaries: "ISETAN_DIC ISETAN_TM DEPART FASHION BEAUTY GOURMET HOBBY INTERNET";
}
@engine isetan/main {
  eid: CR-JE;
  dictionaries: "ISETAN_DIC_MASTER ISETAN_TM_MASTER FASHION BEAUTY GOURMET HOBBY";
}

@postprocess {
  replace: '<em>Isetan S</em><span>hinjuku</span>' '<em>Isetan</em><span>Shinjuku</span>';
}

// @RULESET
// URL ^= http://www.isetan.co.jp/icm2/jsp/store/shinjuku/map/index.jsp
a[href^="http://mlttpl-mapserv.incrementp.co.jp/multi/spot/isetan_1/ja/map.php"] {
  attribute: href rewrite "http://mlttpl-mapserv.incrementp.co.jp/multi/spot/isetan_1/en/map.php?&MAP=E139.42.28.35N35.41.18.02&CMR=isetan&KEY=36926bafcbdc46674dbf3b053389194b2421a5ee&NM=ISETAN%20SHINJUKU&ZM=10";
}

