@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM DEPART FASHION HOBBY BEAUTY GOURMET INTERNET";
}
@engine tobu-dept/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER DEPART FASHION HOBBY BEAUTY GOURMET INTERNET";
}
@engine tobu-dept/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER DEPART FASHION HOBBY BEAUTY GOURMET INTERNET";
}

@preprocess {
replace: "'UA-18169377-9'" "'UA-18169377-11'";
}