@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM LAW";
}
@engine gero/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER LAW";
}
@engine gero/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER LAW";
}

div.bg_img {
attribute: cltx add 'exclude';
}