@engine default {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine biccamera/main {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine biccamera/cross {
  eid: MS-JATH;
  dictionaries: "CROSS_TM_MASTER";
}

#fmCat0-a {
 attribute: cltx add 'exclude';
}