@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM FASHION GOURMET INTERNET";
}
@engine kawasaki-mores/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM FASHION GOURMET";
}
@engine kawasaki-mores/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM FASHION GOURMET";
}

nav.categoryNavi > ul {
 attribute: style add 'letter-spacing: -2px;';
}

div#cate01 {
   attribute: style add 'letter-spacing: -2px;';
}

p.cate {
   attribute: style add 'white-space: nowrap;';
}