@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM ECOLOGY";
}
@engine shinhotaka-ropeway/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER ECOLOGY";
}
@engine shinhotaka-ropeway/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER ECOLOGY";
}
