@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM SYSTEM MEDICAL";
}
@engine shoikai/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER SYSTEM MEDICAL";
}
@engine shoikai/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER SYSTEM MEDICAL";
}

body {
  attribute: lang add 'zh';
}
