#new_movie_inner, #searchResult {
  attribute: cltx add 'include';
}

ul>li>a{
  text-flow: break;
}

li>span>a{
  text-flow: break;
}

@preprocess {
    replace: 'index\.html' '';
}

// @RULESET
// URL #= //www.city.yokohama.lg.jp/
// URL #= //attention-test-naibukoukai-u7zhzrnw.city.yokohama.lg.jp/
@preprocess {
	replace:'<span class="g-sub">(.*?)</span>' '<br style="display:none;"><span class="g-sub">$1</span><br style="display:none;">';
}
