@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine jrtk/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine jrtk/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

@preprocess {
  replace:'http://www.jrtk.jp/b-1gp/' 'http://www.jrtk.jp.t.wz.hp.transer.com/b-1gp/';
}

@preprocess {
  replace:'http://www.jrtk.jp/2k540/' 'http://www.jrtk.jp.t.wz.hp.transer.com/2k540/';
}

@preprocess {
  replace:'http://www.jrtk.jp/asagaya-anime-street/' 'http://www.jrtk.jp.t.wz.hp.transer.com/asagaya-anime-street/';
}