header.page-header {
 attribute: style add 'margin-top:48px;';
 attribute: cltx add 'exclude';
}

@preprocess {
  replace:'<span class="num">(.*?)</span>(.*?)<small>(.*?)</small>' '<span class="num">$1</span><br style="display:none;">$2<br style="display:none;"><small>$3</small>';
  replace:'シーボン.' 'シーボン';
}

@preprocess {
  replace:'<!-- crosslanguage:show(.*?)/crosslanguage:show -->' '$1';
  replace:'<li class="clearfix"><span class="date">(.*?)</span><span class="text pc">(.*?)</span><span class="text sp">(.*?)</span>' '<li class="clearfix"><br style="display:none;"><span class="date">$1</span><br style="display:none;"><span class="text pc">$2</span><br style="display:none;"><span class="text sp">$3</span><br style="display:none;">';
}
