/* Fix error on google search */
form[action="http://www.google.co.jp/search"] input[type="hidden"][name#="[io]e"] {
  attribute: value rewrite "UTF-8";
}

div#boxCalWeather {
  attribute: cltx add 'exclude';
}

div#corporatelogo ul.symbolmarks li a {
  attribute: href set 'javascript:void(0)';
  attribute: target delete;
}