@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM IT TOURISM INTERNET";
}
@engine jtrip/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER IT TOURISM";
}
@engine jtrip/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER IT TOURISM";
}

@preprocess {
	replace:'<body(.*?)>' '<body$1 class="en">';
}
