@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM LAW";
}
@engine ieson/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER LAW";
}
@engine ieson/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER LAW";
}
@preprocess {
replace: '(<a class="rsbtn_play" accesskey="L" .*?href="http://app.as.readspeaker.com/cgi-bin/rsent\\?customerid=7871&amp;lang=)ja_jp(&amp;readid=content&amp;url=">)' '$1ko_kr$2';
}