@engine default {
  eid: CR-JC;
  dictionaries: "KURUME_DIC KURUME_TM";
}
@engine kurume/main {
  eid: CR-JC;
  dictionaries: "KURUME_DIC_MASTER KURUME_TM_MASTER";
}

@preprocess {
replace: 'UA-24341568-1' 'UA-24341568-4';
}

