#site-translate-header-wrapper{
	width: 100% !important;
	height:auto;
	box-sizing: border-box;
}

#site-translate-header-wrapper p{
	font-size:10px;
	line-height: 12px;
}

#site-translate-message{
	display:block;	
	vertical-align:middle;
	padding: 3px 0;
	text-align: center;
}

h2 {
    letter-spacing: normal;
}

#tpl-header .header-logo {
    top: 44px;
}

#tpl-header {
	top: 14px;
}

.sec-reserve:lang(en) .select-hotel {
    width: auto;
}

.f_ueno #dynSearchTest1:lang(en) .persons-bock {
    margin-right: 140px;
}

.sec-reserve:lang(en) .bookingDate .lbchkpsn {
	width: 150px;
}

.sec-reserve.uenopage:lang(en) .bookingDate .lbchkpsn {
    width: 240px;
}

.sec-reserve:lang(en) .bookingDate .undecided {
    width: auto;
    font-size: 90%;
}

.sec-reserve:lang(en) .bookingDate .lbchkpsn {
    width: auto;
    font-size: 90%;
}

.sec-reserve.toppage:lang(en) .dynPersons {
    margin-left: 0;
}

.sec-reserve.toppage:lang(en) .persons-bock {
    margin-right: 145px;
}

.sec-reserve.toppage:lang(en) .sec-ttl {
    margin-bottom: 18px;
}

.sec-reserve.toppage:lang(en) .tpl-inner-wrap {
    padding-top: 20px;
}

.sec-reserve.kandapage:lang(en) .flex {
    -webkit-justify-content: start;
    justify-content: start;
}

.sec-reserve.kandapage:lang(en) .bookingDate .style_subhead {
    width: 100%;
}

.sec-reserve.kandapage:lang(en) .bookingDate .undecided {
    margin-left: 0;
}

.sec-reserve.kandapage:lang(en) .bookingDate {
	width: 390px;
}

.sec-reserve.kandapage:lang(en) .bookingDate .lbchkpsn {
    width: auto;
}

.sec-reserve.kandapage:lang(en) .dynPersons {
    margin-left: 0;
    margin-top: 27px;
}

.sec-reserve.uenopage:lang(en) .bookingDate .undecided,
.sec-reserve.uenopage:lang(en) .bookingDate .lbchkpsn {
    left: 580px;
}

.sec-reserve.uenopage:lang(en) .dynSubmit {
    margin-left: 150px;
}

.sec-reserve:lang(en) .reserve-date {
    left: 155px;
}

.sec-reserve.uenopage:lang(en) .reserve-date,
.sec-reserve.uenopage:lang(ko) .reserve-date {
    top: 60px;
    left: 0;
}

.sec-reserve:lang(en) .reserve-persons {
    left: 600px;
}

.sec-reserve.toppage:lang(en) .reserve-persons {
    left: 550px;
}

.sec-reserve.toppage:lang(en) .bookingDate .undecided{
	left: 460px;
}

.sec-reserve.toppage:lang(en) .bookingDate .lbchkpsn {
    left: 460px;
}

@media screen and (max-width: 750px) {

	.sec-reserve:lang(en) .select-hotel {
	    width: 100%;
	}

	.sec-reserve.toppage:lang(en) .reserve-date {
	    left: 0;
	}

	.sec-reserve.toppage:lang(en) .persons-bock {
	    margin-right: 0;
		margin-left: 5px;
	}

	.sec-reserve.kandapage:lang(en) .dynSubmit,
	.sec-reserve.uenopage:lang(en) .dynSubmit {
	    margin-left: 0;
	}

	.sec-reserve.kandapage:lang(en) .persons-bock,
	.sec-reserve.uenopage:lang(en) .persons-bock {
	    margin-right: 0;
	    margin-left: 5px;
	}

	.sec-reserve:lang(en) .reserve-date {
	    top: 48px;
	}

	.sec-reserve.kandapage:lang(en) .reserve-date,
	.sec-reserve.uenopage:lang(en) .reserve-date {
	    top: -20px;
	}

	.sec-reserve.kandapage:lang(en) .bookingDate .style_subhead {
	    width: auto;
	}

	.sec-reserve.kandapage:lang(en) .dynPersons {
	    margin-left: 15px;
	    margin-top: 0;
	}

	.sec-reserve.kandapage:lang(en) .bookingDate {
	    width: 100%;
	}

	.sec-reserve.kandapage:lang(en) .form-block {
	    width: auto;
	    max-width: unset;
	}

	.sec-reserve .bookingDate:lang(ko) {
	    padding-left: 70px;
	}

	.sec-reserve.uenopage:lang(ko) .reserve-date {
	    top: 0;
	}

}
