#site-translate-header-wrapper{
	width: 100% !important;
	height:auto;
	box-sizing: border-box;
}

#site-translate-header-wrapper p{
	font-size:10px;
	line-height: 12px;
}

#site-translate-message{
	display:block;	
	vertical-align:middle;
	padding: 3px 0;
	text-align: center;
}

h2 {
    letter-spacing: normal;
}

#tpl-header .header-logo {
    top: 44px;
}

.sec-reserve .select-hotel {
    width: auto;
}

.f_ueno #dynSearchTest1 .persons-bock {
    margin-right: 140px;
}

.sec-reserve .bookingDate .lbchkpsn {
	width: 150px;
}

.sec-reserve.uenopage .bookingDate .lbchkpsn {
    width: 240px;
}

.sec-reserve .bookingDate .undecided {
    width: 145px;
    font-size: 90%;
}

#tpl-header {
	top: 14px;
}

.sec-reserve.uenopage .bookingDate .undecided,
.sec-reserve.uenopage .bookingDate .lbchkpsn {
    left: 580px;
}

.sec-reserve.uenopage .dynSubmit {
    margin-left: 150px;
}

.sec-reserve .reserve-date {
    left: 190px;
}

.sec-reserve.uenopage .reserve-date {
    top: 60px;
    left: 0;
}

.sec-reserve .reserve-persons {
    left: 600px;
}

@media screen and (max-width: 750px) {

	.sec-reserve .select-hotel {
	    width: 100%;
	}

	.sec-reserve.uenopage .dynSubmit {
	    margin-left: 0;
	}

}
