.wrp_map,
.box_und,
.hero,
#dynSearchTest1,
#dynSearchTest2,
#dynSearchTest3{
	attribute:cltx add 'exclude';
}

.con_bn > li,
.box_footer > .logo,
.btn_ptop,
.con_next > .btn.over,
section > .room > li {
	attribute:clftx add 'exclude';
}

@preprocess {
	replace:'<!-- crosslanguage:show(.*?)/crosslanguage:show -->' '$1';
	replace:'<a class="hv-o only-pc" (.*?)><span class="only-pc">(.*?)</span>(.*?)</a>' '<a class="hv-o only-pc" $1><span class="only-pc">$2$3</span></a>';
	replace:'<span class="sec-ttl-txt">(.*?)<br class="PC">(.*?)</span>' '<span class="sec-ttl-txt">$1$2</span>';
//	replace:'<span class="PC">(.*?)</span>' '<br style="display:none;"><span class="PC">$1</span><br style="display:none;">';
//	replace:'<span class="only-pc">(.*?)</span>' '<br style="display:none;"><span class="only-pc">$1</span><br style="display:none;">';
//	replace:'<span class="only-sp">(.*?)</span>' '<br style="display:none;"><span class="only-sp">$1</span><br style="display:none;">';
	replace:'<td style="(.*?)">日</td>' '<td style="$1">Sun</td>';
	replace:'<td style="(.*?)">月</td>' '<td style="$1">Mon</td>';
	replace:'<td style="(.*?)">火</td>' '<td style="$1">Tue</td>';
	replace:'<td style="(.*?)">水</td>' '<td style="$1">Wed</td>';
	replace:'<td style="(.*?)">木</td>' '<td style="$1">Thu</td>';
	replace:'<td style="(.*?)">金</td>' '<td style="$1">Fri</td>';
	replace:'<td style="(.*?)">土</td>' '<td style="$1">Sat</td>';
	replace:'<span title="月曜日">月</span>' '<span title="月曜日">Mon</span>';
	replace:'<span title="火曜日">火</span>' '<span title="火曜日">Tue</span>';
	replace:'<span title="水曜日">水</span>' '<span title="水曜日">Wed</span>';
	replace:'<span title="木曜日">木</span>' '<span title="木曜日">Thu</span>';
	replace:'<span title="金曜日">金</span>' '<span title="金曜日">Fri</span>';
	replace:'<span title="土曜日">土</span>' '<span title="土曜日">Sat</span>';
	replace:'<span title="日曜日">日</span>' '<span title="日曜日">Sun</span>';
}

@preprocess{
	replace:'<div class="reserve-date only-pc">ご宿泊日</div>' '<br style="display:none;"><div class="reserve-date only-pc">ご宿泊日</div><br style="display:none;">';
	replace:'<span class="dyn(.*?)"></span>' '<br style="display:none;"><span class="dyn$1"></span><br style="display:none;">';
}

// @RULESET
// URL #= //tosei-hotel\.co\.jp/kanda/.*
@preprocess{
	replace:'<body(.*?)class="(.*?)"(.*?)>' '<body$1class="$2 kandabody"$3>';
	replace:'<body>' '<body class="kandabody">';
	replace:'<section class="section sec-reserve(.*?)">' '<section class="section sec-reserve $1 kandapage">';
}

// @RULESET
// URL #= //tosei-hotel\.co\.jp/ueno/.*
@preprocess{
	replace:'<body(.*?)class="(.*?)"(.*?)>' '<body$1class="$2 uenobody"$3>';
	replace:'<body>' '<body class="uenobody">';
	replace:'<section class="section sec-reserve(.*?)">' '<section class="section sec-reserve $1 uenopage">';
}

// @RULESET
// URL #= //tosei-hotel\.co\.jp/
@preprocess{
	replace:'<section class="section sec-reserve(.*?)">' '<section class="section sec-reserve $1 toppage">';
}
