#dynSearchTest1,
#dynSearchTest2,
#dynSearchTest3{
	attribute:cltx add 'exclude';
}

@preprocess{
	replace:'<div class="reserve-date only-pc">ご宿泊日</div>' '<br style="display:none;"><div class="reserve-date only-pc">ご宿泊日</div><br style="display:none;">';
	replace:'<span class="dyn(.*?)"></span>' '<br style="display:none;"><span class="dyn$1"></span><br style="display:none;">';
}

// @RULESET
// URL #= //tosei-hotel\.co\.jp/kanda/.*
@preprocess{
	replace:'<section class="section sec-reserve">' '<section class="section sec-reserve kandapage">';
}

// @RULESET
// URL #= //tosei-hotel\.co\.jp/ueno/.*
@preprocess{
	replace:'<section class="section sec-reserve">' '<section class="section sec-reserve uenopage">';
}
