@engine default {
  eid: CR-JE;
  dictionaries: "HIRATSUKA_DIC HIRATSUKA_TM CROSS_DIC CROSS_TM GOVT TOURISM INTERNET";
}

@engine hiratsuka/main {
  eid: CR-JE;
  dictionaries: "HIRATSUKA_DIC_MASTER HIRATSUKA_TM_MASTER GOVT TOURISM";
}