@preprocess {
	replace:'綾瀬店' 	'綾瀨店';
	replace:'大泉学園店' 	'大泉學園店';
	replace:'蒲田店' 	'蒲田店';
	replace:'喜多見店' 	'喜多見店';
	replace:'木場店' 	'木場店';
	replace:'五反田店' 	'五反田店';
	replace:'三軒茶屋店' 	'三軒茶屋店';
	replace:'下井草店' 	'下井草店';
	replace:'下北沢店' 	'下北澤店';
	replace:'東武練馬店' 	'東武練馬店';
	replace:'中野店' 	'中野店';
	replace:'練馬店' 	'練馬店';
	replace:'氷川台店' 	'冰川台店';
	replace:'東新宿店' 	'東新宿店';
	replace:'瑞江店' 	'瑞江店';
	replace:'明大前店' 	'明大前店';
	replace:'六本木店' 	'六本木店';
	replace:'吉祥寺店' 	'吉祥寺店';
	replace:'国分寺店' 	'國分寺店';
	replace:'国領店' 	'國領店';
	replace:'田無店' 	'田無店';
	replace:'町田店' 	'町田店';
	replace:'FASTGYM24' 	'FASTGYM24';
	replace:'赤羽店' 	'赤羽店';
	replace:'阿佐ヶ谷店' 	'阿佐谷店';
	replace:'新井薬師前店' 	'新井藥師前店';
	replace:'板橋店'	'板橋店';
	replace:'入谷店' 	'入谷店';
	replace:'梅屋敷店' 	'梅屋敷店';
	replace:'江古田店' 	'江古田店';
	replace:'江戸川橋店' 	'江戶川橋店';
	replace:'江戸川橋店' 	'江戶川橋店';
	replace:'荏原中延店' 	'荏原中延店';
	replace:'王子神谷店' 	'王子神谷店';
	replace:'大森町店' 	'大森町店';
	replace:'大山店'	'大山店';
	replace:'大山店' 	'大山店';
	replace:'奥沢店' 	'奧澤店';
	replace:'葛西店' 	'葛西店';
	replace:'春日後楽園店' 	'春日後樂園店';
	replace:'要町店'	'要町店';
	replace:'上板橋店' 	'上板橋店';
	replace:'上石神井店' 	'上石神井店';
	replace:'亀有店' 	'龜有店';
	replace:'菊川店'	'菊川店';
	replace:'喜多見店' 	'喜多見店';
	replace:'糀谷店' 	'糀谷店';
	replace:'小竹向原店'	'小竹向原店';
	replace:'豪徳寺店' 	'豪德寺店';
	replace:'五反野店' 	'五反野店';
	replace:'鷺ノ宮店' 	'鷺之宮店';
	replace:'笹塚店'	'笹塚店';
	replace:'篠崎店' 	'筱崎店';
	replace:'下赤塚店' 	'下赤塚店';
	replace:'下板橋店' 	'下板橋店';
	replace:'新大塚店' 	'新大塚店';
	replace:'新大塚店' 	'新大塚店';
	replace:'新小岩店' 	'新小岩店';
	replace:'小岩店' 	'小岩店';
	replace:'新高円寺店' 	'新高圓寺店';
	replace:'祖師ヶ谷大蔵店' 	'祖師谷大藏店';
	replace:'雑色店'	'雜色店';
	replace:'千歳船橋店' 	'千載船橋店';
	replace:'築地店' 	'築地店';
	replace:'豊島園店' 	'豐島園店';
	replace:'都立家政店'	'都立家政店';
	replace:'都立大学店' 	'都立大學店';
	replace:'中野新橋店' 	'中野新橋店';
	replace:'中村橋店' 	'中村橋店';
	replace:'西大井店' 	'西大井店';
	replace:'西小山店' 	'西小山店';
	replace:'西小山アネックス店' 	'西小山Annex店';
	replace:'人形町店'	'人形町店';
	replace:'人形町店' 	'人形町店';
	replace:'沼袋店' 	'沼袋店';
	replace:'野方店' 	'農事店';
	replace:'白山店' 	'白山店';
	replace:'幡ヶ谷店'	'幡谷店';
	replace:'幡ヶ谷店' 	'幡谷店';
	replace:'八丁堀店' 	'八丁堀店';
	replace:'氷川台店' 	'冰川台店';
	replace:'東中野店' 	'東中野店';
	replace:'東向島店'	'東向島店';
	replace:'平井店' 	'平井店';
	replace:'方南町店' 	'方南町店';
	replace:'町屋店' 	'町屋店';
	replace:'武蔵関店'	'武藏關店';
	replace:'武蔵新田店' 	'武藏新田店';
	replace:'雪が谷大塚店' 	'雪是山谷大塚店';
	replace:'両国店' 	'兩國店';
	replace:'早稲田店'	'早稻田店';
	replace:'ティップネス日本橋スタイル' 	'TIPNESS日本橋風格';
	replace:'リベリー日本橋高島屋' 	'libéry日本橋高島屋';
	replace:'ティップネス丸の内スタイル' 	'TIPNESS丸之內風格';
	replace:'国立富士見台店' 	'國立富士見台店';
	replace:'小平店' 	'小平店';
	replace:'柴崎店' 	'柴崎店';
	replace:'鶴川店'	'鶴川店';
	replace:'中河原店' 	'中河原店';
	replace:'西八王子店' 	'西八王子店';
	replace:'日野店' 	'日野店';
	replace:'三鷹店'	'三鷹店';
	replace:'鴨居店' 	'鴨居店';
	replace:'川崎店' 	'川崎店';
	replace:'新百合ヶ丘店' 	'新百合丘店';
	replace:'鶴見店' 	'鶴見店';
	replace:'藤沢店' 	'藤澤店';
	replace:'二俣川店' 	'二俁川店';
	replace:'宮崎台店' 	'宮崎台店';
	replace:'宮前平店' 	'宮前平店';
	replace:'横浜店' 	'橫濱店';
	replace:'大倉山店' 	'大倉山店';
	replace:'小田急相模原店' 	'小田急相模原店';
	replace:'小田栄店' 	'小田榮店';
	replace:'川崎西口店' 	'川崎西口店';
	replace:'弘明寺店' 	'弘明寺店';
	replace:'綱島店' 	'綱島店';
	replace:'中野島店' 	'中野島店';
	replace:'仲町台店'	'仲町台店';
	replace:'根岸店' 	'根岸店';
	replace:'東林間店' 	'東林間店';
	replace:'平間店' 	'平間店';
	replace:'溝の口店'	'溝之口店';
	replace:'武蔵新城店' 	'武藏新城店';
	replace:'元住吉店' 	'元住吉店';
	replace:'元住吉アネックス店' 	'元住吉Annex店';
	replace:'矢向店'	'矢向店';
	replace:'百合ヶ丘店' 	'百合丘店';
	replace:'六角橋店'	'六角橋店';
	replace:'蘇我店' 	'蘇我店';
	replace:'船橋店' 	'船橋店';
	replace:'南行徳店' 	'南行德店';
	replace:'行徳店' 	'行德店';
	replace:'検見川浜店' 	'檢見川濱店';
	replace:'下総中山店'	'下總中山店';
	replace:'船橋市場店' 	'船橋市場店';
	replace:'南流山店' 	'南流山店';
	replace:'四街道店'	'四街道店';
	replace:'川口店' 	'川口店';
	replace:'久喜店' 	'久喜店';
	replace:'草加店' 	'草加店';
	replace:'武蔵藤沢店' 	'武藏藤澤店';
	replace:'朝霞店' 	'朝霞店';
	replace:'蒲生店' 	'蒲生店';
	replace:'西所沢店' 	'西所澤店';
	replace:'みずほ台店' 	'Mizuho台店';
	replace:'谷塚店' 	'谷塚店';
	replace:'和光市店' 	'和光市店';
	replace:'蕨店'	'蕨店';
	replace:'太田店' 	'太田店';
	replace:'浜松葵東店' 	'濱松葵東店';
	replace:'藤枝店' 	'藤枝店';
	replace:'上飯田店' 	'上飯田店';
	replace:'江南店' 	'江南店';
	replace:'石橋店' 	'石橋店';
	replace:'梅田店' 	'梅田店';
	replace:'京橋店' 	'京橋店';
	replace:'香里園店' 	'香裡園店';
	replace:'高槻店' 	'高槻店';
	replace:'宝塚店' 	'寳塚店';
	replace:'塚口店' 	'塚口店';
	replace:'天王寺店' 	'天王寺店';
	replace:'布施店' 	'布施店';
	replace:'武庫之荘店' 	'武庫之莊店';
	replace:'<label for=\\\\"footer_search_check\\\\" class=\\\\"tip-mod-footer__search__button\\\\"><span>(.*?)</span></label>' '<label for=\\\\"footer_search_check\\\\" class=\\\\"tip-mod-footer__search__button\\\\"><span>檢索分店</span></label>';
	replace:'位置情報が取得できませんでした。' 	'無法獲取位置信息。';
	replace:'位置情報の許可をONにしてください。' 	'請將位置信息的許可設為ON。';
	replace:'もっと見る' 	'查看更多';
	replace:'全て' 	'全部';
	replace:'関東' 	'關東';
	replace:'東海' 	'東海';
	replace:'中京' 	'中京都';
	replace:'関西' 	'關西';
	replace:'条件で検索する' 	'按條件檢索';
	replace:'未選択' 	'未選擇';
	replace:'ストレッチ・リフレッシュ' 	'伸展/放鬆';
	replace:'ヨガ・ピラティス' 	'瑜伽/普拉提';
	replace:'筋トレ・格闘技プログラム' 	'肌肉訓練/格鬥技巧項目';
	replace:'ショートプログラム' 	'短項目';
	replace:'脂肪燃焼系プログラム・エアロビクス' 	'脂肪燃燒類項目/有氧體操';
	replace:'スイミング・アクア' 	'游泳/水中';
	replace:'ダンス/バレエ' 	'舞蹈/芭蕾';
	replace:'疲労回復' 	'恢復疲勞';
	replace:'姿勢改善' 	'改善姿勢';
	replace:'柔軟性の向上' 	'提高柔韧性';
	replace:'筋力アップ' 	'提升肌肉力量';
	replace:'脂肪燃焼' 	'燃燒脂肪';
	replace:'基礎代謝の向上' 	'改善基礎代謝';
	replace:'持久力アップ' 	'提高耐力';
	replace:'バランス' 	'平衡';
	replace:'リラックス' 	'放鬆';
	replace:'パーソナルトレーニング' 	'個人定制訓練';
	replace:'その他スクール' 	'其他課程';
	replace:'件' 	'項';
	replace:'WEB入会フォームへ' 	'前往網上入會填表';
	replace:'東京\\(23区内\\)' 	'東京（23區內）';
	replace:'東京\\(その他\\)' 	'東京（其他）';
	replace:'神奈川' 	'神奈川';
	replace:'千葉' 	'千葉';
	replace:'埼玉' 	'埼玉';
	replace:'群馬' 	'群馬';
	replace:'<li><a href=\\\\"/concept/orj4a90qo98acwk8.html\\\\">(.*?)<br>(.*?)</a></li>' '<li clftx=\\\\"exclude\\\\"><a href=\\\\"/concept/orj4a90qo98acwk8.html\\\\">首次的TIPNESS</a></li>';
}
