@engine default {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine biccamera-asia/main {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine biccamera-asia/cross {
  eid: MS-JAVI;
  dictionaries: "CROSS_TM_MASTER";
}
