@engine default {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine biccamera-asia/main {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine biccamera-asia/cross {
  eid: MS-JAVI;
  dictionaries: "CROSS_TM_MASTER";
}

// @RULESET
// URL #= http://www\.biccamera\.com/bc/c/info/order/keep-howto\.jsp
@postprocess {
 replace: '<a href="/bc/c/info/order/caution.jsp"> "ghi ch</a>ú"' ' "<a href="/bc/c/info/order/caution.jsp">ghi chú</a>"';
 replace: 'Phương thức thanh toán có sẵn tùy thuộc vào cửa hàng.</a>' 'Phương thức thanh toán</a> có sẵn tùy thuộc vào cửa hàng.';
}