@data html {output:orgsent;}

:javascript {
  attribute: url rewrite "@RewriteHtmlUrlAttribute";
}

@preprocess {
  replace: 'ＭＳ 明朝' 'Century';
  replace: '(?i)(<img id="BgImg"[^>]+?src=")(.+?\\.jpg)\\?\\d+("[^>]+>)' '$1http://ojad.jp/global-image/header/edited/54.jpg$3';
}

// @RULESET
// URL #= http://ojad.jp/(?:index.html?)?
@preprocess {
  replace: '<span style="color: #ffffff">0</span>' '';
}
div#unit-1092 strong {
  text-flow: break;
}