@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM FASHION GOURMET INTERNET";
}
@engine newoman/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM FASHION GOURMET";
}
@engine newoman/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM FASHION GOURMET";
}

@postprocess {
  replace: 'type="text/javascript" src="/tb/webroot/js','type="text/javascript" src="http://www.newoman.jp/tb/webroot/js';
  replace: 'rel="stylesheet" href="/tb/webroot','rel="stylesheet" href="http://www.newoman.jp/tb/webroot';
}