@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM IT SYSTEM BUSINESS COMPUTER INTERNET";
}
@engine fujitsu/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER IT SYSTEM BUSINESS COMPUTER";
}
@engine fujitsu/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER IT SYSTEM BUSINESS COMPUTER";
}
