@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine bandainamco-am/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine bandainamco-am/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

@preprocess {
  replace:'<!-- crosslanguage-t:show(.*?)/crosslanguage-t:show -->' '$1';
}
