/* Fix error on google search */
form[action="http://www.google.co.jp/search"] input[type="hidden"][name#="[io]e"] {
  attribute: value rewrite "UTF-8";
}

a[href$="/floorguide/"] {
  attribute: href rewrite "http://miyazaki-aeonmall.com/floorguide/";
}

@postprocess {
  replace: '<a href="http://www\.aeonmall\.co\.jp/shop/default\.aspx\\?bannerid=ml03_YLbPqZPy".*?(<img.*?/>).*?</a>' '$1';
}