@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine outlet-rera/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine outlet-rera/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

body {
  attribute: lang add 'zh';
}

a[href] {
  attribute: href rewrite "@RewriteLinks";
}

@urlmap RewriteLinks {
  "http://www.outlet-rera.com/agent/" : "http://www.outlet-rera.com/chi_t/agent/";
  "http://www.outlet-rera.com/facilities/" : "http://www.outlet-rera.com/chi_t/facilities/";
  "http://www.outlet-rera.com/access/" : "http://www.outlet-rera.com/chi_t/access/";
  "http://outlet-rera.megacom.jp/agent" : "http://outlet-rera.megacom.jp/chi_t/agent/";
  "http://outlet-rera.megacom.jp/facilities/" : "http://outlet-rera.megacom.jp/chi_t/facilities/";
  "http://outlet-rera.megacom.jp/access/" : "http://outlet-rera.megacom.jp/chi_t/access/";
}