@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine nambacity/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine nambacity/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

// @RULESET
// URL #= http://www\.nambacity\.com/
// URL #= http://nambacity\.com/
@preprocess{
replace: 'UA-39252718-1' 'UA-39252718-7';
}