@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT";
}
@engine apiadome/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT";
}
@engine apiadome/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT";
}

body {
  attribute: lang add 'zh';
}

@preprocess {
  replace: "www\.jr-tower\.com\"" "www.jr-tower.com.c.os.hp.transer.com\"";
  replace: "www\.sapporo-esta\.jp\"" "www.sapporo-esta.jp.c.ou.hp.transer.com\"";
  replace: "www\.e-paseode\.com\"" "www.e-paseode.com.c.ov.hp.transer.com\"";
  replace: "www\.stellarplace\.net\"" "www.stellarplace.net.c.ow.hp.transer.com\"";
  replace: "www\.jr-tower\.com/" "www.jr-tower.com.c.os.hp.transer.com/";
  replace: "www\.sapporo-esta\.jp/" "www.sapporo-esta.jp.c.ou.hp.transer.com/";
  replace: "www\.e-paseode\.com/" "www.e-paseode.com.c.ov.hp.transer.com/";
  replace: "www\.stellarplace\.net/" "www.stellarplace.net.c.ow.hp.transer.com/";
  replace: "'UA-3457818-9'" "'UA-3457818-27'";
}