@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT";
}
@engine city-yokohama/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT";
}
@engine city-yokohama/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT";
}
@preprocess {
  replace: "www\.city\.yokohama\.lg\.jp" "translate-zht\.city\.yokohama\.lg\.jp";
}

@postprocess {
  replace: '<a class="cl-norewrite cl-notranslate" href="http://translate-zht.city.yokohama.lg.jp/kyoiku/library/">(.*?)' '<a class="cl-norewrite cl-notranslate" href="http://www.city.yokohama.lg.jp/kyoiku/library/">$1';
}