@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine ima-hikarigaoka/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine ima-hikarigaoka/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@postprocess {
replace:'<a href="http://www.ima-hikarigaoka.jp.k.wg.hp.transer.com/flyer/151124/#page=1" target="_blank">' '<a href="http://www.ima-hikarigaoka.jp/flyer/151124/#page=1" target="_blank">';
replace:'<a href="http://www.ima-hikarigaoka.jp.k.wg.hp.transer.com/flyer/151113/" target="_blank">' '<a href="http://www.ima-hikarigaoka.jp/flyer/151113/" target="_blank">';
replace:'<a href="http://www.ima-hikarigaoka.jp.k.wg.hp.transer.com/flyer/151113_2/#page=1" target="_blank">' '<a href="http://www.ima-hikarigaoka.jp/flyer/151113_2/#page=1" target="_blank">';
replace:'<a href="http://www.ima-hikarigaoka.jp.k.wg.hp.transer.com/flyer/151023/" target="_blank">' '<a href="http://www.ima-hikarigaoka.jp/flyer/151023/" target="_blank">';
replace:'<a href="http://www.ima-hikarigaoka.jp.k.wg.hp.transer.com/flyer/150925_2/#page=1" target="_blank">' '<a href="http://www.ima-hikarigaoka.jp/flyer/150925_2/#page=1" target="_blank">';
}

@preprocess {
	replace:'<option value="http://www.ima-hikarigaoka.jp.k.wg.hp.transer.com/sp/">한국어</option>' '<option value="http://www.ima-hikarigaoka.jp.k.wg.hp.transer.com/sp/" class="cl-notranslate">한국어</option>';
	replace:'<a href="http://www.ima-hikarigaoka.jp.k.wg.hp.transer.com/">한국어</a>' '<a href="http://www.ima-hikarigaoka.jp.k.wg.hp.transer.com/" class="cl-notranslate">한국어</a>';
}
