@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine ecute/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine ecute/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
  replace:'<!-- crosslanguage-k:show(.*?)/crosslanguage-k:show -->' '$1';
}

// @RULESET
// URL = http://www.ecute.jp/omiya/
@postprocess {
  replace: 'http://www.ecute.jp' 'http://www.ecute.jp.k.yc.hp.transer.com/omiya/';
}

// @RULESET
// URL = http://www.ecute.jp/shinagawa/
@postprocess {
  replace: 'http://www.ecute.jp' 'http://www.ecute.jp.k.yc.hp.transer.com/shinagawa/';
}

// @RULESET
// URL = http://www.ecute.jp/shinagawasouth/
@postprocess {
  replace: 'http://www.ecute.jp' 'http://www.ecute.jp.k.yc.hp.transer.com/shinagawasouth/';
}

// @RULESET
// URL = http://www.ecute.jp/nippori/
@postprocess {
  replace: 'http://www.ecute.jp' 'http://www.ecute.jp.k.yc.hp.transer.com/nippori/';
}

// @RULESET
// URL = http://www.ecute.jp/tokyo/
@postprocess {
  replace: 'http://www.ecute.jp' 'http://www.ecute.jp.k.yc.hp.transer.com/tokyo/';
}

// @RULESET
// URL = http://www.ecute.jp/ueno/
@postprocess {
  replace: 'http://www.ecute.jp' 'http://www.ecute.jp.k.yc.hp.transer.com/ueno/';
}

// @RULESET
// URL = http://www.ecute.jp/akabane/
@postprocess {
  replace: 'http://www.ecute.jp' 'http://www.ecute.jp.k.yc.hp.transer.com/akabane/';
}