div#carouselNaviBlock {
 attribute: cltx add 'exclude';
}

header#site-area-header {
   attribute: style add 'margin-top: 40px;';
}

div.globalNaviPadder > ul > li {
 attribute: cltx add 'exclude';
}

div.highlightBlockPadder > ul > li {
 attribute: cltx add 'exclude';
}

div.recommendBanner_staticPadder > ul > li {
 attribute: cltx add 'exclude';
}

div.recommendBanner_carousel_holderPadder > ul > li {
 attribute: cltx add 'exclude';
}

div.buttonBlock {
 attribute: cltx add 'exclude';
}

div.formButton {
 attribute: cltx add 'exclude';
}

div.buttonListPadder > ul > li {
 attribute: cltx add 'exclude';
}

div.thickbox.pikPadder {
 attribute: cltx add 'exclude';
}

td.img > ul > li {
 attribute: cltx add 'exclude';
}

// @RULESET
// URL = http://www.daiwaresort.jp/contents/hellokittyroom/contents/areamap/index.html
// URL #= http://www.daiwaresort.jp/contents/hellokittyroom/contents/room/.*?
// URL = http://dr03.compolex.com/contents/hellokittyroom/contents/areamap/index.html
// URL #= http://dr03.compolex.com/contents/hellokittyroom/contents/room/.*?
div.site-wrapper > header.site-header {
  attribute: style add 'margin-top:38px;';
}

div.site-wrapper > main.main-contents {
  attribute: style add 'margin-top:0;';
}

div.site-wrapper > main.main-contents > nav.navi-pankz > ul {
  attribute: style add 'margin-top:200px;';
}

// @RULESET
// URL #= http://www\.daiwaresort\.jp/contents/hellokittyroom/.*?
// URL #= http://dr03\.compolex\.com/contents/hellokittyroom/.*?
div.site-wrapper > header.site-header {
  attribute: style add 'margin-top:38px;';
}

div.site-wrapper > main.main-contents {
  attribute: style add 'margin-top:0;';
}

div.site-wrapper > main.main-contents > section.areamap-section-01 {
  attribute: style add 'margin-top:162px;';
}

div.site-wrapper > main.main-contents > nav.navi-pankz {
  attribute: style add 'margin-top:200px;';
}

// @RULESET
// URL = http://www.daiwaresort.jp/contents/royton/jal/jaldp_royton/index.html
// URL = http://dr03.compolex.com/contents/royton/jal/jaldp_royton/index.html
@postprocess {
  replace: '<script type="text/javascript" src="http://www.jal.co.jp/domtour/jaldp/template/htl/js/include_Y15.js" charset="UTF-8">' '<script type="text/javascript" src="http://www.jal.co.jp/domtour/jaldp/template/htl/js/include_Y15.js" charset="Shift-JIS">';
}
div#wrapper {
  attribute: style add 'margin-top: -15px;';
}
td > h1 > a > img {
  attribute: style add 'margin-top: 65px;';
}

td.alR > a > img {
  attribute: style add 'margin-top: 65px;';
}

// @RULESET
// URL #= http://www\.daiwaresort\.jp/contents/(.*?)/ana/tabisaku_(.*?)/.*
// URL #= http://dr03\.compolex\.com/contents/(.*?)/ana/tabisaku_(.*?)/.*
#wrapper > #header > a > img {
   attribute: style add 'margin-top: 36px;';
}

// @RULESET
// URL #= http://www\.daiwaresort\.jp/(royton|hachimantai|zaou|urabandai|rindou|tomiura|yatsugadake|matsushiro|hamanako|tonami|ise|nagahama|miyazu|kashihara|kushimoto|minabe|awaji|daisen|tosa|yahata|genkai|karatsu|beppu|kirishima|okinawa)/wedding/index.html/
// URL #= http://www\.daiwaresort\.jp/(royton|hachimantai|zaou|urabandai|rindou|tomiura|yatsugadake|matsushiro|hamanako|tonami|ise|nagahama|miyazu|kashihara|kushimoto|minabe|awaji|daisen|tosa|yahata|genkai|karatsu|beppu|kirishima|okinawa)/wedding/(.*?)/index.html/
// URL #= http://www\.daiwaresort\.jp\.e\.zr\.hp\.transer\.com/(royton|hachimantai|zaou|urabandai|rindou|tomiura|yatsugadake|matsushiro|hamanako|tonami|ise|nagahama|miyazu|kashihara|kushimoto|minabe|awaji|daisen|tosa|yahata|genkai|karatsu|beppu|kirishima|okinawa)/wedding/(.*?)/index.html/
// URL #= http://dr03\.compolex\.com/(royton|hachimantai|zaou|urabandai|rindou|tomiura|yatsugadake|matsushiro|hamanako|tonami|ise|nagahama|miyazu|kashihara|kushimoto|minabe|awaji|daisen|tosa|yahata|genkai|karatsu|beppu|kirishima|okinawa)/wedding/index.html/
// URL #= http://dr03\.compolex\.com/(royton|hachimantai|zaou|urabandai|rindou|tomiura|yatsugadake|matsushiro|hamanako|tonami|ise|nagahama|miyazu|kashihara|kushimoto|minabe|awaji|daisen|tosa|yahata|genkai|karatsu|beppu|kirishima|okinawa)/wedding/(.*?)/index.html/
// URL #= http://dr03\.compolex\.com\.e\.zr\.hp\.transer\.com/(royton|hachimantai|zaou|urabandai|rindou|tomiura|yatsugadake|matsushiro|hamanako|tonami|ise|nagahama|miyazu|kashihara|kushimoto|minabe|awaji|daisen|tosa|yahata|genkai|karatsu|beppu|kirishima|okinawa)/wedding/(.*?)/index.html/
p.subText {
 attribute: style add 'margin-top: 13px;';
}
p.number {
 attribute: style add 'white-space: nowrap;';
}
.separatorBlock {
  attribute: style add 'margin-top: 20px;';
}
#hotelLogo > a > img {
  attribute: style add 'margin-top: 20px;';
}
@preprocess {
 replace: '50% 0 fixed no-repeat;' '50% 66px fixed no-repeat;';
}
.elem_headingCategoryPadder {
  attribute: style add 'margin-top: 26px;';
}

// @RULESET
// URL #= http://www\.daiwaresort\.jp/gaiyo/.*
// URL #= http://dr03\.compolex\.com/gaiyo/.*
h1.logo, .logo_g, #left {
  attribute: style add 'margin-top: 33px;';
}
#g_navi {
  attribute: style add 'margin-top: 92px;';
}

// @RULESET
// URL #= http://www\.daiwaresort\.jp
// URL #= http://www\.daiwaresort\.jp/index\.html/.*
// URL #= http://www\.daiwaresort\.jp/(.*?)/index\.html/.*
// URL #= http://www\.daiwaresort\.jp/(.*?)/(.*?)/index\.html/.*
// URL #= http://dr03\.compolex\.com
// URL #= http://dr03\.compolex\.com/index\.html/.*
// URL #= http://dr03\.compolex\.com/(.*?)/index\.html/.*
// URL #= http://dr03\.compolex\.com/(.*?)/(.*?)/index\.html/.*
div#header > div.headerPadder > div.headerPadder {
 attribute: style add 'margin-top:34px;';
}

@preprocess {
  replace:'<!-- crosslanguage:show(.*?)/crosslanguage:show -->' '$1';
}
