<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
  <!-- properties -->
  <property name="LOG_DIR" value="/var/log/site-translate" />
  <property name="FILTER_PATTERN" value="(?:request page is not found|client setting is not found|favicon.ico|robots.txt|Broken pipe)" />

  <!-- appenders -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIR}/site-translate.log</file>
    <append>true</append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${LOG_DIR}/site-translate_%d{yyyy-MM}.log.gz</fileNamePattern>
      <maxHistory>6</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!--pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern-->
      <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="HP" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIR}/hp-request.log</file>
    <append>true</append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${LOG_DIR}/hp-request-%d{yyyy-MM}.log.gz</fileNamePattern>
      <maxHistory>6</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS}\t[%thread]\t%-5level\t%msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator>
        <matcher>
          <name>pattern1</name>
          <regex>${FILTER_PATTERN}</regex>
        </matcher>
        <expression>pattern1.matches(formattedMessage)</expression>
      </evaluator>
      <OnMismatch>NEUTRAL</OnMismatch>
      <OnMatch>DENY</OnMatch>
    </filter>
  </appender>

  <appender name="HPSTAGE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIR}/hpstage-request.log</file>
    <append>true</append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${LOG_DIR}/hpstage-request-%d{yyyy-MM}.log.gz</fileNamePattern>
      <maxHistory>6</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS}\t[%thread]\t%-5level\t%msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator>
        <matcher>
          <name>pattern1</name>
          <regex>${FILTER_PATTERN}</regex>
        </matcher>
        <expression>pattern1.matches(formattedMessage)</expression>
      </evaluator>
      <OnMismatch>NEUTRAL</OnMismatch>
      <OnMatch>DENY</OnMatch>
    </filter>
  </appender>

  <!-- loggers -->
  <logger name="hp" level="INFO" additivity="false">
    <appender-ref ref="HP" />
  </logger>
  <logger name="hpstage" level="WARN" additivity="false">
    <appender-ref ref="HPSTAGE" />
  </logger>
  <root level="ERROR">
    <appender-ref ref="FILE" />
  </root>
</configuration>
