@preprocess {
  replace: 'UA-11311297-1' 'UA-11311297-4';
}

p[class="mT10 mB10 font11"],
span[class="up"],
span[class="link font13"]{
  text-flow: break;
}

p>span[class="link"]{
  text-flow: break;
}

// @RULESET
// URL #= http://www\.atre\.co\.jp/s/recruit/detail\.php.*
a[class="list_back"]>b{
text-flow: break;
}

// @RULESET
// URL #= http://www\.atre\.co\.jp/s/search/index\.php.*
span[class="pg"],span[class="current_page"],a{
text-flow: break;
}

