@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOURMET FASHION INTERNET";
}
@engine funasei/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOURMET FASHION";
}
@engine funasei/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOURMET FASHION";
}

@preprocess {
	replace: '<div class="reserve(.*?)">(.*?)</div><!--/ .reserve -->' '<div class="reserve pc_only"><img src="//www.funasei.com/english/images/his.png" alt="HIS" class="his"><p class="txt mincho">Please contact<br>HIS travel agency</p><div class="number" style="font-size:18px"><a href="mailto:harajukutic@his-world.com">harajukutic@his-world.com</a></div></div>';
}
