@engine default {
  eid: BR-JA.ES.EN;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION AGRI INTERNET";
}
@engine bashofu/main {
  eid: BR-JA.ES.EN;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION AGRI";
}
@engine bashofu/cross {
  eid: BR-JA.ES.EN;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION AGRI";
}
