div#header {
attribute: clftx add 'exclude';
}

div.text-center {
attribute: clftx add 'exclude';
}

#headerWrapper {
	attribute: cltx add 'exclude';
}

@preprocess {
 replace: '<div class="boxLanguages">' '<div class="boxLanguages cl-notranslate">';
}