@engine default {
  eid: CR-JCT;
  dictionaries: "KITANOHOSHI_DIC KITANOHOSHI_TM CROSS_DIC CROSS_TM";
}

@engine kitanohoshi/main {
  eid: CR-JCT;
  dictionaries: "KITANOHOSHI_DIC_MASTER KITANOHOSHI_TM_MASTER";
}