@engine default {
  eid: CR-JE;
  dictionaries: "KIRISHIMA_DIC KIRISHIMA_TM CROSS_DIC CROSS_TM GOVT TOURISM INTERNET";
}

@engine kirishima/main {
  eid: CR-JE;
  dictionaries: "KIRISHIMA_DIC_MASTER KIRISHIMA_TM_MASTER GOVT TOURISM";
}
