@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM MEDICAL";
}
@engine jikei/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER MEDICAL";
}
@engine jikei/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER MEDICAL";
}
