@engine default {
  eid: BR-PR-JA.ES.EN;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT TOURISM LAW";
}
@engine oita-jp/main {
  eid: BR-PR-JA.ES.EN;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT TOURISM LAW";
}
@engine oita-jp/cross {
  eid: BR-PR-JA.ES.EN;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT TOURISM LAW";
}
