@engine default {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine izupass/main {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine izupass/cross {
  eid: MS-JATH;
  dictionaries: "CROSS_TM_MASTER";
}
