#site-translate-header-wrapper{
	width: 100% !important;
}

#hSnsLink .headeroffiapp a {
	font-size: 10px;
}

@media screen and (min-width: 641px) { 

	/* ヘッダーメニュー */
	nav ul.gnav > li a {
		font-size: 12px;
	}

	/* アプリ */
	.appLink strong {
		font-size: 100%;
	}

	/* 順位表 */
	#topRanking h3 span:last-child {
		width: auto; text-align: right;
	}

	/* 右カラムリンク */
	#rightLinks li a {
		font-size: 80%;
	}

	ul.tabcrimson li {
		font-size: 11.5px;
	}

	/* 月表示 */
	.newsMonthtab {
		table-layout: auto;
	}

	/* 過去試合 */
	#matchrecard li.matchmove a, #matchrecard li.matchmove span {
		line-height: normal;
	}

	dl.gamelist .gResult > ul li a {
		font-size: 11px;
	}

	#matchrecard li.matchname strong {
		font-size: 100%;
	}

	/* チケット販売スケジュール */
	.iconlist3 li:last-child {
		width: auto;padding: 2%;
	}

	.tsHatsubai_o {
		vertical-align: top !important;
	}

	/* シーズンシート */ 
	.tabgray li a {
		padding: 2%;
		line-height: normal;
	}

	.tabgray.list4 li{
		vertical-align: top;
	}

	.tabcrimson2 ul li {
		vertical-align: top;
	}

	/* 団体割引チケット */
	ul.tabcrimson li a, ul.tabcrimson li a:visited {
		line-height: normal;
		padding: 2%;
	}

	/* スタジアム */
	.tabcrimson2 ul li a, .tabcrimson2 ul li span{
		line-height: normal;
		padding: 2%;
		min-height: 50px;
	}

	.stadium.idx .tabcrimson2 li, .stadium.univer .tabcrimson2 li{
		vertical-align: top;
	}

}

@media screen and (max-width: 640px) {

	#site-translate-header-wrapper{
		width: 100% !important;
	    height: 44px;
	    position: fixed;
	    top: 0;
	    z-index: 99999 !important;
	}

	#site-translate-header-wrapper p{
		font-size: 10px;
		line-height: 12px;
	}

	#site-translate-message{
		display: table-cell;
		height: 44px;
		vertical-align: middle;
		width: 5000px
	}

	body {
    	padding-top: 134px;
	}

	.fixedHeader {
	    top: 44px;
	}
	
	a.nav-toggle{
		width: auto;
	}

	/* トップ フォント */
	p.detailLink{
		padding: 0;
	}

	p.detailLink a{
		font-size: 90%;
	}

	/* モバイルトップ  */
	#topQuickLink ul li a{
		height: 7.8rem;
		line-height: 1.0;
	}

	/* 試合詳細 */
	.topMatchDetail li a{
		line-height: normal;
		padding: 2%;
} 

	.tabcrimson2 ul li a, .tabcrimson2 ul li span {
		height: 6.8em;
	}

	/* トップ今日の予定 */
	#topToday .oneschedule li{
		height: auto;
	}

	/* トップ右カラムフォント */
	#rightLinks li a span{
		font-size: 88%;
	}

	/* 月表示 */
	.newsMonthtab li {
		width: auto;
		margin: 5px 3% 0 0;
	}

	/* チケット */
	.tsMatchinfo a{
		width: auto;
		padding: 0.5% 3%;
		line-height: normal;
	}

}
