@engine default {
  eid: CR-JE;
  dictionaries: "KUROBE_TM KUROBE_DIC CROSS_DIC CROSS_TM GOVT TOURISM GOURMET INTERNET";
}

@engine kurobe/main {
  eid: CR-JE;
  dictionaries: "KUROBE_TM_MASTER KUROBE_DIC_MASTER GOVT TOURISM GOURMET";
}
