@engine default {
  eid: CR-JE;
  dictionaries: "NANJOCITY_DIC NANJOCITY_TM CROSS_DIC CROSS_TM GOVT TOURISM INTERNET";
}

@engine nanjocity/main {
  eid: CR-JE;
  dictionaries: "NANJOCITY_DIC_MASTER NANJOCITY_TM_MASTER GOVT TOURISM";
}
