.snsArea,
.totop,
#tit03 > .txtArea > .carrier_flow {
	attribute: cltx add 'exclude';
}

@preprocess {
	replace:'<span class="fontweght">(.*?)</span>' '<span class="fontweght">$1</span><br style="display:none;">';
	replace:'<span class="orange(.*?)">(.*?)</span>' '<br style="display:none;"><span class="orange$1">$2</span></h1>';
	replace:'<h2 class="titStyle01__cont"><span class="catch">(.*?)</span>(.*?)</h2>' '<h2 class="titStyle01__cont"><span class="catch">$1</span><br style="display:none;">$2</h2>';
	replace:'<p class="in_ttl_s"><span>(.*?)</span>(.*?)</p>' '<p class="in_ttl_s"><span>$1</span><br style="display:none;">$2</p>';
	replace:'<li><span class="txt-s3">(.*?)</span>(.*?)</li>' '<li><span class="txt-s3">$1</span><br style="display:none;">$2</li>';
	replace:'<span class="timeprice2">円</span>' '<br style="display:none;"><span class="timeprice2">円</span>';
	replace:'<span class="timeprice3">(税別)</span>' '<br style="display:none;"><span class="timeprice3">(税別)</span><br style="display:none;">';
	replace:'<span class="time_priceresult1">円</span>' '<br style="display:none;"><span class="time_priceresult1">円</span>';
	replace:'<span class="headTitle-price__price01">円</span>' '<br style="display:none;"><span class="headTitle-price__price01">円</span><br style="display:none;">';
	replace:'<span class="headTitle-price__price02">円</span>' '<br style="display:none;"><span class="headTitle-price__price02">円</span><br style="display:none;">';
	replace:'<span class="sub"><span class="sub2">(.*?)</span>(.*?)</span>' '<span class="sub"><span class="sub2">$1</span><br style="display:none;">$2</span>';
	replace:'<span class="pre_txt"><span class="txt-s">(.*?)</span>(.*?)</span>' '<span class="pre_txt"><span class="txt-s">$1</span><br style="display:none;">$2</span>';
	replace:'<span class="txt-s">(.*?)</span>' '<span class="txt-s">$1</span><br style="display:none;">';
	replace:'<h2 class="titStyle01__cont"><span class="catch">(.*?)</span>(.*?)<span class="sub">(.*?)</span></h2>' '<h2 class="titStyle01__cont"><span class="catch">$1</span>$2<br style="display:none;"><span class="sub">$3</span></h2>';
	replace:'<dd>(.*?)<span class="guarantee">(.*?)</span></dd>' '<dd>$1<br style="display:none;"><span class="guarantee">$2</span></dd>';
	replace:'<li><span class="tour_plan_title_icon2">(.*?)</span>(.*?)</li>' '<li><span class="tour_plan_title_icon2">$1</span><br style="display:none;">$2</li>';
	replace:'<p class="price_txt txtLeft mb0">※注1.(.*?)</p>' '<p class="price_txt txtLeft mb0">※注1.<br style="display:none;">$1</p>';
	replace:'<h3 class="titStyle"><span class="fontStyle02">(.*?)</span>(.*?)</h3>' '<h3 class="titStyle"><span class="fontStyle02">$1</span><br style="display:none;">$2</h3>';
	replace:'<dt><img src=(.*?)><span>(.*?)</span>(.*?)</dt>' '<dt><img src=$1><span>$2</span><br style="display:none;">$3</dt>';
	replace:'<li><img src=(.*?) alt="コンビニ" />(.*?)<span>(.*?)</span></li>' '<li><img src=$1 alt="コンビニ" />$2<br style="display:none;"><span>$3</span></li>';
	replace:'<li><img src=(.*?) alt="日用品・スーパー" />(.*?)<span>(.*?)</span></li>' '<li><img src=$1 alt="日用品・スーパー" />$2<br style="display:none;"><span>$3</span></li>';
	replace:'<h5>(.*?)<span>(.*?)</span></h5>' '<h5>$1<br style="display:none;"><span>$2</span></h5>';
	replace:'<dd><span>(.*?)</span>(.*?)</dd>' '<dd><span>$1</span><br style="display:none;">$2</dd>';
	replace:'<h2 class="titStyle--type03__in">(.*?)<span class="subTit">(.*?)</span></h2>' '<h2 class="titStyle--type03__in">$1<br style="display:none;"><span class="subTit">$2</span></h2>';
	replace:'<li><a href="#tit(.*?)"><span>(.*?)</span>(.*?)</a></li>' '<li><a href="#tit$1"><span>$2</span><br style="display:none;">$3</a></li>';
	replace:'<h3 class="titStyle_h3"><span class="subH3">(.*?)</span>(.*?)</h3>' '<h3 class="titStyle_h3"><span class="subH3">$1</span><br style="display:none;">$2</h3>';
}
