@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOURMET INTERNET";
}
@engine ginsyou/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOURMET";
}
@engine ginsyou/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOURMET";
}

@preprocess {
 replace: '開放的な客室露天風呂でお二人だけの上質な時間' 'Time when only two people are of good quality at opening-like guest room outdoor bath';
 replace: '客室露天から見上げた夜空' 'Night sky which we looked up at from guest room open-air';
 replace: '個室風の食事処\\(白さつま\\)' 'Private room-style restaurant \\(white Satsuma\\)';
 replace: '空と海と露天風呂がひとつになった様な景色\\(天空野天風呂\\)' 'Scenery \\(heavens outdoor bath\\) that the sky and the sea and outdoor bath seemed to become one';
 replace: '玄関  お待ち申し上げております' 'We wait for the entrance';
}
