@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM IT SYSTEM ARCHI BUSINESS INTERNET";
}
@engine rehouse/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER IT SYSTEM ARCHI BUSINESS";
}
@engine rehouse/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER IT SYSTEM ARCHI BUSINESS";
}
