@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine daimaru/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine daimaru/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

// @RULESET
// URL =http://www.daimaru.co.jp/shinsaibashi/
// URL =http://www.daimaru.co.jp/shinsaibashi/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/shinsaibashi/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="http://dmdepart.jp/dgcatalog/washoku/"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/730x349_t.jpg"></a></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/umedamise/
// URL =http://www.daimaru.co.jp/umedamise/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/umedamise/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="http://dmdepart.jp/dgcatalog/washoku/"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/730x349_t.jpg"></a></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/kyoto/
// URL =http://www.daimaru.co.jp/kyoto/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/kyoto/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="http://dmdepart.jp/dgcatalog/washoku/"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/730x349_t.jpg"></a></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/kobe/
// URL =http://www.daimaru.co.jp/kobe/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/kobe/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="http://dmdepart.jp/dgcatalog/washoku/"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/730x349_t.jpg"></a></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/tokyo/
// URL =http://www.daimaru.co.jp/tokyo/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/tokyo/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><img width="730" height="349" border="0" usemap="#mainImageLink" alt="" src="/tokyo/images/main_t.jpg"><map id="mainImageLink" name="mainImageLink"><area href="/tokyo/fl/t/best/" coords="0,0,341,348" shape="rect"><area href="/tokyo/service/gaikoku.html" coords="341,0,730,353" shape="rect"></map></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/sapporo/
// URL =http://www.daimaru.co.jp/sapporo/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/sapporo/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="http://dmdepart.jp/dgcatalog/washoku/"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/730x349_t.jpg"></a></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/shinsaibashi/
// URL =http://www.daimaru.co.jp/smp/shinsaibashi/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/shinsaibashi/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="http://dmdepart.jp/dgcatalog/washoku/"><img width="300" alt="" src="http://dmdepart.jp/fl/images/710x264_t.jpg"></a></p>$1';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/umedamise/
// URL =http://www.daimaru.co.jp/smp/umedamise/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/umedamise/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="http://dmdepart.jp/dgcatalog/washoku/"><img width="300" alt="" src="http://dmdepart.jp/fl/images/710x264_t.jpg"></a></p>$1';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/kyoto/
// URL =http://www.daimaru.co.jp/smp/kyoto/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/kyoto/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="http://dmdepart.jp/dgcatalog/washoku/"><img width="300" alt="" src="http://dmdepart.jp/fl/images/710x264_t.jpg"></a></p>$1';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/kobe/
// URL =http://www.daimaru.co.jp/smp/kobe/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/kobe/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="http://dmdepart.jp/dgcatalog/washoku/"><img width="300" alt="" src="http://dmdepart.jp/fl/images/710x264_t.jpg"></a></p>$1';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/tokyo/
// URL =http://www.daimaru.co.jp/smp/tokyo/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/tokyo/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="/tokyo/fl/s/t/"><img width="300" alt="" src="/smp/tokyo/images/main_t.jpg"></a></p>$1';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/sapporo/
// URL =http://www.daimaru.co.jp/smp/sapporo/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/sapporo/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="http://dmdepart.jp/dgcatalog/washoku/"><img width="300" alt="" src="http://dmdepart.jp/fl/images/710x264_t.jpg"></a></p>$1';
}

// @RULESET
// URL =http://dmdepart.jp/fl/
// URL =http://dmdepart.jp/fl/smp/
@preprocess {
  replace: "www\.matsuzakaya\.co\.jp/" "www.matsuzakaya.co.jp.t.me.hp.transer.com/";
}