@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM ELEC MECHA CHEMICAL";
}
@engine technican/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER ELEC MECHA CHEMICAL";
}
@engine technican/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER ELEC MECHA CHEMICAL";
}

body {
  attribute: lang add 'zh';
}
