.shop_search_left_column,
.header_brand {
	attribute: clftx add 'exclude';
}

@preprocess {
	replace:'<span class="footer_sale_title">(.*?)</span>' '<br style="display:none;"><span class="footer_sale_title">$1</span><br style="display:none;">';
	replace:'<span class="footer_sale_title pc_appear">(.*?)</span>' '<br style="display:none;"><span class="footer_sale_title pc_appear">$1</span><br style="display:none;">';
	replace:'<span class="footer_sale_title sp_appear">(.*?)</span>' '<br style="display:none;"><span class="footer_sale_title sp_appear">$1</span><br style="display:none;">';
}

// @RULESET
// URL #= //www\.seiyu\.co\.jp/campaign/.*
@preprocess {
  replace: '<dt class="bigbet_product_info_name_sub">(.*?)<small>(.*?)</small></dt>' '<dt class="bigbet_product_info_name_sub">$1<br style="display:none;"><small>$2</small><br style="display:none;"></dt>';
  replace: '<dt class="bigbet_product_info_name">(.*?)<small>(.*?)</small></dt>' '<dt class="bigbet_product_info_name">$1<br style="display:none;"><small>$2</small><br style="display:none;"></dt>';
}
