@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT";
}
@engine sogo-seibu/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT";
}
@engine sogo-seibu/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT";
}

body {
  attribute: lang add 'zh';
}

// @RULESET
// URL #= //www\.sogo-seibu\.jp/common/museum/archives/20/robert_doisneau/
@postprocess {
	replace:'※\\(\\)\\)内为预售票及20人以上的团体优惠价格。' '※\\( \\)内为预售票及20人以上的团体优惠价格。';
}
