.header-main,
.fb-page,
#news > .inner > .coltable > .wpct50,
.bx-controls-direction {
	attribute: cltx add 'exclude';
}

@preprocess {
	replace:'ナスパスキーガーデン' 'NASPAスキーガーデン';
	replace:'<span class="bdr">(.*?)</span>' '<br style="display:none;"><span class="bdr">$1</span>';
	replace:'css\\((.*?)-132px(.*?)\\)' 'css\\($1-179px$2\\)';
	replace:'jQuery\\(".wide_phone"\\).css\\((.*?)\'top\':\'158px\'(.*?)\\)' 'jQuery\\(".wide_phone"\\).css\\($1\'top\':\'168px\'$2\\)';
}
