body {
  attribute: style add 'background-position:0px 26px;';
  }

div#header > div.n_logo > a > img {
  attribute: style add 'padding-top:22px;';
  }

div#page_right_box > h2.title_right > strong {
  attribute: style add 'font-size:12px;';
  }

input.days_box {
  attribute: style add 'margin-left:1px;';
  }

div.jcalendar-selects {
  attribute: style add 'font-size:10px;';
  }

@preprocess {
	replace:'<div class="add">(.*?)<p>(.*?)<span class="map_btn"><a href="#access">(.*?)</a></span>(.*?)</p>(.*?)</div>' '<div class="add">$1<p>$2<br style="display:none;"><span class="map_btn"><a href="#access">$3</a></span>$4</p>$5</div>';
}
