@engine default {
  eid: CR-JCT;
  dictionaries: "K-KANKOU_DIC K-KANKOU_TM CROSS_DIC CROSS_TM";
}

@engine k-kankou/main {
  eid: CR-JCT;
  dictionaries: "K-KANKOU_DIC_MASTER K-KANKOU_TM_MASTER";
}