/**
 * @IGNORE_RULE: @RewriteNoRegisteredDomain, @MapUnknownBinaryResource, @RewriteFormAction;
 */
@data xml {
}

@engine default {
  eid: CR-JCT;
  dictionaries: "YAKUSHIMA_DIC YAKUSHIMA_TM CROSS_DIC CROSS_TM";
}

node[name] {
  attribute: * translate;
}
