@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM DEPART BRAND NETSHOP FASHION";
}
@engine canalcity/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER NETSHOP FASHION";
}
@engine canalcity/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER NETSHOP FASHION";
}

@postprocess {
  replace: '<a href="/floorguide" target="_blank">' '<a href="http://canalcity.co.jp/floorguide_tch.pdf" target="_blank">';
    replace: '"http://canalcity.co.jp/floorguide/pic.pdf"' '"http://canalcity.co.jp/floorguide_tch.pdf"';
}