@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM BUSINESS";
}
@engine daiomfg/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER BUSINESS";
}
@engine daiomfg/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER BUSINESS";
}
