div#galleryContents li, div#galleryThumbnail li, div#slideshow li{
 attribute: cltx add 'exclude';
}

@preprocess {
  replace:'<!-- crosslanguage:show.*?/crosslanguage:show -->' '<p class="mt10"><a href="http://nijajani.com/" target="_blank"><img src="/common/images/store/com_nav_bn02.jpg" alt="" width="209" height="50" /></a></p><p class="mt10"><a href="http://weibo.cn/qr/userinfo?uid=5200185773" target="_blank"><img src="/common/images/store/com_nav_bn03.jpg" alt="" width="209" height="50" /></a></p><p class="mt10"><a href="http://weixin.qq.com/r/tUNkfB7ET0MwrVof9xan" target="_blank"><img src="/common/images/store/com_nav_bn04.jpg" alt="" width="209" height="50" /></a></p><p class="mt10"><a href="https://www.facebook.com/daimarudps" target="_blank"><img src="/common/images/store/com_nav_bn05.jpg" alt="" width="209" height="50" /></a></p>';
}

@postprocess {
  replace: '"UA-1216099-16"' '"UA-56621341-1"';
  replace: "'UA-19142011-1'" "'UA-56621341-1'";
}

// @RULESET
// URL #=http://www\.matsuzakaya\.co\.jp/(|smp/)takatsuki/(|index\.html)
@preprocess {
  replace: 'ブランド・ショップ検索' 'ブランド情報';
  replace: 'ブランド検索' 'ブランド情報';
  replace: '"http://www\.matsuzakaya\.co\.jp/nagoya/brand/index\.shtml"' '"http://www.matsuzakaya.co.jp/foreign/nagoya/brand.html"';
  replace: '"http://www\.matsuzakaya\.co\.jp/ueno/brand/index\.shtml"' '"http://www.matsuzakaya.co.jp/foreign/ueno/brand.html"';
  replace: '"http://www\.matsuzakaya\.co\.jp/shizuoka/brand/index\.shtml"' '"http://www.matsuzakaya.co.jp/foreign/shizuoka/brand.html"';
  replace: '"http://www\.matsuzakaya\.co\.jp/takatsuki/brand/index\.shtml"' '"http://www.matsuzakaya.co.jp/foreign/takatsuki/brand.html"';
  replace: '"(/(|smp/)takatsuki/service/)index\(.html)"' '"$1gaikoku$3"';
  replace: '(<ul class="btnLink01">.*?</ul>)' '$1<div class="officialAccount"><ul><li><a href="http://nijajani.com/" target="_blank"><img src="/smp/common/images/com_bn01.gif" width="104" alt=""></a></li><li class="socialPlugin noBorder"><ul><li><a href="http://weibo.cn/qr/userinfo?uid=5200185773" target="_blank"><img src="/smp/common/images/com_ic26.png" width="31" alt="weibo"></a></li><li><a href="http://weixin.qq.com/r/tUNkfB7ET0MwrVof9xan" target="_blank"><img src="/smp/common/images/com_ic27.png" width="31" alt="WeChat"></a></li><li><a href="https://www.facebook.com/daimarudps" target="_blank"><img src="/smp/common/images/com_ic28.png" width="31" alt="Facebook"></a></li></ul></li></ul></div>';
}

// @RULESET
// URL #=http://www\.matsuzakaya\.co\.jp/(|smp/)(nagoya|ueno|shizuoka|toyota)/(|index\.html)
@preprocess {
  replace: 'ブランド・ショップ検索' 'ブランド情報';
  replace: 'ブランド検索' 'ブランド情報';
  replace: '"http://www\.matsuzakaya\.co\.jp/nagoya/brand/index\.shtml"' '"http://www.matsuzakaya.co.jp/foreign/nagoya/brand.html"';
  replace: '"http://www\.matsuzakaya\.co\.jp/ueno/brand/index\.shtml"' '"http://www.matsuzakaya.co.jp/foreign/ueno/brand.html"';
  replace: '"http://www\.matsuzakaya\.co\.jp/shizuoka/brand/index\.shtml"' '"http://www.matsuzakaya.co.jp/foreign/shizuoka/brand.html"';
  replace: '"http://www\.matsuzakaya\.co\.jp/takatsuki/brand/index\.shtml"' '"http://www.matsuzakaya.co.jp/foreign/takatsuki/brand.html"';
  replace: '"(/(|smp/)(nagoya|ueno|shizuoka|toyota)/service/)index\(.html)"' '"$1gaikoku$4"';
  replace: '<div class="officialAccount">.*?</div>' '<div class="officialAccount"><ul><li><a href="http://nijajani.com/" target="_blank"><img src="/smp/common/images/com_bn01.gif" width="104" alt=""></a></li><li class="socialPlugin noBorder"><ul><li><a href="http://weibo.cn/qr/userinfo?uid=5200185773" target="_blank"><img src="/smp/common/images/com_ic26.png" width="31" alt="weibo"></a></li><li><a href="http://weixin.qq.com/r/tUNkfB7ET0MwrVof9xan" target="_blank"><img src="/smp/common/images/com_ic27.png" width="31" alt="WeChat"></a></li><li><a href="https://www.facebook.com/daimarudps" target="_blank"><img src="/smp/common/images/com_ic28.png" width="31" alt="Facebook"></a></li></ul></li></ul></div>';
}

