@engine default {
  eid: CR-JE;
  dictionaries: "AEONMALL_TM AEONMALL_DIC CROSS_DIC CROSS_TM INTERNET FASHION GOURMET";
}
@engine narita-aeonmall/main {
  eid: CR-JE;
  dictionaries: "AEONMALL_TM_MASTER AEONMALL_DIC_MASTER FASHION GOURMET";
}
@engine narita-aeonmall/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION GOURMET";
}

a[href$="/shopguide/floorguide/index.html"] {
  attribute: href rewrite "@RewriteFloorGuide";
}

@rewrite RewriteFloorGuide {
  if (absurl matches "(http://narita-aeonmall\\.com/shopguide)/floorguide/(.+)") return "{$1}/floorguide_en/{$2}";
}
