@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM DEPART BRAND NETSHOP FASHION";
}
@engine yokohama-mores/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER NETSHOP FASHION";
}
@engine yokohama-mores/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER NETSHOP FASHION";
}

body {
  attribute: lang add 'zh';
}

@postprocess {
  replace: '(<[^<]*#footer_container[^>]*>)' '$1<p style="text-align:center;margin-bottom:6px" cltx>&#36825;&#20010;&#32593;&#39029;&#26159;&#34987;&#26426;&#22120;&#36827;&#34892;&#32763;&#35793;&#30340;&#12290;&#32763;&#35793;&#32467;&#26524;&#19981;&#21487;&#33021;&#49;&#48;&#48;&#37;&#27491;&#30830;&#12290;&#26395;&#24744;&#22810;&#29702;&#35299;&#32780;&#21033;&#29992;&#12290;</p>';
}
