@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine city-kawaguchi/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine city-kawaguchi/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@postprocess {
replace:'2. 2015년도 시민<span style="COLOR: #ff0000">(.*?) 과세되어있지 않는 분(.*?)</span> 대상입니다.' '2. 2015년도 시민$1<span style="COLOR: #ff0000"> 과세되어있지 않는 분</span>$2 대상입니다.';
replace:'다만, 동일세대의 과세자의 피부양자로 등록되어있는 분,생활보호 제도의 피급여자는 대<span style="COLOR: #ff0000">상외입<span style="COLOR: #000000">니다</span></span>.' '다만, <span style="COLOR: #ff0000">동일세대의 과세자의 피부양자로 등록되어있는 분,생활보호 제도의 피급여자는 <span style="COLOR: #000000">대상외입니다</span></span>.</p>';
replace:'<p><!--cltx-->※<span style="COLOR: #ff0000">아직 시민세의</span><span style="COLOR: #ff0000"> 신고가 되어있지 않은분은 빠른 신고를 부탁드리겠습니다</span><span style="COLOR: #ff0000">.</span></p>' '<p><!--cltx-->※아직 시민세의 신고가<span style="COLOR: #ff0000"></span><span style="COLOR: #ff0000">  되어있지 않은분은 </span>빠른 신고를 부탁드리겠습니다.</p>';
replace:'<p><!--cltx-->지급 대상자 1명당 <span style="COLOR: #ff0000">6천엔</span></p>' '<p><!--cltx-->지급 대상자 1명 <span style="COLOR: #ff0000">당 6천엔</span></p>';
replace:'시점에서 주민표를 옮기는 것이 되어 있지<span style="COLOR: #ff0000"> 않지만  </span>   일정한 요건에 해당되시는 분은, 지금 실제로 살고 있는 시구읍면에 신청하셔서 다음과 같은 조치를 받을 수 있습니다.</p>' '시점에서 주민표를 옮기는 것이 되어 있지 않지만  <span style="COLOR: #ff0000">일정한 요건 </span>에 해당되시는 분은, 지금 실제로 살고 있는 시구읍면에 신청하셔서 다음과 같은 조치를 받을 수 있습니다.</p>';
replace:'<p><!--cltx-->다음 요건 <span style="COLOR: #ff0000">1' '<p><!--cltx-->다음 요건 1<span style="COLOR: #ff0000">';
replace:'에</span>' '</span>에';
replace:'4<span style="COLOR: #ff0000">의 어느 </span>한가지에 반드시 해당되셔야 합니다.</p>' '4의<span style="COLOR: #ff0000"> 어느 한가지</span>에 반드시 해당되셔야 합니다.</p>';
replace:'0<span style="COLOR: #ff0000"><strong>570－0114－92' '<span style="COLOR: #ff0000"><strong>0570－0114－92';
replace:'</strong><span style="COLOR: #000000">(.*?)(\\))(.*?)요금이 듭니다.</span></span></p>''$1$2 $3</strong><span style="COLOR: #000000">요금이 듭니다.</span></span></p>';
}
