@engine default {
  eid: CR-JC;
  dictionaries: "SHIMIZU-KANKOU_DIC SHIMIZU-KANKOU_TM CROSS_DIC CROSS_TM";
}

@engine shimizu-kankou/main {
  eid: CR-JC;
  dictionaries: "SHIMIZU-KANKOU_DIC_MASTER SHIMIZU-KANKOU_TM_MASTER";
}


body {
  attribute: lang add 'zh';
}
