@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM SYSTEM MEDICAL INTERNET";
}
@engine jikei-ur/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER SYSTEM MEDICAL";
}
@engine jikei-ur/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER SYSTEM MEDICAL";
}

link[rel="stylesheet"][type="text/css"][href$="/css/import.css"] {
  attribute: href rewrite "@RewriteImportCss";
}

@rewrite RewriteImportCss {
  if (absurl equals "http://jikei-ur.umin.jp/css/import.css") return "/css/main_en.css";
}

@postprocess {
  replace: '<link rel="stylesheet" href="css/styles.css" />' '<link rel="stylesheet" href="css/styles_en.css" />';
}