@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOURMET INTERNET";
}

a[href="http://www.jhpds.net/kirishimakokusai/uw/uwp3100/uww3101.do?yadNo=322385"] {
  attribute: href rewrite "http://travel.rakuten.com/hotelinfo/43/18243/";
}

// @RULESET
// URL = http://www.kirikoku.co.jp/pp/yoyaku.html
table > tr > td > a[href="http://www.jhpds.net/kirishimakokusai/uw/uwp3100/uww3101.do?yadNo=322385"] {
  attribute: href rewrite "http://www.japanican.com/hotels/ShisetsuDetail.aspx?st=8604005";
}