@preprocess {
	replace:'href="//www.elecom.co.jp(.*?)"' 'href="http://www.elecom.co.jp$1"';
	replace:'href="https://www.elecom.co.jp(.*?)"' 'href="http://www.elecom.co.jp$1"';
	replace:'href="//www2.elecom.co.jp(.*?)"' 'href="http://www2.elecom.co.jp$1"';
	replace:'href="https://www2.elecom.co.jp(.*?)"' 'href="http://www2.elecom.co.jp$1"';
}
