@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM COMPUTER";
}
@engine biccamera/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER COMPUTER";
}
@engine biccamera/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER COMPUTER";
}
@preprocess {
 replace:'charset=Shift_JIS' 'charset=UTF-8';
}
@preprocess {
 replace:'<span class="product_count">(.*?)</span>' '<span class="product_count">$1</span><br style="display:none;">';
}
div#CART-BOX.pulldown_area {
 attribute: style add 'line-height:0.9;';
}
span.price {
 attribute: style set 'font-size: 10px; letter-spacing:-0.1em;';
}
@preprocess {
 replace:'<!-- crosslanguage-t:show(.*?)/crosslanguage-t:show -->' '$1';
}

// @RULESET
// URL ^= http://www.biccamera.co.jp/shoplist/s_higashishin_map.html
// URL ^= http://www.biccamera.co.jp/shoplist/shop-116.html
a[href='http://mlttpl-mapserv.incrementp.co.jp/multi/spot/tpl/ja/map.php?&MAP=E139.42.22.76N35.41.17.01&CMR=cross_lng&KEY=bd96402192c1494895673a1e17431f32e33f507e&NM=%E3%83%93%E3%83%83%E3%82%AF%E3%83%AD%20%E3%83%93%E3%83%83%E3%82%AF%E3%82%AB%E3%83%A1%E3%83%A9%20%E6%96%B0%E5%AE%BF%E6%9D%B1%E5%8F%A3%E5%BA%97&ZM=10'] {
  attribute: href rewrite 'http://mlttpl-mapserv.incrementp.co.jp/multi/spot/tpl/zh1/map.php?&MAP=E139.42.22.76N35.41.17.01&CMR=cross_lng&KEY=bed6a8db574f99b460d909619f7858f53e778d60&NM=BICQLO%20%20%E5%BF%85%E9%85%B7%E6%96%B0%E5%AE%BF%E6%9D%B1%E5%8F%A3%E5%BA%97&ZM=10';
}

// @RULESET
// URL #= http://www\.biccamera\.com/bc/c/info/order/keep-howto\.jsp
@postprocess {
 replace: '<a href="/bc/c/info/order/caution.jsp">的《</a>注意事項》' '的《<a href="/bc/c/info/order/caution.jsp">注意事項</a>》';
 replace: '可使用的支' '可使用的';
 replace: '付方式根</a>據店鋪有所不同' '支付方式根據</a>店鋪有所不同';
}

// @RULESET
// URL #= http://www\.biccamera\.com/bc/c/contents/diaryplamo/.*
div.entry > a > span{
 text-flow: break;
}

// @RULESET
// URL #= http://sake\.biccamera\.com/bs/(top|disp)/.*
@preprocess {
 replace: '<a href="//sake.biccamera.com(.*?)">' '<a href="http://sake.biccamera.com$1">';
}
