@engine default {
  eid: CR-JC;
  dictionaries: "KOMAGANE_DIC KOMAGANE_TM CROSS_DIC CROSS_TM";
}
@engine komagane/main {
  eid: CR-JC;
  dictionaries: "KOMAGANE_DIC_MASTER KOMAGANE_TM_MASTER";
}
@engine komagane/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

body {
  attribute: lang add 'zh';
}
