//　IE9でグローバルメニューのcltxコメントが解釈されてないための対応
ul[id="menu"] {
  attribute: cltx add 'exclude';
}

// @RULESET
// URL #= http://rinkusennan-aeonmall.com/.*
#cal1container {
  attribute: cltx add 'exclude';
}

form > input[type="hidden"][name="ie"] {
  attribute: value set 'utf-8';
}

div#corporatelogo ul.symbolmarks li a {
  attribute: href set 'javascript:void(0)';
  attribute: target delete;
}
