//　IE9でグローバルメニューのcltxコメントが解釈されてないための対応
ul[id="menu"] {
  attribute: cltx add 'exclude';
}

@preprocess {
  replace:'<!-- crosslanguage:show(.*?)/crosslanguage:show -->' '$1';
}

@postprocess {
  replace: '<a href="http://www\.aeonmall\.co\.jp/" target="_blank">.*?(<img.*?/>).*?</a>' '$1';
}

// @RULESET
// URL #= http://rinkusennan-aeonmall.com/.*
#cal1container {
  attribute: cltx add 'exclude';
}

form > input[type="hidden"][name="ie"] {
  attribute: value set 'utf-8';
}