#site-translate-header-wrapper{
	width:100% !important;
	height:44px;
	position: fixed;
	top:0;
	z-index: 999;
}

#site-translate-header-wrapper p{
	font-size:10px;
	line-height: 12px;
}

#site-translate-message{
	display:table-cell;
	height:44px;
	vertical-align:middle;
	width:5000px;
}

.cmn-header-wrapper {
	z-index: 99;
	margin: 44px auto 0;
}

.wrapper {
	margin: 44px auto 0;
}

header {
	margin: 48px auto 0;
}

.spversion .container {
    padding-top: 124px;
}
