@engine default {
  eid: BR-JA.FR.EN;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM IT TOURISM GOURMET";
}
@engine pref-yamanashi/main {
  eid: BR-JA.FR.EN;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER IT TOURISM GOURMET";
}
@engine pref-yamanashi/cross {
  eid: BR-JA.FR.EN;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER IT TOURISM GOURMET";
}
