@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM SYSTEM COMPUTER INTERNET";
}
@engine jtb/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER SYSTEM COMPUTER";
}
@engine jtb/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER SYSTEM COMPUTER";
}

div#side_top > div.course {
  attribute: style add 'font-size: 70% !important;';
}