@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM SPORTS ENTER INTERNET";
}
@engine japan-baseball/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER SPORTS ENTER";
}
@engine japan-baseball/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER SPORTS ENTER";
}

li > a {
  attribute: style add 'font-size: 10px;';
  attribute: style add 'margin-top: 10px;';
}