// @RULESET
// URL ^= http://www.nomadic.co.jp/
table, td {
  attribute: background rewrite "@RewriteBinaryResource";
}

// @RULESET
// URL = http://www.ec-nomadic.com/entry/kiyaku.php
textarea[name="textfield"] {
  content: translate;
}

// @RULESET
// URL ^= http://www.ec-nomadic.com/products/list.php?
ul.pagesortarea > li > a {
  text-flow: break;
}
