@engine default {
  eid: BR-PR-JA.ES.EN;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOVT LAW";
}
@engine pref-osaka/main {
  eid: BR-PR-JA.ES.EN;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOVT LAW";
}
@engine pref-osaka/cross {
  eid: BR-PR-JA.ES.EN;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOVT LAW";
}
