@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM FASHION";
}
@engine asty-shizuoka/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM FASHION";
}
@engine asty-shizuoka/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM FASHION";
}

@postprocess {
	replace:'咖哩&amp;咖哩麵包裹天馬' '咖哩＆咖哩麵包 天馬';
	replace:'咖喱&amp;咖喱麵包天馬' '咖哩＆咖哩麵包 天馬';
	replace:'扦子油炸燉㊈\\(滾\\)' '炸串 燉菜㊈（WAKU）';
	replace:'富士的坊㐂食案' '藤之坊 喜膳';
	replace:'caféde laugh' 'café de laugh';
}
