@engine default {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine tokyu-hands/main {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine tokyu-hands/cross {
  eid: MS-JATH;
  dictionaries: "CROSS_TM_MASTER";
}
