@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM CHEMICAL ARCHI ECOLOGY";
}
@engine ncc-nice/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER CHEMICAL ARCHI ECOLOGY";
}
@engine ncc-nice/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER CHEMICAL ARCHI ECOLOGY";
}
