@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM COMPUTER";
}
@engine lib-matsumoto/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER COMPUTER";
}
@engine lib-matsumoto/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER COMPUTER";
}
