div#searchArea, div#searchAreaS, div#inc_tweet_wrap {
  attribute: cltx add 'include';
}

@preprocess {
  replace: '(mode=a)&(lang)' '$1&amp;$2';
}

@preprocess {
  replace:'<!-- crosslanguage:show(.*?)/crosslanguage:show -->' '$1';
}