@engine miyazaki-aeonmall/service {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION SYSTEM";
}
@engine miyazaki-aeonmall/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION SYSTEM";
}
@engine miyazaki-aeonmall/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION SYSTEM";
}
