@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM ENTER FASHION SYSTEM MARKET INTERNET";
}
@engine trans-action/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER ENTER FASHION SYSTEM MARKET";
}
@engine trans-action/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER ENTER FASHION SYSTEM MARKET";
}

@preprocess {
 replace:'<span>TRANSACTION</span>' '<span>TRANSACTION</span><br style="display:none;">';
}

// @RULESET
// URL #= http://www\.trans-action\.co\.jp.*?
div.inner > nav#global-nav > ul > li > a {
 attribute: style add "font-size:12px;";
}