@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM";
}
@engine tokyogrown/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM";
}
@engine tokyogrown/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM";
}

@preprocess {
  replace:'<!-- crosslanguage-t:show(.*?)/crosslanguage-t:show -->' '$1';
}

@preprocess {
	replace: 'UA-90547497-1' 'UA-90547497-4';
}
