#site-translate-header-wrapper{
	width:100% !important;
	height:auto;
	box-sizing: border-box;
}

#site-translate-header-wrapper p{
	font-size:10px;
	line-height: 12px;
}

#site-translate-message{
	display:block;	
	vertical-align:middle;
	padding: 3px 0;
	text-align: center;
}

#rightCo #eventCo .box .date{
	font-size: 20px;
}

.ss{
	display: block;
}

#rightCo #eventCo .box .date p{
	padding-top: 25px;
}

#rightCo #satelliteList th{
	white-space: normal;
}

