@preprocess {
  replace: '<p (class="breadcrumb">.*?</p>)' '<div $1</div>';
  replace: '(<span>現在地</span>&nbsp;)' '$1<p style="display: inline;">';
  replace: '(<img src="/c_images/crumbs\.gif" width="28" height="8" alt="の中の" title="">)' '</p>$1<p style="display: inline;">';
  replace: '(<a href="/c_anzen/.*?</a>)' '</p>$1<p style="display: inline;">';
  replace: '(<a href="/c_press/.*?</a>)' '</p>$1<p style="display: inline;">';
  replace: '(<a href="/c_news/.*?</a>)' '</p>$1<p style="display: inline;">';
  replace: '(<a href="/c_event/.*?</a>)' '</p>$1<p style="display: inline;">';
  replace: '(<img src="/housou/web/bousai_housou\.gif")' '$1 id="BousaiHousou"';
  replace: '(<body id="index")' '$1 onload="replaceimg()"';
}

ul>li>a{
  text-flow: break;
}
