#site-translate-header-wrapper{
	width:100% !important;
	height:44px;
	position: fixed;
	top:0;z-index: 999;
}

#site-translate-header-wrapper p{
	font-size:10px;
	line-height: 12px;
}

#site-translate-message{
	display:
	table-cell;
	height:44px;
	vertical-align:middle;
	width:5000px;
}

header {
    top: 44px;
}

.header-menu {
    top: 44px;
}

.is-menu-open .header-top .header-top-inner {
	margin: 44px 0 0;
}

#tpl-contents {
	margin-top: 195px !important;
}

.cmn-hd {
    top: 44px;
}

.gnav-wrap {
    top: 44px;
}

.wrapper {
    padding: 114px 0 0;
}

@media screen and (min-width: 769px) {

	.wrapper {
	    padding: 134px 0 0;
	}

	.about-lead {
	    font-size: 2.7rem;
	}

}

@media screen and (max-width: 750px) {

	#tpl-contents {
		margin-top: 134px !important;
	}

	.top #tpl-contents {
		margin-top: 195px !important;
	}

	.header-bottom .header-info .header-info-time .time {
	    font-size: 90%;
	}
}
