/* スマートフォン ヘッダーメニュー */
#spHeader,
.pbHeaderArea {
	attribute:cltx add 'exclude';
}

div.selectCopyBox.areaListCopy {
	attribute:cltx add 'exclude';
}

div.selectCopyBox.cityListcopy {
	attribute:cltx add 'exclude';
}
