@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM FASHION GOURMET INTERNET";
}
@engine matsukiyo/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM FASHION GOURMET";
}
@engine matsukiyo/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM FASHION GOURMET";
}


.center {
 attribute: style add 'margin-top: -8px;';
}

@postprocess {
 replace: '<dd><!--cltx--><span class="price"><b>([0-9])([0-9])([0-9]) y</b>en</span>' '<dd><!--cltx--><span class="price"><b>$1$2$3 </b>yen</span>';
 replace: '<dd><!--cltx--><span class="price"><b>([0-9])([0-9]) y</b>en</span>' '<dd><!--cltx--><span class="price"><b>$1$2 </b>yen</span>';
 replace: '<!--cltx--><span class="iC-price">([0-9])([0-9])([0-9]) y</span>en' '<!--cltx--><span class="iC-price">$1$2$3 </span>yen';
 replace: '<!--cltx--><span class="iC-price">([0-9])([0-9]) y</span>en' '<!--cltx--><span class="iC-price">$1$2 </span>yen';
 replace: '<!--cltx--><span class="iC-price">([0-9]),([0-9])([0-9])([0-9]) ye</span>n' '<!--cltx--><span class="iC-price">$1,$2$3$4 </span>yen'; 
}

@postprocess {
 replace: 'Japanese yen&nbsp;' ' yen&nbsp;';
}

div.chkline.clearfix {
attribute: style add "font-size:10px;";
}