div#header, div#lnv {
  attribute: cltx add 'exclude';
}

a[href="/contents/guide/about.html"] {
  attribute: href rewrite "/shop/contents/about_en.aspx";
}
a[href="/contents/guide/siharai.html"] {
  attribute: href rewrite "/shop/contents/dutyfree_en.aspx";
}
a[href="/contents/guide/h_qa.html"] {
  attribute: href rewrite "/shop/contents/h_qa_en.aspx";
}
a[href="/contents/guide/gaiyo.html"] {
  attribute: href rewrite "/shop/contents/gaiyo_en.aspx";
}
a[href="/contents/guide/access.html"] {
  attribute: href rewrite "/shop/contents/access_en.aspx";
}
a[href="/contents/guide/access.html"] {
  attribute: href rewrite "/shop/contents/access_en.aspx";
}
a[href="/contents/guide/gaiyo.html"] {
  attribute: href rewrite "/shop/contents/gaiyo_en.aspx";
}
a[href="/contents/guide/access.html"] {
  attribute: href rewrite "/shop/contents/access_en.aspx";
}
a[href="/contents/guide/about.html"] {
  attribute: href rewrite "/shop/contents/about_en.aspx";
}
a[href="/contents/guide/h_qa.html"] {
  attribute: href rewrite "/shop/contents/h_qa_en.aspx";
}
