div#header, div#lnv, div.colorboximg {
  attribute: cltx add 'exclude';
}

a[href="/contents/guide/about.html"] {
  attribute: href rewrite "/shop/contents/about_en.aspx";
}
a[href#="/shop/contact/contact.aspx?.+"] {
  attribute: href rewrite "mailto:houseki-h@u-s.co.jp?subject=%E3%80%90E-mail contact%E3%80%91&body=Please fill in the content";
}
a[href="/contents/guide/h_qa.html"] {
  attribute: href rewrite "/shop/contents/h_qa_en.aspx";
}
a[href="/contents/guide/gaiyo.html"] {
  attribute: href rewrite "/shop/contents/gaiyo_en.aspx";
}
a[href="/contents/guide/access.html"] {
  attribute: href rewrite "/shop/contents/access_en.aspx";
}
a[href="/contents/guide/access.html"] {
  attribute: href rewrite "/shop/contents/access_en.aspx";
}
a[href="/contents/guide/gaiyo.html"] {
  attribute: href rewrite "/shop/contents/gaiyo_en.aspx";
}
a[href="/contents/guide/access.html"] {
  attribute: href rewrite "/shop/contents/access_en.aspx";
}
a[href="/contents/guide/about.html"] {
  attribute: href rewrite "/shop/contents/about_en.aspx";
}
a[href="/contents/guide/h_qa.html"] {
  attribute: href rewrite "/shop/contents/h_qa_en.aspx";
}

@preprocess {
  replace: 'CTw4c27_jQ-7MNhtjqPCnPGemtdA4orlV9cizUi-MUM' 'dNy9cw56eB08kA7JWqsCtd6xqFMCz92U3rJE8Gfclt0';
}