@engine default {
  eid: CR-JK;
  dictionaries: "NASUSHIOBARA_DIC NASUSHIOBARA_TM CROSS_TM";
}
@engine nasushiobara/main {
  eid: CR-JK;
  dictionaries: "NASUSHIOBARA_DIC_MASTER NASUSHIOBARA_TM_MASTER";
}
@engine nasushiobara/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}
