@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOVT GOURMET INTERNET";
}
@engine miguide/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOVT GOURMET";
}
@engine miguide/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOVT GOURMET";
}

// @RULESET
// URL #= http://miguide.jp/iwataya/list.*
@preprocess{
replace: 'UA-54839635-1' 'UA-54839635-2';
}

// @RULESET
// URL #= http://miguide.jp/today/list.*
@preprocess{
replace: 'UA-48397272-1' 'UA-48397272-4';
}

// @RULESET
// URL #= http://miguide.jp/fmitsukoshi/list.*
@preprocess{
replace: 'UA-58509441-1' 'UA-58509441-2';
}

// @RULESET
// URL #= http://miguide.jp/ginza/list.*
@preprocess{
replace: 'UA-53068929-1' 'UA-53068929-3';
}
