#site-translate-header-wrapper{
	width: 100% !important;
    height: 44px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
}

#site-translate-message{
	display: table-cell;
    height: 38px;
    vertical-align: middle;
    width: 5000px;
}

#site-translate-header-wrapper p{
	font-size: 10px;
    line-height: normal;
}

.header_outer {
	top: 44px;
}
