@engine default {
  eid: CR-JK;
  dictionaries: "SAPPORO-DOME_DIC SAPPORO-DOME_TM CROSS_TM";
}

@engine sapporo-dome/main {
  eid: CR-JK;
  dictionaries: "SAPPORO-DOME_DIC_MASTER SAPPORO-DOME_TM_MASTER";
}