@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT INTERNET";
}
@engine kumamoto/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT";
}
@engine kumamoto/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT";
}



@rewrite RewriteConvertedPDF {
  if (absurl matches "http://www.city.kumamoto.kumamoto.jp/(.+\\.pdf)") return "http://pdf-tmp.transer.com.e.fm.hp.transer.com/{$1}/";
  apply "@RewriteHtmlUrlAttribute";
}
a[href] {
  attribute: href rewrite "@RewriteConvertedPDF";
}
