@preprocess {
  replace: '(<a href="\\*" onclick="window\.print\\(\\)">印刷する</a>)' '<p>$1</p>';
}

div[id=KEY-SEARCH-BOX]{
attribute: cltx add 'exclude';
}

// @RULESET
// URL #= http://www.biccamera.co.jp/sport_activity/.*
div#banner {
 attribute: clftx add 'exclude';
}