#site-translate-header-wrapper{
	width:auto !important;
}

#site-translate-header-wrapper p {
	letter-spacing: normal;
}

#contentHead.add-head-top, #contentHead.add-head-cat {
    top: 28px !important;
}

#contentHead.add-head-top.scroll, #contentHead.add-head-cat.scroll {
	top: 0 !important;
}

.categoryTop .mainSlideArea:lang(en) {
    margin: 28px auto 0!important;
}

.sp_translation #site-translate-header-wrapper{
	width:100% !important;
	height:44px;
	position: fixed;
	top:0;
}

.sp_translation #site-translate-header-wrapper p{
	font-size:10px;
	line-height: 12px;
}

.sp_translation #site-translate-message{
	display:table-cell;
	height:44px;
	vertical-align:middle;
	width:5000px;
}

.sp_translation #contentHead.add-head-top, .sp_translation #contentHead.add-head-cat {
    top: 48px !important;
}

.sp_translation.categoryTop .mainSlideArea {
    margin: 44px auto 0 !important;
}

.sp_translation.categoryPoint #contentHead {
    margin: 44px auto 20px;
}

#contentBody {
    margin: 44px auto 0;
}
