#site-translate-header-wrapper{
	border: none;
	width:100% !important;
	position: fixed;
	top:0;
	z-index: 999;
}

#site-translate-header-wrapper p {
	font-size:10px;
	line-height: normal;
}

#site-translate-message{
	display: block;
	table-cell;
	vertical-align:middle;
    padding: 5px;
}

.site-header {
    top: 22px;
}

.page-header {
    margin: 22px auto 0;
}

.route-box p{
	font-size: 11px;
	line-height: 1.423;
}

ruby > rt {
	display: none;
}

.event-grid__title {
    word-break: break-word;
}

@media screen and (max-width: 767px) {

	#site-translate-header-wrapper{
		height: 44px;
	}

	.site-header {
	    top: 44px;
	}

	.page-header {
	    margin: 44px auto 0;
	}

}

@media screen and (max-width: 420px){

	th {
		white-space: normal;
	}

}
