@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM FASHION GOURMET INTERNET";
}
@engine cubicplaza/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM FASHION GOURMET";
}
@engine cubicplaza/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM FASHION GOURMET";
}

@postprocess {
replace:'<dt><!--cltx-->Rope 72 system</dt>' '<dt style="font-size: 11px;"><!--cltx-->Rope 72 system</dt>';
replace:'<dt><!--cltx-->New side 81 system</dt>' '<dt style="margin-left: -2px;" style="font-size: 10px;"><!--cltx-->New side 81 system</dt>';
}