@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM DEPART BRAND FASHION GOURMET INTERNET";
}
@engine yokohama-mores/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION GOURMET";
}
@engine yokohama-mores/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION GOURMET";
}

@postprocess {
  replace: '(<[^<]*#footer_container[^>]*>)' '$1<p style="text-align:center;margin-bottom:6px" cltx>This page is translated using machine translation. Please note that the content may not be 100% accurate.</p>';
}
