@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM IT TOURISM ART INTERNET";
}
@engine navikan/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER IT TOURISM ART";
}
@engine navikan/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER IT TOURISM ART";
}

@preprocess {
  replace: '(<div.*?class="panel-grid-cell".*?)(id="pgc-9023-0-2".*?>)' '$1style="position: relative; top: 0; left:170px;"$2';
}

