@engine default {
  eid: CR-JC;
  dictionaries: "FUNABASHI_DIC FUNABASHI_TM CROSS_DIC CROSS_TM";
}
@engine funabashi/main {
  eid: CR-JC;
  dictionaries: "FUNABASHI_DIC_MASTER FUNABASHI_TM_MASTER";
}
@engine funabashi/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

@postprocess {
 replace: '<p class="btnClose"><!--cltx-->把×闭起来</p>' '<p class="btnClose"><!--cltx-->× 把闭起来</p>';
}