#black-studio-tinymce-3 li {
  attribute: style add 'height: auto;';
}

#header {
  attribute: style add 'height: 110px;';
}

#header > .inner {
  attribute: style add 'margin-top: 20px;';
}

// @RULESET
// URL #=http://kigyouhoumu-soleil\.jp/.*
@preprocess {
  replace: '(<div class="header">)' "<header></header>$1";
}