@engine default {
  eid: CR-JE;
  dictionaries: "SHIBUYAKUKANKO_DIC SHIBUYAKUKANKO_TM CROSS_DIC CROSS_TM GOVT TOURISM INTERNET";
}
@engine shibuyakukanko/main {
  eid: CR-JE;
  dictionaries: "SHIBUYAKUKANKO_DIC_MASTER SHIBUYAKUKANKO_TM_MASTER GOVT TOURISM";
}
@engine shibuyakukanko/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT TOURISM";
}
