@engine default {
  eid: CR-JC;
  dictionaries: "TOIN_DIC TOIN_TM CROSS_DIC CROSS_TM GOVT";
}
@engine toin/main {
  eid: CR-JC;
  dictionaries: "TOIN_DIC_MASTER TOIN_TM_MASTER GOVT";
}
@engine toin/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT";
}

body {
  attribute: lang add 'zh';
}

@rewrite rewriteToOriginalURL {
  if (absurl matches "http://www\\.town\\.toin\\.lg\\.jp\\.c\\.dx\\..+") return "http://www.town.toin.lg.jp/";
}
div#head > div#head_upper > ul#head_links > li > a[href] {
  attribute: href rewrite "@rewriteToOriginalURL";
}
