@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT";
}
@engine wakayama/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT";
}
@engine wakayama/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT";
}

body {
  attribute: lang add 'zh';
}

// @RULESET
// URL #= http://www\.town\.yuasa\.wakayama\.jp/publics/index/65/.*
span{
 text-flow: break;
}
