@engine default {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine snowtomamu/main {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine snowtomamu/cross {
  eid: MS-JATH;
  dictionaries: "CROSS_TM_MASTER";
}

// @RULESET
// URL = http://www.snowtomamu.jp/special/xmas/
@postprocess {
replace: '<p class="logo"><a href="/winter/">' '<p class="logo"><a href="http://www.snowtomamu.jp.e.vc.hp.transer.com/winter/" class="cl-norewrite">';
}