@engine default {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine snowtomamu/main {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine snowtomamu/cross {
  eid: MS-JATH;
  dictionaries: "CROSS_TM_MASTER";
}
