@engine default {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine snowtomamu/main {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine snowtomamu/cross {
  eid: MS-JATH;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
replace: 'UA-5864174-1' 'UA-5864174-6';
}

// @RULESET
// URL = http://www.snowtomamu.jp/special/xmas/
@postprocess {
replace: '<p class="logo"><a href="/winter/">' '<p class="logo"><a href="http://www.snowtomamu.jp.e.vc.hp.transer.com/winter/" class="cl-norewrite">';
}

// @RULESET
// URL #= http://www\.snowtomamu\.jp/winter/
@postprocess {
replace: '<a href="http://www.snowtomamu.jp/winter/reserve/index.php#tower">' '<a href="http://www.snowtomamu.jp/winter/reserve_th/index.php#tower" class="cl-norewirte">';
}