@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM IT INTERNET";
}
@engine biccamera-test/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER IT";
}
@engine biccamera-test/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER IT";
}
@preprocess {
 replace:'<!-- crosslanguage-e:show(.*?)/crosslanguage-e:show -->' '$1';
}

.sp_padding > .pc_w800 > div > .sp_w11per {
 attribute: style add 'width:auto !important;';
}

.bcs_openContent > .bcs_checkList > form > p.bcs_btn > input{
 attribute: style add 'width:240px; font-size:90%;';
}

.bcs_itemOrderBox_parent > .bcs_detail > dt {
 attribute: style add 'width: auto;';
}

.bcs_red {
 attribute: style add 'clear: both;display: block;';
}
