@engine default {
  eid: CR-JCT;
  dictionaries: "KEIONET_DIC KEIONET_TM CROSS_TM DEPART NETSHOP FASHION";
}

body {
  attribute: style add "font-family:SimSun,arial,helvetica,clean,sans-serif;";
}