@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION TOURISM GOURMET INTERNET";
}
@engine perie/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION TOURISM GOURMET";
}
@engine perie/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION TOURISM GOURMET";
}

@preprocess {
  replace:'<!-- crosslanguage-e:show(.*?)/crosslanguage-e:show -->' '$1';
}

@postprocess {
  replace:'<title cltx>Station building portal site &quot;station Para&quot;</title>' '<title cltx>Station building portal site &quot;ekipara&quot;</title>';
}

@preprocess {
  replace: 'UA-22823163-1' 'UA-22823163-2';
}

@preprocess {
  replace: '<span class="y_name">' '<span class="y_name" style="white-space: nowrap;">';
}

@preprocess {
  replace: '<a href="nishichiba/">' '<a style="white-space: nowrap;" href="nishichiba/">';
}