@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM BUSINESS";
}
@engine salvatore/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER BUSINESS";
}
@engine salvatore/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER BUSINESS";
}

@preprocess {
	replace: 'UA-1514395-4' 'UA-1514395-28';
}
