@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine ginsyou/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine ginsyou/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

@preprocess {
 replace: '開放的な客室露天風呂でお二人だけの上質な時間' '只两个人在开放性的客房露天浴池优质的时间';
 replace: '客室露天から見上げた夜空' '从客房露天向上看的夜空';
 replace: '個室風の食事処\\(白さつま\\)' '包房式的餐厅\\(堆积白\\)';
 replace: '空と海と露天風呂がひとつになった様な景色\\(天空野天風呂\\)' '好像空中和海和露天浴池变成了一个的风景\\(空中露天浴池\\)';
 replace: '玄関  お待ち申し上げております' '等候门口';
}
