@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine mitsui-shopping-park/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine mitsui-shopping-park/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
	replace: 'UA-20131188-3' 'UA-20131188-6';
	replace: 'UA-106973307-1' 'UA-106973307-5';
}
