@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine mitsui-shopping-park/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine mitsui-shopping-park/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
	replace:'<!-- crosslanguage-k:show(.*?)/crosslanguage-k:show -->' '$1';
	replace: 'UA-20131188-3' 'UA-20131188-6';
	replace: 'UA-106973307-1' 'UA-106973307-5';
	replace: 'UA-9454978-1' 'UA-9454978-5';
}

// @RULESET
// URL #= //mitsui-shopping-park.com/lalaport/tokyo-bay/.*
@preprocess{
	replace:'UA-9631794-1' 'UA-9631794-8';
}

// @RULESET
// URL #= //mitsui-shopping-park.com/lalaport/kashiwa/.*
@preprocess{
	replace:'UA-15924231-1' 'UA-15924231-5';
}

// @RULESET
// URL #= //mitsui-shopping-park.com/lalaport/toyosu/.*
@preprocess{
	replace:'UA-15923935-1' 'UA-15923935-6';
}

// @RULESET
// URL #= //mitsui-shopping-park.com/lalaport/tachikawa/.*
@preprocess{
	replace:'UA-65626077-1' 'UA-65626077-6';
}

// @RULESET
// URL #= //mitsui-shopping-park.com/lalaport/yokohama/.*
@preprocess{
	replace:'UA-15924236-1' 'UA-15924236-6';
}

// @RULESET
// URL #= //mitsui-shopping-park.com/lalaport/ebina/.*
@preprocess{
	replace:'UA-63592179-1' 'UA-63592179-5';
}

// @RULESET
// URL #= //mitsui-shopping-park.com/lalaport/hiratsuka/.*
@preprocess{
	replace:'UA-78679854-1' 'UA-78679854-5';
}

// @RULESET
// URL #= //mitsui-shopping-park.com/lalaport/shinmisato/.*
@preprocess{
	replace:'UA-15925319-1' 'UA-15925319-5';
}

// @RULESET
// URL #= //mitsui-shopping-park.com/lalaport/fujimi/.*
@preprocess{
	replace:'UA-57468700-1' 'UA-57468700-6';
}

// @RULESET
// URL #= //mitsui-shopping-park.com/lalaport/numazu/.*
@preprocess{
	replace:'UA-135023779-1' 'UA-135023779-5';
}

// @RULESET
// URL #= //mitsui-shopping-park.com/lalaport/minatoaquls/.*
@preprocess{
	replace:'UA-114911979-1' 'UA-114911979-5';
}

// @RULESET
// URL #= //mitsui-shopping-park.com/lalaport/koshien/.*
@preprocess{
	replace:'UA-15204895-1' 'UA-15204895-5';
}

// @RULESET
// URL #= //mitsui-shopping-park.com/lalaport/expocity/.*
@preprocess{
	replace:'UA-68550320-1' 'UA-68550320-5';
}

// @RULESET
// URL #= //mitsui-shopping-park.com/lalaport/izumi/.*
@preprocess{
	replace:'UA-52936870-1' 'UA-52936870-5';
}

// @RULESET
// URL #= //mitsui-shopping-park.com/divercity-tokyo/.*
@preprocess{
	replace:'UA-28846109-1' 'UA-28846109-5';
}

// @RULESET
// URL #= //mitsui-shopping-park.com/lazona-kawasaki/.*
@preprocess{
	replace:'UA-17766146-1' 'UA-17766146-7';
}

// @RULESET
// URL #= //mitsui-shopping-park\.com/urban/.*
@preprocess{
	replace:'<a href="/urban/muromachi/index.html"(.*?)>' '<a href="https://mitsui-shopping-park.com/urban/coredo-muromachi/k/index.html"$1 class="cl-norewrite">';
	replace:'<a href="/urban/mitsuitower/index.html"(.*?)>' '<a href="https://mitsui-shopping-park.com/urban/coredo-muromachi/k/index.html"$1 class="cl-norewrite">';
}
