@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine mitsui-shopping-park/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine mitsui-shopping-park/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
	replace:'<!-- crosslanguage-k:show(.*?)/crosslanguage-k:show -->' '$1';
	replace: 'UA-20131188-3' 'UA-20131188-6';
	replace: 'UA-106973307-1' 'UA-106973307-5';
	replace: 'UA-9454978-1' 'UA-9454978-5';

}

// @RULESET
// URL #= //mitsui-shopping-park\.com/urban/.*
@preprocess{
	replace:'<a href="/urban/muromachi/index.html"(.*?)>' '<a href="https://mitsui-shopping-park.com/urban/coredo-muromachi/k/index.html"$1 class="cl-norewrite">';
	replace:'<a href="/urban/mitsuitower/index.html"(.*?)>' '<a href="https://mitsui-shopping-park.com/urban/coredo-muromachi/k/index.html"$1 class="cl-norewrite">';
}
