@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT TOURISM GOURMET INTERNET";
}
@engine visit-sumida/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT TOURISM GOURMET";
}
@engine visit-sumida/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT TOURISM GOURMET";
}

@preprocess{
replace: 'UA-64756533-1' 'UA-64756533-2';
}