@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine hamleys/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine hamleys/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

body {
  attribute: lang add 'zh';
}

@preprocess {
	replace:'UA-69110980-9' 'UA-69110980-14';	/* Googleアナリティクス */
}
