@engine default {
  eid: CR-JC;
  dictionaries: "STATRAVEL_DIC STATRAVEL_TM CROSS_DIC CROSS_TM";
}

@engine statravel/main {
  eid: CR-JC;
  dictionaries: "STATRAVEL_DIC_MASTER STATRAVEL_TM_MASTER";
}

body {
  attribute: lang add 'zh';
}
