@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM IT SYSTEM COMPUTER INTERNET";
}
@engine biccamera/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER IT SYSTEM COMPUTER";
}
@engine biccamera/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER IT SYSTEM COMPUTER";
}

// @RULESET
// URL ^= http://www.biccamera.co.jp/shoplist/s_higashishin_map.html
a[href='http://mlttpl-mapserv.incrementp.co.jp/multi/spot/tpl/ja/map.php?&MAP=E139.42.22.76N35.41.17.01&CMR=cross_lng&KEY=bd96402192c1494895673a1e17431f32e33f507e&NM=%E3%83%93%E3%83%83%E3%82%AF%E3%83%AD%20%E3%83%93%E3%83%83%E3%82%AF%E3%82%AB%E3%83%A1%E3%83%A9%20%E6%96%B0%E5%AE%BF%E6%9D%B1%E5%8F%A3%E5%BA%97&ZM=10'] {
  attribute: href rewrite 'http://mlttpl-mapserv.incrementp.co.jp/multi/spot/tpl/en/map.php?&MAP=E139.42.22.76N35.41.17.01&CMR=cross_lng&KEY=00576897cc6cb224f4c34fc2568cf3312c8068aa&NM=BICQLO%20BIC%20CAMERA%20Shinjuku%20East%20Store&ZM=10';
}