@engine default {
  eid: BR-JA.DE.EN;
  dictionaries: "MUSASHI-ENGINEERING_DIC MUSASHI-ENGINEERING_TM CROSS_DIC CROSS_TM SYSTEM MECHA CHEMICAL";
}
@engine musashi-engineering/main {
  eid: BR-JA.DE.EN;
  dictionaries: "MUSASHI-ENGINEERING_DIC_MASTER MUSASHI-ENGINEERING_TM_MASTER SYSTEM MECHA CHEMICAL";
}
@engine musashi-engineering/cross {
  eid: BR-JA.DE.EN;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER SYSTEM MECHA CHEMICAL";
}

@rewrite RewriteInquiry {
  if (absurl matches "^http://www\\.musashi-engineering\\.co\\.jp/inquiry/?$") return "http://www.musashi-engineering.co.jp/germany/inquiry/";
  if (absurl equals "http://www.musashi-engineering.co.jp/inquiry/inquiry.php") return "http://www.musashi-engineering.co.jp/germany/inquiry/inquiry.php";
  if (absurl equals "http://www.musashi-engineering.co.jp/inquiry/request.php") return "http://www.musashi-engineering.co.jp/germany/inquiry/request.php";
  if (absurl matches "^http://www\\.musashi-engineering\\.co\\.jp/member/?$") return "http://www.musashi-engineering.co.jp/germany/member/";
  if (absurl equals "http://www.musashi-engineering.co.jp/member/login.php") return "http://www.musashi-engineering.co.jp/germany/member/login.php";
  if (absurl equals "http://www.musashi-engineering.co.jp/member/regist.php") return "http://www.musashi-engineering.co.jp/germany/member/regist.php";
  apply "@RewriteHtmlUrlAttribute";
}

a[href] {
  attribute: href rewrite @RewriteInquiry;
}

@postprocess {
// ↓ 2017.08.14 add ↓
 replace: 'Verhütung der Flüssig<b><span style="color:#FF0000">keit, die klettert, um Sp</span></b>itze zu ärgern,' '<b><span style="color:#FF0000">Verhütung der Flüssigkeit, die klettert, um Spitze zu ärgern</span></b>,';
 replace: '<b><span style="color:#FF0000">che und weg</span></b>werfbare' 'che und <b><span style="color:#FF0000">wegwerfbare</span></b>';
 replace: 'Gerade Form der Maue<b><span style="color:#FF0000">r in Spritze</span></b>' '<b><span style="color:#FF0000">Gerade Form der Mauer in Spritze</span></b>';
 replace: '<b><span style="color:#FF0000">hohe Präzisionsfüllung schnel</span></b>l' '<b><span style="color:#FF0000">hohe Präzisionsfüllung schnell</span></b>';
 replace: 'frei <b><span style="color:#FF0000">vom breiten Gebiet</span></b> Überzug' '<b><span style="color:#FF0000">frei vom breiten Gebiet Überzug</span></b>';
 replace: '<b><span style="color:#FF0000">Max .250</span></b> zurechtkommen \\* 330mm' '<b><span style="color:#FF0000">Max .250 \\* 330mm</span></b> zurechtkommen';
 replace: 'Ich erkenne Verkleinerung von<b><span style="color:#FF0000"></span></b>' 'Ich erkenne <b><span style="color:#FF0000">Verkleinerung</span></b> von';
// ↑ 2017.08.14 add ↑
 replace: '<b><span style="color:#FF0000">Weltweit schn</span></b>ellste Dosierfunktion' '<b><span style="color:#FF0000">Weltweit schnellste</span></b> Dosierfunktion\.';
}
