@engine default {
  eid: BR-JA.FR.EN;
  dictionaries: "AEONMALL_TM AEONMALL_DIC CROSS_DIC CROSS_TM INTERNET FASHION GOURMET";
}
@engine narita-aeonmall/main {
  eid: BR-JA.FR.EN;
  dictionaries: "AEONMALL_TM_MASTER AEONMALL_DIC_MASTER FASHION GOURMET";
}
@engine narita-aeonmall/cross {
  eid: BR-JA.FR.EN;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION GOURMET";
}

a[href$="/floorguide/"] {
  attribute: href rewrite "@RewriteFloorGuide";
}

@rewrite RewriteFloorGuide {
  if (absurl matches "(http://narita-aeonmall\\.com)/floorguide/(.*)") return "{$1}/floorguide-fr/{$2}";
}

a[href$="/shopguide/floorguide/"] {
  attribute: href rewrite "http://narita-aeonmall.com/shopguide/floorguide_fr/";
}
