@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM COMPUTER";
}
@engine openwifi/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER COMPUTER";
}
@engine openwifi/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER COMPUTER";
}

header,
.owa-around-list__map-iw-location > a > span,
.owa-spot-genre-toggles > .el-inner > button > i,
.container > p {
 attribute:cltx add 'exclude';
}

@postprocess {
 replace: '<!--cltx--><i class="fa(.*?)">' '<i class="fa$1">';
}