@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM COMPUTER";
}
@engine openwifi/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER COMPUTER";
}
@engine openwifi/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER COMPUTER";
}

.owa-around-list__map-iw-location > a > span,
.container > p {
 attribute:cltx add 'exclude';
}
