@engine default {
  eid: MS-JAID;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine tohogakuen/main {
  eid: MS-JAID;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine tohogakuen/cross {
  eid: MS-JAID;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
	replace: '/img/toho/keyv_toho_01.jpg' '/img/toho/keyv_toho_01_id.jpg';
	replace: '/img/toho/keyv_toho_02.jpg' '/img/toho/keyv_toho_02_id.jpg';
	replace: '/img/toho/keyv_toho_03.jpg' '/img/toho/keyv_toho_03_id.jpg';
	replace: '/img/toho/keyv_toho_04.jpg' '/img/toho/keyv_toho_04_id.jpg';
	replace: '/img/toho/keyv_toho_05.jpg' '/img/toho/keyv_toho_05_id.jpg';
	replace: '/img/movie/keyv_movie_01.jpg' '/img/movie/keyv_movie_01_id.jpg';
	replace: '/img/movie/keyv_movie_02.jpg' '/img/movie/keyv_movie_02_id.jpg';
	replace: '/img/movie/keyv_movie_03.jpg' '/img/movie/keyv_movie_03_id.jpg';
	replace: '/img/movie/keyv_movie_04.jpg' '/img/movie/keyv_movie_04_id.jpg';
	replace: '/img/movie/keyv_movie_05.jpg' '/img/movie/keyv_movie_05_id.jpg';
	replace: '/img/onkyo/keyv_onkyo_01.jpg' '/img/onkyo/keyv_onkyo_01_id.jpg';
	replace: '/img/onkyo/keyv_onkyo_02.jpg' '/img/onkyo/keyv_onkyo_02_id.jpg';
	replace: '/img/announce/keyv_announce_01.jpg' '/img/announce/keyv_announce_01_id.jpg';
	replace: '/img/announce/keyv_announce_02.jpg' '/img/announce/keyv_announce_02_id.jpg';
	replace: '/img/announce/keyv_announce_03.jpg' '/img/announce/keyv_announce_03_id.jpg';
	replace: '/img/announce/keyv_announce_04.jpg' '/img/announce/keyv_announce_04_id.jpg';
	replace: '/img/announce/keyv_announce_05.jpg' '/img/announce/keyv_announce_05_id.jpg';
	replace: '/img/guidelines/keyv_abroad_briefing.jpg' '/img/guidelines/keyv_abroad_briefing_en.jpg';
}
