#site-translate-header-wrapper{
	width:100% !important;
	height:44px;
	position: fixed;
	top:0;
}

#site-translate-header-wrapper p{
	font-size:10px;
	line-height: 12px;
}

#site-translate-message{
	display:table-cell;
	height:44px;
	vertical-align:middle;
	width:5000px;
}

#header {
    top: 44px;
}

#navi {
    top: 134px;
}

#topicPath {
    margin-top: 174px;
}

.hTel {
    margin: 5px 0;
}

.keyvNew .owl-theme {
    top: 44px;
}

#pageHome .sideList {
    top: 214px;
}

.pageSchool #description {
    margin: 15px 0 0 7px;
}

.buttonBlock .buttonList li {
    float: none;
    width: 32%;
    display: inline-block;
	vertical-align: top;
}

.buttonBlock:lang(en) .btnFirst a span {
    font-size: 77%;
}

.buttonBlock:lang(id) .btnFirst a span {
    font-size: 110%;
}

/*追加*/
#navi {
    width: 96%;
}
.hRight {
	margin-right: -40px;
}

#navi .naviExtra .naviList li{
	margin: 0 20px 0 0;
}

#navi .naviExtra .naviList li:last-child {
    margin: 0;
}
#navi > ul > li > a {
    color: #333;
    font-size: 10px;
}
.pageSchool #description {
    font-size: 11px;
}
.hTel {
    font-size: 13px;
}

#naviGuidelines .naviExtra .naviList li:last-child ul li.first {
	height: 0;
    padding: 0;
}

@media screen and (min-width: 737px) {

	html:lang(vi) .pageSchool #description,
	html:lang(id) .pageSchool #description {
	    margin: 15px 0 0 0;
	}

	html:lang(id) .hLeft {
	    width: 38.5%;
	}

	html:lang(id) .hRight {
	    width: 60.8%;
	    margin-right: 0;
	}

	html:lang(vi) .hLeft {
	    width: 42%;
	}

	html:lang(vi) .hRight {
	    width: 57.5%;
	    margin-right: 0;
	}

	html:lang(vi) .hElement,
	html:lang(id) .hElement {
	    text-align: left;
	}

	html:lang(vi) .hElement .logoSmall,
	html:lang(id) .hElement .logoSmall {
	    padding-right: 0;
	}

}

@media screen and (max-width: 736px) {

	#topicPath {
	    margin-top: 99px;
	}

	.buttonBlock .buttonList li {
	    width: 100%;
	}

}

@media screen and (max-width: 980px) {
	.pageSchool #description {
		display: block;
		margin: 0;
	}
}
