@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine nambaparks/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine nambaparks/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess{
replace: '\"nambaparks\.com\"' '\"nambaparks\.com\.k\.uq\.hp\.transer\.com\"';
replace: 'UA-48132452-1' 'UA-48132452-6';
}