@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine sapporo-esta/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine sapporo-esta/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
  replace: "www\.jr-tower\.com\"" "www.jr-tower.com.k.os.hp.transer.com\"";
  replace: "www\.apiadome\.com\"" "www.apiadome.com.k.ot.hp.transer.com\"";
  replace: "www\.e-paseode\.com\"" "www.e-paseode.com.k.ov.hp.transer.com\"";
  replace: "www\.stellarplace\.net\"" "www.stellarplace.net.k.ow.hp.transer.com\"";
  replace: "www\.jr-tower\.com/" "www.jr-tower.com.k.os.hp.transer.com/";
  replace: "www\.apiadome\.com/" "www.apiadome.com.k.ot.hp.transer.com/";
  replace: "www\.e-paseode\.com/" "www.e-paseode.com.k.ov.hp.transer.com/";
  replace: "www\.stellarplace\.net/" "www.stellarplace.net.k.ow.hp.transer.com/";
}