#site-translate-header-wrapper{
	width: 100% !important;
    box-sizing: border-box;
    position: fixed;
    top: 0;
	height: 21px;
}

#site-translate-message{
	padding: 2px;
}

#site-translate-header-wrapper p{
	font-size: 10px;
    line-height: 12px;
}

		.header {
		    width: 100%;
}

@media screen and (max-width: 736px) {

		.header {
		    top: 20px;
	}
}
