@engine default {
  eid: CR-JCT;
  dictionaries: "AEONMALL_TM AEONMALL_DIC CROSS_DIC CROSS_TM";
}
@engine narita-aeonmall/main {
  eid: CR-JCT;
  dictionaries: "AEONMALL_TM_MASTER AEONMALL_DIC_MASTER";
}
@engine narita-aeonmall/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}