p.btn, .paging, .tismenu, #tw , #fb{
  attribute: clftx add 'exclude';
}

#randomad {
  attribute: cltx add 'exclude';
}

@preprocess {
  replace: '<span class="printl">' '<span class="printl"><br style="display:none;">';
}

@preprocess {
  replace: '<caption>(.*?)<span>(.*?)</span></caption>' '<caption>$1<br style="display:none;"><span>$2</span></caption>';
}

// @RULESET
// URL #= http://www\.city\.musashino\.lg\.jp/norimono_chuurin_chuusha/mu_bus/.+(?:/|/index.html)$
ul.listlink li {
  content: translate split exclude "\\s*　\\s*";
}

// @RULESET
// URL #= http://www\.city\.musashino\.lg\.jp/norimono_chuurin_chuusha/mu_bus/.+/[0-9]+\.html
table[class#="timetable[12]"] td, div#content > h1, ul.objectlink > li {
  content: translate split exclude "\\s*　\\s*";
}

// @RULESET
// URL ^= http://www.city.musashino.lg.jp/shisetsu_annai/mubus_map/
ul.objectlink > li, ul.lmenu > li, div#content > h1 {
  content: translate split exclude "\\s*　\\s*";
}
