@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOVT GOURMET INTERNET JICHITAI SYSDB";
}
@engine city-katsushika/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOVT GOURMET JICHITAI SYSDB";
}
@engine city-katsushika/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOVT GOURMET JICHITAI SYSDB";
}

@preprocess {
  replace: 'lang=ja_jp' 'lang=en_us';
}