// @RULESET
// URL = http://jikei-ur.umin.jp/css/main.css
@preprocess {
  replace: 'body \\{' 'div#clwrapper {';
  replace: 'body#bg-top' 'div#bg-top';
  replace: 'body#bg-resident' 'div#bg-resident';
}
