@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM";
}
@engine ryobi-shodoshima/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM";
}
@engine ryobi-shodoshima/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM";
}

@preprocess {
	replace: 'https://www.google.com/maps/embed\\?pb=!1m18!1m12!1m3!1d3283.9640769252514!2d133.98403131522969!3d34.6050698804592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x355409d204211bfb%3A0xed4e661589f824d4!2z44CSNzAyLTgwMDMg5bKh5bGx55yM5bKh5bGx5biC5Lit5Yy65paw56-J5riv77yZ4oiS77yR!5e0!3m2!1sja!2sjp!4v1554870047803!5m2!1sja!2sjp' 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6567.92814439551!2d133.98622!3d34.60507!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x355409d204211bfb%3A0xed4e661589f824d4!2s9-1+Shinchikk%C5%8D%2C+Naka-ku%2C+Okayama%2C+702-8003!5e0!3m2!1szh-TW!2sjp!4v1559102308459!5m2!1szh-TW!2sjp';
	replace: 'https://www.google.com/maps/embed\\?pb=!1m18!1m12!1m3!1d3288.5367908794933!2d134.16959641522666!3d34.48927328048933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35538a275eb3f5cf%3A0xf2b519c5500d62e4!2z44CSNzYxLTQxMDEg6aaZ5bed55yM5bCP6LGG6YOh5Zyf5bqE55S655Sy77yV77yR77yW77yV4oiS77yS77yQ77yR!5e0!3m2!1sja!2sjp!4v1554870068652!5m2!1sja!2sjp' 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6577.073603879058!2d134.171785!3d34.489273!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35538a275eb3f5cf%3A0xf2b519c5500d62e4!2s5165-201+K%C5%8D%2C+Tonosho%2C+Sh%C5%8Dzu-gun%2C+Kagawa+761-4101!5e0!3m2!1szh-TW!2sjp!4v1559102369654!5m2!1szh-TW!2sjp';
}
