@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine shibuya-parco/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine shibuya-parco/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
	replace:'UA-39192114-24' 'UA-39192114-36';
	replace:'<!-- crosslanguage-k:show(.*?)/crosslanguage-k:show -->' '$1';
	replace:'<li class="header__item header__item--language"><span>JP</span></li>' '<li class="header__item header__item--language"><span>KR</span></li>';
}
