@engine default {
  eid: CR-JE;
  dictionaries: "FUKUYAMA_DIC FUKUYAMA_TM CROSS_DIC CROSS_TM GOVT TOURISM INTERNET";
}

@engine fukuyama/main {
  eid: CR-JE;
  dictionaries: "FUKUYAMA_DIC_MASTER FUKUYAMA_TM_MASTER GOVT TOURISM";
}

@postprocess {
replace:'<title cltx>Fukuyama-shi homepage top page</title>' '<title cltx>Fukuyama city homepage top page</title>';
}