@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine outlet-rera/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine outlet-rera/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}
