@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine city-katsushika/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine city-katsushika/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@postprocess {
replace:'＜□□□(\(.+?\))＞' '＜한국어＞';
replace:'□□□□□□' '생활 가이드북';
replace:'<li lang="ko" xml:lang="ko" class="cl-notranslate"><a class="crosslanguage-translate-jako" href="#" title="□□□" cltx>한국어</a></li>' '<li lang="ko" xml:lang="ko" class="cl-notranslate"><a class="crosslanguage-translate-jako" href="#" title="한국어" cltx>한국어</a></li>';
}
