@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOVT GOURMET INTERNET";
}
@engine izumigo/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOVT GOURMET";
}
@engine izumigo/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOVT GOURMET";
}

a[href="https://asp.hotel-story.ne.jp/mail/izumigo/www/inquiry/"] {
  attribute: href rewrite "https://asp.hotel-story.ne.jp/mail/izumigo/www/inquiry/inquiry_e.asp";
}
