@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM FASHION GOURMET INTERNET";
}
@engine jrtk/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM FASHION GOURMET";
}
@engine jrtk/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM FASHION GOURMET";
}

// @RULESET
// URL #= http://www\.jrtk\.jp/search/
@postprocess {
 replace:'<span>walk </span>' 'walk </span>';
 replace:'<span>e walk </span>' 'e walk </span>';
 replace:'A 0-minute' '<span>A 0-minute</span>';
 replace:'A 1-minute' '<span>A 1-minute</span>';
 replace:'A 2-minute' '<span>A 2-minute</span>';
 replace:'A 3-minute' '<span>A 3-minute</span>';
 replace:'A 4-minute' '<span>A 4-minute</span>';
 replace:'A 5-minute' '<span>A 5-minute</span>'; 
 replace:'A 6-minute' '<span>A 6-minute</span>';   
 replace:'A 7-minute' '<span>A 7-minute</span>';    
 replace:'A 10-minute' '<span>A 10-minute</span>'; 
 replace:'A 11-minute' '<span>A 11-minute</span>';   
}

// @RULESET
// URL #= http://www\.jrtk\.jp/b-1gp/access/
@postprocess {
replace: '<span>Weekdays</span>' '<span style="font-size:10px">Weekdays</span>';
replace: '<span>Sat.Sun.holidays</span>' '<span style="font-size:10px">Sat.Sun.<br>holidays</span>';
}