@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION GOURMET TOURISM INTERNET";
}
@engine web-isp/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION GOURMET TOURISM";
}
@engine web-isp/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION GOURMET TOURISM";
}

@preprocess {
  replace: 'common/m-(home|news|floorguide|pointcard|parking|access)-ov.gif' 'common/_en/m-$1-ov.gif';
}