@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM NETSHOP FASHION DEPART";
}
@engine tokyu-dept/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER NETSHOP FASHION";
}
@engine tokyu-dept/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER NETSHOP FASHION";
}

// @RULESET
// URL = http://www.tokyu-dept.co.jp/honten/foreign/index.html/
a[href^="http://mlttpl-mapserv.incrementp.co.jp/"] {
  attribute: href rewrite "http://mlttpl-mapserv.incrementp.co.jp/multi/spot/tokyu05/zh1/map.php?&MAP=E139.41.55.61N35.39.28.14&CMR=tokyu05&KEY=a97aebcfde9201e00194d044ed3e50a9976ac4a2&NM=%E6%9D%B1%E6%80%A5%E7%99%BE%E8%B2%A8%E5%85%AC%E5%8F%B8%E7%B8%BD%E5%BA%97&ZM=10";
}

// @RULESET
// URL = http://www.tokyu-dept.co.jp/toyoko/foreign/index.html/
a[href^="http://mlttpl-mapserv.incrementp.co.jp/"] {
  attribute: href rewrite "http://mlttpl-mapserv.incrementp.co.jp/multi/spot/tokyu00/zh1/map.php?&MAP=E139.42.16.16N35.39.19.76&CMR=tokyu00&KEY=9818b4c6093ab4d10538a255d26623d9f24ff61b&NM=%E6%9D%B1%E6%80%A5%E7%99%BE%E8%B2%A8%E5%85%AC%E5%8F%B8%E6%9D%B1%E6%A9%AB%E5%BA%97&ZM=10";
}
