@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOURMET BEAUTY INTERNET";
}
@engine newotanisapporo/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOURMET BEAUTY";
}
@engine newotanisapporo/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOURMET BEAUTY";
}

dd {
  attribute: style add 'font-size:9px;';
}

table {
   attribute: style add 'font-size:10px;';
}

// @RULESET
// URL #= http://newotanisapporo.com/.*
@postprocess {
replace:"http://newotanisapporo.com/" "http://newotanisapporo.com.e.ta.hp.transer.com/";
}
