@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine newoman/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine newoman/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

body {
  attribute: lang add 'zh';
}

@postprocess {
  replace: 'type="text/javascript" src="/tb/webroot/js','type="text/javascript" src="http://www.newoman.jp/tb/webroot/js';
  replace: 'rel="stylesheet" href="/tb/webroot','rel="stylesheet" href="http://www.newoman.jp/tb/webroot';
}