@engine default {
  eid: CR-JC;
  dictionaries: "KIUI_DIC KIUI_TM CROSS_DIC CROSS_TM";
}

@engine kiui/main {
  eid: CR-JC;
  dictionaries: "KIUI_DIC_MASTER KIUI_TM_MASTER";
}

body {
  attribute: lang add 'zh';
}
