@engine default {
  eid: CR-JE;
  dictionaries: "MINAMIAWAJI_DIC MINAMIAWAJI_TM CROSS_DIC CROSS_TM GOVT TOURISM INTERNET";
}

@engine minamiawaji/main {
  eid: CR-JE;
  dictionaries: "MINAMIAWAJI_DIC_MASTER MINAMIAWAJI_TM_MASTER GOVT TOURISM INTERNET";
}