@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine nakashibetsu-airport/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine nakashibetsu-airport/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}
