#site-translate-header-wrapper{
	width: 100% !important;
    height: 44px;
    z-index: 101;
    box-sizing: border-box;
    position: fixed;
    top: 0;
}

#site-translate-message{
	display: table-cell;
    height: 38px;
    vertical-align: middle;
    width: 5000px;
}

#site-translate-header-wrapper p{
	font-size: 10px;
    line-height: 12px;
}

header {
    margin-top: -51px;
}

.clone-nav {
	top: 44px;
}

#all article {
	margin: 44px auto 0;
}

#main nav li {
    margin-top: 54px;
}

@media screen and (max-width: 750px) {

	.menu_btn {
	    top: 44px;
	}

}
