#site-translate-message{
	display: block;
	margin: 2% auto 0;
    padding: 0.5%;
	font-size: 90%;
	border: 1px dotted #111;
}

footer {
    padding: 25px 0 0;
}

@media screen and (max-width: 750px) {

	#site-translate-message{
		font-size: 80%;
	    padding: 2%;
	}
}
