@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION GOURMET INTERNET";
}
@engine terracemall-matsudo/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION GOURMET";
}
@engine terracemall-matsudo/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION GOURMET";
}

@preprocess {
	replace:'UA-142062176-1' 'UA-142062176-3';
}

// @RULESET
// URL #= //terracemall.com/matsudo/news/.*
@postprocess {
	replace:'<div class="name">(.*?)Miscellaneous goods</div>' '<div class="name">$1Miscellaneous<br>goods</div>';
}
