@preprocess {
  replace: '(<span class="deta">.*?</span>)' '<p>$1</p>';
  replace: '(<ul class="pc_gnav clearfix">.*?</li>.*?</li>)(.*?</li>.*?</li>)' '$1<!-- crosslanguage:delete -->$2<!-- /crosslanguage:delete -->';
  replace: '(<ul class="sp_gnav clearfix">.*?</li>.*?</li>)(.*?</li>.*?</li>)' '$1<!-- crosslanguage:delete -->$2<!-- /crosslanguage:delete -->';
  replace: '(<div class="top_bnr_area link_area">.*?</div>)' '<!-- crosslanguage:delete -->$1<!-- /crosslanguage:delete -->';
  replace: '(<div class="bnr_box01 clearfix">.*?</div>.*?</div>)' '<!-- crosslanguage:delete -->$1<!-- /crosslanguage:delete -->';
  replace: '(<ul class="ft_nav clearfix link_area">.*?</ul>.*?</ul>)(.*?</ul>.*?</ul>)' '$1<!-- crosslanguage:delete -->$2<!-- /crosslanguage:delete -->';
  replace: '(<p class="txt02")>(<img class="img02" src="\.\./common/img/txt_new_member02_02\.gif".*?</span>)' '$1 style="display: inline;">$2</p>$1 style="display: inline;">';
}

@postprocess {
  replace: '/buy/buy/' '/buy/';
  replace: '/rent/rent/' '/rent/';
  replace: '/search/img/' '/img/';
  replace: '/buy/common/img/' '/common/img/';
  replace: '/buy/search/buy/img/' '/buy/img/';
  replace: '/buy/search/common/img/' '/common/img/';
  replace: '/api/search/area_line/buy/img/' '/img/';
  replace: '(cas)(</strong>)(es)' '$2$1$3';
}

div#hd,
ul.tab_menu,
p.btn_main01,
div.top_bnr_area,
div.bnr_box01,
div.bnr_box02,
p.okiniri_bookmark,
div.pagetop,
ul.right_box,
p.right_btn,
p.btn01,
p.btn02,
p.btn04,
p.interview_img01,
p.interview_img02,
p.interview_img03,
p.left_img,
ul.ttl_nav,
div.btn_box,
ul.tab_search_result_menu,
div.photobox1,
div.photobox2,
div#det_slide,
button#cboxClose {
  attribute: cltx add 'exclude';
}

// @RULESET
// URL = http://listsothebysrealty.co.jp/sitemap.html
@preprocess {
  replace: '(<div class="sitemap_link">.*?</div>.*?</div>.*?</div>)(.*?</div>.*?</div>)' '$1<!-- crosslanguage:delete -->$2<!-- /crosslanguage:delete -->';
}

// @RULESET
// URL = http://listsothebysrealty.co.jp/mansiongallery/
// URL = http://listsothebysrealty.co.jp/mansiongallery/index.html
div.bg_nav01, div.bg_nav02, div.bg_nav03, div.bg_nav04, p.close {
  attribute: cltx add 'exclude';
}