body {
	letter-spacing: normal;
}

#site-translate-header-wrapper {
	width: auto !important;
}

.slick_ps a {
    width: 120px;
    text-align: center;
}

.main .free_emergency .emergency .h2, .main .free_emergency .emergency h2 {
    line-height: normal;
}

.design .main_naka .main_naka_new .date {
    width: 9em;
}

.main .free_emergency .emergency_lower .emergency_link {
    width: auto;
}

.main .more:lang(en) {
    max-width: 460px;
}

.slick-prev:lang(en), .slick-next:lang(en) {
    max-width: 75px;
    width: 75px;
}

.foot .j_s h2:lang(en) {
    font-size: 75%;
}

.foot .j_s_lower ul li:lang(en) {
    font-size: 80%;
}

@media only screen and (max-width: 768px) {

	.main h2 {
	    letter-spacing: normal;
	}

	.ilist h2, .ilist2 h2 {
	    line-height: normal;
	    font-size: 120%;
	}

	.slick_nav {
	    padding: 8px 2px;
	}

	.main .free_emergency .emergency_lower .emergency_link {
	    width: 100%;
	}

}
