@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM DEPART BRAND FASHION GOURMET INTERNET";
}
@engine canalcity/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION GOURMET";
}
@engine canalcity/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION GOURMET";
}

@postprocess {
  replace: '<a href="/floorguide" target="_blank">' '<a href="http://canalcity.co.jp/floorguide_en.pdf" target="_blank">';
}