@engine default {
  eid: CR-JC;
  dictionaries: "KYOTANGO_DIC KYOTANGO_TM CROSS_DIC CROSS_TM";
}

@engine kyotango/main {
  eid: CR-JC;
  dictionaries: "KYOTANGO_DIC_MASTER KYOTANGO_TM_MASTER";
}
