// @RULESET
// URL =http://www.atre.co.jp.e.ww.hp.transer.com/common/js_frontend/common.js
@preprocess {
    replace:'開く' 'Open';
    replace:'閉じる' 'Close';
}

// @RULESET
// URL =http://www.atre.co.jp/common/js_frontend/common.js
@preprocess {
    replace:'開く' 'Open';
    replace:'閉じる' 'Close';
}
