@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine city-sapporo/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine city-sapporo/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
	replace: '<title(.*?)>(.*?)札幌市議会(.*?)</title>' '<title $1>$2 삿포로시의회 $3</title>';
	replace: '<title(.*?)>(.*?)札幌市水道局(.*?)</title>' '<title $1>$2 삿포로시 수도국 $3</title>';
	replace: '<title(.*?)>(.*?)市立札幌病院(.*?)</title>' '<title $1>$2 시립삿포로병원 $3</title>';
	replace: '<title(.*?)>(.*?)札幌市中央図書館(.*?)</title>' '<title $1>$2 삿포로시 주오도서관 $3</title>';
	replace: '<title(.*?)>(.*?)札幌市円山動物園(.*?)</title>' '<title $1>$2 삿포로시 마루야마 동물원 $3</title>';
	replace: '<title(.*?)>(.*?)札幌市交通局(.*?)</title>' '<title $1>$2 삿포로시 교통국 $3</title>';
	replace: '<title(.*?)>(.*?)札幌市中央区(.*?)</title>' '<title $1>$2 삿포로시 주오구청 $3</title>';
	replace: '<title(.*?)>(.*?)札幌市北区(.*?)</title>' '<title $1>$2 삿포로시 기타구청 $3</title>';
	replace: '<title(.*?)>(.*?)札幌市東区(.*?)</title>' '<title $1>$2 삿포로시 히가시구청 $3</title>';
	replace: '<title(.*?)>(.*?)札幌市白石区(.*?)</title>' '<title $1>$2 삿포로시 시로이시구청 $3</title>';
	replace: '<title(.*?)>(.*?)札幌市厚別区(.*?)</title>' '<title $1>$2 삿포로시 아쓰베쓰구청 $3</title>';
	replace: '<title(.*?)>(.*?)札幌市豊平区(.*?)</title>' '<title $1>$2 삿포로시 도요히라구청 $3</title>';
	replace: '<title(.*?)>(.*?)札幌市清田区(.*?)</title>' '<title $1>$2 삿포로시 기요타구청 $3</title>';
	replace: '<title(.*?)>(.*?)札幌市南区(.*?)</title>' '<title $1>$2 삿포로시 미나미구청 $3</title>';
	replace: '<title(.*?)>(.*?)札幌市西区(.*?)</title>' '<title $1>$2 삿포로시 니시구청 $3</title>';
	replace: '<title(.*?)>(.*?)札幌市手稲区(.*?)</title>' '<title $1>$2 삿포로시 데이네구청 $3</title>';
	replace: '<title(.*?)>(.*?)札幌市(.*?)</title>' '<title $1>$2 삿포로시 $3</title>';
}
