div#nextload2 {
 attribute: clftx add 'exclude';
}

div#snsButtonArea {
  attribute: cltx add 'exclude';
}


div.changePageLink {
   attribute: cltx add 'exclude';
}

div.bx-controls-direction {
   attribute: cltx add 'exclude';
}