@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine canalcity/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine canalcity/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@postprocess {
  replace: '<a href="/floorguide" target="_blank">' '<a href="http://canalcity.co.jp/floorguide_ko.pdf" target="_blank">';
}