@engine default {
  eid: CR-JCT;
  dictionaries: "JRHAKATACITY_DIC JRHAKATACITY_TM CROSS_DIC CROSS_TM FASHION";
}
@engine jrhakatacity/main {
  eid: CR-JCT;
  dictionaries: "JRHAKATACITY_DIC_MASTER JRHAKATACITY_TM_MASTER FASHION";
}
@engine jrhakatacity/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}