header {
 attribute:style add 'margin-top:44px;';
}

nav.owa-menu {
 attribute:style add 'margin-top:44px;';
}

.whatIs-wrap.container,
.owa-menu__lang-list {
 attribute:cltx add 'exclude';
}

.contactInfo_detailwrap,
.owp-site-desc,
.owp-footer-address__text,
.owa-footer-address__text,
.owa-main-menu-list > li,
.owa-menu__btn-list-a > li,
.owa-menu__btn-list-b > li,
.owa-main > .text-center,
.el-inner > .el-h {
 attribute:clftx add 'exclude';
}

@postprocess {
 replace: '<li>(.*?)<!--cltx--><a href="(.*?)/location/(.*?)">' '<li>$1<a href="$2/location/$3">';
 replace: '<!--cltx-->\\{\\{genre.name\\}\\}' '\\{\\{genre.name\\}\\}';
 replace: '<!--cltx--><a href="/shizuoka/location' '<a href="/shizuoka/location';
 replace: '<!--cltx--><a href="/omachi-navi/location' '<a href="/omachi-navi/location';
 replace: '<!--cltx--><span v-if="timeline.live"' '<span v-if="timeline.live"';
 replace: '<!--cltx--><span class="el-title"' '<span class="el-title"';
 replace: '<div class="owa-media-timeline">(.*?)<!--cltx-->' '<div class="owa-media-timeline">$1';
}

@postprocess {
 replace: '<link rel="canonical" href="https://openwifi.jp.(.*?).aae.hp.transer.com/(.*?)" />' '<link rel="canonical" href="https://openwifi.jp/$2" />';
 replace: '<link rel="alternate" hreflang="x-default" href="https://openwifi.jp.(.*?).aae.hp.transer.com/(.*?)" />' '<link rel="alternate" hreflang="x-default" href="https://openwifi.jp/$2" />';
 replace: '<link rel="alternate" hreflang="ja" href="https://openwifi.jp.(.*?).aae.hp.transer.com/(.*?)" />' '<link rel="alternate" hreflang="ja" href="https://openwifi.jp/$2" />';
}
