header {
 attribute:style add 'margin-top:44px;';
}

nav.owa-menu {
 attribute:style add 'margin-top:44px;';
}

.whatIs-wrap.container,
.owa-menu__lang-list {
 attribute:cltx add 'exclude';
}

@postprocess {
 replace: '<li>(.*?)<!--cltx--><a href="(.*?)/location/(.*?)">' '<li>$1<a href="$2/location/$3">';
 replace: '<!--cltx-->\\{\\{genre.name\\}\\}' '\\{\\{genre.name\\}\\}';
 replace: '<!--cltx--><a href="/shizuoka/location' '<a href="/shizuoka/location';
 replace: '<!--cltx--><a href="/omachi-navi/location' '<a href="/omachi-navi/location';
 replace: '<!--cltx--><span v-if="timeline.live"' '<span v-if="timeline.live"';
 replace: '<!--cltx--><span class="el-title"' '<span class="el-title"';
 replace: '<div class="owa-media-timeline">(.*?)<!--cltx-->' '<div class="owa-media-timeline">$1';
}
