a[href="http://www.layered.me/shop/guide/guide_index.html"], a[href="http://www.layered.me/shop/guide/campaign.html"] {
  attribute: * rewrite '/shop/guide/ShoppingGuide.html';
}
a[href="https://www.layered.me/cgi/contacts.cgi"] {
  attribute: * rewrite 'https://reg26.smp.ne.jp/regist/is?SMPFORM=pjp-mbpet-a95bc962a129254fbc2df31a482f66a7';
}
form[name="kataJump"] > select[name="linkselectkata"] option {
  attribute: value rewrite "@RewriteRegisteredDomain";
}
form[name="colorJump"] > select[name="linkselectcolor"] option {
  attribute: value rewrite "@RewriteRegisteredDomain";
}
link[rel="stylesheet"][type="text/css"][href="https://www.layered.me/css/include.css"] {
  attribute: href rewrite "/css/include.css";
}

a[href$="/shop/dylon/dylonmulti/DYLON-MULTI15.html"] {
  tag: delete;
}

@postprocess {
  replace: "(?i)(<div id=\"footer_right\">.+?<br style=\"clear: both;\" />)" "$1<p style=\"color:#FFFFFF; margin:5px; text-align:center;\" cltx>This page is translated using machine translation. Please note that the content may not be 100% accurate.</p>";
}


// @RULESET
// URL #= http://(?:www\.)?layered\.me/shop/(?:$|\?.*)
@preprocess {
  replace: "291_1Kocq-q-pjp-s" "F4T_1Jocq-q-pjp-ld";
}


// @RULESET
// URL #= http://(?:www\.)?layered\.me/shop/(?:jailwigcharacters|jailwigcolor|jailwigsharp)/[^/]+/.+\.html
// URL #= http://(?:www\.)?layered\.me/shop/me/MIDO\.html
// URL #= http://(?:www\.)?layered\.me/shop/me/recommended_me/2012WIN-[15]\.html
@preprocess {
  replace: "<input type=\"image\" src=.+?/img/item/item_count_btn_kago.jpg\" onclick=.+?>" "<a href=\"https://reg26.smp.ne.jp/regist/is?SMPFORM=pjp-mbobt-583126b8915775154d900e3b875d78e3\" target=\"_blank\"><img src=\"http://www.layered.me/shop/productimage/img_english/item_count_btn_kago_eng.jpg\" alt=\"Order\"></a>";
}
@preprocess {
  replace: "<input type=\"image\" src=.+?/img/item/item_count_btn_kago_yoyaku.jpg\" onclick=.+?>" "<a href=\"https://reg26.smp.ne.jp/regist/is?SMPFORM=pjp-mbobt-583126b8915775154d900e3b875d78e3\" target=\"_blank\"><img src=\"http://www.layered.me/shop/productimage/img_english/item_count_btn_kago_yoyaku_eng.jpg\" alt=\"Order\"></a>";
}


// @RULESET
// URL #= http://(?:www\.)?layered\.me/shop/(?:contact/(?:colorcontactnot|colorcontact|softcontact|colorcontactcare)|jp/contactlens/nonpower/funkywhip1day)/.+
div#item_count_btn > input[type="image"] {
  attribute: onclick delete;
}
