@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine snowtomamu/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine snowtomamu/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

body {
  attribute: lang add 'zh';
}


@preprocess {
replace: 'UA-5864174-1' 'UA-5864174-3';
}

// @RULESET
// URL = http://www.snowtomamu.jp/special/xmas/
@postprocess {
replace: '<p class="logo"><a href="/winter/">' '<p class="logo"><a href="http://www.snowtomamu.jp/winter/topics2015/index_zh.html" class="cl-norewrite">';
}

// @RULESET
// URL #= http://www\.snowtomamu\.jp/winter/
@postprocess {
replace: '<a href="http://www.snowtomamu.jp/winter/reserve_zh/index.php#risonare">' '<a href="http://www.snowtomamu.jp/winter/reserve_zh/index.php#risonare" class="cl-norewrite">';
replace: '<a href="http://www.snowtomamu.jp/winter/reserve_zh/index.php#tower">' '<a href="http://www.snowtomamu.jp/winter/reserve_zh/index.php#tower" class="cl-norewrite">';
}