@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT";
}
@engine housekihiroba/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT";
}
@engine housekihiroba/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT";
}

body {
  attribute: lang add 'zh';
}

@preprocess {
  replace: "'UA-2642328-5'" "'UA-2642328-9'";
  replace: "'housekihiroba\.jp','housekihiroba\.u-s\.co\.jp'" "'housekihiroba.jp.c.nh.hp.transer.com','housekihiroba.u-s.co.jp.c.nh.hp.transer.com'";
  replace: '(<meta name="google-site-verification".*?/>)' '$1\n<meta name="google-site-verification" content="dNy9cw56eB08kA7JWqsCtd6xqFMCz92U3rJE8Gfclt0" />';
}