@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT TOURISM INTERNET";
}
@engine parkfunabashi/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT TOURISM";
}
@engine parkfunabashi/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT TOURISM";
}

// @RULESET
// URL #= //www\.park-funabashi\.or\.jp/and/.*
@postprocess {
	replace:'Flower bed division <span>company flower bed</span> of various companies' '<span>Company flower bed</span>flower bed division of various companies';
}
