@engine default {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine cantabi/main {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine cantabi/cross {
  eid: MS-JAVI;
  dictionaries: "CROSS_TM_MASTER";
}

@postprocess {
 replace:'https://cantabi.jp' 'http://cantabi.jp.v.ye.hp.transer.com';
}

.wideslider {
 attribute: cltx add 'exclude';
}