@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOURMET FASHION INTERNET";
}
@engine e-ma-bldg/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOURMET FASHION";
}
@engine e-ma-bldg/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOURMET FASHION";
}

@preprocess{
replace: 'UA-38589525-1' 'UA-38589525-5';
}

// @RULESET
// URL #= http://www\.e-ma-bldg\.com.*
// URL #= http://e-ma-bldg\.com.*
@postprocess{
replace: '<img src="../images/btn_line.png" width="82" height="20" alt="We send in LINE" cltx>' '<img src="http://www.e-ma-bldg.com/language/line_btn.png" width="82" height="20" alt="We send in LINE" cltx>';
}