@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine happo-one/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine happo-one/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

/* Googleアナリティクス */
@preprocess {
	replace: 'UA-26681577-1' 'UA-26681577-11';
}
