@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine rokkatei/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine rokkatei/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

// @ RULESET
// URL = http://www.rokkatei.co.jp/shop/index.html
@postprocess {
replace:'<span class="body2"><font color="#cc0000"><strong>(.*?)0120-</strong></font></span><span class="body1">12-6666。</span>' 
'$1<span class="body2"><font color="#cc0000"><strong>0120-12-6666</strong></font></span><span class="body1">。</span>';
replace:'欲知兼設咖啡館的店舖詳<a href="cafe.html" target="_top">(.*?)</a>(.*?)。</span>' '欲知兼設咖啡館的店舖詳 $1<a href="cafe.html" target="_top">$2</a>。</span>';
replace:'R<a href="http://www.restaurant-home.jp/" target="_blank">ESTAURANT HOME</a>' '<a href="http://www.restaurant-home.jp/" target="_blank">RESTAURANT HOME</a>';
}
