@engine default {
  eid: PR-ENFR;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine sanriku2019/main {
  eid: PR-ENFR;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine sanriku2019/cross {
  eid: PR-ENFR;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

@preprocess {
	replace: 'UA-71370639-28' 'UA-71370639-37';
}
