@engine default {
  eid: PR-ENFR;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine y-triennale/main {
  eid: PR-ENFR;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine y-triennale/cross {
  eid: PR-ENFR;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}
