@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine funasei/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine funasei/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
	replace: '<div class="reserve">(.*?)</div><!--/ .reserve -->' '<div class="reserve pc_only"><img src="//www.funasei.com/english/images/his.png" alt="HIS" class="his"><p class="txt mincho">HIS 여행사에 문의하십시오</p><div class="number" style="font-size:18px"><a href="mailto:harajukutic@his-world.com">harajukutic@his-world.com</a></div></div>';
}

// @RULESET
// URL #= //www.funasei.com/
@preprocess {
	replace: '<div class="reserve pc_only">(.*?)</div><!--/ .reserve -->' '<div class="reserve pc_only"><img src="//www.funasei.com/english/images/his.png" alt="HIS" class="his"><p class="txt mincho">HIS 여행사에 문의하십시오</p><div class="number" style="font-size:18px"><a href="mailto:harajukutic@his-world.com">harajukutic@his-world.com</a></div></div>';
}
