// @RULESET
// URL #= http://ec.mic21.com/.*
@preprocess{
replace: 'UA-655753-6' 'UA-655753-10';
}

// @RULESET
// URL #= http://www.mic21.com/.*
@preprocess{
replace: 'UA-655753-1' 'UA-655753-11';
}

// @RULESET
// URL ^= http://shop3.genesis-ec.com/search/search.asp
form[name="FrmMenu2"] {
  attribute: method rewrite "GET";
  attribute: action rewrite "shopcd=17302";
}

// @RULESET
// URL #= ^http://www\.mic21\.com/n/shop/crosslanguage\.fragment\.translate/[0-9]+\.r[0-9]+/$
@rewrite RewriteGoogleMap {
  if (url matches "googlemap\\.html\\?[0-9]+") return "{absurl}";
}
iframe[src] {
  attribute: src rewrite "@RewriteGoogleMap" !important;
}
:javascript { 
  attribute: url rewrite "@RewriteGoogleMap";
}

// @RULESET
// URL #= .*ranking.html
@preprocess {
  replace: 'https' 'http';
 }


