@engine default {
  eid: CR-JC;
  dictionaries: "MITSUKOSHI_TM MITSUKOSHI_DIC CROSS_TM CROSS_DIC NETSHOP FASHION DEPART";
}
@engine mitsukoshi/main {
  eid: CR-JC;
  dictionaries: "MITSUKOSHI_TM_MASTER MITSUKOSHI_DIC_MASTER NETSHOP FASHION";
}
@engine mitsukoshi/cross {
  eid: CR-JC;
  dictionaries: "CROSS_TM_MASTER CROSS_DIC_MASTER NETSHOP FASHION";
}
