@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOURMET HOBBY INTERNET";
}
@engine daiwaresort/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOURMET HOBBY";
}
@engine daiwaresort/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOURMET HOBBY";
}

@postprocess {
 replace: '<span> The number of the word of mouth: (.*?) cases </span>' '<span> The number of the word <br>of mouth: $1 cases </span>';
 replace: '〒' 'Zipcode:';
}

.search_list {
 attribute: style add 'word-break: initial;';
}

.search_listname {
 attribute: style add 'font-size: 10px;';
}

// @RULESET
// URL #= http://www\.daiwaresort\.jp/contents/hellokittyroom/.*?
// URL #= http://dr03\.compolex\.com/contents/hellokittyroom/.*?
nav.site-header-02 > div.inner > ul > li > a{
  attribute: style add 'font-size:10px;';
}