@engine default {
  eid: CR-JC;
  dictionaries: "TERILOGY_DIC TERILOGY_TM CROSS_DIC CROSS_TM SYSTEM COMPUTER";
}
@engine terilogy/main {
  eid: CR-JC;
  dictionaries: "TERILOGY_DIC_MASTER TERILOGY_TM_MASTER SYSTEM COMPUTER";
}
@engine terilogy/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER SYSTEM COMPUTER";
}

body {
  attribute: lang add 'zh';
}
