@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM ELEC COMPUTER";
}
@engine core/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER ELEC COMPUTER";
}
@engine core/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER ELEC COMPUTER";
}
