@engine default {
  eid: CR-JCT;
  dictionaries: "YOYAKUNAVI_DIC YOYAKUNAVI_TM CROSS_DIC CROSS_TM";
}

@engine yoyakunavi/main {
  eid: CR-JCT;
  dictionaries: "YOYAKUNAVI_DIC_MASTER YOYAKUNAVI_TM_MASTER";
}