@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT ART SYSTEM COMPUTER INTERNET";
}
@engine lib-matsumoto/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT ART SYSTEM COMPUTER";
}
@engine lib-matsumoto/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT ART SYSTEM COMPUTER";
}

@preprocess{
	replace:'<div class="head_box">' '<div class="head_box en_head_box">';
}
