@engine default {
  eid: BR-JA.FR.EN;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT TOURISM";
}
@engine zamami/main {
  eid: BR-JA.FR.EN;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT TOURISM";
}
@engine zamami/cross {
  eid: BR-JA.FR.EN;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT TOURISM";
}
