@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOURMET IT INTERNET";
}
@engine kanko-shinjuku/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOURMET IT";
}
@engine kanko-shinjuku/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOURMET IT";
}

@preprocess {
replace: 'UA-50301300-1' 'UA-50301300-2';
replace: '<p>(.*?)<a href="http://www.geidankyo.or.jp/12kaden/information/detail/6150" target="_blank">' '<p>$1<br style="display:none;"><a href="http://www.geidankyo.or.jp/12kaden/information/detail/6150" target="_blank">';
}
