@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION TOURISM";
}
@engine ginza6/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION TOURISM";
}
@engine ginza6/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION TOURISM";
}

/* Googleアナリティクス */
@preprocess {
	replace: 'UA-54523459-1' 'UA-54523459-5';
}

@postprocess {
	replace: '<p class="prof_jp">(.*?)中村紫藤𠮷總店嘗(.*?)</p>' '<p class="prof_jp">$1中村藤𠮷總店嘗$2</p>';
}
