@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION TOURISM";
}
@engine ginza6/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION TOURISM";
}
@engine ginza6/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION TOURISM";
}

/* Googleアナリティクス */
@preprocess {
	replace: 'UA-54523459-1' 'UA-54523459-5';
}

@preprocess {
	replace:'<p class="addres">〒(.*?)</p>' '<p class="addres">郵遞區號$1</p>';
}

@postprocess {
	replace: '<p class="prof_jp">(.*?)中村紫藤𠮷總店嘗(.*?)</p>' '<p class="prof_jp">$1中村藤𠮷總店嘗$2</p>';
	replace: '當時使用了四輪驅動的車子當交通工具(.*?)來解決' '當時使用了四輪驅動的車子當交通工具，打開裝在車上的小帳蓬，然後在裡面睡覺，就這樣橫貫了撒哈拉沙漠。這段回憶到現在也忘不了。今天住這裡，明天住那裡……遊牧民族般的住宅是建築師最嚮往的，無論建築再怎麼有趣，但是卻無法離開那個場所，這種兩難的困境，我覺得正可以利用這次的『住箱』來解決';
	replace: '小松女士表示:「我大多描繪神獸(.*?)最後不知道會蛻變成什麼樣的鳳凰呢…… \\(笑\\)' '小松女士表示:「我大多描繪神獸，湊巧『OKANO』公司的吉祥物是鳳凰，而鳳凰也是神獸……於是圖案就直接用鳳凰，只不過這次畫的是蛻變為鳳凰之前的幼鳥。只有尾羽的部分正逐漸長成，開始細胞分裂，但是翅膀沒有展開，就像做為一個藝術家來說還不成熟的我，屬於正在進化中的幼鳥。在色彩方面，因為說到銀座，通常就想到霓虹燈佈滿街道的畫面，我也希望銀座能成為由很多不同的人妝點而成的彩色街道，所以我把這個想法融入其中。我還請友禪染的職人老師教我色彩的調配，自己製作畫具，不是使用平常用的筆，而是使用專用的特殊刷毛，這也很有趣。」附帶一提，這次的方巾取自小松女士的名字，命名為「美麗的羽毛 02」。「01」是2016年於日本舉行G7高峰會的時候，在相關內閣會議之一「長野縣輕井澤交通大臣會議」中，致贈給各國大臣的披肩，「02」即定位為系列作的第2作。「『01』我只負責畫，其他的部分就交給友禪的職人，參與至材質的選擇，GINZA SIX限定品是第一次。底色染成黑色雖然也是為了表現霓虹街＝夜，另外也是希望呈現銳利感。我說我想和OKANO一起合作到系列『99』，如果真的實現，最後不知道會蛻變成什麼樣的鳳凰呢…… \\(笑\\)。';
	replace: '除此之外，GINZA SIX的商品還有KURO與HANGLOOSE新開發的超撥水加工牛仔新品(.*?)或許亦可稱為日本的精神吧' '除此之外，GINZA SIX的商品還有KURO與HANGLOOSE新開發的超撥水加工牛仔新品，以及部分女性服飾等，僅限開幕時品牌首次發表的商品。這裡將成為對日本粉絲及來自海外的客層傳遞日本職人精神的據點。附帶一提，造訪本店的時候，請看看吊牌。如果您手上拿的是這次的限定時裝，應該可以找到上面有「HANGLOOSE」的工廠名稱。如果說牛仔服飾的加工是兒島、縫製就是宮城縣的氣仙沼、毛料是愛知縣的尾州、襯衫是静岡縣的濱松及兵庫縣的西脇……等等，這是八橋先生頻繁走訪日本各地的工廠、直接接觸職人技術與風範所表達的感謝印記，或許亦可稱為日本的精神吧';
	replace: '其二是訂定各種腳本(.*?)其中有些部分必須與建築師合作' '其二是訂定各種腳本，以模擬的方式，設計出人在空間中的動向。從某個場所到某個場所需要花幾分鐘呢？這時候需不需要再多一台電梯？想在這一帶看見光線，要不要挑高的中庭呢？……。空間的能量自然地循環，這樣的空間對人們的情感及身體感受就沒有壓力。其中有些部分必須與建築師合作';
	replace: '於是這次完成的商標也簡單到讓人不禁想問(.*?)而不單單只是奢華及流行時尚而已' '於是這次完成的商標也簡單到讓人不禁想問「這麼簡單行嗎？」我認為正因為簡潔的緣故，所以所有的場景都可以貼近，像是傳統文化、高科技、當代藝術等等，而不單單只是奢華及流行時尚而已';
	replace: '附帶一提，我雖然把主商標設計成「GSIX」(.*?)「GSIX」的縮寫設計' '附帶一提，我雖然把主商標設計成「GSIX」，但是原本的課題是「希望能用GINZA SIX來設計」。只不過我從1983年任職於日本設計中心後，已經有長達33年的時間在銀座工作，無論是大樓或是商店，老是加上銀座這兩個字，感覺有點膩了……(笑)。於是我建議使用「GSIX」的縮寫設計';
	replace:'<a href="(.*?)/shops" class="view_detail">(.*?)</a>' '<a href="$1/shops" class="view_detail">店鋪介紹</a>';
	replace:'<a href="(.*?)/facilities" class="view_detail">(.*?)</a>' '<a href="$1/shops" class="view_detail">設施導覽</a>';
}
