@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine newoman/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine newoman/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@postprocess {
  replace: 'type="text/javascript" src="/tb/webroot/js','type="text/javascript" src="http://www.newoman.jp/tb/webroot/js';
  replace: 'rel="stylesheet" href="/tb/webroot','rel="stylesheet" href="http://www.newoman.jp/tb/webroot';
}