#site-translate-header-wrapper{
	width: 100% !important;
	height:auto;
	box-sizing: border-box;
}

#site-translate-header-wrapper p{
	font-size:10px;
	line-height: 12px;
}

#site-translate-message{
	display:block;	
	vertical-align:middle;
	padding: 3px 0;
	text-align: center;
}

#content .pagenation .paging li span, #result-single-item .single .single-info {
  width: auto!important;
}

#itemdetail-scroll .slider {
  min-height: 220px!important;
}

/* 次へボタン */
#content .pagenation .paging li a.next span {
  padding: 0!important;
}

.navi-list-tab div.switch-tab ul li a span {
  font-size: 88%;
}

.navi-list-tab div.switch-tab ul li:last-child {
  width: 227px;
}

/* 在庫数表示 */
#cont-form-detail .zaikosu, .cont-form-single .zaikosu {
  width: 600px !important;
}

/* アイテム説明 */
.grouping .item-detail dl dd {
	margin: 0 10px 0 8em !important;
}

/* placeholder */
#search input.txt-search-word {
    background-image: none !important;
}

/*top見出し*/
.k-traverse{
	white-space: normal;
}

.p-box-counter__txt{
	padding: 6px;
	font-size: 85%;
}

.p-box-counter__number{
	font-size: 10.5px;
}

.p-box-counter__em{
	font-size: 18px;
}

.k-traverse__item:nth-child(2),
.k-traverse__item--about:nth-child(2),
.k-traverse__item:nth-child(4),
.k-traverse__item--about:nth-child(4){
	min-width: 250px;
}

.iphone .k-traverse__item:nth-child(2),
.android .k-traverse__item:nth-child(2),
.iphone .k-traverse__item--about:nth-child(2),
.android .k-traverse__item--about:nth-child(2),
.iphone .k-traverse__item:nth-child(4),
.android .k-traverse__item:nth-child(4),
.iphone .k-traverse__item--about:nth-child(4),
.android .k-traverse__item--about:nth-child(4) {
    min-width: auto;
}

.iphone .a-btn--info,
.android .a-btn--info {
    padding: 2px 20px 5px 5px;
    font-size: 60%;
}

.iphone .a-btn--info:before,
.android .a-btn--info:before {
    top: 4px;
    right: 2px;
}
