.top-main,
.cate-list-datail > li > .btn-open-cateS,
.rec-btn-prev > a,
.rec-btn-next > a,
#itemdetail-scroll,
#rank-sale,
#top-ranking,
#top-ranking-tab,
#top-ranking-tab > ul > li,
#rank-sale > .rank-btn-next,
#rank-sale > .slider,
.btn-open-cateSS,
.btn-close-cateS,
#ranking-box > .rank-box > .ranking-all > ul,
.ranking-all,
#ranking > #ranking-tab,
#ranking-tab > #rank-select > #content,
#rank-access > .slider,
#ranking-tab > #rank-select > #content > input,
#rank-select,
#rank-category > a,
#rank-area,
#ranking > #rank-list > #content {
	attribute: cltx add 'exclude';
}

.f-tooltip-close {
	attribute: cltx add 'exclude';
}

@preprocess {
	replace:'UA-11613701-1' 'UA-11613701-12';	/* Googleアナリティクス */
	replace:'<h1>(.*?)<strong>(.*?)</strong><a(.*?)class="rss">(.*?)</a><span>(.*?)</span></h1>' '<h1>$1<br style="display:none;"><strong>$2</strong><br style="display:none;"><a$3class="rss">$4</a><br style="display:none;"><span>$5</span></h1>';	/* ページタイトル */
	replace:'<h1>(.*?)<strong>(.*?)</strong><span>(.*?)</span></h1>' '<h1>$1<br style="display:none;"><strong>$2</strong><br style="display:none;"><span>$3</span></h1>';	/* ページタイトル */
	replace:'<div class="entry">' '<div class="entry" cltx="exclude">';
	replace:'<a href="/ja/c/about/index.html" class="a-pictbtn-h"><span class="a-pictbtn-h__icon a-icon--info"></span>オレンジブック.Comについて</a>' '<a href="/ja/c/about/index.html" class="a-pictbtn-h"><span class="a-pictbtn-h__icon a-icon--info"></span>オレンジブック.Comについて</a><br style="display:none;">';
	replace:'<span class="l-header__em" data-name="publishItem">約<span data-name="publishItemCnt" style="display:none"></span>万点</span>' '<span class="l-header__em" data-name="publishItem">約<br style="display:none;"><span data-name="publishItemCnt" style="display:none"></span><br style="display:none;">万点</span>';
	replace:'<span class="l-header__em" data-name="stockItem" style="display:none">約<span data-name="stockItemNum"></span>万点</span>' '<span class="l-header__em" data-name="stockItem" style="display:none">約<br style="display:none;"><span data-name="stockItemNum"></span><br style="display:none;">万点</span>';
}

@postprocess {
	replace:'<div id="contents-title"(.*?)>(.*?)<h1><!--cltx-->(.*?)</h1>' '<div id="contents-title"$1>$2<h1>$3</h1>';	/* 詳細ページ タイトル表示 */
	replace:'<h1><span><!--cltx-->(.*?)</span>(.*?)</h1>' '<h1><span>$1</span><!--cltx-->$2</h1>';	/* 詳細ページ タイトル表示 */
	replace:'<div id="contents-title"(.*?)>' '<div id="contents-title" $1 cltx>';	/* 詳細ページ タイトル表示 */
}

@preprocess {
// replace:'http://www.orange-book.com/obwck50140/' 'http://www.orange-book.com.e.acy.hp.transer.com/obwck50140/';
// replace:'//image.orange-book.com/' '//image.orange-book.com.e.acy.hp.transer.com/';
}

@postprocess {
	replace:'<!--cltx--><span id="f-keyword-cat-select"(.*?)>(.*?)</span>' '<span id="f-keyword-cat-select"$1>$2</span>';
	replace:'<span class="f-item-note__name(.*?)" data-href="(.*?)"(.*?)><a>(.*?)</a></span>' '<span class="f-item-note__name$1" data-href="$2"$3><a href="$2">$4</a></span>';
}
