@engine default {
  eid: BR-JA.ES.EN;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM ART TOURISM";
}
@engine yokohamatriennale/main {
  eid: BR-JA.ES.EN;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER ART TOURISM";
}
@engine yokohamatriennale/cross {
  eid: BR-JA.ES.EN;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER ART TOURISM";
}
