@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine ochahaku/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine ochahaku/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

/* 多言語対応 */
@postprocess {
	replace:'https://maps.googleapis.com/maps/api/js(.*)key=(.*)"' 'https://maps.googleapis.com/maps/api/js$1&language=ko&key=$2"';
}

@postprocess {
	replace:'<div class="searchInput">(.*?)<input type="search" name="keyword" placeholder=(.*?)>(.*?)</div>' '<div class="searchInput">$1<input type="search" name="keyword" placeholder="키워드">$3</div>';
	replace:'<div class="searchInput selectDeco">(.*?)<input name="kw" placeholder=(.*?) value="">(.*?)</div>' '<div class="searchInput selectDeco">$1<input name="kw" placeholder="키워드" value="">$3</div>';
	replace:'<input type="search" name="keyword" placeholder=(.*?) class="wd60">' '<input type="search" name="keyword" placeholder="이벤트 검색" class="wd60">';
}
