@engine default {
  eid: MS-JAID;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine hailand/main {
  eid: MS-JAID;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine hailand/cross {
  eid: MS-JAID;
  dictionaries: "CROSS_TM_MASTER";
}
