span, span{
text-flow: break;
}

@postprocess{
replace: '(<span class="choose">.*?</span>);' '$1' ;
}

@preprocess{
replace: 'UA-9214227-1' 'UA-9214227-2';
}

// @RULESET
// URL ^= http://www.kusatsu-onsen.ne.jp/
@preprocess {

replace:'<a href="http://www.kusatsuonsen-international.jp/ko/">' '<a href="http://www.kusatsuonsen-international.jp/ko/" class="cl-notranslate">';

}
