@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine city-ashiya/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine city-ashiya/cross {
  eid: CR-JK;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}
