@postprocess {
  replace: '<body(.*?)>(.+)</body>' '<body$1><div id="clwrapper">$2</div></body>';
  replace: 'body\\s*\\{' '#clwrapper {';
}

/* Fix error on google search */
form[action="http://www.google.co.jp/search"] input[type="hidden"][name#="[io]e"] {
  attribute: value rewrite "UTF-8";
}

div#cal1Container {
  attribute: cltx add 'exclude';
}

@preprocess {
  replace:'<!-- crosslanguage:show(.*?)/crosslanguage:show -->' '$1';
}

@postprocess {
  replace: '<a href="http://www\.aeonmall\.co\.jp/" target="_blank">.*?(<img.*?/>).*?</a>' '$1';
}