meta[http-equiv=i"refresh"][content#=i"url=."] {
  attribute: content rewrite "@RewriteRegisteredDomain";
}

// @RULESET
// URL #= ^http://www\.princehotels\.co\.jp/golf/[^/]+/index\.html$
select[name="select3"] option {
  attribute: value rewrite "@RewriteRegisteredDomain";
}

// @RULESET
// URL ^= http://www.princehotels.co.jp/karuizawa-area/recommended_plan/index.html
a.lightview {
  attribute: title ignore;
}

// @RULESET
// URL ^= http://www.princehotels.co.jp/ski/naeba/
#selectLink > form > select > option {
  attribute: value rewrite "@RewriteRegisteredDomain";
}

// @RULESET
// URL ^= http://www.princehotels.co.jp/ski/
// URL ^= http://ski.princehotels.co.jp/
select[name="select3"] > option[value] {
  attribute: value rewrite "@RewriteRegisteredDomain";
}
iframe[src="map.html"] {
  attribute: src rewrite "{absurl}";
}
