*{
	letter-spacing: normal !important;
}

#site-translate-header-wrapper {
	width:auto !important;
}

#site-translate-header-wrapper p {
	letter-spacing: normal;
}

#tmp_means_primary {
    margin: 0 10px 0 0;
}

#tmp_wrapper #tmp_means {
    float: left;
    margin: 0 0 0 2%;
    font-size: 80%;
	width: 1080px;
}

.header_re #tmp_wrapper #tmp_means {
    float: right;
    display: inline;
    width: 720px;
    color: #ffffff;
	font-size: unset;
}

#tmp_means_secondary {
	width: 53%;
}

.header_re #tmp_means_secondary {
	width: unset;
}

#tmp_func {
    margin: 8px 5px 0 0;
}

#tmp_func .func_size {
    margin-right: 10px;
}

#tmp_hnavi li a {
    padding: 6px 2px;
}

.header_re #tmp_hnavi li a {
    padding: 10px 0 10px 30px;
}

#tmp_gnavi span {
    font-size: 80%;
}

#tmp_shinsei_ttl h2 {
    font-size: 140%;
}

#tmp_shinsei_cnt ul li {
	width: 185px;
}

#tmp_benri_cnt ul li {
	width: 135px;
	font-size: 92%;
}

#tmp_shisei_pop {
    padding: 12px 140px 5px;
}

#tmp_shisei_annnai_cnt ul li {
    width: 185px;
}

@media screen and (max-width: 640px) {

	#tmp_shinsei_cnt ul li,
	#tmp_benri_cnt ul li {
	    width: 48%;
	}

	#tmp_shisei_pop {
    	padding: unset;
	}

	.sp_navi li span {
	    font-size: 80%;
	}

	.header_re #tmp_wrapper #tmp_means {
    	display: none;
	}
}
