.stop_btn,
.play_btn,
.prev,
.next {
	attribute: cltx add 'exclude';
}

@preprocess {
	replace:'<li id="tmp_hlist(.*?)">(.*?)<span>(.*?)</span><span>(.*?)</span></a></li>' '<li id="tmp_hlist$1">$2<span>$3</span><br style="display:none;"><span>$4</span></a></li>';
	replace:'<li class="bnavi(.*?)">(.*?)<span>(.*?)</span><span>(.*?)</span></a>(.*?)</li>' '<li class="bnavi$1">$2<span>$3</span><br style="display:none;"><span>$4</span></a>$5</li>';
	replace:'<div class="col2L">(.*?)<p><strong>(.*?)</strong>(.*?)</p>(.*?)</div>' '<div class="col2L">$1<p><strong>$2</strong><br style="display:none;">$3</p>$4</div>';
	replace:'<div class="col2R">(.*?)<p><strong>(.*?)</strong>(.*?)</p>(.*?)</div>' '<div class="col2R">$1<p><strong>$2</strong><br style="display:none;">$3</p>$4</div>';
}
