@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM MECHA ELEC COMPUTER";
}
@engine kobayashi-akita/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER MECHA ELEC COMPUTER";
}
@engine kobayashi-akita/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER MECHA ELEC COMPUTER";
}
