@engine default {
  eid: CR-JCT;
  dictionaries: "YAMAGATAKANKO_DIC YAMAGATAKANKO_TM CROSS_DIC CROSS_TM";
}
@engine yamagatakanko/main {
  eid: CR-JCT;
  dictionaries: "YAMAGATAKANKO_DIC_MASTER YAMAGATAKANKO_TM_MASTER";
}
@engine yamagatakanko/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}


// @RULESET
// URL #= http://(www\.)?yamagatakanko\.com/$
a[href='http://yamagatakanko.com/tiji/'] {
  attribute: href set 'http://data.yamagatakanko.com/tcn/';
}
div#honyaku {
  attribute: style delete;
}
div#honyaku a[href] {
  attribute: href set 'http://data.yamagatakanko.com/book/china/';
}
