@engine default {
  eid: CR-JT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine parcocity/main {
  eid: CR-JT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine parcocity/cross {
  eid: CR-JT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}
