@preprocess{
	replace:'<!-- crosslanguage:show(.*?)/crosslanguage:show -->' '$1';
	replace:'<th>(.*?)<span>(.*?)</span></th>' '<th>$1<br style="display:none;"><span>$2</span></th>';
	replace:'<span class="ttl_room_sub">(.*?)</span>' '<span class="ttl_room_sub">$1</span><br style="display:none;">';
	replace:'<strong>「([白墨艶])(.*?)」(.*?)</strong>' '<strong>"$1$2"$3</strong><br style="display:none;">';
	replace:'〒''';
	replace:'<sub>（代表）</sub>' '<sub>（代表）<br style="display:none;"></sub>';
	replace:'<li><span>(.*?)</span><span class="noLink">(.*?)</span></li>' '<li><span>$1</span><span class="noLink"><br style="display:none;">$2<br style="display:none;"></span></li>';
	replace:'<p>空間の中に和（京都）と洋の要素を融合させた「ファミリールーム」。' '<p>空間の中に和（京都）と洋の要素を融合させた「ファミリールーム」<br style="display:none;">。';
	replace:'<li class="type_restaurant_office"><a tel="0752542526">(.*?)<br><span>(.*?)</span>（9:00～19:00）</a></li>' '<li class="type_restaurant_office"><a tel="0752542526">$1<br><span>$2</span><br style="display:none;"> (9:00～19:00)</a></li>';
	replace:'<tr><th>天井高</th><td>(.*?)<span class="f11">(.*?)</span></td></tr>' '<tr><th>天井高</th><td>$1<br style="display:none;"><span class="f11">$2</span></td></tr>';
}

@postprocess{
	replace:'<a tel="0752542526">Restaurant office<br>(.*?)<span>(.*?)</span><br style="display:none;"> (.*?)9:00～19:00</a>' '<a tel="0752542526">Restaurant office<br>$1<span>$2</span><br style="display:none;"> $3(9:00～19:00)</a>';
}

/* 翻訳除外 */
.instagram_feed,
.fb_feed,
.mod_gallery_sub,
.ui-datepicker-header{
	attribute:cltx add 'exclude';
}

// @RULESET
// URL #= //www\.hotel\.kyoto/okura/.*

@preprocess{
	replace:'<body>' '<body class="rule-o">';
}

// @RULESET
// URL #= //kyotohotel-gp\.media-tec\.jp/privacy/.*

@preprocess{
        replace:'<div class="block">' '<div class="block cl-notranslate">';
}



// @RULESET
// URL #= //www\.kyotohotel\.co\.jp/.*
// URL #= //kyotohotel-gp\.media-tec\.jp/.*

@preprocess{
	replace:'<body id="(.*?)" class="(.*?)">' '<body id="$1" class="$2 rule-g">';
}
