@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine kyoto-aeonmall/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine kyoto-aeonmall/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

body {
  attribute: lang add 'zh';
}

a[href$="/floorguide/"] {
  attribute: href rewrite "@RewriteFloorGuide";
}

@rewrite RewriteFloorGuide {
  if (absurl matches "(http://kyoto-aeonmall\\.com)/floorguide/(.*)") return "{$1}/floorguide-ch/{$2}";
}

a[href$="/floorguide"] {
  attribute: href rewrite "@RewriteFloorGuide2";
}

@rewrite RewriteFloorGuide2 {
  if (absurl matches "(http://kyoto-aeonmall\\.com)/floorguide(.*)") return "{$1}/floorguide-ch{$2}";
}