@preprocess {
  replace: '(<a href="\\*" onclick="window\.print\\(\\)">印刷する</a>)' '<p>$1</p>';
}

@postprocess {
replace: '<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head><meta http-equiv="X-UA-Compatible" content="IE=edge">' '<head><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head>';
}

@preprocess {
replace:'<div style="border:1px solid #F00;background-color:#FEE;color:#F00;padding:4px;margin:4px 0px">' '<div style="border:1px solid #F00;background-color:#FEE;color:#F00;padding:4px;margin:4px 0px;display:none;" clftx="exclude">';
}

@preprocess {
        replace:'<link rel="stylesheet" href="../tool/css/reset.css" type="text/css" />' '<link rel="stylesheet" href="//www.biccamera.co.jp/tool/css/reset.css" type="text/css" />';
        replace:'<link rel="stylesheet" href="../tool/css/base.css" type="text/css" />' '<link rel="stylesheet" href="//www.biccamera.co.jp/tool/css/base.css" type="text/css" />';
        replace:'<link rel="stylesheet" href="../tool/css/grid-12.css" type="text/css" />' '<link rel="stylesheet" href="//www.biccamera.co.jp/tool/css/grid-12.css" type="text/css" />';
        replace:'<script type="text/javascript" src="../tool/js/ga.js">' '<script type="text/javascript" src="//www.biccamera.co.jp/tool/js/ga.js">';
        replace:'<script type="text/javascript" src="../tool/jquery.js">' '<script type="text/javascript" src="//www.biccamera.co.jp/tool/jquery.js">';
        replace:'<link rel="stylesheet" href="../tool/header/css/head-hv.css?20171203" type="text/css" />' '<link rel="stylesheet" href="//www.biccamera.co.jp/tool/header/css/head-hv.css?20171203" type="text/css" />';
        replace:'<link rel="stylesheet" href="../tool/header/css/head.css" type="text/css">' '<link rel="stylesheet" href="//www.biccamera.co.jp/tool/header/css/head.css" type="text/css">';
        replace:'<link rel="stylesheet" href="../tool/header/css/head.css" type="text/css" media="print" />' '<link rel="stylesheet" href="//www.biccamera.co.jp/tool/header/css/head.css" type="text/css" media="print" />';
        replace:'<script type="text/javascript" src="../tool/header/js/dropdown.js">' '<script type="text/javascript" src="//www.biccamera.co.jp/tool/header/js/dropdown.js">';
        replace:'<link rel="stylesheet" href="css/bicgroup.css" type="text/css" />' '<link rel="stylesheet" href="//www.biccamera.co.jp/bicgroup/css/bicgroup.css" type="text/css" />';
        replace:'<link rel="stylesheet" href="../tool/css/shop_style.css" type="text/css" />' '<link rel="stylesheet" href="//www.biccamera.co.jp/tool/css/shop_style.css" type="text/css" />';
        replace:'<script src="../tool/js/mobile-proxy.js">' '<script src="//www.biccamera.co.jp/tool/js/mobile-proxy.js">';
        replace:'<link rel="stylesheet" href="../tool/header/css/head-hv.css" type="text/css" />' '<link rel="stylesheet" href="//www.biccamera.co.jp/tool/header/css/head-hv.css" type="text/css" />';
        replace:'<link rel="stylesheet" href="../tool/footer/css/foot-hv.css" type="text/css" />' '<link rel="stylesheet" href="//www.biccamera.co.jp/tool/footer/css/foot-hv.css" type="text/css" />';
        replace:'<link rel="stylesheet" href="../tool/footer/css/foot.css" type="text/css" media="print" />' '<link rel="stylesheet" href="//www.biccamera.co.jp/tool/footer/css/foot.css" type="text/css" media="print" />';
        replace:'<link rel="stylesheet" href="css/list-hv.css" type="text/css" />' '<link rel="stylesheet" href="//www.biccamera.co.jp/shoplist/css/list-hv.css" type="text/css" />';
        replace:'<link rel="stylesheet" href="css/list.css" type="text/css" media="print" />' '<link rel="stylesheet" href="//www.biccamera.co.jp/shoplist/css/list.css" type="text/css" media="print" />';
        replace:'<script src="js/jquery.liveFilter.js">' '<script src="//www.biccamera.co.jp/shoplist/js/jquery.liveFilter.js">';
}

.bcs_sort_soldoutDisp,
.Ec_Ctgtop_Recommend_Content,
.bx-controls,
.bcs_layoutInner > ul > li,
.bcs_ranking > ul > li,
.bcs_feature > ul > li,
.bcs_categoryList > ul > li,
.bcs_diary > ul > li,
.bcs_inner > h2,
.bcs_guarantee > .bcs_inner  {
 attribute: clftx add 'exclude';
}

.bcs_selectBox,
.bx-prev,
.bx-next,
.bcs_itemSlidermini,
.bcs_itemSlider {
 attribute: cltx add 'exclude';
}

div[id=KEY-SEARCH-BOX],
.head-link,
.grid3 > .csr-banner,
.grid4{
attribute: cltx add 'exclude';
}

// @RULESET
// URL #= //www.biccamera.co.jp/sport_activity/.*
div#banner {
 attribute: clftx add 'exclude';
}
