@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine atre-test/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine atre-test/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@postprocess {
  replace:'<div class="hdrStoreWrap">' '<div class="hdrStoreWrap langPatK">';
}

@postprocess {
 replace:'<option value="http://t-www.atre.co.jp/contact' '<option value="http://t-www.atre.co.jp.k.wl.hp.transer.com/contact';
}