@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM MEDICAL";
}
@engine tic/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER MEDICAL";
}
@engine tic/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER MEDICAL";
}

@preprocess {
	replace: 'UA-67771308-1' 'UA-67771308-5';
}
