@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM BEAUTY GOURMET TOURISM INTERNET";
}
@engine kyushu-note/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER BEAUTY GOURMET TOURISM";
}
@engine kyushu-note/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER BEAUTY GOURMET TOURISM";
}
