@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine saitama-chichibu/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine saitama-chichibu/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

// @RULESET
// URL #= http://www.city.chichibu.lg.jp/.*
@preprocess {
  replace: 'secure/10868/bnr_cvg\.gif' 'http://chichibuLB-98700442.ap-northeast-1.elb.amazonaws.com/Images/translation/bnr_ko_cvg.gif';
}
