@engine default {
  eid: BR-JA.PT.EN;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT LAW ECOLOGY";
}
@engine bosainet/main {
  eid: BR-JA.PT.EN;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT LAW ECOLOGY";
}
@engine bosainet/cross {
  eid: BR-JA.PT.EN;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT LAW ECOLOGY";
}

// @RULESET
// URL ^= http://bosai.net/community/
@postprocess {
 replace:'href="http://bosai.net/index.do' 'href="http://bosai.net/selectlang/pt/area.do';
 replace:'href="http://bosai.net/indexpref.do' 'href="http://bosai.net/selectlang/pt/area2.do';
}

// @RULESET
// URL ^= http://bosai.dev02.smartvalue.ad.jp/community/
@postprocess {
 replace:'href="http://bosai.dev02.smartvalue.ad.jp/index.do' 'href="http://bosai.dev02.smartvalue.ad.jp/selectlang/pt/area.do';
 replace:'href="http://bosai.dev02.smartvalue.ad.jp/indexpref.do' 'href="http://bosai.dev02.smartvalue.ad.jp/selectlang/pt/area2.do';
}
