@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM HOBBY ENTER INTERNET";
}
@engine jcom/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER HOBBY ENTER";
}
@engine jcom/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER HOBBY ENTER";
}

/* メンテナンス情報 */
#faqContainer > ul.smpList02 > li.mainCategory > a.icon_arrow_a {
	attribute: style add 'padding: 0 2%; margin: 0 1% 0 0;';
}

/* マップ */
#selectBox > .selectCopyBox > .selectStage {
	attribute: style add 'height: auto;';
}

.btn_area3 > .more_box > li > a {
	attribute: style add 'font-size: 12px;';
}

@preprocess {
 	replace:'J:COM' 'J@COM';	/* J:COM */
	replace:'<span(.*?)</span>' '<br style="display:none;"><span$1</span><br style="display:none;">';	/* pankuzu, footer */
	replace:'<li class="mainCategory">(.*?)<a href="/sp/maintenance/index.html" class="icon_arrow_a">(.*?)</a></li>' '<li class="mainCategory">$1<br style="display:none;"><a href="/sp/maintenance/index.html" class="icon_arrow_a">$2</a><br style="display:none;"></li>';
}

@postprocess {
 	replace:'J@COM' 'J:COM';	/* J:COM */
}
