@engine default {
  eid: CR-JC;
  dictionaries: "BOUSAI-HIROSHIMA_DIC BOUSAI-HIROSHIMA_TM CROSS_DIC CROSS_TM";
}

link[type="text/css"][href] {
  attribute: href rewrite "@RewriteStyleSheetLocation";
}

@urlmap RewriteStyleSheetLocation {
  "http://www.bousai.pref.hiroshima.jp/hdis/css/common.css" : "/hdis/css_cn/common.css";
  "http://www.bousai.pref.hiroshima.jp/hdis/css/large.css" : "/hdis/css_cn/large.css";
  "http://www.bousai.pref.hiroshima.jp/hdis/css/map.css" : "/hdis/css_cn/map.css";
  "http://www.bousai.pref.hiroshima.jp/hdis/css/midium.css" : "/hdis/css_cn/midium.css";
  "http://www.bousai.pref.hiroshima.jp/hdis/css/page.css" : "/hdis/css_cn/page.css";
  "http://www.bousai.pref.hiroshima.jp/hdis/css/print.css" : "/hdis/css_cn/print.css";
  "http://www.bousai.pref.hiroshima.jp/hdis/css/small.css" : "/hdis/css_cn/small.css";
  "http://www.bousai.pref.hiroshima.jp/hdis/css/top.css" : "/hdis/css_cn/top.css";
}

// @RULESET
// URL #= http://www\.bousai\.pref\.hiroshima\.jp/hdis/(?:index\.html)?
script[type="text/javascript"][src="/www/banner/0000000000000/toppage.js"] {
  attribute: src rewrite "/www/banner/0000000000000/toppage_cn.js";
}
