@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM LAW";
}
@engine wakayama/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER LAW";
}
@engine wakayama/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER LAW";
}

div.contents_title {
 attribute: clftx add 'exclude';
}

div.record_title {
 attribute: clftx add 'exclude';
}

div.menu_title {
 attribute: clftx add 'exclude';
}

div.HeaderMenuBlock {
 attribute: cltx add 'exclude';
}

div.SideMenuBlock {
 attribute: cltx add 'exclude';
}

// @RULESET
// URL #= http://www\.town\.yuasa\.wakayama\.jp/publics/index/65/.*
span{
 text-flow: break;
}
