@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine aeonmall/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine aeonmall/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
  replace:'<!-- crosslanguage-k:show(.*?)/crosslanguage-k:show -->' '$1';
}

// @RULESET
// URL #= http://tokoname-aeonmall\.com
@preprocess {
  replace:'<a href="/floorguide/" target="blank" class="fade">' '<a href="/floorguide-tr/" target="blank" class="fade cl-norewrite">';
}

// @RULESET
// URL #= http://kochi-aeonmall\.com
@preprocess {
  replace:'<a href="/floorguide/" target="blank" class="fade">' '<a href="/floorguide_tr/" target="blank" class="fade cl-norewrite">';
  replace:'<a href="/floorguide/" class="fade" target="_blank">' '<a href="/floorguide_tr/" class="fade cl-norewrite" target="_blank">';
  replace:'<a href="http://kochi-aeonmall.com/floorguide/" class="fade" target="_blank">' '<a href="http://kochi-aeonmall.com/floorguide_tr/" class="fade cl-norewrite" target="_blank">';
}

// @RULESET
// URL #= http://makuharishintoshin-aeonmall\.com
@preprocess {
  replace:'<a href="/floorguide/" target="blank" class="fade">' '<a href="/floorguide-en/" target="blank" class="fade cl-norewrite">';
  replace:'<a href="http://makuharishintoshin-aeonmall.com/floorguide/" class="fade" target="_blank">' '<a href="http://makuharishintoshin-aeonmall.com/floorguide-en/" class="fade cl-norewrite" target="_blank">';
}


// @RULESET
// URL #= http://narita-aeonmall\.com
@preprocess {
  replace:'<a href="/floorguide/" target="blank" class="fade">' '<a href="/floorguide-tr/" target="blank" class="fade cl-norewrite">';
  replace:'<a href="http://narita-aeonmall.com/floorguide-tr/" class="fade" target="_blank">' '<a href="http://narita-aeonmall.com/floorguide-tr/" class="fade cl-norewrite" target="_blank">';
}

// @RULESET
// URL #= http://kyoto-aeonmall\.com
@preprocess {
  replace:'<a href="/floorguide/" target="blank" class="fade">' '<a href="/floorguide-ko/" target="blank" class="fade cl-norewrite">';
  replace:'<a href="/floorguide/" class="fade" target="_blank">' '<a href="/floorguide-ko/" class="fade cl-norewrite" target="_blank">';
}

// @RULESET
// URL #= http://odaka-aeonmall\.com
@preprocess {
  replace:'<a href="/floorguide/" target="blank" class="fade">' '<a href="/floorguide-tr" target="blank" class="fade cl-norewrite">';
  replace:'<a href="http://odaka-aeonmall.com/floorguide/" class="fade" target="_blank">' '<a href="http://odaka-aeonmall.com/floorguide-tr/" class="fade cl-norewrite" target="_blank">';
}

// @RULESET
// URL #= http://kisarazu-aeonmall\.com
@preprocess {
  replace:'<a href="/floorguide/" target="blank" class="fade">' '<a href="/floorguide-ko/" target="blank" class="fade cl-norewrite">';
  replace:'<a href="/floorguide/" class="fade" target="_blank">' '<a href="/floorguide-ko/" class="fade cl-norewrite" target="_blank">';
  replace:'<a href="http://kisarazu-aeonmall.com/floorguide/" class="fade" target="_blank">' '<a href="http://kisarazu-aeonmall.com/floorguide-ko/" class="fade cl-norewrite" target="_blank">';
}

// @RULESET
// URL #= http://rinkusennan-aeonmall\.com
@preprocess {
  replace: '<a href="/floorguide/" target="blank" class="fade">' '<a href="/floorguide-en/" target="blank" class="fade cl-norewrite">';
  replace: '<a href="/floorguide/" class="fade" target="_blank">' '<a href="/floorguide-en/" class="fade cl-norewrite" target="_blank">';
  replace: '<a href="http://rinkusennan-aeonmall.com/floorguide/" class="fade" target="_blank">' '<a href="http://rinkusennan-aeonmall.com/floorguide-en/" class="fade cl-norewrite" target="_blank">';
}

// @RULESET
// URL #= http://asahikawaekimae-aeonmall.com
@preprocess {
  replace: '<a href="/floorguide/" target="blank" class="fade">' '<a href="/floorguide-tr/" target="blank" class="fade cl-norewrite">';
  replace: '<a href="/floorguide/" class="fade" target="_blank">' '<a href="/floorguide-tr/" class="fade cl-norewrite" target="_blank">';
  replace: '<a href="http://asahikawaekimae-aeonmall.com/floorguide/" class="fade" target="_blank">' '<a href="http://asahikawaekimae-aeonmall.com/floorguide-tr/" class="fade cl-norewrite" target="_blank">';
}

@preprocess {
  replace:"var all.*?=.*?\;" "var all = '전체';";
  replace:"var caces.*?=.*?\;" "var caces = '건';";
}