@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine aeonmall/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine aeonmall/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

// @RULESET
// URL #= http://(wakayama-aeonmall|asahikawaekimae-aeonmall)\.com
@preprocess {
 replace:'<a href="/floorguide/" target="blank" class="fade">' '<a href="/floorguide-tr/" target="blank" class="fade cl-norewrite">';
}

@preprocess {
  replace:'<a href="http://wakayama-aeonmall.com/floorguide/" class="fade" target="_blank">' '<a href="http://wakayama-aeonmall.com/floorguide-tr/" class="fade cl-norewrite" target="_blank">';
}

@preprocess {
  replace:'<a href="http://asahikawaekimae-aeonmall.com/floorguide/" class="fade" target="_blank">' '<a href="http://asahikawaekimae-aeonmall.com/floorguide-tr/" class="fade cl-norewrite" target="_blank">';
}


// @RULESET
// URL #= http://(makuharishintoshin-aeonmall|kyoto-aeonmall)\.com
@preprocess {
 replace:'<a href="/floorguide/" target="blank" class="fade">' '<a href="/floorguide-en/" target="blank" class="fade cl-norewrite">';
}

@preprocess {
 replace:'<a href="/floorguide/" target="blank" class="fade">' '<a href="/floorguide/" target="blank" class="fade cl-norewrite">';
}

@preprocess {
  replace:'<a href="http://makuharishintoshin-aeonmall.com/floorguide/" class="fade" target="_blank">' '<a href="http://makuharishintoshin-aeonmall.com/floorguide-en/" class="fade cl-norewrite" target="_blank">';
}

@preprocess {
  replace:'<a href="http://kyoto-aeonmall.com/floorguide/" class="fade" target="_blank">' '<a href="http://kyoto-aeonmall.com/floorguide-en/" class="fade cl-norewrite" target="_blank">';
}

@preprocess {
  replace:"var all.*?=.*?\;" "var all = '전체';";
  replace:"var caces.*?=.*?\;" "var caces = '건';";
}