// Google Map API
// TODO
// APIƒL[‚ğæ“¾‚·‚é
@rewrite RewriteGMapKey {
  if (url matches "^(http://maps\\.google\\.com/maps\\?file=api&v=2&(?:.*?&)?key)=[^&]+(&.*)?") return "{$1}=hogehoge{$2}";
}
script[type="text/javascript"][src^="http://maps.google.com/maps"] {
  attribute: src rewrite "@RewriteGMapKey";	
}
