@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine oki-park/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine oki-park/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
  replace: 'lang=ja_jp' 'lang=ko_kr';
}

@preprocess {
  replace: "'UA-49040681-1', 'oki-park.jp'" "'UA-52797886-1', 'auto'";
}