@engine default {
  eid: BR-JA.PT.EN;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM INTERNET";
}
@engine akaihane/main {
  eid: BR-JA.PT.EN;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine akaihane/cross {
  eid: BR-JA.PT.EN;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}
