#site-translate-header-wrapper{
	width:100% !important;
	height:44px;
	position: fixed;
	top:0;
	z-index: 999;
}

#site-translate-header-wrapper p {
	font-size:10px;
	line-height: 12px;
}

#site-translate-message{
	display:
	table-cell;
	height:44px;
	vertical-align:middle;
	width:5000px;
    padding: 0;
}

header {
    top: 44px;
}

@media (min-width: 768px) {

	.overlayMenu {
	    top: 144px;
	}

	#h_nav {
	    left: 0;
	}

	#h_nav>li {
	    margin-right: 9px;
	}

	#h_lang {
	    right: 0;
	}

	.midashi_01 {
	    padding: 94px 0 50px;
	}

	#sub_menu {
	    top: 211px;
	}

	.ctrl_year {
	    width: 23%;
	}

	.common_btn:lang(en), .common_btn:lang(ko) {
	    width: 520px;
	}

	.bus-stopNav li {
	    font-size: 92%;
	}

	.select_flex>div:first-child:lang(en) {
	    width: 38%;
	}

	.select_flex>div:nth-child(2):lang(en) {
	    width: 25%;
	}

}

@media (max-width: 767.98px) {

	.overlayMenuBtn {
	    top: 44px;
	}

	.overlayMenu {
	    top: 94px;
	}

	#topslide {
	    margin: 44px auto 0;
	}

	main {
		margin: 44px auto 0;
	}

	.slick_slide span {
	    width: 98%;
	    line-height: normal;
	}

}
