#site-translate-header-wrapper{
	width:100% !important;
	height:44px;
	position: fixed;
	top:0;
	z-index: 999;
}

#site-translate-header-wrapper p {
	font-size:10px;
	line-height: 12px;
}

#site-translate-message{
	display:
	table-cell;
	height:44px;
	vertical-align:middle;
	width:5000px;
    padding: 0;
}

header {
    top: 44px;
}

.syouwa\:\:before,
.heisei\:\:before {
	content: none;
}

@media (min-width: 768px) {

	.overlayMenu {
	    top: 144px;
	}

	#h_nav {
	    left: 0;
	}

	#h_nav>li {
	    margin-right: 9px;
	}

	#h_lang {
	    right: 0;
	}

	.midashi_01 {
	    padding: 94px 0 50px;
	}

	#sub_menu {
	    top: 211px;
	}

	.ctrl_year {
	    width: 23%;
	}

	.common_btn:lang(en), .common_btn:lang(ko) {
	    width: 520px;
	}

	.bus-stopNav li {
	    font-size: 92%;
	}

	.select_flex>div:first-child:lang(en) {
	    width: 38%;
	}

	.select_flex>div:nth-child(2):lang(en) {
	    width: 25%;
	}

	.f_m_l p a {
	    line-height: normal;
	}

	#footer>li:first-child:lang(en) {
	    width: 12%;
	}

	#footer>li:nth-child(3):lang(en) {
	    width: 20%;
	}

	#footer>li:nth-child(4):lang(en) {
	    width: 21%;
	}

	#footer>li:nth-child(5):lang(en) {
	    width: 14%;
	}

	#footer>li:last-child:lang(en) {
	    width: auto;
	}

}

@media (max-width: 767.98px) {

	.overlayMenuBtn {
	    top: 44px;
	}

	.overlayMenu {
	    top: 94px;
	}

	#topslide {
	    margin: 44px auto 0;
	}

	main {
		margin: 44px auto 0;
	}

	.slick_slide span {
	    width: 98%;
	    line-height: normal;
	}

	.guide_tableBase td {
	    overflow-wrap: break-word;
	}

	.guide_tableBase td:nth-of-type(2):lang(en) {
	    width: 49.9%;
	}

	.guide_tableBase td:nth-of-type(3):lang(en) {
	    width: 50%;
	}

	ul.bus-stopNav > li:nth-child(2):lang(en),
	ul.bus-stopNav > li:nth-child(3):lang(en) {
		height: 85px;
	}

	ul.bus-stopNav > li:nth-child(2) a,
	ul.bus-stopNav > li:nth-child(3) a {
		height: 100%;
	}

	.process_menu2>a>li {
	    width: 100%:lang(en);
	}

	#footer_sp>li:nth-child(7):lang(en) {
	    text-align: center;
	}

}
