@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION TOURISM";
}
@engine ginza6/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION TOURISM";
}
@engine ginza6/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION TOURISM";
}

body {
	attribute: lang add 'zh';
}

div#contents > footer#footer {
	attribute:style add 'padding: 1% 0 1.5%;';
}

/* Googleアナリティクス */
@preprocess {
	replace: 'UA-54523459-1' 'UA-54523459-6';
}

@postprocess {
	replace: '<p class="prof_jp">(.*?)中村紫藤𠮷总店尝(.*?)</p>' '<p class="prof_jp">$1中村藤𠮷总店尝$2</p>';
}
