@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION TOURISM";
}
@engine ginza6/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION TOURISM";
}
@engine ginza6/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION TOURISM";
}

body {
	attribute: lang add 'zh';
}

div#contents > footer#footer {
	attribute:style add 'padding: 1% 0 1.5%;';
}
