@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION TOURISM";
}
@engine ginza6/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION TOURISM";
}
@engine ginza6/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION TOURISM";
}

body {
	attribute: lang add 'zh';
}

div#contents > footer#footer {
	attribute:style add 'padding: 1% 0 1.5%;';
}

/* Googleアナリティクス */
@preprocess {
	replace: 'UA-54523459-1' 'UA-54523459-6';
}

@preprocess {
	replace:'<p class="addres">〒(.*?)</p>' '<p class="addres">邮政编号$1</p>';
}

@postprocess {
	replace: '<p class="prof_jp">(.*?)中村紫藤𠮷总店尝(.*?)</p>' '<p class="prof_jp">$1中村藤𠮷总店尝$2</p>';
	replace: '那时我们驾驶四驱车(.*?)境了。' '那时我们驾驶四驱车，将车上的小帐篷撑起后在里面睡觉，就这样横穿了撒哈拉沙漠。这段回忆至今仍然记忆犹新。今天住在这里，明天又住到那里，这种游牧民族般的住宅是建筑师最向往的，然而无论建筑如何优秀，却都无法离开原来的地方。我感觉这种相互矛盾的困境正可以利用这次的\\‘住箱\\’来解决。"';
	replace: '"我画神兽类是常有的事(.*?)…… \\(笑\\)' '小松女士微笑表示：“我的作品中有很多神兽，凑巧‘OKANO’公司的吉祥物是凤凰，而凤凰也是神兽。图案顺理成章直接采用了凤凰，只不过这次画的是蜕变为凤凰之前的雏鸟。只有尾羽部分正逐渐成型，虽然已开始细胞分裂，但是翅膀没有展开。就像我一样，作为艺术家还不成熟，属于正在进化的雏鸟。在色彩方面，由于提到银座通常会联想到霓虹灯遍布的街道，我希望银座能成为由众多不同人群妆点而成的彩色街道，所以将这个想法融入其中。我还请友禅染的工匠师傅教我如何调配颜色，自制绘画工具。使用的不是常用的画笔，而是专用的特殊刷毛，绘画过程非常有趣。”顺带一提，这次的方巾根据小松女士的名字被命名为“美丽的羽毛 02”。“01”是2016年在日本举办G7峰会时，在相关部长级会议之一“长野县轻井泽交通部长会议”上赠送给各国部长的披肩，“02”即定位为系列第2作。“‘01’时我只负责绘画，其他部分交给友禅的工匠，这次在GINZA SIX限量版时装中参与材质选择尚属首次。底色染成黑色虽然也是为了表现霓虹街的夜晚，另外也是希望让图案更加鲜明。我说过还想和OKANO一起合作到系列‘99’，如果真的能够实现，最后不知道会蜕变成什么样的凤凰呢？”';
	replace: '除此之外，GINZA SIX的(.*?)日本的心吧' '除此之外，GINZA SIX的商品还有KURO与HANGLOOSE新开发的超防水加工牛仔新品，以及部分女性服饰等，仅限开业时品牌首次发表的商品。这里将成为对日本粉丝和海外顾客传递日本工匠精神的第一线。顺带提一句，光临本店时，请看看标签。如果您拿在手上的是本次的限量版时装，应该可以在标签上找到“HANGLOOSE”的工厂名称。如果牛仔服饰是在儿岛进行的加工，那么缝制就是宫城县的气仙沼，毛料是爱知县的尾州，衬衫是静冈县的滨松和兵库县的西脇等。这是八桥先生频繁走访日本各地工厂，直接接触工匠技术和风范后，表示感谢的印记，或许也可称为日本精神吧';
	replace: '其二是设定好各种场景进行模拟(.*?)其中有些部分必须与建筑师合作' '其二是设定好各种场景进行模拟，从而设计出人在空间中的动向。例如，从某个地点到另一个地点需要花几分钟?此时是否需要再多设一台电梯?希望这一带有光线，是否需要挑高?……。空间的能量自然循环，这样的空间不会对人们的情绪和身体感受造成负面影响。其中有些部分必须与建筑师合作';
	replace: '于是这次完成的商标也简单到让人不禁想问(.*?)认为是能在所有场合接近的东西' '于是这次完成的商标也简单到让人不禁想问“这么简单行吗？”我认为正因为简洁的缘故，所以所有的场景都可以贴近，像是传统文化、高科技、当代艺术等等，不单单只是奢华及流行时尚而已';
	replace: '顺带一提，我虽然把主商标设计成“GSIX”(.*?)的缩写设计' '顺带一提，我虽然把主商标设计成“GSIX”，但是原本的课题是“希望能用GINZA SIX来设计”。只不过我从1983年任职于日本设计中心后，已经有长达33年的时间在银座工作，无论是大楼或是商店，老是加上银座这两个字，感觉有点腻了……(笑)。于是我建议使用“GSIX”的缩写设计';
	replace:'<a href="(.*?)/shops" class="view_detail">(.*?)</a>' '<a href="$1/shops" class="view_detail">店铺介绍</a>';
	replace:'<a href="(.*?)/facilities" class="view_detail">(.*?)</a>' '<a href="$1/shops" class="view_detail">设施导览</a>';
}
