@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine tipness/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine tipness/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
	replace:'<span>\\\¥(.*?)</span>月' '<span>\\\¥$1</span><br style="display:none;">월';
}
