@preprocess {
	replace:'TIP.X TOKYO新宿' 'TIP.X TOKYO 신주쿠';
	replace:'TIP.X TOKYO渋谷' 'TIP.X TOKYO 시부야';
	replace:'TIP.X TOKYO池袋' 'TIP.X TOKYO 이케부쿠로';
	replace:'綾瀬店' 	'아야세점';
	replace:'大泉学園店' 	'오이즈미가쿠엔점';
	replace:'蒲田店' 	'가마타점';
	replace:'喜多見店' 	'기타미점';
	replace:'木場店' 	'기바점';
	replace:'五反田店' 	'고탄다점';
	replace:'三軒茶屋店' 	'산겐자야점';
	replace:'下井草店' 	'시모이구사점';
	replace:'下北沢店' 	'시모키타자와점';
	replace:'東武練馬店' 	'도부네리마점';
	replace:'練馬店' 	'네리마점';
	replace:'氷川台店' 	'히카와다이점';
	replace:'東新宿店' 	'히가시신주쿠점';
	replace:'瑞江店' 	'미즈에점';
	replace:'明大前店' 	'메이다이마에점';
	replace:'六本木店' 	'롯폰기점';
	replace:'吉祥寺店' 	'기치조지점';
	replace:'国分寺店' 	'고쿠분지점';
	replace:'国領店' 	'고쿠료점';
	replace:'田無店' 	'다나시점';
	replace:'町田店' 	'마치다점';
	replace:'FASTGYM24' 	'FASTGYM24';
	replace:'赤羽店' 	'아카바네점';
	replace:'阿佐ヶ谷店' 	'아사가야점';
	replace:'新井薬師前店' 	'아라이야쿠시마에점';
	replace:'入谷店' 	'이리야점';
	replace:'梅屋敷店' 	'우메야시키점';
	replace:'江古田店' 	'에코다점';
	replace:'江戸川橋店' 	'에도가와바시점';
	replace:'江戸川橋店' 	'에도가와바시점';
	replace:'荏原中延店' 	'에바라나카노부점';
	replace:'王子神谷店' 	'오지카미야점';
	replace:'大森町店' 	'오모리마치점';
	replace:'大山店' 	'오오야마점';
	replace:'大山店' 	'오오야마점';
	replace:'奥沢店' 	'오쿠사와점';
	replace:'葛西店' 	'가사이점';
	replace:'春日後楽園店' 	'가스가코라쿠엔점';
	replace:'要町店' 	'가나메초점';
	replace:'上板橋店' 	'가미이타바시점';
	replace:'上石神井店' 	'가미샤쿠지이점';
	replace:'亀有店' 	'가메아리점';
	replace:'菊川店' 	'기쿠카와점';
	replace:'喜多見店' 	'기타미점';
	replace:'糀谷店' 	'고지야점';
	replace:'小竹向原店' 	'고타케무카이하라점';
	replace:'豪徳寺店' 	'고토쿠지점';
	replace:'五反野店' 	'고단노점';
	replace:'鷺ノ宮店' 	'사기노미야점';
	replace:'笹塚店' 	'사사즈카점';
	replace:'篠崎店' 	'시노자키점';
	replace:'下赤塚店' 	'시모아카쓰카점';
	replace:'下板橋店' 	'시모이타바시점';
	replace:'板橋店' 	'이타바시점';
	replace:'新大塚店' 	'신오쓰카점';
	replace:'新大塚店' 	'신오쓰카점';
	replace:'新小岩店' 	'신코이와점';
	replace:'小岩店' 	'고이와점';
	replace:'新高円寺店' 	'신코엔지점';
	replace:'祖師ヶ谷大蔵店' 	'소시가야오쿠라점';
	replace:'雑色店' 	'조시키점';
	replace:'千歳船橋店' 	'지토세후나바시점';
	replace:'築地店' 	'쓰키지점';
	replace:'豊島園店' 	'도시마엔점';
	replace:'都立家政店' 	'도리쓰카세이점';
	replace:'都立大学店' 	'도리쓰다이가쿠점';
	replace:'中野新橋店' 	'나카노신바시점';
	replace:'中村橋店' 	'나카무라바시점';
	replace:'西大井店' 	'니시오이점';
	replace:'西小山店' 	'니시코야마점';
	replace:'西小山アネックス店' 	'니시코야마 어넥스점';
	replace:'人形町店' 	'닌교초점';
	replace:'人形町店' 	'닌교초점';
	replace:'沼袋店' 	'누마부쿠로점';
	replace:'野方店' 	'노가타점';
	replace:'白山店' 	'하쿠산점';
	replace:'幡ヶ谷店' 	'하타가야점';
	replace:'幡ヶ谷店' 	'하타가야점';
	replace:'八丁堀店' 	'핫초보리점';
	replace:'氷川台店' 	'히카와다이점';
	replace:'東中野店' 	'히가시나카노점';
	replace:'東向島店' 	'히가시무코지마점';
	replace:'平井店' 	'히라이점';
	replace:'方南町店' 	'호난초점';
	replace:'町屋店' 	'마치야점';
	replace:'武蔵関店' 	'무사시세키점';
	replace:'武蔵新田店' 	'무사시닛타점';
	replace:'雪が谷大塚店' 	'유키가야오쓰카점';
	replace:'両国店' 	'료고쿠점';
	replace:'早稲田店' 	'와세다점';
	replace:'ティップネス日本橋スタイル' 	'팁네스 니혼바시 스타일';
	replace:'日本橋スタイル' 	'니혼바시 스타일';
	replace:'リベリー日本橋高島屋' 	'리베리 니혼바시 다카시마야';
	replace:'ティップネス丸の内スタイル' 	'팁네스 마루노우치 스타일';
	replace:'丸の内スタイル' 	'마루노우치 스타일';
	replace:'国立富士見台店' 	'구니타치후지미다이점';
	replace:'小平店' 	'고다이라점';
	replace:'柴崎店' 	'시바사키점';
	replace:'鶴川店' 	'쓰루카와점';
	replace:'中河原店' 	'나카가와라점';
	replace:'西八王子店' 	'니시하치오지점';
	replace:'日野店' 	'히노점';
	replace:'三鷹店' 	'미타카점';
	replace:'鴨居店' 	'가모이점';
	replace:'川崎店' 	'가와사키점';
	replace:'新百合ヶ丘店' 	'신유리가오카점';
	replace:'鶴見店' 	'쓰루미점';
	replace:'二俣川店' 	'후타마타가와점';
	replace:'宮崎台店' 	'미야자키다이점';
	replace:'宮前平店' 	'미야마에다이라점';
	replace:'横浜店' 	'요코하마점';
	replace:'大倉山店' 	'오쿠라야마점';
	replace:'小田急相模原店' 	'오타큐 사가미하라점';
	replace:'小田栄店' 	'오다사카에점';
	replace:'川崎西口店' 	'가와사키 니시구치점';
	replace:'弘明寺店' 	'구묘지점';
	replace:'綱島店' 	'쓰나시마점';
	replace:'中野島店' 	'나카노시마점';
	replace:'仲町台店' 	'나카마치다이점';
	replace:'根岸店' 	'네기시점';
	replace:'東林間店' 	'히가시린칸점';
	replace:'平間店' 	'히라마점';
	replace:'溝の口店' 	'미조노쿠치점';
	replace:'武蔵新城店' 	'무사시신조점';
	replace:'元住吉店' 	'모토스미요시점';
	replace:'元住吉アネックス店' 	'모토스미요시 어넥스점';
	replace:'矢向店' 	'야코우점';
	replace:'百合ヶ丘店' 	'유리가오카점';
	replace:'六角橋店' 	'롯카쿠바시점';
	replace:'蘇我店' 	'소가점';
	replace:'船橋店' 	'후나바시점';
	replace:'南行徳店' 	'미나미교토쿠점';
	replace:'行徳店' 	'교토쿠점';
	replace:'検見川浜店' 	'게미가와하마점';
	replace:'下総中山店' 	'시모우사나카야마점';
	replace:'船橋市場店' 	'후나바시 이치바점';
	replace:'南流山店' 	'미나미나가레야마점';
	replace:'四街道店' 	'요쓰카이도점';
	replace:'川口店' 	'가와구치점';
	replace:'久喜店' 	'구키점';
	replace:'草加店' 	'소카점';
	replace:'武蔵藤沢店' 	'무사시후지사와점';
	replace:'藤沢店' 	'후지사와점';
	replace:'朝霞店' 	'아사카점';
	replace:'蒲生店' 	'가모점';
	replace:'西所沢店' 	'니시토코로자와점';
	replace:'みずほ台店' 	'미즈호다이점';
	replace:'谷塚店' 	'야쓰카점';
	replace:'和光市店' 	'와코시점';
	replace:'蕨店' 	'와라비점';
	replace:'太田店' 	'오타점';
	replace:'浜松葵東店' 	'하마마쓰 아오이히가시점';
	replace:'藤枝店' 	'후지에다점';
	replace:'上飯田店' 	'가미이다점';
	replace:'江南店' 	'고난점';
	replace:'石橋店' 	'이시바시점';
	replace:'梅田店' 	'우메다점';
	replace:'京橋店' 	'교바시점';
	replace:'香里園店' 	'고리엔점';
	replace:'高槻店' 	'다카쓰키점';
	replace:'宝塚店' 	'다카라즈카점';
	replace:'塚口店' 	'쓰카구치점';
	replace:'天王寺店' 	'덴노지점';
	replace:'布施店' 	'후세점';
	replace:'武庫之荘店' 	'무코노소우점';
	replace:'中野店' 	'나카노점';
	replace:'<label for=\\\\"footer_search_check\\\\" class=\\\\"tip-mod-footer__search__button\\\\"><span>(.*?)</span></label>' '<label for=\\\\"footer_search_check\\\\" class=\\\\"tip-mod-footer__search__button\\\\"><span>점포 찾기</span></label>';
	replace:'位置情報が取得できませんでした。' 	'위치정보를 취득할 수 없습니다.';
	replace:'位置情報の許可をONにしてください。' '위치정보 접근 허용을 켬으로 설정하세요.';
	replace:'もっと見る' 	'더 보기';
	replace:'全て' 	'모두';
	replace:'関東' 	'간토';
	replace:'東海' 	'도카이';
	replace:'中京' 	'주쿄';
	replace:'関西' 	'간사이';
	replace:'条件で検索する' 	'조건으로 찾기';
	replace:'未選択' 	'미선택';
	replace:'ストレッチ・リフレッシュ' 	'스트레치·리프레쉬';
	replace:'ヨガ・ピラティス' 	'요가·필라테스';
	replace:'筋トレ・格闘技プログラム' 	'근력 트레이닝·격투기 프로그램';
	replace:'ショートプログラム' 	'쇼트 프로그램';
	replace:'脂肪燃焼系プログラム・エアロビクス' 	'지방 연소계 프로그램·에어로빅스';
	replace:'スイミング・アクア' 	'수영·아쿠아';
	replace:'ダンス/バレエ' 	'댄스/발레';
	replace:'疲労回復' 	'피로 회복';
	replace:'姿勢改善' 	'자세 개선';
	replace:'柔軟性の向上' 	'유연성의 향상';
	replace:'筋力アップ' 	'근력 향상';
	replace:'脂肪燃焼' 	'지방 연소';
	replace:'基礎代謝の向上' 	'기초 대사의 향상';
	replace:'持久力アップ' 	'지구력 업';
	replace:'バランス' 	'밸런스';
	replace:'リラックス' 	'릴랙스';
	replace:'パーソナルトレーニング' 	'퍼스널 트레이닝';
	replace:'その他スクール' 	'기타 스쿨';
	replace:'件' 	'건';
	replace:'WEB入会フォームへ' 	'WEB 입회신청 바로가기';
	replace:'東京\\(23区内\\)' 	'도쿄(23구 내)';
	replace:'東京\\(その他\\)' 	'도쿄(그 외)';
	replace:'神奈川' 	'가나가와';
	replace:'千葉' 	'지바';
	replace:'埼玉' 	'사이타마';
	replace:'群馬' 	'군마';
	replace:'<li><a href=\\\\"/concept/orj4a90qo98acwk8.html\\\\">(.*?)<br>(.*?)</a></li>' '<li clftx=\\\\"exclude\\\\"><a href=\\\\"/concept/orj4a90qo98acwk8.html\\\\">처음 팁네스</a></li>';
}
