@engine default {
  eid: CR-JCT;
  dictionaries: "KURABO_DIC KURABO_TM CROSS_DIC CROSS_TM COMPUTER";
}
@engine kurabo/main {
  eid: CR-JCT;
  dictionaries: "KURABO_DIC_MASTER KURABO_TM_MASTER COMPUTER";
}
@engine kurabo/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER COMPUTER";
}

// @RULESET
// URL = http://www.kurabo.co.jp/el/rd/tm4_01.html
iframe[src$="fla/jp/tech4ch-jp.html"] {
  attribute: src rewrite "fla/tw/tech4ch-tw.html";
}
