@engine default {
  eid: CR-JC;
  dictionaries: "DOURAKU_DIC CROSS_DIC DOURAKU_TM CROSS_TM";
}
@engine douraku/main {
  eid: CR-JC;
  dictionaries: "DOURAKU_DIC_MASTER DOURAKU_TM_MASTER";
}
@engine douraku/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}