@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM";
}
@engine minpakuportal-kyoto/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM";
}
@engine minpakuportal-kyoto/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM";
}

body {
  attribute: lang add 'zh';
}

@preprocess {
  replace: 'lang=ja_jp' 'lang=zh_cn';
}
