#site-translate-header-wrapper {
	width:100% !important;
	line-height: normal;
	position: fixed;
	top: 0;
	z-index: 10000;
}

#floor_guild .nav_floor ul li a span.detail_floor {
    font-size: 10px;
}

#floor_guild .nav_floor ul li.floor_2f a span.detail_floor{
	padding-top: 2px;
    padding-bottom: 0;
    line-height: 1.4em;
}

.reminder_friends_society .friends_society_content .txt_blue {
    top: 10%;
    line-height: 1.0;
}

.reminder_friends_society .friends_society_content .txt_white {
    left: 2%;
    font-size: 12px;
    line-height: normal;
}
