#site-translate-header-wrapper {
	width:100% !important;
	line-height: normal;
}

#floor_guild .nav_floor ul li a span.detail_floor {
    font-size: 10px;
}

#floor_guild .nav_floor ul li.floor_2f a span.detail_floor{
	padding-top: 2px;
    padding-bottom: 0;
    line-height: 1.4em;
}

.reminder_friends_society .friends_society_content .txt_blue {
    top: 10%;
    line-height: 1.0;
}

.reminder_friends_society .friends_society_content .txt_white {
    left: 2%;
    font-size: 12px;
    line-height: normal;
}

#global_menu_wrapper{
	padding-top: 25px; 
}

.normal_menu .global_menu_list li h4{
	display: block;
	padding: 0 0 0 5px;
	line-height: 1.2;
}

.page-template-page-normal #main .component-inner,
.page-template-default #main .component-inner,
.archive #main .component-inner,
.single-post #main .component-inner{
	padding-top: 80px;
}

@media screen and (max-width: 800px){
	.page-template-page-normal #main .component-inner,
	.page-template-default #main .component-inner,
	.archive #main .component-inner,
	.single-post #main .component-inner{
		padding-top: 0px;
	}
}