/* 翻訳除外 */
.slides li,
#header-image .widget_metaslider_widget .metaslider .flex-control-nav li{
	attribute:cltx add 'exclude';
}

@preprocess{
	replace:'<span class="floor_building">(.*?)</span><span class="detail_floor">(.*?)</span>' '<span class="floor_building">$1</span><br style="display:none;"><span class="detail_floor">$2</span>';
	replace:'<span class="detail_floor">(.*?)<br />チケットカウンター</span>' '<span class="detail_floor">$1<br style="display:none;">チケットカウンター</span>';
	replace:'<div class="lcp_customfield"><span(.*?)>(.*?)</span>(.*?)</div>' '<div class="lcp_customfield"><span$1>$2</span><br style="display:none;">$3</div>';
	replace:'<span class="detail_floor">書店・文具・タワーレコード・美術サロン・メガネサロン・着物サロン<br />旅行サロン</span>' '<span class="detail_floor">書店・文具・タワーレコード・美術サロン・メガネサロン・着物サロン・旅行サロン</span>';
}
