@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOURMET FASHION INTERNET";
}
@engine wako/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOURMET FASHION";
}
@engine wako/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOURMET FASHION";
}

div.telWrap > p.time {
attribute: style add 'letter-spacing: -0.02em;';
}

// @RULESET
// URL #= http://www\.wako\.co\.jp/store_information/main/main_building/.*
@preprocess {
 replace: '<a href="/store_information/main/main_building/(.*?)\.html#map" class="(.*?)">' '<a href="/store_information/main/main_building/$1.html#map" class="$2"><br style="display:none;">';
 }
 
// @RULESET
// URL = http://www.wako.co.jp/faq/
table {
 attribute: style set "width:360px;";
}

// @RULESET
// URL #= http://www\.wako\.co\.jp/.*
div.title > p > a {
attribute: style set 'font-size: 11px;';
}
