@engine default {
  eid: CR-JK;
  dictionaries: "VISITJAPAN-TOHOKU_DIC VISITJAPAN-TOHOKU_TM CROSS_TM";
}
@engine visitjapan-tohoku/main {
  eid: CR-JK;
  dictionaries: "VISITJAPAN-TOHOKU_DIC_MASTER VISITJAPAN-TOHOKU_TM_MASTER";
}
@engine visitjapan-tohoku/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}