@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM SYSTEM MECHA ELEC";
}
@engine kuraka/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER SYSTEM MECHA ELEC";
}
@engine kuraka/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER SYSTEM MECHA ELEC";
}

body {
  attribute: lang add 'zh';
}
