@engine default {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine biccamera-test/main {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine biccamera-test/cross {
  eid: MS-JATH;
  dictionaries: "CROSS_TM_MASTER";
}
