@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOVT GOURMET INTERNET";
}
@engine jr-takashimaya/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOVT GOURMET";
}
@engine jr-takashimaya/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOVT GOURMET";
}

@preprocess {
  replace: '\\(月\\)' '(Mon)';
  replace: '\\(火\\)' '(Tue)';
  replace: '\\(水\\)' '(Wed)';
  replace: '\\(木\\)' '(Thu)';
  replace: '\\(金\\)' '(Fri)';
  replace: '\\(土\\)' '(Sat)';
  replace: '\\(日\\)' '(Sun)';
}

// @RULESET
// URL #= //cmsstage\.jr-takashimaya\.co\.jp/today/
// URL #= //www\.jr-takashimaya\.co\.jp/today/
@preprocess {
  replace: '<span class="Todays__calendarMonth"><span id="Calendar__month">(.*?)</span>月</span>' '<span class="Todays__calendarMonth"><span id="Calendar__month">$1</span></span>';
  replace: '前月' 'Prev';
  replace: '翌月' 'Next';
}
