@engine default {
  eid: CR-JE;
  dictionaries: "MITSUKOSHI_TM MITSUKOSHI_DIC CROSS_TM CROSS_DIC DEPART FASHION HOBBY BEAUTY GOURMET INTERNET";
}
@engine mitsukoshi/main {
  eid: CR-JE;
  dictionaries: "MITSUKOSHI_TM_MASTER MITSUKOSHI_DIC_MASTER FASHION HOBBY BEAUTY GOURMET";
}
@engine mitsukoshi/cross {
  eid: CR-JE;
  dictionaries: "CROSS_TM_MASTER CROSS_DIC_MASTER FASHION HOBBY BEAUTY GOURMET";
}
