@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine snowtomamu/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine snowtomamu/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

// @RULESET
// URL = http://www.snowtomamu.jp/special/xmas/
@postprocess {
replace: '<p class="logo"><a href="/winter/">' '<p class="logo"><a href="http://www.snowtomamu.jp/winter/topics2015/index_ko.html" class="cl-norewrite">';
}