@preprocess {
  replace: '((TEL|FAX)\.)\\d{1}(\\d{3}-\\d{2}-\\d{4})' '$1+81-$3';
  replace: '"(seihin|setsubi|hinshitsu|company|form)_top.html"' "top2.html";
}

// @RULESET
// URL =http://www.kobayashi-akita.co.jp/hinshitsu/hinshitsu_houshin2.html
@preprocess {
  replace: '(\\d{1}）)' '<p style="display: inline;">$1</p>';
}

// @RULESET
// URL =http://www.kobayashi-akita.co.jp/company_main.html
@preprocess {
  replace: '〒(015-8686 秋田県由利本荘市石脇字赤)<img src="company/t1.jpg" width="13" height="12" align="baseline" />(1-372)' '<p style="display: inline;">$1$2</p>';
}
@postprocess {
  replace: '((TEL|FAX))\.(\\+81-\\d{3}-\\d{2}-\\d{4})' '$1:$3';
}
