@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine matsuzakaya/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine matsuzakaya/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

body {
  attribute: lang add 'zh';
}

// @RULESET
// URL =http://www.matsuzakaya.co.jp/nagoya/
// URL =http://www.matsuzakaya.co.jp/nagoya/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/nagoya/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="http://dmdepart.jp/dgcatalog/washoku/"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/730x349_c.jpg"></a></p>';
}

// @RULESET
// URL =http://www.matsuzakaya.co.jp/ueno/
// URL =http://www.matsuzakaya.co.jp/ueno/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/ueno/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="http://dmdepart.jp/dgcatalog/washoku/"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/730x349_c.jpg"></a></p>';
}

// @RULESET
// URL =http://www.matsuzakaya.co.jp/shizuoka/
// URL =http://www.matsuzakaya.co.jp/shizuoka/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/shizuoka/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="http://dmdepart.jp/dgcatalog/washoku/"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/730x349_c.jpg"></a></p>';
}

// @RULESET
// URL =http://www.matsuzakaya.co.jp/smp/nagoya/
// URL =http://www.matsuzakaya.co.jp/smp/nagoya/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/nagoya/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="http://dmdepart.jp/dgcatalog/washoku/"><img width="300" alt="" src="http://dmdepart.jp/fl/images/710x264_c.jpg"></a></p>$1';
}

// @RULESET
// URL =http://www.matsuzakaya.co.jp/smp/ueno/
// URL =http://www.matsuzakaya.co.jp/smp/ueno/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/ueno/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="http://dmdepart.jp/dgcatalog/washoku/"><img width="300" alt="" src="http://dmdepart.jp/fl/images/710x264_c.jpg"></a></p>$1';
}

// @RULESET
// URL =http://www.matsuzakaya.co.jp/smp/shizuoka/
// URL =http://www.matsuzakaya.co.jp/smp/shizuoka/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/shizuoka/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="http://dmdepart.jp/dgcatalog/washoku/"><img width="300" alt="" src="http://dmdepart.jp/fl/images/710x264_c.jpg"></a></p>$1';
}

// @RULESET
// URL =http://dmdepart.jp/fl/
// URL =http://dmdepart.jp/fl/smp/
@preprocess {
  replace: "www\.daimaru\.co\.jp/" "www.daimaru.co.jp.c.md.hp.transer.com/";
}
