@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM";
}
@engine ochahaku/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM";
}
@engine ochahaku/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM";
}

/* 多言語対応 */
@postprocess {
	replace:'https://maps.googleapis.com/maps/api/js(.*)key=(.*)"' 'https://maps.googleapis.com/maps/api/js$1&language=zh-TW&key=$2"';

}

@postprocess {
	replace:'<div class="searchInput">(.*?)<input type="search" name="keyword" placeholder=(.*?)>(.*?)</div>' '<div class="searchInput">$1<input type="search" name="keyword" placeholder="關鍵字">$3</div>';
	replace:'<div class="searchInput selectDeco">(.*?)<input name="kw" placeholder=(.*?) value="">(.*?)</div>' '<div class="searchInput selectDeco">$1<input name="kw" placeholder="關鍵字" value="">$3</div>';
	replace:'<input type="search" name="keyword" placeholder=(.*?) class="wd60">' '<input type="search" name="keyword" placeholder="活動檢索" class="wd60">';
}
