#header > .container {
	attribute: cltx add 'exclude';
}

@postprocess {
	replace:'<div class="listBlock-tumb-img"><img src="(.*?)"(.*?)></div>' '<div class="listBlock-tumb-img"><img src="#\\{image\\}"$2></div>';
	replace:'<p class="listBlock-tumb-txt"(.*?)><!--cltx-->' '<p class="listBlock-tumb-txt"$1>';
	replace:'<p class="label-row"><!--cltx--><span class="label">' '<p class="label-row"><span class="label">';
}

/* FAQページ */
// @RULESET
// URL #= //shibuya-faq.dga.jp.*
@preprocess{
	replace:'<h2>件名：(.*?)　(.*?)</h2>' '<h2>件名<br style="display:none;">：<br style="display:none;">$1<br style="display:none;">　$2</h2>';
	replace:'<span class="faq">(.*?)　(.*?)</span>' '<span class="faq">$1　<br style="display:none;">$2</span>';
	replace:'<li>(.*?)<a href="faq_detail.html(.*?)">(.*?)　(.*?)</a>(.*?)</li>' '<li>$1<a href="faq_detail.html$2">$3<br style="display:none;">　$4</a>$5</li>';
}
