@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION GOURMET TOURISM INTERNET";
}
@engine dnp-atre-test/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION GOURMET TOURISM";
}
@engine dnp-atre-test/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION GOURMET TOURISM";
}

select.inpWLL {
	attribute: style add 'font-size: 11px;';
}

@postprocess {
    replace:'Atrai' 'Atre';
    replace:'Atto- Levi' 'Atrevie';
    replace:'open up' 'open';
}