@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOURMET FASHION INTERNET";
}
@engine e-meitetsu/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOURMET FASHION";
}
@engine e-meitetsu/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOURMET FASHION";
}

@preprocess {
	replace:'<!-- crosslanguage-e:show(.*?)/crosslanguage-e:show -->' '$1';
}
