@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM";
}
@engine landmark-osaka/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM";
}
@engine landmark-osaka/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM";
}

@preprocess {
  replace:'<!-- crosslanguage-t:show(.*?)/crosslanguage-t:show -->' '$1';
}

@postprocess{
	replace:'<h2 class="lnTitleB txtC">(.*?)<span>(.*?)<br>(.*?)</span></h2>' '<h2 class="lnTitleB txtC"><span>$1<br style="display:none;">$2$3</span></h2>';
}

