// @RULESET
// URL = https://www.daiomfg.co.jp/material/css/base.css
@postprocess {
 replace: 'gnavi_01_on.gif' 'en/gnavi_01_on.gif';
 replace: 'gnavi_02_on.gif' 'en/gnavi_02_on.gif';
 replace: 'gnavi_03_on.gif' 'en/gnavi_03_on.gif';
 replace: 'gnavi_04_on.gif' 'en/gnavi_04_on.gif';
 replace: 'gnavi_05_on.gif' 'en/gnavi_05_on.gif';
 replace: 'gnavi_06_on.gif' 'en/gnavi_06_on.gif';
 replace: 'gnavi_07_on.gif' 'en/gnavi_07_on.gif';
 replace: 'header_bg.gif' 'en/header_bg.gif';
}
