@engine default {
  eid: CR-JE;
  dictionaries: "MUSASHI-ENGINEERING_DIC MUSASHI-ENGINEERING_TM CROSS_DIC CROSS_TM INTERNET SYSTEM MECHA CHEMICAL";
}
@engine musashi-engineering/main {
  eid: CR-JE;
  dictionaries: "MUSASHI-ENGINEERING_DIC_MASTER MUSASHI-ENGINEERING_TM_MASTER SYSTEM MECHA CHEMICAL";
}
@engine musashi-engineering/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER SYSTEM MECHA CHEMICAL";
}

@rewrite RewriteInquiry {
  if (absurl matches "^http://www\\.musashi-engineering\\.co\\.jp/inquiry/?$") return "http://www.musashi-engineering.co.jp/english/inquiry/";
  if (absurl equals "http://www.musashi-engineering.co.jp/inquiry/inquiry.php") return "http://www.musashi-engineering.co.jp/english/inquiry/inquiry.php";
  if (absurl equals "http://www.musashi-engineering.co.jp/inquiry/request.php") return "http://www.musashi-engineering.co.jp/english/inquiry/request.php";
  if (absurl matches "^http://www\\.musashi-engineering\\.co\\.jp/member/?$") return "http://www.musashi-engineering.co.jp/english/member/";
  if (absurl equals "http://www.musashi-engineering.co.jp/member/login.php") return "http://www.musashi-engineering.co.jp/english/member/login.php";
  if (absurl equals "http://www.musashi-engineering.co.jp/member/regist.php") return "http://www.musashi-engineering.co.jp/english/member/regist.php";
  apply "@RewriteHtmlUrlAttribute";
}

a[href] {
  attribute: href rewrite @RewriteInquiry;
}

@postprocess {
  replace: 'Exclusive software "M<sup>uC</sup>OM(.)808"' 'Exclusive software "MuCOM<sup>$1</sup>808"';
  replace: 'exclusive softwar<sup>e </sup>"MuCOM(.)808"' 'Exclusive software "MuCOM<sup>$1</sup>808"';
  replace: 'Outstanding co<b><span style="color:#FF0000">ntinuous discharge stabil</span></b>ity.' 'Outstanding <b><span style="color:#FF0000">continuous discharge stability</span></b>.';
  replace: 'It is "centrally managed"<b><span style="color:#FF0000"> from an exte</span></b>rior device.' 'It is "<b><span style="color:#FF0000">centrally managed</span></b>" from an exterior device.';
}