@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOVT GOURMET INTERNET";
}
@engine housekihiroba/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOVT GOURMET";
}
@engine housekihiroba/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOVT GOURMET";
}

@preprocess {
  replace: 'UA-2642328-5' 'UA-2642328-8';
  replace: "'housekihiroba\.jp','housekihiroba\.u-s\.co\.jp'" "'housekihiroba.jp.e.nh.hp.transer.com','housekihiroba.u-s.co.jp.e.nh.hp.transer.com'";
  replace: '(<meta name="google-site-verification".*?/>)' '$1\n<meta name="google-site-verification" content="dNy9cw56eB08kA7JWqsCtd6xqFMCz92U3rJE8Gfclt0" />';
  replace: "['housekihiroba\.u-s\.co\.jp']" "['housekihiroba.u-s.co.jp.e.nh.hp.transer.com']";
}