#site-translate-header-wrapper {
	width:auto !important;
}

#site-translate-header-wrapper p {
	letter-spacing: normal;
}

#recommendation:lang(en) .bannerArea p a {
    font-size: 8.5pt;
}

#orangeGuide:lang(en) .Inner label.title {
    font-size: 80%;
    line-height: 1.2;
}

#orangeGuide:lang(en) .Inner {
    line-height: normal;
}

.og-lay:lang(en) {
    line-height: normal;
}
