@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT";
}
@engine oki-park/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT";
}
@engine oki-park/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT";
}

body {
  attribute: lang add 'zh';
}

@preprocess {
  replace: 'lang=ja_jp' 'lang=zh_cn';
}

@preprocess {
  replace: "'UA-49040681-1', 'oki-park.jp'" "'UA-52806125-1', 'auto'";
}