@engine default {
  eid: CR-JK;
  dictionaries: "MUSASHI-ENGINEERING_DIC MUSASHI-ENGINEERING_TM CROSS_TM SYSTEM MECHA CHEMICAL";
}
@engine musashi-engineering/main {
  eid: CR-JK;
  dictionaries: "MUSASHI-ENGINEERING_DIC_MASTER MUSASHI-ENGINEERING_TM_MASTER SYSTEM MECHA CHEMICAL";
}
@engine musashi-engineering/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER SYSTEM MECHA CHEMICAL";
}

@rewrite RewriteInquiry {
  if (absurl matches "^http://www\\.musashi-engineering\\.co\\.jp/inquiry/?$") return "http://www.musashi-engineering.co.jp/korean/inquiry/";
  if (absurl equals "http://www.musashi-engineering.co.jp/inquiry/inquiry.php") return "http://www.musashi-engineering.co.jp/korean/inquiry/inquiry.php";
  if (absurl equals "http://www.musashi-engineering.co.jp/inquiry/request.php") return "http://www.musashi-engineering.co.jp/korean/inquiry/request.php";
  if (absurl matches "^http://www\\.musashi-engineering\\.co\\.jp/member/?$") return "http://www.musashi-engineering.co.jp/korean/member/";
  if (absurl equals "http://www.musashi-engineering.co.jp/member/login.php") return "http://www.musashi-engineering.co.jp/korean/member/login.php";
  if (absurl equals "http://www.musashi-engineering.co.jp/member/regist.php") return "http://www.musashi-engineering.co.jp/korean/member/regist.php";
  apply "@RewriteHtmlUrlAttribute";
}

a[href] {
  attribute: href rewrite @RewriteInquiry;
}

div#footer {
  attribute: cltx add 'exclude';
}
@postprocess {
  replace: "(<!-- *?/footerInner *?-->)" "$1<p>사업자 등록증 번호：129-81-96072&nbsp;&nbsp;회사명：한국무사시엔지니어링㈜&nbsp;&nbsp;대표자：이쿠시마 카즈마사</p>";
}
