@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM FASHION";
}
@engine mitsui-shopping-park/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM FASHION";
}
@engine mitsui-shopping-park/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM FASHION";
}

body {
  attribute: lang add 'zh';
}

@preprocess {
	replace:'<!-- crosslanguage-c:show(.*?)/crosslanguage-c:show -->' '$1';
	replace: 'UA-20131188-3' 'UA-20131188-7';
	replace: 'UA-106973307-1' 'UA-106973307-4';
	replace: 'UA-9454978-1' 'UA-9454978-4';
}

// @RULESET
// URL #= //mitsui-shopping-park\.com/urban/.*
@preprocess{
	replace:'<a href="/urban/muromachi/index.html"(.*?)>' '<a href="https://mitsui-shopping-park.com/urban/coredo-muromachi/c/index.html"$1 class="cl-norewrite">';
	replace:'<a href="/urban/mitsuitower/index.html"(.*?)>' '<a href="https://mitsui-shopping-park.com/urban/coredo-muromachi/c/index.html"$1 class="cl-norewrite">';
}
