@preprocess {
  replace: '<body(.*?)>(.+)</body>' '<body$1><div id="clwrapper">$2</div></body>';
}

ul.color_blue li a, ul.color_red li a {
  text-flow: break;
}
a#print_mode_link {
  text-flow: break;
}
