@preprocess {
  replace:'<span style="color:#333;font-weight:nomal;font-size:10px;">' '<br style="display:none;"><span style="color:#333;font-weight:nomal;font-size:10px;">';
  replace: '㍍' '';
}

// @RULESET
// URL #= http://www\.apahotel\.com/language/.*
div.inner_bt, p[class="pagetop over"] {
  attribute: cltx add "exclude";
}