@engine default {
  eid: CR-JE;
  dictionaries: "HIRAKATA_DIC HIRAKATA_TM CROSS_DIC CROSS_TM GOVT TOURISM INTERNET";
}

@engine hirakata/main {
  eid: CR-JE;
  dictionaries: "HIRAKATA_DIC_MASTER HIRAKATA_TM_MASTER GOVT TOURISM";
}