@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM SPORTS HOBBY INTERNET";
}
@engine cerezo-sportsclub/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER SPORTS HOBBY";
}
@engine cerezo-sportsclub/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER SPORTS HOBBY";
}
