@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM BUSINESS";
}
@engine jrbuskanto/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER BUSINESS";
}
@engine jrbuskanto/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER BUSINESS";
}

@preprocess {
 replace:'<!-- crosslanguage-k:show(.*?)/crosslanguage-k:show -->' '$1';
}
