@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM SPORTS INTERNET";
}
@engine tleague/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM SPORTS";
}
@engine tleague/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM SPORTS";
}

@preprocess{
	replace:'<li><a href="/member/">Tリーグ会員</a></li>' '<li class="menu_org"><a href="/organization/">組織概要</a></li>';
	replace:'<div class="cell-arena">(.*?)<a(.*?)>名古屋<span>武田テバ</span></a>(.*?)</div>' '<div class="cell-arena">$1<a$2>名古屋市<span>武田テバ</span></a>$3</div>';
	replace:'<div class="cell-home">(.*?)<span class="emb">(.*?)</span>名古屋(.*?)</div>' '<div class="cell-home">$1<span class="emb">$2</span>TOP NAGOYA$3</div>';
	replace:'<div class="cell-away">(.*?)<span class="emb">(.*?)</span>名古屋(.*?)</div>' '<div class="cell-away">$1<span class="emb">$2</span>TOP NAGOYA$3</div>';
	replace:'<div class="comp-home">(.*?)<span class="emb">(.*?)</span>名古屋(.*?)</div>' '<div class="comp-home">$1<span class="emb">$2</span>TOP NAGOYA$3</div>';
	replace:'<div class="comp-away">(.*?)<span class="emb">(.*?)</span>名古屋(.*?)</div>' '<div class="comp-away">$1<span class="emb">$2</span>TOP NAGOYA$3</div>';
}

@postprocess{
	replace:'<li class="menu_org">(.*?)<a href="(.*?)">(.*?)</a></li>' '<li class="menu_org">$1<a href="$2">Organization</a></li>';
}

// @RULESET
// URL #= //tleague\.jp/match/.*
// URL #= //tleague-test\.sportsea\.net/match/.*
@postprocess{
	replace:'January' 'Jan.';
	replace:'February' 'Feb.';
	replace:'March' 'Mar.';
	replace:'April' 'Apr.';
	replace:'June' 'Jun.';
	replace:'July' 'Jul.';
	replace:'August' 'Aug.';
	replace:'September' 'Sep.';
	replace:'October' 'Oct.';
	replace:'November' 'Nov.';
	replace:'December' 'Dec.';
}
