@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM SPORTS INTERNET";
}
@engine tleague/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM SPORTS";
}
@engine tleague/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM SPORTS";
}

@postprocess{
	replace:'<title cltx>Hayata young bird - Nippon Life Red ELF - T league official site</title>' '<title cltx>Hina Hayata - Nippon Life Red ELF - T league official site</title>';
}

// @RULESET
// URL #= //tleague\.jp/match/.*
// URL #= //tleague-test\.sportsea\.net/match/.*
@postprocess{
	replace:'January' 'Jan.';
	replace:'February' 'Feb.';
	replace:'March' 'Mar.';
	replace:'April' 'Apr.';
	replace:'June' 'Jun.';
	replace:'July' 'Jul.';
	replace:'August' 'Aug.';
	replace:'September' 'Sep.';
	replace:'October' 'Oct.';
	replace:'November' 'Nov.';
	replace:'December' 'Dec.';
}
