@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine heartcore_demo/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine heartcore_demo/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@postprocess {
  replace: 'UA-48397272-1' 'UA-48374796-10';
  replace: "('create', 'UA-.*?' )'miguide.jp'" "$1'miguide.jp.k.bbb.hp.transer.com'";
}
