@engine default {
  eid: CR-JE;
  dictionaries: "MARUI-IMAI_DIC MARUI-IMAI_TM DEPART FASHION GOURMET HOBBY BEAUTY INTERNET";
}
@engine marui-imai/main {
  eid: CR-JE;
  dictionaries: "MARUI-IMAI_DIC_MASTER MARUI-IMAI_TM_MASTER FASHION GOURMET HOBBY BEAUTY";
}
