@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine license-tour/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine license-tour/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

@postprocess {
  replace:'希望の合宿先''希望的集訓的前方';
  replace:'北海道''北海道';
  replace:'岩手''岩手';
  replace:'秋田''秋田';
  replace:'山形''山形';
  replace:'福島''福島';
  replace:'茨城''茨城';
  replace:'栃木''栃木';
  replace:'群馬''群馬';
  replace:'埼玉''埼玉';
  replace:'千葉''千葉';
  replace:'東京''東京';
  replace:'神奈川''神奈川';
  replace:'長野''長野';
  replace:'新潟''新潟';
  replace:'石川''石川';
  replace:'福井''福井';
  replace:'岐阜''岐阜';
  replace:'静岡''靜岡';
  replace:'愛知''愛知';
  replace:'滋賀''滋賀';
  replace:'京都''京都';
  replace:'兵庫''兵庫';
  replace:'岡山''岡山';
  replace:'広島''廣島';
  replace:'徳島''德島';
  replace:'香川''香川';
  replace:'愛媛''愛媛';
  replace:'高知''高知';
  replace:'長崎''長崎';
  replace:'熊本''熊本';
  replace:'鹿児島''鹿兒島';
  replace:'沖縄''沖繩';
  replace:'取得する免許''取得的執照';
  replace:'選択してください''選擇';
  replace:'普通車MT''普通車MT';
  replace:'普通車AT''普通車AT';
  replace:'普通二輪MT''普通2輪MT';
  replace:'普通二輪AT''普通2輪AT';
  replace:'大型二輪MT''大型2輪MT';
  replace:'大型二輪AT''大型2輪AT';
  replace:'大型特殊''大型特殊';
  replace:'けん引''牽引';
  replace:'中型車''中型車';
  replace:'大型車''大型車輛';
  replace:'普通二種''2種普通';
  replace:'中型二種''2種中型';
  replace:'大型二種''2種大型';
  replace:'お住まいのエリアを選択''選擇住在的區域';
  replace:'青森''青森';
  replace:'宮城''宮城';
  replace:'山梨''山梨';
  replace:'富山''富山';
  replace:'三重''三重';
  replace:'奈良''奈良';
  replace:'和歌山''	和歌山';
  replace:'鳥取''鳥取';
  replace:'島根''島根';
  replace:'福岡''福岡';
  replace:'佐賀''佐賀';
  replace:'大分''大分';
  replace:'宮崎''宮崎';
  replace:'検索する''搜索';
  replace:'大阪''大阪';
  replace:'山口''山口';

}