@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM COMPUTER";
}
@engine jec/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER COMPUTER";
}
@engine jec/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER COMPUTER";
}

@preprocess{
	replace:'UA-4717922-1' 'UA-4717922-4';
}

body {
  attribute: lang add 'zh';
}
