#tab-box > #nav,
#tab-box2 > #nav2 {
	attribute: cltx add 'exclude';
}

@preprocess {
	replace:'<strong>人口</strong>' '<strong>人口</strong><br style="display:none;">';
	replace:'<strong>世帯</strong>' '<strong>世帯</strong><br style="display:none;">';
	replace:'<strong>男性</strong>' '<strong>男性</strong><br style="display:none;">';
	replace:'<strong>女性</strong>' '<strong>女性</strong><br style="display:none;">';
}
