@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM SYSTEM ELEC COMPUTER INTERNET";
}
@engine core/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER SYSTEM ELEC COMPUTER";
}
@engine core/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER SYSTEM ELEC COMPUTER";
}

@postprocess {
  replace: '(In the times of rapid changes, the Core Group suggests new values and leads the innovation of all )<br />' '$1';
}

ul#global_nav > li {
  attribute: style add 'line-height: 20px;';
}

// @RULESET
// URL = http://www.core.co.jp/company/company.html
div.column {
  attribute: style add 'font-size: 11px;';
}
