@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM SYSTEM ELEC COMPUTER INTERNET";
}
@engine core/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER SYSTEM ELEC COMPUTER";
}
@engine core/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER SYSTEM ELEC COMPUTER";
}

ul#global_nav > li {
  attribute: style add 'width: 120px; line-height: 20px;';
}


// @RULESET
// URL = http://www.core.co.jp.*
@postprocess {
  replace: '(In the times of rapid changes, the Core Group suggests new values and leads the innovation of all )<br />' '$1';
  replace: 'Advanced tec<span>hnology Advanced Technology</span>' 'Advanced technology<span>Advanced Technology</span>';
  replace: '(<li) style="width: 120px; line-height: 20px;"(><!--cltx--><a href="index\.php">)' '$1$2';
  replace: '(<li) style="width: 120px; line-height: 20px;"(><!--cltx--><a href="si/index\.html">)' '$1$2';
  replace: '(<li style="width:) 120px; (line-height: 20px;"><!--cltx--><a href="ir/index\.php">)' '$1 170px; $2';
}

// @RULESET
// URL = http://www.core.co.jp/company/company.html
div.column {
  attribute: style add 'font-size: 11px;';
}

// @RULESET
// URL = http://www.core.co.jp/product/
// URL = http://www.core.co.jp/product/index.html
// URL #= http://www\.core\.co\.jp/company.*
// URL #= http://www\.core\.co\.jp/news.*
// URL = http://www.core.co.jp/si/
// URL = http://www.core.co.jp/si/index.html
// URL = http://www.core.co.jp/technology/
// URL = http://www.core.co.jp/technology/index.html
// URL = http://www.core.co.jp/recruitment/
// URL = http://www.core.co.jp/recruitment/index.html
// URL #= http://www\.core\.co\.jp/site.*
@postprocess {
replace: ' <li style="width: 120px; line-height: 20px;"><!--cltx--><a href="../ir/index.php">Stockholder, Investor Relations</a></li>' ' <li style="width: 120px; line-height: 20px;"><!--cltx--><a href="../ir/index.php" style="font-size: 8px;">Stockholder, Investor Relations</a></li>';
}

// @RULESET
// URL #= http://www\.core\.co\.jp/en.*
@postprocess {
replace:'<li style="width: 120px; line-height: 20px;"><!--cltx--><a href="http://www.core.co.jp.e.ko.hp.transer.com/ir/">Stockholder, Investor Relations</a></li>' '<li style="width: 120px; line-height: 20px;"><!--cltx--><a href="http://www.core.co.jp.e.ko.hp.transer.com/ir/" style="font-size: 8px;">Stockholder, Investor Relations</a></li>';
}

// URL = http://www.core.co.jp/si/
@postprocess {
replace:'<dt><!--cltx-->Medical care, health care</dt>' '<dt style="font-size: 11px;"><!--cltx-->Medical care, health care</dt>';
replace:'<dt><!--cltx-->Smart household appliance</dt>' '<dt style="font-size: 10px;"><!--cltx-->Smart household appliance</dt>';
replace:'<dt><!--cltx-->Measurement, control</dt>' '<dt style="font-size: 13px;"><!--cltx-->Measurement, control</dt>';
replace:'<dt><!--cltx-->Robot, production device</dt>' '<dt style="font-size: 11px;"><!--cltx-->Robot, production device</dt>';
replace:'<dt><!--cltx-->Positional information, time entry</dt>' '<dt style="font-size: 8px;"><!--cltx-->Positional information, time entry</dt>';
replace:'<dt><!--cltx-->Manufacturing industry</dt>' '<dt style="font-size: 12px;"><!--cltx-->Manufacturing industry</dt>';
replace:'<dt><!--cltx-->Merchandising, transportation industry</dt>' '<dt style="font-size: 7px;"><!--cltx-->Merchandising, transportation industry</dt>';
replace:'<dt><!--cltx-->Government offices, the local government, public institution</dt>' '<dt style="font-size: 4px;"><!--cltx-->Government offices, the local government, public institution</dt>';
}

// @RULESET
// URL = http://www.core.co.jp/company/company.html
@postprocess {
replace: ' <li style="width: 120px; line-height: 20px;"><!--cltx--><a href="../ir/index.php">Stockholder, Investor Relations</a></li>' ' <li style="width: 120px; line-height: 20px;"><!--cltx--><a href="../ir/index.php" style="font-size: 8px;">Stockholder, Investor Relations</a></li>';
}
 
// @RULESET
// URL #= http://www\.core\.co\.jp/ir.*
@postprocess {
replace: ' <li style="width: 120px; line-height: 20px;"><!--cltx--><a href="index.php">Stockholder, Investor Relations</a></li>' ' <li style="width: 120px; line-height: 20px;"><!--cltx--><a href="index.php" style="font-size: 8px;">Stockholder, Investor Relations</a></li>';
}
 
// @RULESET
// URL = http://www.core.co.jp/
// URL = http://www.core.co.jp/index.php
@postprocess {
replace: ' <li style="width: 120px; line-height: 20px;"><!--cltx--><a href="ir/index.php">Stockholder, Investor Relations</a></li>' ' <li style="width: 120px; line-height: 20px;"><!--cltx--><a href="ir/index.php" style="font-size: 8px;">Stockholder, Investor Relations</a></li>';
}


// @RULESET
// URL #= http://www\.core\.co\.jp/product/m2m.*
// URL #= http://www\.core\.co\.jp/product/gnss.*
// URL #= http://www\.core\.co\.jp/product/smartdevice.*
// URL #= http://www\.core\.co\.jp/product/society.*
// URL #= http://www\.core\.co\.jp/product/security.*
// URL = http://www.core.co.jp/product/m2m/index.html
// URL = http://www.core.co.jp/product/gnss/index.html
// URL = http://www.core.co.jp/product/smartdevice/index.html
// URL = http://www.core.co.jp/product/society/index.html
// URL = http://www.core.co.jp/product/security/index.html
@postprocess {
 replace:'<li style="width: 120px; line-height: 20px;">' '<li style="width: 192px; line-height: 20px;">';
 replace: '<ul id="header_nav" class="cf">' '<ul id="header_nav" class="cf" style="margin-right: -77px;">';
}


// @RULESET
// URL = http://www.core.co.jp/product/embedded/
// URL = http://www.core.co.jp/product/embedded/index.html
// URL = http://www.core.co.jp/product/embedded/case/
// URL = http://www.core.co.jp/product/embedded/case/index.html
// URL = http://www.core.co.jp/product/embedded/dl/
// URL = http://www.core.co.jp/product/embedded/dl/index.html
// URL #= http://www\.core\.co\.jp/product/embedded/m2masura/(index|asura_csac|tanpopo_asura|ran_asura|sasa_asura).html
// URL #= http://www\.core\.co\.jp/product/embedded/lcdasura/(index|kiri_asura|camellia_asura|matsu_asura|take_asura).html
// URL = http://www.core.co.jp/product/embedded/monodukuri/index.html
// URL #= http://www\.core\.co\.jp/product/embedded/guimiddleware/(index|genware4_3|genware_lite|d-amp_driver|karuiine|karueezo|dyna_comware).html
// URL #= http://www\.core\.co\.jp/product/embedded/osnetworkmiddleware/(index|cente|grape_gr-file|zepro_ip|zepro_mirror|grape_gr-usb|c3|net3).html
// URL #= http://www\.core\.co\.jp/product/embedded/tool/(index|iar|realtime_hyper|palmice3).html
// URL #= http://www\.core\.co\.jp/product/embedded/other/(answers|device_sql|aes|halcon|labview).html
@postprocess {
 replace:'<li style="width: 120px; line-height: 20px;">' '<li style="width: 240px; line-height: 20px;">';
}
