@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine tokyo-grown/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine tokyo-grown/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
	replace: 'UA-90547497-1' 'UA-90547497-10';
}
