@engine default {
  eid: BR-JA.PT.EN;
  dictionaries: "TOKONAME_DIC TOKONAME_TM GOVT TOURISM INTERNET";
}

@engine tokoname/main {
  eid: BR-JA.PT.EN;
  dictionaries: "TOKONAME_DIC_MASTER TOKONAME_TM_MASTER GOVT TOURISM";
}