// @RULESET
// URL #= //image\.orange-book\.com\.e\.acy\.hp\.transer\.com/web/css/base\.css
// URL #= //image\.orange-book\.com\.e\.acy\.hp\.transer\.com/web/css/layout\.20150313\.css
@postprocess {
 replace: 'cate_btn01.png' 'en_cate_btn01.png';
 replace: 'cate_btn02.png' 'en_cate_btn02.png';
 replace: 'cate_btn03.png' 'en_cate_btn03.png';
 replace: 'cate_btn04.png' 'en_cate_btn04.png';
 replace: 'cate_btn05.png' 'en_cate_btn05.png';
 replace: 'cate_btn06.png' 'en_cate_btn06.png';
 replace: 'cate_btn07.png' 'en_cate_btn07.png';
 replace: 'cate_btn08.png' 'en_cate_btn08.png';
 replace: 'cate_btn01_on.png' 'en_cate_btn01_on.png';
 replace: 'cate_btn02_on.png' 'en_cate_btn02_on.png';
 replace: 'cate_btn03_on.png' 'en_cate_btn03_on.png';
 replace: 'cate_btn04_on.png' 'en_cate_btn04_on.png';
 replace: 'cate_btn05_on.png' 'en_cate_btn05_on.png';
 replace: 'cate_btn06_on.png' 'en_cate_btn06_on.png';
 replace: 'cate_btn07_on.png' 'en_cate_btn07_on.png';
 replace: 'cate_btn08_on.png' 'en_cate_btn08_on.png';
 replace: 'search_btn_detail.png' 'en_search_btn_detail.png';
}
