@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM SYSTEM MECHA INTERNET";
}
@engine orange-book/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER SYSTEM MECHA";
}
@engine orange-book/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER SYSTEM MECHA";
}

@preprocess {
  replace:'//image.orange-book.com/web/css/base.css' '//image.orange-book.com.e.acy.hp.transer.com/web/css/base.css';
  replace:'//image.orange-book.com/web/css/layout.20150313.css' '//image.orange-book.com.e.acy.hp.transer.com/web/css/layout.20150313.css';
}

@postprocess {
	replace:'<input name="freeword"(.*?)>' '<input name="freeword"$1 placeholder="Search keyword,item No,etc">';
}
