@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM ELEC MECHA CHEMICAL";
}
@engine technican/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER ELEC MECHA CHEMICAL";
}
@engine technican/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER ELEC MECHA CHEMICAL";
}
