// @RULESET
// URL = http://www.skatingjapan.or.jp/common/css/base.css
@postprocess {
 replace: 'margin-left: 40px;' 'margin-left: 0px;';
}

// @RULESET
// URL = http://www.skatingjapan.or.jp/common/css/sp.css
@postprocess {
 replace: 'padding: 7px 10px 10px;' 'padding: 7px 10px -1px;';
}

@postprocess {
 replace: 'font-size: 92.3%;' 'font-size: 92.3%; height: 53px;';
}

@postprocess {
 replace: 'padding: 6px 0;' 'padding: 11px 0;';
}
