@engine default {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine jec/main {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine jec/cross {
  eid: MS-JAVI;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess{
	replace:'UA-4717922-1' 'UA-4717922-7';
}
