@preprocess {
  replace: '<div style="position:absolute; width:705px; height:12px; z-index:2; left: 96px; top: 59px;">' '<div style="position:absolute; width:705px; height:12px; z-index:2; left: 98px; top: 87px;">';
}