@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM FASHION GOURMET INTERNET";
}
@engine ykip/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM FASHION GOURMET";
}
@engine ykip/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM FASHION GOURMET";
}

#menu-item-79 > a {
 attribute: style add 'white-space: nowrap;';
}

#menu-item-98 > a {
 attribute: style add 'white-space: nowrap;';
}

#menu-item-513 > a {
 attribute: style add 'white-space: nowrap;';
}

#menu-item-514 > a {
 attribute: style add 'white-space: nowrap;';
}

#menu-item-515 > a {
 attribute: style add 'white-space: nowrap;';
}

section > h2 > span {
 attribute: style add 'white-space: nowrap; font-size: 27px;';
}

p > a {
 attribute: style add 'font-size: 13px;';
}

span.news_title {
  text-flow: break;
}

@preprocess {
 replace: '<a href="http://ykip.co.jp/company/greeting/">' '<a href="http://ykip.co.jp.e.yz.hp.transer.com/company/greeting/" style="font-size: 16px;">';
 replace: '<a href="http://ykip.co.jp/company/organization/">' '<a href="http://ykip.co.jp.e.yz.hp.transer.com/company/organization/" style="font-size: 16px;">';
 replace: '<a href="http://ykip.co.jp/company/plan/" class="penone">' '<a href="http://ykip.co.jp.e.yz.hp.transer.com/company/plan/" class="penone" style="font-size: 16px;">';
 replace: '<a href="http://ykip.co.jp/company/report/" class="penone">' '<a href="http://ykip.co.jp.e.yz.hp.transer.com/company/report/" class="penone" style="font-size: 16px;">'; 
}