body#home {
 attribute: 'style' add 'padding-top: 27px;';
}

nav#gNav > ul > li {
 attribute: 'style' add 'margin-top: 55px;';
}

// @RULESET
// URL #= http://www\.trajal\.info/sp/
p > span {
	text-flow: break;
}
