@preprocess {
	replace:'TIP.X TOKYO新宿' 'TIP.X TOKYO Shinjuku';
	replace:'TIP.X TOKYO渋谷' 'TIP.X TOKYO Shibuya';
	replace:'TIP.X TOKYO池袋' 'TIP.X TOKYO Ikebukuro';
	replace:'綾瀬店' 'Ayase store';
	replace:'大泉学園店' 'Oizumi Gakuen store';
	replace:'蒲田店' 'Kamata store';
	replace:'喜多見店' 'Kitami store';
	replace:'木場店' 'Kiba store';
	replace:'五反田店' 'Gotanda store';
	replace:'三軒茶屋店' 'Sangenjaya store';
	replace:'下井草店' 'Shimoigusa store';
	replace:'下北沢店' 'Shimokitazawa store';
	replace:'新小岩店' 'Shin Koiwa store';
	replace:'小岩店' 'Koiwa store';
	replace:'東武練馬店' 'Tobu Nerima store';
	replace:'練馬店' 'Nerima store';
	replace:'氷川台店' 'Hikawadai store';
	replace:'東新宿店' 'Higashi-Shinjuku store';
	replace:'瑞江店' 'Mizue store';
	replace:'明大前店' 'Meidai Mae store';
	replace:'六本木店' 'Roppongi store';
	replace:'吉祥寺店' 'Kichijoji store';
	replace:'国分寺店' 'Kokubunji store';
	replace:'国領店' 'Kokuryo store';
	replace:'田無店' 'Tanashi store';
	replace:'町田店' 'Machida store';
	replace:'FASTGYM24' 'FASTGYM24';
	replace:'赤羽店' 'Akabane store';
	replace:'阿佐ヶ谷店' 'Asagaya store';
	replace:'新井薬師前店' 'Arai Yakushi store';
	replace:'入谷店' 'Iriya store';
	replace:'梅屋敷店' 'Ume yashiki store';
	replace:'江古田店' 'Ekoda store';
	replace:'江戸川橋店' 'Edogawabashi store';
	replace:'江戸川橋店' 'Edogawabashi store';
	replace:'荏原中延店' 'Ebara Nakanobu store';
	replace:'王子神谷店' 'Oji Kamiya store';
	replace:'大森町店' 'Omori-machi store';
	replace:'大山店' 'Oyama store';
	replace:'大山店' 'Oyama store';
	replace:'奥沢店'	'Okusawa store';
	replace:'葛西店'	'Kasai store';
	replace:'春日後楽園店' 'Kasuga Korakuen store';
	replace:'要町店' 'Kanamecho store';
	replace:'上板橋店' 'Kamiitabashi store';
	replace:'上石神井店' 'Kami-Shakujii store';
	replace:'亀有店' 'Kameari store';
	replace:'菊川店' 'Kikukawa store';
	replace:'喜多見店' 'Kitami store';
	replace:'糀谷店' 'Koujiya store';
	replace:'小竹向原店' 'Kotake Mukaihara store';
	replace:'豪徳寺店' 'Gotokuji store';
	replace:'五反野店' 'Gotanno store';
	replace:'鷺ノ宮店' 'Saginomiya store';
	replace:'笹塚店' 'Sasazuka store';
	replace:'篠崎店' 'Shinozaki store';
	replace:'下赤塚店' 'Shimoakatsuka store';
	replace:'下板橋店' 'Shimoitabashi store';
	replace:'板橋店' 'Itabashi store';
	replace:'新大塚店' 'Shin Otsuka store';
	replace:'新大塚店' 'Shin Otsuka store';
	replace:'新高円寺店' 'Shin Koenji store';
	replace:'祖師ヶ谷大蔵店' 'Soshigaya Okura store';
	replace:'雑色店' 'Zoshiki store';
	replace:'千歳船橋店' 'Chitose Funabashi store';
	replace:'築地店' 'Tsukiji store';
	replace:'豊島園店' 'Toshimaen store';
	replace:'都立家政店' 'Toritsu-kasei store';
	replace:'都立大学店' 'Toritsu-Daigaku store';
	replace:'中野新橋店' 'Nakano Shinbashi store';
	replace:'中村橋店' 'Nakamurabashi store';
	replace:'西大井店' 'Nishi-oi store';
	replace:'西小山店' 'Nishi Koyama store';
	replace:'西小山アネックス店' 'Nishi Koyama Annex store';
	replace:'人形町店' 'Ningyocho store';
	replace:'人形町店' 'Ningyocho store';
	replace:'沼袋店' 'Numa Bukuro store';
	replace:'野方店' 'Nogata store';
	replace:'白山店' 'Hakusan store';
	replace:'幡ヶ谷店' 'Hatagaya store';
	replace:'幡ヶ谷店' 'Hatagaya store';
	replace:'八丁堀店' 'Hatchobori store';
	replace:'氷川台店' 'Hikawadai store';
	replace:'東中野店' 'Higashinakano store';
	replace:'中野店' 'Nakano store';
	replace:'東向島店' 'Higashimukojima store';
	replace:'平井店' 'Hirai store';
	replace:'方南町店' 'Honancho store';
	replace:'町屋店' 'Machiya store';
	replace:'武蔵関店' 'Musashi Seki store';
	replace:'武蔵新田店' 'Musashi Nitta store';
	replace:'雪が谷大塚店' 'Yukigaya-Otsuka store';
	replace:'両国店' 'Ryogoku store';
	replace:'早稲田店' 'Waseda store';
	replace:'ティップネス日本橋スタイル' 'Tipness Nihonbashi Style';
	replace:'日本橋スタイル' 'Nihonbashi Style';
	replace:'リベリー日本橋高島屋' 'libéry Nihonbashi Takashimaya';
	replace:'ティップネス丸の内スタイル' 'Tipness Marunouchi Style';
	replace:'丸の内スタイル' 'Marunouchi Style';
	replace:'国立富士見台店' 'Kunitachi-Fujimidai store';
	replace:'小平店' 'Kodaira store';
	replace:'柴崎店' 'Shibasaki store';
	replace:'鶴川店' 'Tsurukawa store';
	replace:'中河原店' 'Nakagawara store';
	replace:'西八王子店' 'Nishihachioji store';
	replace:'日野店' 'Hino store';
	replace:'三鷹店' 'Mitaka store';
	replace:'鴨居店' 'Kamoi store';
	replace:'川崎店' 'Kawasaki store';
	replace:'新百合ヶ丘店' 'Shin Yurigaoka store';
	replace:'鶴見店' 'Tsurumi store';
	replace:'二俣川店' 'Futamatagawa store';
	replace:'宮崎台店' 'Miyazakidai store';
	replace:'宮前平店' 'Miyamaedaira store';
	replace:'横浜店' 'Yokohama store';
	replace:'大倉山店' 'Okurayama store';
	replace:'小田急相模原店' 'Odakyu Sagamihara store';
	replace:'小田栄店' 'Odasakae store';
	replace:'川崎西口店' 'Kawasaki Nishiguchi store';
	replace:'弘明寺店' 'Gumyōji store';
	replace:'綱島店' 'Tsunashima store';
	replace:'中野島店' 'Nakanoshima store';
	replace:'仲町台店' 'Nakamachidai store';
	replace:'根岸店' 'Negishi store';
	replace:'東林間店' 'Higashirinkan';
	replace:'平間店' 'Hirama store';
	replace:'溝の口店' 'Mizonokuchi store';
	replace:'武蔵新城店' 'Musashi Shinjo store';
	replace:'元住吉店' 'Motosumiyoshi store';
	replace:'元住吉アネックス店' 'Motosumiyoshi Annex store';
	replace:'矢向店' 'Yakou store';
	replace:'百合ヶ丘店' 'Yurigaoka store';
	replace:'六角橋店' 'Rokkaku-bashi store';
	replace:'蘇我店' 'Soga store';
	replace:'船橋店' 'Funabashi store';
	replace:'南行徳店' 'Minami Gyotoku store';
	replace:'行徳店' 'Gyotoku store';
	replace:'検見川浜店' 'Kemigawahama store';
	replace:'下総中山店' 'Shimousa Nakayama store';
	replace:'船橋市場店' 'Funabashi Ichiba store';
	replace:'南流山店' 'Minami Nagareyama store';
	replace:'四街道店' 'Yotsukaido store';
	replace:'川口店' 'Kawaguchi store';
	replace:'久喜店' 'Kuki store';
	replace:'草加店' 'Soka store';
	replace:'武蔵藤沢店' 'Musashi Fujisawa store';
	replace:'藤沢店' 'Fujisawa store';
	replace:'朝霞店' 'Asaka store';
	replace:'蒲生店' 'Gamo store';
	replace:'西所沢店' 'Nishi Tokorozawa store';
	replace:'みずほ台店' 'Mizuhodai store';
	replace:'谷塚店' 'Yatsuka store';
	replace:'和光市店' 'Wakoshi store';
	replace:'蕨店' 'Warabi store';
	replace:'太田店' 'Ota store';
	replace:'浜松葵東店' 'Hamamatsu Aoihigashi store';
	replace:'藤枝店' 'Fujieda store';
	replace:'上飯田店' 'Kamiiida store';
	replace:'江南店' 'Kounan store';
	replace:'石橋店' 'Ishibashi store';
	replace:'梅田店' 'Umeda store';
	replace:'京橋店' 'Kyobashi store';
	replace:'香里園店' 'Korien store';
	replace:'高槻店' 'Takatsuki store';
	replace:'宝塚店' 'Takarazuka store';
	replace:'塚口店' 'Tsukaguchi store';
	replace:'天王寺店' 'Tennoji store';
	replace:'布施店' 'Fuse store';
	replace:'武庫之荘店' 'Mukonosou store';
	replace:'<label for=\\\\"footer_search_check\\\\" class=\\\\"tip-mod-footer__search__button\\\\"><span>(.*?)</span></label>' '<label for=\\\\"footer_search_check\\\\" class=\\\\"tip-mod-footer__search__button\\\\"><span>Find a store</span></label>';
	replace:'位置情報が取得できませんでした。' 'Location information could not be obtained,';
	replace:'位置情報の許可をONにしてください。' 'Please turn on the location information permission.';
	replace:'もっと見る' 	'See more';
	replace:'全て' 	'All';
	replace:'関東' 	'Kanto';
	replace:'東海' 	'Tokai';
	replace:'中京' 	'Chukyo';
	replace:'関西' 	'Kansai';
	replace:'条件で検索する' 	'Search by condition';
	replace:'未選択' 	'Not selected';
	replace:'ストレッチ・リフレッシュ' 	'Stretch/Reflesh';
	replace:'ヨガ・ピラティス' 	'Yoga/Pilates';
	replace:'筋トレ・格闘技プログラム' 	'Weight training/Martial arts program';
	replace:'ショートプログラム' 	'Short program';
	replace:'脂肪燃焼系プログラム・エアロビクス' 	'Fat-burn program/';
	replace:'スイミング・アクア' 	'Swimming/Aqua programs';
	replace:'ダンス/バレエ' 	'Dance/Ballet';
	replace:'疲労回復' 	'Relieving fatigue';
	replace:'姿勢改善' 	'Posture improvement';
	replace:'柔軟性の向上' 	'Improvement of the flexibility';
	replace:'筋力アップ' 	'Muscular strength up';
	replace:'脂肪燃焼' 	'Fat combustion';
	replace:'基礎代謝の向上' 	'Improvement of the base metabolism';
	replace:'持久力アップ' 	'Stamina up';
	replace:'バランス' 	'Balance';
	replace:'リラックス' 	'Relaxation';
	replace:'パーソナルトレーニング' 	'Personal training';
	replace:'その他スクール' 	'Other schools';
	replace:'件' 	'results';
	replace:'WEB入会フォームへ' 	'Web registration form';
	replace:'東京\\(23区内\\)' 	'Tokyo (23 wards)';
	replace:'東京\\(その他\\)' 	'Tokyo (others)';
	replace:'神奈川' 	'Kanagawa';
	replace:'千葉' 	'Chiba';
	replace:'埼玉' 	'Saitama';
	replace:'群馬' 	'Gunma';
}
