@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine tohogakuen/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine tohogakuen/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

body {
  attribute: lang add 'zh';
}

@preprocess {
	replace: '/img/toho/keyv_toho_01.jpg' '/img/toho/keyv_toho_01_chk.jpg';
	replace: '/img/toho/keyv_toho_02.jpg' '/img/toho/keyv_toho_02_chk.jpg';
	replace: '/img/toho/keyv_toho_03.jpg' '/img/toho/keyv_toho_03_chk.jpg';
	replace: '/img/toho/keyv_toho_04.jpg' '/img/toho/keyv_toho_04_chk.jpg';
	replace: '/img/toho/keyv_toho_05.jpg' '/img/toho/keyv_toho_05_chk.jpg';
	replace: '/img/movie/keyv_movie_01.jpg' '/img/movie/keyv_movie_01_chk.jpg';
	replace: '/img/movie/keyv_movie_02.jpg' '/img/movie/keyv_movie_02_chk.jpg';
	replace: '/img/movie/keyv_movie_03.jpg' '/img/movie/keyv_movie_03_chk.jpg';
	replace: '/img/movie/keyv_movie_04.jpg' '/img/movie/keyv_movie_04_chk.jpg';
	replace: '/img/movie/keyv_movie_05.jpg' '/img/movie/keyv_movie_05_chk.jpg';
	replace: '/img/onkyo/keyv_onkyo_01.jpg' '/img/onkyo/keyv_onkyo_01_chk.jpg';
	replace: '/img/onkyo/keyv_onkyo_02.jpg' '/img/onkyo/keyv_onkyo_02_chk.jpg';
	replace: '/img/announce/keyv_announce_01.jpg' '/img/announce/keyv_announce_01_chk.jpg';
	replace: '/img/announce/keyv_announce_02.jpg' '/img/announce/keyv_announce_02_chk.jpg';
	replace: '/img/announce/keyv_announce_03.jpg' '/img/announce/keyv_announce_03_chk.jpg';
	replace: '/img/announce/keyv_announce_04.jpg' '/img/announce/keyv_announce_04_chk.jpg';
	replace: '/img/announce/keyv_announce_05.jpg' '/img/announce/keyv_announce_05_chk.jpg';
	replace: '/img/guidelines/keyv_abroad_briefing.jpg' '/img/guidelines/keyv_abroad_briefing_chk.jpg';
}
