@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOURMET INTERNET";
}
@engine landmark-osaka/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOURMET";
}
@engine landmark-osaka/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOURMET";
}

@preprocess {
  replace:'<!-- crosslanguage-e:show(.*?)/crosslanguage-e:show -->' '$1';
  replace:'<h3 id="flower">(.*?)<span class="cap">(.*?)</span></h3>' '<h3 id="flower">$1$2<span class="cap"></span></h3>';

}

@postprocess {
  replace:'<h3 id="access"><!--cltx-->ACCESS INFORMA<span class="cap">TION</span></h3>' '<h3 id="access"><!--cltx-->ACCESS INFORMATION<span class="cap"></span></h3>';
  replace:'taste of THE LANDMAR<span>K SQUARE OSAKA</span>' 'taste of THE LANDMARK SQUARE OSAKA<span></span>';
  replace:'<li><!--cltx--><a href="#spot"><span class="enpcnone">NEW SPOT NEW S</span>POT</a></li>' '<li><!--cltx--><a href="#spot"><span class="enpcnone">NEW SPOT</span> NEW SPOT</a></li>';
  replace:'<li><!--cltx--><a href="#tea"><span class="enpcnone">TEA &amp; BAR</span> LOUNGE</a></li>' '<li><!--cltx--><a href="#tea"><span class="enpcnone"> </span>TEA &amp; BAR LOUNGE</a></li>';
  replace:'<li><!--cltx--><a href="#flower"><span class="enpcnone">FLOWER F</span>LOWER</a></li>' '<li><!--cltx--><a href="#flower"><span class="enpcnone">FLOWER</span> FLOWER</a></li>';
}