@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM FASHION GOURMET INTERNET";
}
@engine daimaru/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM FASHION GOURMET";
}
@engine daimaru/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM FASHION GOURMET";
}

@preprocess {
  replace:'<!-- crosslanguage-e:show(.*?)/crosslanguage-e:show -->' '$1';
}

// @RULESET
// URL =http://www.daimaru.co.jp/shinsaibashi/
// URL =http://www.daimaru.co.jp/shinsaibashi/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/shinsaibashi/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="http://dmdepart.jp.e.md.hp.transer.com/flnews/e/" target="_blank"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/storemain_pc_e.jpg"></a></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/umedamise/
// URL =http://www.daimaru.co.jp/umedamise/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/umedamise/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="http://dmdepart.jp.e.md.hp.transer.com/flnews/e/" target="_blank"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/storemain_pc_e.jpg"></a></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/kyoto/
// URL =http://www.daimaru.co.jp/kyoto/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/kyoto/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="http://dmdepart.jp.e.md.hp.transer.com/flnews/e/" target="_blank"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/storemain_pc_e.jpg"></a></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/kobe/
// URL =http://www.daimaru.co.jp/kobe/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/kobe/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="http://dmdepart.jp.e.md.hp.transer.com/flnews/e/" target="_blank"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/storemain_pc_e.jpg"></a></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/tokyo/
// URL =http://www.daimaru.co.jp/tokyo/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/tokyo/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><img width="730" height="349" border="0" usemap="#mainImageLink" alt="" src="/tokyo/images/storemain_tokyo_pc02_e.jpg"><map id="mainImageLink" name="mainImageLink"><area href="/tokyo/fl/e/best/" coords="0,0,341,348" shape="rect"><area href="http://dmdepart.jp.e.md.hp.transer.com/flnews/e/" target="_blank" coords="341,-3,732,175" shape="rect"><area href="http://www.daimaru.co.jp.e.md.hp.transer.com/tokyo/ds/160129_index_ds.html" coords="340,174,731,352" shape="rect"></map></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/sapporo/
// URL =http://www.daimaru.co.jp/sapporo/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/sapporo/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="http://dmdepart.jp.e.md.hp.transer.com/flnews/e/" target="_blank"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/storemain_pc_e.jpg"></a></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/shinsaibashi/
// URL =http://www.daimaru.co.jp/smp/shinsaibashi/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/shinsaibashi/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="http://dmdepart.jp.e.md.hp.transer.com/flnews/e/" target="_blank"><img width="300" alt="" src="http://dmdepart.jp/fl/images/storemain_smp_e.jpg"></a></p>$1';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/umedamise/
// URL =http://www.daimaru.co.jp/smp/umedamise/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/umedamise/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="http://dmdepart.jp.e.md.hp.transer.com/flnews/e/" target="_blank"><img width="300" alt="" src="http://dmdepart.jp/fl/images/storemain_smp_e.jpg"></a></p>$1';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/kyoto/
// URL =http://www.daimaru.co.jp/smp/kyoto/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/kyoto/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="http://dmdepart.jp.e.md.hp.transer.com/flnews/e/" target="_blank"><img width="300" alt="" src="http://dmdepart.jp/fl/images/storemain_smp_e.jpg"></a></p>$1';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/kobe/
// URL =http://www.daimaru.co.jp/smp/kobe/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/kobe/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="http://dmdepart.jp.e.md.hp.transer.com/flnews/e/" target="_blank"><img width="300" alt="" src="http://dmdepart.jp/fl/images/storemain_smp_e.jpg"></a></p>$1';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/tokyo/
// URL =http://www.daimaru.co.jp/smp/tokyo/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/tokyo/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><img src="/smp/tokyo/images/storemain_tokyo_smp02_e.jpg" alt="" width="300" usemap="#Map"><map name="Map"><area shape="rect" coords="0,-1,141,113" href="/tokyo/fl/s/e/"><area shape="rect" coords="140,1,299,57" href="http://dmdepart.jp.e.md.hp.transer.com/flnews/e/" target="_blank"><area shape="rect" coords="140,56,299,112" href="http://www.daimaru.co.jp.e.md.hp.transer.com/tokyo/ds/160129_index_ds.html"></map></p>$1';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/sapporo/
// URL =http://www.daimaru.co.jp/smp/sapporo/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/sapporo/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="http://dmdepart.jp.e.md.hp.transer.com/flnews/e/" target="_blank"><img width="300" alt="" src="http://dmdepart.jp/fl/images/storemain_smp_e.jpg"></a></p>$1';
}

// @RULESET
// URL =http://dmdepart.jp/fl/
// URL =http://dmdepart.jp/fl/smp/
@preprocess {
  replace: "www\.matsuzakaya\.co\.jp/" "www.matsuzakaya.co.jp.e.me.hp.transer.com/";
}

// @RULESET
// URL =http://dmdepart.jp/flnews/
a[href="http://www.matsuzakaya.co.jp/ueno/"] {
  attribute: href rewrite "http://www.matsuzakaya.co.jp.e.me.hp.transer.com/ueno/";
}

// @RULESET
// URL #=http://www.daimaru.co.jp/fukuoka/.*
a[href^="http://www.daimaru.co.jp/fukuoka/company/hakata.html"] {
  attribute: href rewrite "http://www.daimaru.co.jp/fukuoka/hdm/newtop/service/english/index.html";
}
@preprocess {
  replace: 'a href="http://www\.daimaru\.co\.jp/fukuoka/hdm/store_info/"' 'a href="http://www.daimaru.co.jp/fukuoka/hdm/newtop/service/english/entertainment/index.html"';
}
a[href^="http://wakaba.coara.or.jp/cg25000/floorguide/index.php?type=top"] {
attribute: href rewrite "http://www.daimaru.co.jp/fukuoka/hdm/newtop/service/english/floormap/index.html";
}
// @RULESET
// URL =http://dmdepart.jp/flnews/
@preprocess {
  replace: '(<meta http-equiv="refresh" content="3 ; URL=)s(/index.html">)' '$1e$2';
}