@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine hokkaido-kitahiroshima/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine hokkaido-kitahiroshima/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@postprocess {
  replace: 'https://www\.city\.kitahiroshima\.hokkaido\.jp/' 'http://www\.city\.kitahiroshima\.hokkaido\.jp\.k\.oc\.hp\.transer\.com/';
}
