@engine default {
  eid: BO-ENDE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine demo/main {
  eid: BO-ENDE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine demo/cross {
  eid: BO-ENDE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}
