.bx-controls {
 attribute: cltx add 'exclude';
}

.bx-controls-direction {
 attribute: cltx add 'exclude';
}

.button-store {
 attribute: style add 'white-space: nowrap;';
}

#mapto {
 attribute: cltx add 'exclude';
}

div#box_map.box-map {
 attribute: cltx add 'exclude';
}