@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOURMET FASHION INTERNET";
}
@engine tosei-hotel/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOURMET FASHION";
}
@engine tosei-hotel/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOURMET FASHION";
}

@preprocess {
  replace:'UA-105266315-3' 'UA-105266315-4';
}
