@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOVT INTERNET";
}
@engine ojiya/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOVT";
}
@engine ojiya/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOVT";
}

@postprocess {
  replace: "<a href=\"/site/shisetsu-map/shisetsu-1\.html\">ty hall Way to</a>" "ty hall <a href=\"/site/shisetsu-map/shisetsu-1\.html\">Way to</a>";
}

@postprocess {
  replace: "List of phone numbers ope<a href=\"/soshiki/1\.html\">n agency time according to</a>" "<a href=\"/soshiki/1\.html\">List of phone numbers</a> open agency time according to";
}

