@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine biccamera-test/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine biccamera-test/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}
@preprocess {
 replace:'<!-- crosslanguage-k:show(.*?)/crosslanguage-k:show -->' '$1';
}