@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine bandainamco-am/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine bandainamco-am/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

body {
  attribute: lang add 'zh';
}

@preprocess {
  replace: 'UA-69110980-1' 'UA-69110980-5';
  replace:'<!-- crosslanguage-c:show(.*?)/crosslanguage-c:show -->' '$1';
}
