@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine funfun-tokushima/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine funfun-tokushima/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess{
	replace:'<!-- crosslanguage-k:show(.*?)/crosslanguage-k:show -->' '$1';
}

@postprocess{
	replace:'<span class="cat-category(.*?)" data-href="(.*?)//funfun-tokushima.jp/(.*?)"(.*?)>' '<span class="cat-category$1" data-href="$2//funfun-tokushima.jp.k.agf.hp.transer.com/$3"$4>';
}
