@engine default {
  eid: MS-JAID;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine test-ye/main {
  eid: MS-JAID;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine test-ye/cross {
  eid: MS-JAID;
  dictionaries: "CROSS_TM_MASTER";
}
