@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM";
}
@engine kankou-hamada/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM";
}
@engine kankou-hamada/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM";
}

/* ÉÅÉjÉÖÅ[âÊëúç∑Çµë÷Ç¶ */
@preprocess{
	replace:'www.kankou-hamada.org/themes/kankou/images/nav_on_01.png' 'www.kankou-hamada.org/themes/kankou/images/traditional/nav_01_on_tra.png';
	replace:'www.kankou-hamada.org/themes/kankou/images/nav_on_02.png' 'www.kankou-hamada.org/themes/kankou/images/traditional/nav_02_on_tra.png';
	replace:'www.kankou-hamada.org/themes/kankou/images/nav_on_03.png' 'www.kankou-hamada.org/themes/kankou/images/traditional/nav_03_on_tra.png';
	replace:'www.kankou-hamada.org/themes/kankou/images/nav_on_04.png' 'www.kankou-hamada.org/themes/kankou/images/traditional/nav_04_on_tra.png';
	replace:'www.kankou-hamada.org/themes/kankou/images/nav_on_05.png' 'www.kankou-hamada.org/themes/kankou/images/traditional/nav_05_on_tra.png';
	replace:'www.kankou-hamada.org/themes/kankou/images/nav_on_06.png' 'www.kankou-hamada.org/themes/kankou/images/traditional/nav_06_on_tra.png';
	replace:'www.kankou-hamada.org/themes/kankou/images/nav_on_07.png' 'www.kankou-hamada.org/themes/kankou/images/traditional/nav_07_on_tra.png';
	replace:'www.kankou-hamada.org/themes/kankou/images/nav_on_08.png' 'www.kankou-hamada.org/themes/kankou/images/traditional/nav_08_on_tra.png';
	replace:'www.kankou-hamada.org/themes/kankou/images/nav_01.png' 'www.kankou-hamada.org/themes/kankou/images/traditional/nav_01_tra.png';
	replace:'www.kankou-hamada.org/themes/kankou/images/nav_02.png' 'www.kankou-hamada.org/themes/kankou/images/traditional/nav_02_tra.png';
	replace:'www.kankou-hamada.org/themes/kankou/images/nav_03.png' 'www.kankou-hamada.org/themes/kankou/images/traditional/nav_03_tra.png';
	replace:'www.kankou-hamada.org/themes/kankou/images/nav_04.png' 'www.kankou-hamada.org/themes/kankou/images/traditional/nav_04_tra.png';
	replace:'www.kankou-hamada.org/themes/kankou/images/nav_05.png' 'www.kankou-hamada.org/themes/kankou/images/traditional/nav_05_tra.png';
	replace:'www.kankou-hamada.org/themes/kankou/images/nav_06.png' 'www.kankou-hamada.org/themes/kankou/images/traditional/nav_06_tra.png';
	replace:'www.kankou-hamada.org/themes/kankou/images/nav_07.png' 'www.kankou-hamada.org/themes/kankou/images/traditional/nav_07_tra.png';
	replace:'www.kankou-hamada.org/themes/kankou/images/nav_08.png' 'www.kankou-hamada.org/themes/kankou/images/traditional/nav_08_tra.png';
}
