@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM FASHION";
}
@engine asty-shizuoka/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM FASHION";
}
@engine asty-shizuoka/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM FASHION";
}

body {
  attribute: lang add 'zh';
}

@postprocess {
	replace:'咖哩&amp;咖哩麵包裹天馬' '咖喱&咖喱面包天马';
	replace:'咖喱&amp;咖喱面包天马' '咖喱&咖喱面包 天马';
	replace:'扦子油炸炖㊈\\(滚\\)' '炸串 炖菜㊈（WAKU）';
	replace:'富士的坊㐂食案' '藤之坊 喜膳';
	replace:'caféde laugh' 'café de laugh';
}
