@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine landmark-osaka/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine landmark-osaka/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}
