@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine arita/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine arita/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}
form[action$="/search/"] {
  attribute: action rewrite "@RewriteSearch";
}

@rewrite RewriteSearch {
  if (absurl matches "(http://www\\.arita\\.jp)/search/(.*)") return "{$1}/search_ko/{$2}";
}
