@engine default {
  eid: CR-JT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM";
}
@engine yomiuriland/main {
  eid: CR-JT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM";
}
@engine yomiuriland/cross {
  eid: CR-JT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM";
}

// @RULESET
// URL #= http://www\.yomiuriland\.com/common/js/newslist\.js
// URL #= http://www\.yomiuriland\.com/topic/js/news\.json
// URL #= http://www\.yomiuriland\.com/common/js/topcontents\.js
// URL #= http://www\.yomiuriland\.com/common/js/sidenav\.js
@data html { encoding: force "UTF-8"; output: normal; }
