div[class^="gm-photos"], div[class^="gm-style-mtc"] > div > div, div[class^="gm-style-mtc"] > div{
    attribute: cltx add 'exclude';
}

div#Header span{
  tag: delete;
}

input[placeholder] {
  attribute: placeholder translate;
}

// @RULESET
// URL #=http://www\.smilring\.com/application/html/Maproute\.html.*
div#map_canvas {
  attribute: style set 'top:70px !important; width: 100%; height: 90%; position: absolute; z-index: -1;';
}

div#free-search {
  attribute: style set 'height: auto;';
}

// @RULESET
// URL #=http://www\.smilring\.com/application/html/ShopTop\.html.*
@preprocess {
  replace: '(Maproute\.html\?.*?)&(.*?)&(.*?)&' '$1&amp;$2&amp;$3&amp;';
}

// @RULESET
// URL #=http://www\.smilring\.com/application/html/EventSelect\.html.*
@preprocess {
  replace: '"選択してください"' 'document.getElementById("select-placeholder").placeholder';
  replace: '(<input type="hidden" id="genrea_s" name="genrea_s" value="" tabindex="-1">)' '$1\n		<input type="hidden" id="select-placeholder" placeholder="選択してください">';
}
