@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM LAW";
}
@engine pref-osaka/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER LAW";
}
@engine pref-osaka/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER LAW";
}

@preprocess {
  replace:'<!-- crosslanguage-k:show(.*?)/crosslanguage-k:show -->' '$1';
}

