@preprocess {
  replace: 'vroom2/list4\.php' 'evroom2/elist4.php';
  replace: 'mpage/mpage_login\.php' 'empage/empage_login.php';
  replace: 'cancel/can_login\.php' 'ecancel/ecan_login.php';
  replace: 'smartphone/vroom2/search/smem_id/([0-9]{4})/op_id/([0-9]{1})' 'evroom2/elist4.php?smem_id=$1&op_id=$2';
  replace: 'smartphone/cancel/login/smem_id/([0-9]{4})/' 'ecancel/ecan_login.php?smem_id=$1';
  replace: 'smartphone/member/mem_mail/smem_id/([0-9]{4})/' 'emember/emem_mail.php?smem_id=$1';
  replace: 'smartphone/mpage/login/smem_id/([0-9]{4})/' 'empage/empage_login.php?smem_id=$1';
  replace: 'smartphone/idpass/pass/smem_id/([0-9]{4})' 'epass/epass.php?smem_id=$1';
}

a[href="https://sec.489.jp/rg/member/mem_mail.php?smem_id=2002"] {
  attribute: href rewrite "https://sec.489.jp/rg/emember/emem_mail.php?smem_id=2002" !important;
}
a[href="https://sec.489.jp/rg/pass/pass.php?smem_id=2002"] {
  attribute: href rewrite "https://sec.489.jp/rg/epass/epass.php?smem_id=2002" !important;
}
a[href="https://sec.489.jp/rg/mpage/mpage_login.php?smem_id=2002"] {
  attribute: href rewrite "https://sec.489.jp/rg/empage/empage_login.php?smem_id=2002" !important;
}

a[href$="/pdf/regulations.pdf"] {
  attribute: href rewrite "http://www.first-cabin.jp/pdf/regulations_en.pdf";
}
a[href$="/pdf/privacy.pdf"] {
  attribute: href rewrite "http://www.first-cabin.jp/pdf/privacy_en.pdf";
}

a[href="http://www.tokyo-airport-bldg.co.jp/map/moves_between_terminals/shuttle_bus_between_terminals.html"] {
  attribute: href rewrite "http://www.tokyo-airport-bldg.co.jp/en/access/shuttleBus.html";
}
a[href="http://www.tokyo-airport-bldg.co.jp/access/"] {
  attribute: href rewrite "http://www.tokyo-airport-bldg.co.jp/en/access/#t1";
}