@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine towers/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine towers/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

body {
  attribute: lang add 'zh';
}

/*画像差し替え*/
@preprocess{
	replace:'/common/images/btn-cmn-gl-sub-nav-link-01.png' '/common/images/chinese_kantaijii/btn-cmn-gl-sub-nav-link-01-ck.png';
	replace:'/common/images/btn-cmn-gl-sub-nav-link-02.png' '/common/images/chinese_kantaijii/btn-cmn-gl-sub-nav-link-02-ck.png';
	replace:'/common/images/btn-cmn-gl-sub-nav-link-03.png' '/common/images/chinese_kantaijii/btn-cmn-gl-sub-nav-link-03-ck.png';
	replace:'/common/images/btn-cmn-gl-sub-nav-link-04.png' '/common/images/chinese_kantaijii/btn-cmn-gl-sub-nav-link-04-ck.png';

	replace:'/common/images/img-floor-guid.png' '/common/images/chinese_kantaijii/img-floor-guid-ck.png';
	replace:'/common/images/img-floor-guid-on.png' '/common/images/chinese_kantaijii/img-floor-guid-on-ck.png';
	replace:'/common/images/img-floor-guid-jgt.png' '/common/images/chinese_kantaijii/img-floor-guid-jgt-ck.png';
	replace:'/common/images/img-floor-guid-towers.png' '/common/images/chinese_kantaijii/img-floor-guid-towers-ck.png';
	replace:'/common/images/img-floor-guid-gate.png' '/common/images/chinese_kantaijii/img-floor-guid-gate-ck.png';
}
