#site-translate-header-wrapper {
	width: auto !important;
}

.forisInformation,
#banner-new-bonita {
	display: none;
}

.navGlobal {
	width: 640px;
	padding: 0;
	margin: 0 auto;
}

#forisFooter nav ul {
	left: 0;
    width: 100%;
}

#forisFooter nav li {
    float: right;
    right: 3.3%;
}

@media only screen and (max-width: 480px) {

	.navGlobal {
		width: 100%;
	}

}
