#site-translate-header-wrapper {
	width: auto !important;
}

.forisInformation,
#banner-new-bonita {
	display: none;
}

.navGlobal {
	width: 640px;
	padding: 0;
	margin: 0 auto;
}

#forisFooter nav ul {
    float: none;
    left: 0;
	margin: 0 3.5% 0 0;
}

#forisFooter nav li {
    float: none;
    right: 0;
    display: inline-block;
}

@media only screen and (max-width: 480px) {

	.navGlobal {
		width: 100%;
	}

}
