@preprocess {
	replace: '<li><a id="gnav-bonita"(.*?)>(.*?)</a></li>' '';
	replace: '<a (.*?) class="news-shop-name">(.*?)</a>' '<a $1 class="news-shop-name">$2</a><br style="display:none;">';
	replace: '〒183-0023' '183-0023';
}

@postprocess {
	replace: '/img/billboard/bnr_26.jpg' '//www.foris.co.jp/img/billboard2/1.jpg';
	replace: '/img/billboard/bnr_25.jpg' '//www.foris.co.jp/img/billboard2/2.jpg';
	replace: '/img/billboard/bnr_22.jpg' '//www.foris.co.jp/img/billboard2/3.jpg';
	replace: '/img/billboard/bnr_23.jpg' '//www.foris.co.jp/img/billboard2/4.jpg';
	replace: 'data-link="(.*?)"' '';
	replace: '/img/billboard/smp_bnr_26.jpg' '//www.foris.co.jp/img/billboard2/1.jpg';
	replace: '/img/billboard/smp_bnr_25.jpg' '//www.foris.co.jp/img/billboard2/2.jpg';
	replace: '/img/billboard/smp_bnr_22.jpg' '//www.foris.co.jp/img/billboard2/3.jpg';
	replace: '/img/billboard/smp_bnr_23.jpg' '//www.foris.co.jp/img/billboard2/4.jpg';
}
