@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine ecute/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine ecute/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

body {
  attribute: lang add 'zh';
}

@preprocess {
  replace:'<!-- crosslanguage-c:show(.*?)/crosslanguage-c:show -->' '$1';
}

// @RULESET
// URL = http://www.ecute.jp/omiya/
@postprocess {
  replace: 'http://www.ecute.jp' 'http://www.ecute.jp.c.yc.hp.transer.com/omiya/';
}

// @RULESET
// URL = http://www.ecute.jp/shinagawa/
@postprocess {
  replace: 'http://www.ecute.jp' 'http://www.ecute.jp.c.yc.hp.transer.com/shinagawa/';
}

// @RULESET
// URL = http://www.ecute.jp/shinagawasouth/
@postprocess {
  replace: 'http://www.ecute.jp' 'http://www.ecute.jp.c.yc.hp.transer.com/shinagawasouth/';
}

// @RULESET
// URL = http://www.ecute.jp/nippori/
@postprocess {
  replace: 'http://www.ecute.jp' 'http://www.ecute.jp.c.yc.hp.transer.com/nippori/';
}

// @RULESET
// URL = http://www.ecute.jp/tokyo/
@postprocess {
  replace: 'http://www.ecute.jp' 'http://www.ecute.jp.c.yc.hp.transer.com/tokyo/';
}

// @RULESET
// URL = http://www.ecute.jp/ueno/
@postprocess {
  replace: 'http://www.ecute.jp' 'http://www.ecute.jp.c.yc.hp.transer.com/ueno/';
}

// @RULESET
// URL = http://www.ecute.jp/akabane/
@postprocess {
  replace: 'http://www.ecute.jp' 'http://www.ecute.jp.c.yc.hp.transer.com/akabane/';
}