@engine default {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine city-yokohama/main {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine city-yokohama/cross {
  eid: MS-JAVI;
  dictionaries: "CROSS_TM_MASTER";
}
