@preprocess {
  replace: "〈まるい〉" "丸井イマイ";
  replace: "〈いまい〉" "丸井イマイ";
  replace: "〈(.+?)〉" "[$1]";
}

// @RULESET
// URL ^= http://www.marui-imai.jp/sapporo/brand/index.html
div.box_index {
  attribute: class set "box_index cl-notranslate cl-norewrite";
}

div.box_list > h4 {
  content: ignore;
}

// @RULESET
// URL ^= http://www.marui-imai.jp/sapporo/s_top/index.html/
@postprocess {
replace:'<script src="http://i.isetan.co.jp/maruiimai/sapporo/js/recents.js" type="text/javascript"></script>' '<script src="http://i.isetan.co.jp.e.ba.hp.transer.com/maruiimai/sapporo/js/recents.js" type="text/javascript"></script>';
}