@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine daimaru/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine daimaru/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

// @RULESET
// URL =http://www.daimaru.co.jp/shinsaibashi/
// URL =http://www.daimaru.co.jp/shinsaibashi/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/shinsaibashi/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="/shinsaibashi/service/gaikoku.html"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/20150113_730x349_k.jpg"></a></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/umedamise/
// URL =http://www.daimaru.co.jp/umedamise/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/umedamise/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="/umedamise/service/gaikoku.html"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/20150113_730x349_k.jpg"></a></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/kyoto/
// URL =http://www.daimaru.co.jp/kyoto/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/kyoto/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="/kyoto/service/gaikoku.html"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/20150113_730x349_k.jpg"></a></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/kobe/
// URL =http://www.daimaru.co.jp/kobe/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/kobe/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="/kobe/service/gaikoku.html"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/20150113_730x349_k.jpg"></a></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/tokyo/
// URL =http://www.daimaru.co.jp/tokyo/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/tokyo/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><img width="730" height="349" border="0" usemap="#mainImageLink" alt="" src="/tokyo/images/20150113_main_k.jpg"><map id="mainImageLink" name="mainImageLink"><area href="/tokyo/fl/k/best/" coords="0,0,341,348" shape="rect"><area href="/tokyo/service/gaikoku.html" coords="341,0,730,353" shape="rect"></map></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/sapporo/
// URL =http://www.daimaru.co.jp/sapporo/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/sapporo/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="/sapporo/service/gaikoku.html"><img width="730" height="349" alt="" src="http://dmdepart.jp/fl/images/20150113_730x349_k.jpg"></a></p>';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/shinsaibashi/
// URL =http://www.daimaru.co.jp/smp/shinsaibashi/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/shinsaibashi/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="/smp/shinsaibashi/service/gaikoku.html"><img width="300" alt="" src="http://dmdepart.jp/fl/images/20150113_710x264_k.jpg"></a></p>$1';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/umedamise/
// URL =http://www.daimaru.co.jp/smp/umedamise/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/umedamise/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="/smp/umedamise/service/gaikoku.html"><img width="300" alt="" src="http://dmdepart.jp/fl/images/20150113_710x264_k.jpg"></a></p>$1';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/kyoto/
// URL =http://www.daimaru.co.jp/smp/kyoto/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/kyoto/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="/smp/kyoto/service/gaikoku.html"><img width="300" alt="" src="http://dmdepart.jp/fl/images/20150113_710x264_k.jpg"></a></p>$1';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/kobe/
// URL =http://www.daimaru.co.jp/smp/kobe/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/kobe/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="/smp/kobe/service/gaikoku.html"><img width="300" alt="" src="http://dmdepart.jp/fl/images/20150113_710x264_k.jpg"></a></p>$1';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/tokyo/
// URL =http://www.daimaru.co.jp/smp/tokyo/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/tokyo/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="/tokyo/fl/s/k/"><img width="300" alt="" src="http://dmdepart.jp/fl/images/20150113_710x264_k.jpg"></a></p>$1';
}

// @RULESET
// URL =http://www.daimaru.co.jp/smp/sapporo/
// URL =http://www.daimaru.co.jp/smp/sapporo/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/sapporo/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="/smp/sapporo/service/gaikoku.html"><img width="300" alt="" src="http://dmdepart.jp/fl/images/20150113_710x264_k.jpg"></a></p>$1';
}

// @RULESET
// URL =http://dmdepart.jp/fl/
// URL =http://dmdepart.jp/fl/smp/
@preprocess {
  replace: "www\.matsuzakaya\.co\.jp/" "www.matsuzakaya.co.jp.k.me.hp.transer.com/";
}

// @RULESET
// URL #=http://www.daimaru.co.jp/fukuoka/.*
a[href^="http://www.daimaru.co.jp/fukuoka/company/hakata.html"] {
  attribute: href rewrite "http://www.daimaru.co.jp/fukuoka/hdm/newtop/service/korea/index.html";
}
a[href^="http://www.daimaru.co.jp/fukuoka/hdm/store_info/"] {
  attribute: href rewrite "http://www.daimaru.co.jp/fukuoka/hdm/newtop/service/korea/entertainment/index.html";
}
a[href^="http://wakaba.coara.or.jp/cg25000/floorguide/index.php?type=search"] {
  attribute: href rewrite "http://www.daimaru.co.jp/fukuoka/hdm/newtop/service/korea/recommend/index.html";
}
a[href^="http://wakaba.coara.or.jp/cg25000/floorguide/index.php?type=top"] {
  attribute: href rewrite "http://www.daimaru.co.jp/fukuoka/hdm/newtop/service/korea/floormap/index.html";
}
