@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine daimaru/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine daimaru/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
  replace:'<!-- crosslanguage-k:show(.*?)/crosslanguage-k:show -->' '$1';
}

// @RULESET
// URL #=//www.daimaru.co.jp/shinsaibashi/
// URL #=//www.daimaru.co.jp/shinsaibashi/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/shinsaibashi/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="https://dmdepart.jp.k.md.hp.transer.com/flnews/k/" target="_blank"><img width="730" height="349" alt="" src="https://dmdepart.jp/fl/images/storemain_pc_k.jpg"></a></p>';
}

// @RULESET
// URL #=//www.daimaru.co.jp/umedamise/
// URL #=//www.daimaru.co.jp/umedamise/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/umedamise/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="https://dmdepart.jp.k.md.hp.transer.com/flnews/k/" target="_blank"><img width="730" height="349" alt="" src="https://dmdepart.jp/fl/images/storemain_pc_k.jpg"></a></p>';
}

// @RULESET
// URL #=//www.daimaru.co.jp/kyoto/
// URL #=//www.daimaru.co.jp/kyoto/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/kyoto/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="https://dmdepart.jp.k.md.hp.transer.com/flnews/k/" target="_blank"><img width="730" height="349" alt="" src="https://dmdepart.jp/fl/images/storemain_pc_k.jpg"></a></p>';
}

// @RULESET
// URL #=//www.daimaru.co.jp/kobe/
// URL #=//www.daimaru.co.jp/kobe/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/kobe/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="https://dmdepart.jp.k.md.hp.transer.com/flnews/k/" target="_blank"><img width="730" height="349" alt="" src="https://dmdepart.jp/fl/images/storemain_pc_k.jpg"></a></p>';
}

// @RULESET
// URL #=//www.daimaru.co.jp/tokyo/
// URL #=//www.daimaru.co.jp/tokyo/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/tokyo/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="https://dmdepart.jp.k.md.hp.transer.com/flnews/k/" target="_blank"><img width="730" height="349" alt="" src="https://dmdepart.jp/fl/images/storemain_pc_k.jpg"></a></p>';
}

// @RULESET
// URL #=//www.daimaru.co.jp/sapporo/
// URL #=//www.daimaru.co.jp/sapporo/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/sapporo/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="https://dmdepart.jp.k.md.hp.transer.com/flnews/k/" target="_blank"><img width="730" height="349" alt="" src="https://dmdepart.jp/fl/images/storemain_pc_k.jpg"></a></p>';
}

// @RULESET
// URL #=//www.daimaru.co.jp/smp/shinsaibashi/
// URL #=//www.daimaru.co.jp/smp/shinsaibashi/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/shinsaibashi/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="https://dmdepart.jp.k.md.hp.transer.com/flnews/k/" target="_blank"><img width="300" alt="" src="https://dmdepart.jp/fl/images/storemain_smp_k.jpg"></a></p>$1';
}

// @RULESET
// URL #=//www.daimaru.co.jp/smp/umedamise/
// URL #=//www.daimaru.co.jp/smp/umedamise/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/umedamise/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="https://dmdepart.jp.k.md.hp.transer.com/flnews/k/" target="_blank"><img width="300" alt="" src="https://dmdepart.jp/fl/images/storemain_smp_k.jpg"></a></p>$1';
}

// @RULESET
// URL #=//www.daimaru.co.jp/smp/kyoto/
// URL #=//www.daimaru.co.jp/smp/kyoto/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/kyoto/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="https://dmdepart.jp.k.md.hp.transer.com/flnews/k/" target="_blank"><img width="300" alt="" src="https://dmdepart.jp/fl/images/storemain_smp_k.jpg"></a></p>$1';
}

// @RULESET
// URL #=//www.daimaru.co.jp/smp/kobe/
// URL #=//www.daimaru.co.jp/smp/kobe/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/kobe/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="https://dmdepart.jp.k.md.hp.transer.com/flnews/k/" target="_blank"><img width="300" alt="" src="https://dmdepart.jp/fl/images/storemain_smp_k.jpg"></a></p>$1';
}

// @RULESET
// URL #=//www.daimaru.co.jp/smp/tokyo/
// URL #=//www.daimaru.co.jp/smp/tokyo/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/tokyo/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="https://dmdepart.jp.k.md.hp.transer.com/flnews/k/" target="_blank"><img width="300" alt="" src="https://dmdepart.jp/fl/images/storemain_smp_k.jpg"></a></p>$1';
}

// @RULESET
// URL #=//www.daimaru.co.jp/smp/sapporo/
// URL #=//www.daimaru.co.jp/smp/sapporo/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/sapporo/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="https://dmdepart.jp.k.md.hp.transer.com/flnews/k/" target="_blank"><img width="300" alt="" src="https://dmdepart.jp/fl/images/storemain_smp_k.jpg"></a></p>$1';
}

// @RULESET
// URL #=//dmdepart.jp/fl/
// URL #=//dmdepart.jp/fl/smp/
@preprocess {
  replace: "www\.matsuzakaya\.co\.jp/" "www.matsuzakaya.co.jp.k.me.hp.transer.com/";
}

// @RULESET
// URL #=//dmdepart.jp/flnews/
a[href="https://www.matsuzakaya.co.jp/ueno/"] {
  attribute: href rewrite "https://www.matsuzakaya.co.jp.k.me.hp.transer.com/ueno/";
}
a[href="https://www.matsuzakaya.co.jp/nagoya/inbound/en/"] {
  attribute: href rewrite "https://www.matsuzakaya.co.jp/nagoya/inbound/ko/";
}

// @RULESET
// URL #=//www.daimaru.co.jp/fukuoka/.*
a[href^="https://www.daimaru.co.jp/fukuoka/company/hakata.html"] {
  attribute: href rewrite "https://www.daimaru.co.jp/fukuoka/hdm/newtop/service/korea/index.html";
}
@preprocess {
  replace: 'a href="https://www\.daimaru\.co\.jp/fukuoka/hdm/store_info/"' 'a href="https://www.daimaru.co.jp/fukuoka/hdm/newtop/service/korea/entertainment/index.html"';
}
// @RULESET
// URL #=//dmdepart.jp/flnews/
@preprocess {
  replace: '(<meta http-equiv="refresh" content="3 ; URL=)s(/index.html">)' '$1k$2';
}
