@engine default {
  eid: CR-JE;
  dictionaries: "KURABO_DIC KURABO_TM CROSS_DIC CROSS_TM INTERNET IT COMPUTER";
}
@engine kurabo/main {
  eid: CR-JE;
  dictionaries: "KURABO_DIC_MASTER KURABO_TM_MASTER IT COMPUTER";
}
@engine kurabo/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER IT COMPUTER";
}
