@engine default {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine pref-osaka/main {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine pref-osaka/cross {
  eid: MS-JAVI;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
  replace:'<!-- crosslanguage-v:show(.*?)/crosslanguage-v:show -->' '$1';
}
