@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM ENTER ANIME HOBBY INTERNET";
}
@engine cafe-athome/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER ENTER ANIME HOBBY";
}
@engine cafe-athome/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER ENTER ANIME HOBBY";
}
@preprocess {
  replace: 'UA-3778845-1' 'UA-3778845-3';
}