@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOURMET INTERNET";
}
@engine naspa/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOURMET";
}
@engine naspa/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOURMET";
}

@postprocess {
	replace:'<td(.*?)><!--cltx-->Day</td>' '<td$1><!--cltx-->Sun</td>';
	replace:'<td(.*?)><!--cltx-->Month</td>' '<td$1><!--cltx-->Mon</td>';
	replace:'<td(.*?)><!--cltx-->Fire</td>' '<td$1><!--cltx-->Tue</td>';
	replace:'<td(.*?)><!--cltx-->Water</td>' '<td$1><!--cltx-->Wed</td>';
	replace:'<td(.*?)><!--cltx-->Tree</td>' '<td$1><!--cltx-->Thu</td>';
	replace:'<td(.*?)><!--cltx-->Money</td>' '<td$1><!--cltx-->Fri</td>';
	replace:'<td(.*?)><!--cltx-->Soil</td>' '<td$1><!--cltx-->Sat</td>';
}
