@engine default {
  eid: BR-JA.PT.EN;
  dictionaries: "FUCHU-HIROSHIMA_TM FUCHU-HIROSHIMA_DIC CROSS_DIC CROSS_TM GOVT TOURISM GOURMET INTERNET";
}
@engine fuchu-hiroshima/main {
  eid: BR-JA.PT.EN;
  dictionaries: "FUCHU-HIROSHIMA_TM_MASTER FUCHU-HIROSHIMA_DIC_MASTER GOVT TOURISM GOURMET";
}
@engine fuchu-hiroshima/cross {
  eid: BR-JA.PT.EN;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT TOURISM GOURMET";
}