@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine kitte-hakata/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine kitte-hakata/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}
