@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine license-tour/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine license-tour/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@postprocess {
  replace:'希望の合宿先''희망의 합숙처';
  replace:'北海道''홋카이도';
  replace:'岩手''이와테';
  replace:'秋田''아키타';
  replace:'山形''야마가타';
  replace:'福島''후쿠시마';
  replace:'茨城''이바라키';
  replace:'栃木''토치기';
  replace:'群馬''군마';
  replace:'埼玉''사이타마';
  replace:'千葉''지바';
  replace:'東京''도쿄';
  replace:'神奈川''가나가와';
  replace:'長野''나가노';
  replace:'新潟''니가타';
  replace:'石川''이시카와';
  replace:'福井''후쿠이';
  replace:'岐阜''기후';
  replace:'静岡''시즈오카';
  replace:'愛知''아이치';
  replace:'滋賀''시가';
  replace:'京都''교토';
  replace:'兵庫''효고';
  replace:'岡山''오카야마';
  replace:'広島''히로시마';
  replace:'徳島''도쿠시마';
  replace:'香川''가가와';
  replace:'愛媛''에히메';
  replace:'高知''고치';
  replace:'長崎''나가사키';
  replace:'熊本''구마모토';
  replace:'鹿児島''가고시마';
  replace:'沖縄''오키나와';
  replace:'取得する免許''취득하는 면허';
  replace:'選択してください''선택해';
  replace:'普通車MT''보통차MT';
  replace:'普通車AT''보통차AT';
  replace:'普通二輪MT''보통 이륜 MT';
  replace:'普通二輪AT''보통 이륜 AT';
  replace:'大型二輪MT''대형 이륜 MT';
  replace:'大型二輪AT''대형 이륜 AT';
  replace:'大型特殊''대형 특수';
  replace:'けん引''견인';
  replace:'中型車''중형차';
  replace:'大型車''대형차';
  replace:'普通二種''보통 2종';
  replace:'中型二種''중형 2종';
  replace:'大型二種''대형 2종';
  replace:'お住まいのエリアを選択''살고 있는 에리어를 선택';
  replace:'青森''아오모리';
  replace:'宮城''미야기';
  replace:'山梨''야마나시';
  replace:'富山''도야마	';
  replace:'三重''삼중';
  replace:'奈良''나라';
  replace:'和歌山''와카야마';
  replace:'鳥取''돗토리';
  replace:'島根''시마네';
  replace:'福岡''후쿠오카';
  replace:'佐賀''사가';
  replace:'大分''오이타';
  replace:'宮崎''미야자키';
  replace:'検索する''검색한다';  
  replace:'大阪''오사카';
  replace:'山口''야마구치';  
}