@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine nambacity/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine nambacity/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

// @RULESET
// URL #= http://www\.nambacity\.com/
// URL #= http://nambacity\.com/
@preprocess{
replace: 'UA-39252718-1' 'UA-39252718-6';
}