@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT";
}
@engine ieson/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT";
}
@engine ieson/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT";
}

body {
  attribute: lang add 'zh';
}

@postprocess {
replace: '(<a class="rsbtn_play" accesskey="L" title="We read aloud by sound" href="http://app.as.readspeaker.com/cgi-bin/rsent\\?customerid=7871&amp;lang=)ja_jp(&amp;readid=content&amp;url=" cltx>)' '$1zh_cn$2';
}