@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOURMET INTERNET";
}
@engine akan-mashu/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOURMET";
}
@engine akan-mashu/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOURMET";
}

// @RULESET
// URL #= //www\.akan-mashu-nationalpark\.asia/tourism/.*
@preprocess {
	replace:'<div class="refine_title bg_s3_all"><h2>(.*?)オール(.*?)</h2></div>' '<div class="refine_title bg_s3_all"><h2>$1All$2</h2></div>';
	replace:'<option value="s3_all" SELECTED>オール</option></select>' '<option value="s3_all" SELECTED>All</option></select>';
	replace:'<option value="s3_all">オール</option>' '<option value="s3_all">All</option>';
	replace:'<div class="attribute">(.*?)オール(.*?)</div>' '<div class="attribute">$1All$2</div>';
}

// @RULESET
// URL #= //www\.akan-mashu-nationalpark\.asia/
@preprocess {
	replace:'<li class="bihoro"><a href="/tourism/(.*?)">オール</a></li>' '<li class="bihoro"><a href="/tourism/$1">All</a></li>';
}
