@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine atre-takeshiba/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine atre-takeshiba/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

body {
  attribute: lang add 'zh';
}

@preprocess {
	replace:'<!-- crosslanguage-c:show(.*?)/crosslanguage-c:show -->' '$1';
	replace:'UA-72579279-13' 'UA-72579279-16';
}
