@engine default {
  eid: CR-JE;
  dictionaries: "KIRINBEER-EN_DIC KIRINBEER-EN_TM CROSS_DIC CROSS_TM GOURMET INTERNET";
}

@engine kirinbeer-en/main {
  eid: CR-JE;
  dictionaries: "KIRINBEER-EN_DIC_MASTER KIRINBEER-EN_TM_MASTER GOURMET";
}