@engine default {
  eid: CR-JT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine bosainet/main {
  eid: CR-JT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine bosainet/cross {
  eid: CR-JT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

// @RULESET
// URL ^= http://bosai.net/community/
@postprocess {
 replace:'href="http://bosai.net/index.do' 'href="http://bosai.net/selectlang/th/area.do';
 replace:'href="http://bosai.net/indexpref.do' 'href="http://bosai.net/selectlang/th/area2.do';
}

// @RULESET
// URL ^= http://bosai.dev02.smartvalue.ad.jp/community/
@postprocess {
 replace:'href="http://bosai.dev02.smartvalue.ad.jp/index.do' 'href="http://bosai.dev02.smartvalue.ad.jp/selectlang/th/area.do';
 replace:'href="http://bosai.dev02.smartvalue.ad.jp/indexpref.do' 'href="http://bosai.dev02.smartvalue.ad.jp/selectlang/th/area2.do';
}
