@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine bigbang-osaka/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine bigbang-osaka/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

#footer > div#subnav {
	attribute: style add 'padding: 10px 30px 10px 30px;';
}

@preprocess {
	replace: '<p id="adress">大阪府立大型児童館ビッグバン' '<p id="adress">大阪府立大型児童館ビッグバン<br>';
}
