@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION TOURISM GOURMET INTERNET";
}
@engine hikarie/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION TOURISM GOURMET";
}
@engine hikarie/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION TOURISM GOURMET";
}
