@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION TOURISM GOURMET INTERNET";
}
@engine hikarie/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION TOURISM GOURMET";
}
@engine hikarie/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION TOURISM GOURMET";
}

// @RULESET
// URL #= //www\.hikarie\.jp/event/detail\.php\?id=5536
@preprocess {
	replace: '<h3>ブロードウェイ・ミュージカル「天使にラブ・ソングを…」</h3>' '<h3>Broadway musical "Sister Act"</h3>';
}
