@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM MEDICAL";
}
@engine ikeda-osaka-med/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER MEDICAL";
}
@engine ikeda-osaka-med/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER MEDICAL";
}

#LeftArea > .SideMenuBlock > .Menu {
	attribute: cltx add 'exclude';
}
