@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOVT";
}
@engine jcom/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOVT";
}
@engine jcom/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOVT";
}

body {
  attribute: lang add 'zh';
}

@preprocess {
	replace:'href=\"//c.myjcom.jp(.*?)\"' 'href=\"http://c.myjcom.jp$1\"';
	replace:'href=\"//cs.myjcom.jp(.*?)\"' 'href=\"http://cs.myjcom.jp$1\"';
	replace:'href=\"//notices.jcom.co.jp(.*?)\"' 'href=\"http://notices.jcom.co.jp$1\"';
	replace:'href=\"//information.myjcom.jp(.*?)\"' 'href=\"http://information.myjcom.jp$1\"';
}
