@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM IT INTERNET CAR";
}
@engine license-tour/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM IT";
}
@engine license-tour/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM IT";
}

div#header > h1 {
  attribute: style add "letter-spacing:-1px;";
}

div#hosyo > span {
  attribute: style add "letter-spacing: -3px; font-size: 16px;";
}

@postprocess {
  replace:'希望の合宿先' 'Camp desired';
  replace:'北海道' 'Hokkaido';
  replace:'岩手' 'Iwate';
  replace:'秋田' 'Akita';
  replace:'山形' 'Yamagata';
  replace:'福島' 'Fukushima';
  replace:'茨城' 'Ibaraki';
  replace:'栃木' 'Tochigi';
  replace:'群馬' 'Gunma';
  replace:'埼玉' 'Saitama';
  replace:'千葉' 'Chiba';
  replace:'東京' 'Tokyo';
  replace:'神奈川' 'Kanagawa';
  replace:'長野' 'Nagano';
  replace:'新潟' 'Niigata';
  replace:'石川' 'Ishikawa';
  replace:'福井' 'Fukui';
  replace:'岐阜' 'Gifu';
  replace:'静岡' 'Shizuoka';
  replace:'愛知' 'Aichi';
  replace:'滋賀' 'Shiga';
  replace:'京都' 'Kyoto';
  replace:'兵庫' 'Hyogo';
  replace:'岡山' 'Okayama';
  replace:'広島' 'Hiroshima';
  replace:'徳島' 'Tokushima';
  replace:'香川' 'Kagawa';
  replace:'愛媛' 'Ehime';
  replace:'高知' 'Kochi';
  replace:'長崎' 'Nagasaki';
  replace:'熊本' 'Kumamoto';
  replace:'鹿児島' 'Kagoshima';
  replace:'沖縄' 'Okinawa';
  replace:'取得する免許' 'License to acquire';
  replace:'選択してください' 'Choose it';
  replace:'普通車MT' 'Normal car MT';
  replace:'普通車AT' 'Normal car AT';
  replace:'普通二輪' 'MTTwo normal MT';
  replace:'普通二輪' 'ATTwo normal AT';
  replace:'大型二輪' 'MTTwo large-scale MT';
  replace:'大型二輪' 'ATTwo large-scale AT';
  replace:'大型特殊' 'Large size is special';
  replace:'けん引' 'Traction';
  replace:'中型車' 'Medium-sized car';
  replace:'大型車' 'Large car';
  replace:'普通二種' 'Two kinds of normal';
  replace:'中型二種' 'Two kinds of medium size';
  replace:'大型二種' 'Two kinds of large size';
  replace:'お住まいのエリアを選択''I choose an area to live';
  replace:'青森''Aomori';
  replace:'宮城''Miyagi';
  replace:'山梨''Yamanashi';
  replace:'富山''Toyama';
  replace:'三重''Mie';
  replace:'奈良''Nara';
  replace:'和歌山''Wakayama';
  replace:'鳥取''Tottori';
  replace:'島根''Shimane';
  replace:'福岡''Fukuoka';
  replace:'佐賀''Saga';
  replace:'大分''Oita';
  replace:'宮崎''Miyazaki';
  replace:'検索する''Search';
  replace:'大阪''Osaka';
  replace:'山口''Yamaguchi';
}