@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine aeonmall/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine aeonmall/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

body {
  attribute: lang add 'zh';
}

@postprocess {
 replace:'<div class="bnr pcCont"><a href="http://makuharishintoshin-aeonmall.com.c.vd.hp.transer.com/floorguide/" class="fade" target="_blank"><img src="http://makuharishintoshin-aeonmall.com/files/ad/38/photo1.gif" alt="楼层向导" /></a></div>' '<div class="bnr pcCont"><a href="http://makuharishintoshin-aeonmall.com/floorguide/" class="fade" target="_blank"><img src="http://makuharishintoshin-aeonmall.com/files/ad/38/photo1.gif" alt="楼层向导" /></a></div>';
 replace:'<div class="bnr spCont"><a href="http://makuharishintoshin-aeonmall.com.c.vd.hp.transer.com/floorguide/" class="fade" target="_blank"><img src="http://makuharishintoshin-aeonmall.com/files/ad/38/photo1.gif" alt="楼层向导" /></a></div>' '<div class="bnr spCont"><a href="http://makuharishintoshin-aeonmall.com/floorguide/" class="fade" target="_blank"><img src="http://makuharishintoshin-aeonmall.com/files/ad/38/photo1.gif" alt="楼层向导" /></a></div>';
}

@postprocess {
  replace:'<a href="#" class="fade"><span class="txtInner">越发看问讯处</span></a>' '<a href="#" class="fade"><span class=" ">越发看问讯处</span></a>';
}