@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine license-tour/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine license-tour/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

body {
  attribute: lang add 'zh';
}

@postprocess {
  replace:'希望の合宿先' '希望的集训的前方';
  replace:'北海道' '北海道';
  replace:'岩手' '岩手';
  replace:'秋田' '秋田';
  replace:'山形' '山形';
  replace:'福島' '福岛';
  replace:'茨城' '茨城';
  replace:'栃木' '栃木';
  replace:'群馬' '群马';
  replace:'埼玉' '埼玉';
  replace:'千葉' '千叶';
  replace:'東京' '东京';
  replace:'神奈川' '神奈川';
  replace:'長野' '长野';
  replace:'新潟' '新潟';
  replace:'石川' '石川';
  replace:'福井' '福井';
  replace:'岐阜' '岐阜';
  replace:'静岡' '静冈';
  replace:'愛知' '爱知';
  replace:'滋賀' '滋贺';
  replace:'京都' '京都';
  replace:'兵庫' '兵库';
  replace:'岡山' '冈山';
  replace:'広島' '广岛';
  replace:'徳島' '德岛';
  replace:'香川' '香川';
  replace:'愛媛' '爱媛';
  replace:'高知' '高知';
  replace:'長崎' '长崎';
  replace:'熊本' '熊本';
  replace:'鹿児島' '鹿儿岛';
  replace:'沖縄' '冲绳';
  replace:'取得する免許' '取得的执照';
  replace:'選択してください' '选择';
  replace:'普通車MT' '普通车MT';
  replace:'普通車AT' '普通车AT';
  replace:'普通二輪MT' '普通2轮MT';
  replace:'普通二輪AT' '普通2轮AT';
  replace:'大型二輪MT' '大型2轮MT';
  replace:'大型二輪AT' '大型2轮AT';
  replace:'大型特殊' '大型特殊';
  replace:'けん引' '牵引';
  replace:'中型車' '中型车';
  replace:'大型車' '大型车辆';
  replace:'普通二種' '2种普通';
  replace:'中型二種' '2种中型';
  replace:'大型二種' '2种大型';
  replace:'お住まいのエリアを選択''选择住在的区域';
  replace:'青森''青森';
  replace:'宮城''宫城';
  replace:'山梨''山梨';
  replace:'富山''富山';
  replace:'三重''三重';
  replace:'奈良''奈良';
  replace:'和歌山''和歌山';
  replace:'鳥取''鸟取';
  replace:'島根''岛根';
  replace:'福岡''福冈';
  replace:'佐賀''佐贺';
  replace:'大分''大分';
  replace:'宮崎''宫崎';
  replace:'検索する''搜索';
  replace:'大阪''大阪';
  replace:'山口''山口';
}