@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine license-tour/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine license-tour/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

body {
  attribute: lang add 'zh';
}

// @RULESET
// URL ^= http://license-tour.jp/
@postprocess {
 replace:'<dt>希望の合宿先</dt>' '<dt>希望的集训的前方</dt>';
 replace:'<option value="1">北海道</option>''<option value="1">北海道</option>';
 replace:'<option value="2">青森</option>' '<option value="2">青森</option>';
 replace:'<option value="3">岩手</option>' '<option value="3">岩手</option>';
 replace:'<option value="4">秋田</option>' '<option value="4">秋田</option>';
 replace:'<option value="5">宮城</option>' '<option value="5">宫城</option>';
 replace:'<option value="6">山形</option>' '<option value="6">山形</option>';
 replace:'<option value="7">福島</option>' '<option value="7">福岛</option>';
 replace:'<option value="8">茨城</option>' '<option value="8">茨城</option>';
 replace:'<option value="9">栃木</option>' '<option value="9">栃木</option>';
 replace:'<option value="10">群馬</option>' '<option value="10">群马</option>';
 replace:'<option value="11">埼玉</option>' '<option value="11">埼玉</option>';
 replace:'<option value="12">千葉</option>' '<option value="12">千叶</option>';
 replace:'<option value="13">東京</option>' '<option value="13">东京</option>';
 replace:'<option value="14">神奈川</option>' '<option value="14">神奈川</option>';
 replace:'<option value="15">山梨</option>' '<option value="15">山梨</option>';
 replace:'<option value="16">長野</option>' '<option value="16">长野</option>';
 replace:'<option value="17">新潟</option>' '<option value="17">新潟</option>';
 replace:'<option value="18">富山</option>' '<option value="18">富山</option>';
 replace:'<option value="19">石川</option>' '<option value="19">石川</option>';
 replace:'<option value="20">福井</option>' '<option value="20">福井</option>';
 replace:'<option value="21">岐阜</option>' '<option value="21">岐阜</option>';
 replace:'<option value="22">静岡</option>' '<option value="22">静冈</option>';
 replace:'<option value="23">愛知</option>' '<option value="23">爱知</option>';
 replace:'<option value="24">三重</option>' '<option value="24">三重</option>';
 replace:'<option value="25">滋賀</option>' '<option value="25">滋贺</option>';
 replace:'<option value="26">京都</option>' '<option value="26">京都</option>';
 replace:'<option value="27">大阪</option>' '<option value="27">大阪</option>';
 replace:'<option value="28">兵庫</option>' '<option value="28">兵库</option>';
 replace:'<option value="29">奈良</option>' '<option value="29">奈良</option>';
 replace:'<option value="30">和歌山</option>' '<option value="30">和歌山</option>';
 replace:'<option value="31">鳥取</option>' '<option value="31">鸟取</option>';
 replace:'<option value="32">島根</option>' '<option value="32">岛根</option>';
 replace:'<option value="33">岡山</option>' '<option value="33">冈山</option>';
 replace:'<option value="34">広島</option>' '<option value="34">广岛</option>';
 replace:'<option value="35">山口</option>' '<option value="35">山口</option>';
 replace:'<option value="36">徳島</option>' '<option value="36">德岛</option>';
 replace:'<option value="37">香川</option>' '<option value="37">香川</option>';
 replace:'<option value="38">愛媛</option>' '<option value="38">爱媛</option>';
 replace:'<option value="39">高知</option>' '<option value="39">高知</option>';
 replace:'<option value="40">福岡</option>' '<option value="40">福冈</option>';
 replace:'<option value="41">佐賀</option>' '<option value="41">佐贺</option>';
 replace:'<option value="42">長崎</option>' '<option value="42">长崎</option>';
 replace:'<option value="43">熊本</option>' '<option value="43">熊本</option>';
 replace:'<option value="44">大分</option>' '<option value="44">大分</option>';
 replace:'<option value="45">宮崎</option>' '<option value="45">宫崎</option>';
 replace:'<option value="46">鹿児島</option>' '<option value="46">鹿儿岛</option>';
 replace:'<option value="47">沖縄</option>' '<option value="47">冲绳</option>';
 replace:'<dt>取得する免許</dt>' '<dt>取得的执照</dt>';
 replace:'<option value="">選択してください</option>' '<option value="">选择</option>';
 replace:'<option value="1">普通車MT</option>' '<option value="1">普通车MT</option>';
 replace:'<option value="2">普通車AT</option>' '<option value="2">普通车AT</option>';
 replace:'<option value="5">普通二輪MT</option>' '<option value="5">普通2轮MT</option>';
 replace:'<option value="6">普通二輪AT</option>' '<option value="6">普通2轮AT</option>';
 replace:'<option value="7">大型二輪MT</option>' '<option value="7">大型2轮MT</option>';
 replace:'<option value="8">大型二輪AT</option>' '<option value="8">大型2轮AT</option>';
 replace:'<option value="9">大型特殊</option>' '<option value="9">大型特殊</option>';
 replace:'<option value="10">けん引</option>' '<option value="10">牵引</option>';
 replace:'<option value="11">中型車</option>' '<option value="11">中型车</option>';
 replace:'<option value="12">大型車</option>' '<option value="12">大型车辆</option>';
 replace:'<option value="13">普通二種</option>' '<option value="13">2种普通</option>';
 replace:'<option value="15">中型二種</option>' '<option value="15">2种中型</option>';
 replace:'<option value="16">大型二種</option>' '<option value="16">2种大型</option>';
 replace:'<span class="bl">お住まいのエリアを選択：</span>' '<span class="bl">选择住在的区域：</span>';
 replace:'<option value="">選択してください</option>' '<option value="">选择</option>';
 replace:'<option value="13" selected="selected">東京</option>' '<option value="13" selected="selected">东京</option>';
 replace:'<input type="submit" value="検索する" />' '<input type="submit" value="搜索" />';
}

// @RULESET
// URL ^= http://gasyuku-menkyo.com/
@postprocess {
 replace:'<dt>希望の合宿先</dt>' '<dt>希望的集训的前方</dt>';
 replace:'<option value="1">北海道</option>''<option value="1">北海道</option>';
 replace:'<option value="2">青森</option>' '<option value="2">青森</option>';
 replace:'<option value="3">岩手</option>' '<option value="3">岩手</option>';
 replace:'<option value="4">秋田</option>' '<option value="4">秋田</option>';
 replace:'<option value="5">宮城</option>' '<option value="5">宫城</option>';
 replace:'<option value="6">山形</option>' '<option value="6">山形</option>';
 replace:'<option value="7">福島</option>' '<option value="7">福岛</option>';
 replace:'<option value="8">茨城</option>' '<option value="8">茨城</option>';
 replace:'<option value="9">栃木</option>' '<option value="9">栃木</option>';
 replace:'<option value="10">群馬</option>' '<option value="10">群马</option>';
 replace:'<option value="11">埼玉</option>' '<option value="11">埼玉</option>';
 replace:'<option value="12">千葉</option>' '<option value="12">千叶</option>';
 replace:'<option value="13">東京</option>' '<option value="13">东京</option>';
 replace:'<option value="14">神奈川</option>' '<option value="14">神奈川</option>';
 replace:'<option value="15">山梨</option>' '<option value="15">山梨</option>';
 replace:'<option value="16">長野</option>' '<option value="16">长野</option>';
 replace:'<option value="17">新潟</option>' '<option value="17">新潟</option>';
 replace:'<option value="18">富山</option>' '<option value="18">富山</option>';
 replace:'<option value="19">石川</option>' '<option value="19">石川</option>';
 replace:'<option value="20">福井</option>' '<option value="20">福井</option>';
 replace:'<option value="21">岐阜</option>' '<option value="21">岐阜</option>';
 replace:'<option value="22">静岡</option>' '<option value="22">静冈</option>';
 replace:'<option value="23">愛知</option>' '<option value="23">爱知</option>';
 replace:'<option value="24">三重</option>' '<option value="24">三重</option>';
 replace:'<option value="25">滋賀</option>' '<option value="25">滋贺</option>';
 replace:'<option value="26">京都</option>' '<option value="26">京都</option>';
 replace:'<option value="27">大阪</option>' '<option value="27">大阪</option>';
 replace:'<option value="28">兵庫</option>' '<option value="28">兵库</option>';
 replace:'<option value="29">奈良</option>' '<option value="29">奈良</option>';
 replace:'<option value="30">和歌山</option>' '<option value="30">和歌山</option>';
 replace:'<option value="31">鳥取</option>' '<option value="31">鸟取</option>';
 replace:'<option value="32">島根</option>' '<option value="32">岛根</option>';
 replace:'<option value="33">岡山</option>' '<option value="33">冈山</option>';
 replace:'<option value="34">広島</option>' '<option value="34">广岛</option>';
 replace:'<option value="35">山口</option>' '<option value="35">山口</option>';
 replace:'<option value="36">徳島</option>' '<option value="36">德岛</option>';
 replace:'<option value="37">香川</option>' '<option value="37">香川</option>';
 replace:'<option value="38">愛媛</option>' '<option value="38">爱媛</option>';
 replace:'<option value="39">高知</option>' '<option value="39">高知</option>';
 replace:'<option value="40">福岡</option>' '<option value="40">福冈</option>';
 replace:'<option value="41">佐賀</option>' '<option value="41">佐贺</option>';
 replace:'<option value="42">長崎</option>' '<option value="42">长崎</option>';
 replace:'<option value="43">熊本</option>' '<option value="43">熊本</option>';
 replace:'<option value="44">大分</option>' '<option value="44">大分</option>';
 replace:'<option value="45">宮崎</option>' '<option value="45">宫崎</option>';
 replace:'<option value="46">鹿児島</option>' '<option value="46">鹿儿岛</option>';
 replace:'<option value="47">沖縄</option>' '<option value="47">冲绳</option>';
 replace:'<dt>取得する免許</dt>' '<dt>取得的执照</dt>';
 replace:'<option value="">選択してください</option>' '<option value="">选择</option>';
 replace:'<option value="1">普通車MT</option>' '<option value="1">普通车MT</option>';
 replace:'<option value="2">普通車AT</option>' '<option value="2">普通车AT</option>';
 replace:'<option value="5">普通二輪MT</option>' '<option value="5">普通2轮MT</option>';
 replace:'<option value="6">普通二輪AT</option>' '<option value="6">普通2轮AT</option>';
 replace:'<option value="7">大型二輪MT</option>' '<option value="7">大型2轮MT</option>';
 replace:'<option value="8">大型二輪AT</option>' '<option value="8">大型2轮AT</option>';
 replace:'<option value="9">大型特殊</option>' '<option value="9">大型特殊</option>';
 replace:'<option value="10">けん引</option>' '<option value="10">牵引</option>';
 replace:'<option value="11">中型車</option>' '<option value="11">中型车</option>';
 replace:'<option value="12">大型車</option>' '<option value="12">大型车辆</option>';
 replace:'<option value="13">普通二種</option>' '<option value="13">2种普通</option>';
 replace:'<option value="15">中型二種</option>' '<option value="15">2种中型</option>';
 replace:'<option value="16">大型二種</option>' '<option value="16">2种大型</option>';
 replace:'<span class="bl">お住まいのエリアを選択：</span>' '<span class="bl">选择住在的区域：</span>';
 replace:'<option value="">選択してください</option>' '<option value="">选择</option>';
 replace:'<option value="13" selected="selected">東京</option>' '<option value="13" selected="selected">东京</option>';
 replace:'<input type="submit" value="検索する" />' '<input type="submit" value="搜索" />';
}