@preprocess {
  replace: '(<a href="/(index|cat-life|cat-sightseeing|cat-culture|cat-event|cat-disaster)\.html">.*?</a>)' '<p style="display: inline;">$1</p>';
  replace: '(<span style="display:none;">\｜</span>)' '<p style="display: inline;">$1</p>';
}

@postprocess {
  replace: '\\(uchidaryusuke\\)' '';
  replace: 'Takanori Uchida' 'Ryusuke Uchida';
}
