@preprocess {
  replace: '<body(.*?)>(.+)</body>' '<body$1><div id="clwrapper">$2</div></body>';
}

// @ RULESET
// URL ^= http://www.consortium.or.jp/category_list.php
div#page_left_box a, ul#pankuzu a {
  text-flow: break;
  content: translate split exclude "《|》|＜|＞";
}
span.date, span.window {
  text-flow: break;
}

// @ RULESET
// URL ^= http://www.consortium.or.jp/contents_detail.php
h1 {
  content: translate split exclude "《|》|＜|＞";
}
