@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine dnp-atre/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine dnp-atre/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

@preprocess{
	replace:'<!-- crosslanguage-t:show(.*?)/crosslanguage-t:show -->' '$1';
}

@postprocess {
 replace:'<option value="http://www.atre.co.jp/contact' '<option value="http://www.atre.co.jp.t.ww.hp.transer.com/contact';
}

@preprocess {
replace: "'UA-72579279-1'" "'UA-72579279-4'";
}

@postprocess {
replace:'data-url="http://www.atre.co.jp/' 'data-url="http://www.atre.co.jp.t.ww.hp.transer.com/';
}

@postprocess {
replace:'<ul class="btnList04">' '<ul class="btnList04 langPatE">';
}