#slider1 {
  attribute: cltx add 'exclude';
}

#slider2 {
  attribute: cltx add 'exclude';
}

.bx-controls-direction {
  attribute: cltx add 'exclude';
}

// @RULESET
// URL ^= http://www.osaka-chikagai.jp/
#lang {
  attribute: style add "margin-top: 0px;";
}

// @RULESET
// URL #= http://(whity\.osaka-chikagai\.jp|walk\.osaka-chikagai\.jp|nannan\.osaka-chikagai\.jp|avetika\.osaka-chikagai\.jp|coms\.osaka-chikagai\.jp)/sp/.*
#lang {
  attribute: style add "margin-top: 44px;";
}
