#lang {
  attribute: style add "margin-top: 45px;";
}

#slider1 {
  attribute: cltx add 'exclude';
}

#slider2 {
  attribute: cltx add 'exclude';
}

.bx-controls-direction {
  attribute: cltx add 'exclude';
}

#fnav {
 attribute: style add "letter-spacing: -1px; font-size: 11px;";
}

// @RULESET
// URL ^= http://www.osaka-chikagai.jp/
#lang {
  attribute: style add "margin-top: 0px;";
}