@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM ELEC MECHA CHEMICAL";
}
@engine nitech/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER ELEC MECHA CHEMICAL";
}
@engine nitech/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER ELEC MECHA CHEMICAL";
}
