#site-translate-header-wrapper{
	width: 100% !important;
	height:auto;
	box-sizing: border-box;
}

#site-translate-message{
	display:block;	
	vertical-align:middle;
	padding: 3px 0;
	text-align: center;
}

#contents #side .boxInformation .boxHour {
    font-size: 16px;
	padding-top: 6px;
}

.card {
	display:inline-block;
    float: none;
	vertical-align:top;
	width:30.5%;
}

.btn-back {
    line-height: normal;
    height: auto;
    width: auto;
    padding: 1% 3%;
}

.beer_ul li {
    height: auto;
}

.pagination a.nav {
    width: 57px;
}

.pagination:lang a {
	width: 60px;
}

@media screen and (max-width: 767px){

	.card {
		width:45%;
	}

	.pagination {
		margin:0;
	}

	.pagination a.nav {
	    width: 53px;
	}

	.pagination a {
	    width: 30px;
	}

}
