@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine dnp-atre/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine dnp-atre/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@postprocess {
  replace:'<div class="hdrStoreWrap">' '<div class="hdrStoreWrap langPatK">';
}

@postprocess {
 replace:'<option value="http://www.atre.co.jp/contact' '<option value="http://www.atre.co.jp.k.ww.hp.transer.com/contact';
}

@preprocess {
replace: "'UA-72579279-1'" "'UA-72579279-5'";
}

@postprocess {
replace:'data-url="http://www.atre.co.jp/' 'data-url="http://www.atre.co.jp.k.ww.hp.transer.com/';
}

@postprocess {
replace:'<ul class="btnList04">' '<ul class="btnList04 langPatE">';
}