@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM";
}
@engine motherfarm/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM";
}
@engine motherfarm/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM";
}

body {
  attribute: lang add 'zh';
}

@preprocess {
	replace:'<body>(.*?)<script type="text/javascript">(.*?)UA-36181078-1(.*?)</script>' '<body>$1<!-- Global site tag \\(gtag.js\\) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121684579-1"></script><script>window.dataLayer = window.dataLayer || [];function gtag\\(\\){dataLayer.push\\(arguments\\);}gtag\\(\'js\', new Date\\(\\)\\);gtag\\(\'config\', \'UA-121684579-1\'\\);</script>';
}
