@engine default {
  eid: BR-JA.PT.EN;
  dictionaries: "KOMAGANE_DIC KOMAGANE_TM CROSS_DIC CROSS_TM GOVT TOURISM INTERNET";
}
@engine komagane/main {
  eid: BR-JA.PT.EN;
  dictionaries: "KOMAGANE_DIC_MASTER KOMAGANE_TM_MASTER GOVT TOURISM";
}
@engine komagane/cross {
  eid: BR-JA.PT.EN;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT TOURISM";
}