@engine default {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine din-hkd/main {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine din-hkd/cross {
  eid: MS-JATH;
  dictionaries: "CROSS_TM_MASTER";
}
