@engine default {
  eid: CR-JC;
  dictionaries: "IZUMO_DIC IZUMO_TM CROSS_DIC CROSS_TM";
}

@engine izumo/main {
  eid: CR-JC;
  dictionaries: "IZUMO_DIC_MASTER IZUMO_TM_MASTER";
}

body {
  attribute: lang add 'zh';
}
