@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM FASHION GOURMET INTERNET";
}
@engine tomorrowland/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM FASHION GOURMET";
}
@engine tomorrowland/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM FASHION GOURMET";
}

@postprocess {
  replace: '(<a href="/corporate/gaiyo\.html">COMPANY PROFILE</a>) (<a href="http://www\.tomorrowland\.co\.jp/recruit/" target="_blank">RECRUIT</a>)' '$1&emsp;$2';
  replace: '(<a href="/sp/corporate/gaiyo\.html">COMPANY PROFILE</a>) (<a href="http://www\.tomorrowland\.co\.jp/recruit/" target="_blank">RECRUIT</a>)' '$1&emsp;$2';
  replace: '(<a href="/sp/corporate/gaiyo\.html" rel="external">COMPANY PROFILE</a>) (<a href="http://www\.tomorrowland\.co\.jp/recruit/" target="_blank" rel="external">RECRUIT</a>)' '$1&emsp;$2';
  replace: 'UA-29028432-1' 'UA-29028432-2';
}

// @RULESET
// URL #= http://www\.tomorrowland\.co\.jp/(?:sp/)?informationservice/
@postprocess {
  replace: 'Click here to see ou<a href="/corporate/privacy.html"><u>r pr</u></a>ivacy policy.<br />' 'Click <a href="/corporate/privacy.html"><u>here</u></a> to see our privacy policy.<br />';
  replace: 'Click here to see o<a href="/sp/corporate/privacy.html">ur priv</a>acy policy.' 'Click <a href="/sp/corporate/privacy.html">here</a> to see our privacy policy.';
  replace: 'Customers who have their domain and address set can<span style="color:#333;"> register "tomorrowland.co.jp" with thei</span>r mobile phone.<br />' 'Customers who have their domain and address set can register <span style="color:#333;">"tomorrowland.co.jp"</span> with their mobile phone.<br />';
  replace: 'Customers who have their domain and address set can<span class="black"> register "tomorrowland.co.jp" with th</span>eir mobile phone.<br />' 'Customers who have their domain and address set can register <span class="black">"tomorrowland.co.jp"</span> with their mobile phone.<br />';
  replace: 'When registering by iPhone, register you<span style="color:#333;">r @i.softbank.jp or PC email ad</span>dress such<span style="color:#333;"> as Gmail to avoid incorre</span>ct display of the layout.<br />' 'When registering by iPhone, register your <span style="color:#333;">@i.softbank.jp</span> or <span style="color:#333;">PC email address such as Gmail</span> to avoid incorrect display of the layout.<br />';
  replace: 'When registering by iPhone, register y<span class="black">our @i.softbank.jp or PC email addr</span>ess such<span class="black"> as Gmail to avoid incorrect</span> display of the layout.' 'When registering by iPhone, register your <span class="black">@i.softbank.jp</span> or <span class="black">PC email address such as Gmail</span> to avoid incorrect display of the layout.';
  replace: 'Please read<a href="/sp/corporate/kiyaku.html"> "When using our website"\\(Social Media Pol</a>icy\\) before using.' 'Please read<a href="/sp/corporate/kiyaku.html"> "When using our website"(Social Media Policy)</a> before using.';
  replace: 'Please read<a href="/corporate/kiyaku.html"> "When using our website"\\(Social Media Pol</a>icy\\) before using.' 'Please read<a href="/corporate/kiyaku.html"> "When using our website"(Social Media Policy)</a> before using.';
}

// @RULESET
// URL #= http://www\.tomorrowland\.co\.jp/(?:sp/)?members/
@postprocess {
  replace: 'If you register as a member within one week of receivin<span style="color:#2d86db;">g your card, you can ear</span>n 500 points' 'If you register as a member within one week of receiving your card, <span style="color:#2d86db;">you can earn 500 points</span>';
  replace: 'If you register as a member within one week of receivin<span style="color:#2d86db;font-weight: bold;">g your card, you can ear</span>n 500 points' 'If you register as a member within one week of receiving your card, <span style="color:#2d86db;font-weight: bold;">you can earn 500 points</span>';
}

// @RULESET
// URL #= http://www\.tomorrowland\.co\.jp/(?:sp/)?app/
@postprocess {
  replace: '<span class="or">Or search<u> for an application by typing "T</u>OMORROWLAND".</span>' '<span class="or">Or <u>search for an application by typing "TOMORROWLAND".</u></span>';
}

// @RULESET
// URL #= http://www\.tomorrowland\.co\.jp/(?:sp/)?news/2014/04/april-262014-open-in-mariebelle-new-york-jiyugaoka\.html
@postprocess {
  replace: 'mesmerizing man<a href="http://www.mariebelle.jp/" target="_blank">y celebrities</a>.<br><br />' 'mesmerizing many <a href="http://www.mariebelle.jp/" target="_blank">celebrities</a>.<br><br />';
}