@preprocess {
	replace:'綾瀬店' 	'Loja de Ayase';
	replace:'大泉学園店' 	'Loja de Oizumi Gakuen';
	replace:'蒲田店' 	'Loja de Kamata';
	replace:'喜多見店' 	'Loja de Kitami';
	replace:'木場店' 	'Loja de Kiba';
	replace:'五反田店' 	'Loja de Gotanda';
	replace:'三軒茶屋店' 	'Loja de Sangenjaya';
	replace:'下井草店' 	'Loja de Shimoigusa';
	replace:'下北沢店' 	'Loja de Shimokitazawa';
	replace:'東武練馬店' 	'Loja de Tobu Loja de Nerima';
	replace:'練馬店' 	'Loja de Nerima';
	replace:'氷川台店' 	'Loja de Hikawadai';
	replace:'東新宿店' 	'Loja de Higashi-Shinjuku';
	replace:'瑞江店' 	'Loja de Mizue';
	replace:'明大前店' 	'Loja de Meidai Mae';
	replace:'六本木店' 	'Loja de Roppongi';
	replace:'吉祥寺店' 	'Loja de Kichijoji';
	replace:'国分寺店' 	'Loja de Kokubunji';
	replace:'国領店' 	'Loja de Kokuryo';
	replace:'田無店' 	'Loja de Tanashi';
	replace:'町田店' 	'Loja de Machida';
	replace:'FASTGYM24' 	'FASTGYM24';
	replace:'赤羽店' 	'Loja de Akabane';
	replace:'阿佐ヶ谷店' 	'Loja de Asagaya ASTGYM24';
	replace:'新井薬師前店' 	'Loja de Arai Yakushi';
	replace:'入谷店' 	'Loja de Iriya';
	replace:'梅屋敷店' 	'Loja de Ume yashiki';
	replace:'江古田店' 	'Loja de Ekoda';
	replace:'江戸川橋店' 	'Loja de Edogawabashi';
	replace:'江戸川橋店' 	'Loja de Edogawabashi';
	replace:'荏原中延店' 	'Loja de Ebara Nakanobu';
	replace:'王子神谷店' 	'Loja de Oji Kamiya';
	replace:'大森町店' 	'Loja de Omori-machi';
	replace:'大山店' 	'Loja de Oyama';
	replace:'大山店' 	'Loja de Oyama';
	replace:'奥沢店' 	'Loja de Okusawa';
	replace:'葛西店' 	'Loja de Kasai';
	replace:'春日後楽園店' 	'Loja de Kasuga Korakuen';
	replace:'要町店' 	'Loja de Kanamecho';
	replace:'上板橋店' 	'Loja de Kamiitabashi';
	replace:'上石神井店' 	'Loja de Kami-Shakujii';
	replace:'亀有店' 	'Loja de Kameari';
	replace:'菊川店' 	'Loja de Kikukawa';
	replace:'喜多見店' 	'Loja de Kitami';
	replace:'糀谷店' 	'Loja de Koujiya';
	replace:'小竹向原店' 	'Loja de Kotake Mukaihara';
	replace:'豪徳寺店' 	'Loja de Gotokuji';
	replace:'五反野店' 	'Loja de Gotanno';
	replace:'鷺ノ宮店' 	'Loja de Saginomiya';
	replace:'笹塚店' 	'Loja de Sasazuka';
	replace:'篠崎店' 	'Loja de Shinozaki';
	replace:'下赤塚店' 	'Loja de Shimoakatsuka';
	replace:'下板橋店' 	'Loja de Shimoitabashi';
	replace:'板橋店' 	'Loja de Itabashi';
	replace:'新大塚店' 	'Loja de Shin Otsuka';
	replace:'新大塚店' 	'Loja de Shin Otsuka';
	replace:'新小岩店' 	'Loja de Shin Koiwa';
	replace:'小岩店' 	'Loja de Koiwa';
	replace:'新高円寺店' 	'Loja de Shin Koenji';
	replace:'祖師ヶ谷大蔵店' 	'Loja de Soshigaya Okura';
	replace:'雑色店' 	'Loja de Zoshiki';
	replace:'千歳船橋店' 	'Loja de Chitose Funabashi';
	replace:'築地店' 	'Loja de Tsukiji';
	replace:'豊島園店' 	'Loja de Toshimaen';
	replace:'都立家政店' 	'Loja de Toritsu-kasei';
	replace:'都立大学店' 	'Loja de Toritsu-Daigaku';
	replace:'中野新橋店' 	'Loja de Nakano Shinbashi';
	replace:'中村橋店' 	'Loja de Nakamurabashi';
	replace:'西大井店' 	'Loja de Nishi-oi';
	replace:'西小山店' 	'Loja de Nishi Koyama';
	replace:'西小山アネックス店' 	'Loja de Nishi Koyama Annex';
	replace:'人形町店' 	'Loja de Ningyocho';
	replace:'人形町店' 	'Loja de Ningyocho';
	replace:'沼袋店' 	'Loja de Numa Bukuro';
	replace:'野方店' 	'Loja de Nogata';
	replace:'白山店' 	'Loja de Hakusan';
	replace:'幡ヶ谷店' 	'Loja de Hatagaya';
	replace:'幡ヶ谷店' 	'Loja de Hatagaya';
	replace:'八丁堀店' 	'Loja de Hatchobori';
	replace:'氷川台店' 	'Loja de Hikawadai';
	replace:'東中野店' 	'Loja de Higashinakano';
	replace:'東向島店' 	'Loja de Higashimukojima';
	replace:'平井店' 	'Loja de Hirai';
	replace:'方南町店' 	'Loja de Honancho';
	replace:'町屋店' 	'Loja de Machiya';
	replace:'武蔵関店' 	'Loja de Musashi Seki';
	replace:'武蔵新田店' 	'Loja de Musashi Nitta';
	replace:'雪が谷大塚店' 	'Loja de Yukigaya-Otsuka';
	replace:'両国店' 	'Loja de Ryogoku';
	replace:'早稲田店' 	'Loja de Waseda';
	replace:'ティップネス日本橋スタイル' 	'Loja de Tipness Nihonbashi Style';
	replace:'リベリー日本橋高島屋' 	'Loja de libéry Nihonbashi Takashimaya';
	replace:'ティップネス丸の内スタイル' 	'Tipness Marunouchi Style';
	replace:'国立富士見台店' 	'Loja de Kunitachi-Fujimidai';
	replace:'小平店' 	'Loja de Kodaira';
	replace:'柴崎店' 	'Loja de Shibasaki';
	replace:'鶴川店' 	'Loja de Tsurukawa';
	replace:'中河原店' 	'Loja de Nakagawara';
	replace:'西八王子店' 	'Loja de Nishihachioji';
	replace:'日野店' 	'Loja de Hino';
	replace:'三鷹店' 	'Loja de Mitaka';
	replace:'鴨居店' 	'Loja de Kamoi';
	replace:'川崎店' 	'Loja de Kawasaki';
	replace:'新百合ヶ丘店' 	'Loja de Shin Yurigaoka';
	replace:'鶴見店' 	'Loja de Tsurumi';
	replace:'二俣川店' 	'Loja de Futamatagawa';
	replace:'宮崎台店' 	'Loja de Miyazakidai';
	replace:'宮前平店' 	'Loja de Miyamaedaira';
	replace:'横浜店' 	'Loja de Yokohama';
	replace:'大倉山店' 	'Loja de Okurayama';
	replace:'小田急相模原店' 	'Loja de Odakyu Sagamihara';
	replace:'小田栄店' 	'Loja de Odasakae';
	replace:'川崎西口店' 	'Loja de Kawasaki Nishiguchi';
	replace:'弘明寺店' 	'Loja de Gumyōji';
	replace:'綱島店' 	'Loja de Tsunashima';
	replace:'中野島店' 	'Loja de Nakanoshima';
	replace:'仲町台店' 	'Loja de Nakamachidai';
	replace:'根岸店' 	'Loja de Negishi';
	replace:'東林間店' 	'Loja de Higashirinkan';
	replace:'平間店' 	'Loja de Hirama';
	replace:'溝の口店' 	'Loja de Mizonokuchi';
	replace:'武蔵新城店' 	'Loja de Musashi Shinjo';
	replace:'元住吉店' 	'Loja de Motosumiyoshi';
	replace:'元住吉アネックス店' 	'Loja de Motosumiyoshi Annex';
	replace:'矢向店' 	'Loja de Yakou';
	replace:'百合ヶ丘店' 	'Loja de Yurigaoka';
	replace:'六角橋店' 	'Loja de Rokkaku-bashi';
	replace:'蘇我店' 	'Loja de Soga';
	replace:'船橋店' 	'Loja de Funabashi';
	replace:'南行徳店' 	'Loja de Minami Gyotoku';
	replace:'行徳店' 	'Loja de Gyotoku';
	replace:'検見川浜店' 	'Loja de Kemigawahama';
	replace:'下総中山店' 	'Loja de Shimousa Nakayama';
	replace:'船橋市場店' 	'Loja de Funabashi Ichiba';
	replace:'南流山店' 	'Loja de Minami Nagareyama';
	replace:'四街道店' 	'Loja de Yotsukaido';
	replace:'川口店' 	'Loja de Kawaguchi';
	replace:'久喜店' 	'Loja de Kuki';
	replace:'草加店' 	'Loja de Soka';
	replace:'武蔵藤沢店' 'Loja de Musashi Fujisawa';
	replace:'藤沢店' 	'Loja de Fujisawa';
	replace:'朝霞店' 	'Loja de Asaka';
	replace:'蒲生店' 	'Loja de Gamo';
	replace:'西所沢店' 	'Loja de Nishi Tokorozawa';
	replace:'みずほ台店' 	'Loja de Mizuhodai';
	replace:'谷塚店' 	'Loja de Yatsuka';
	replace:'和光市店' 	'Loja de Wakoshi';
	replace:'蕨店' 	'Loja de Warabi';
	replace:'太田店' 	'Loja de Ota';
	replace:'浜松葵東店' 	'Loja de Hamamatsu Aoihigashi';
	replace:'藤枝店' 	'Loja de Fujieda';
	replace:'上飯田店' 	'Loja de Kamiiida';
	replace:'江南店' 	'Loja de Kounan';
	replace:'石橋店' 	'Loja de Ishibashi';
	replace:'梅田店' 	'Loja de Umeda';
	replace:'京橋店' 	'Loja de Kyobashi';
	replace:'香里園店' 	'Loja de Korien';
	replace:'高槻店' 	'Loja de Takatsuki';
	replace:'宝塚店' 	'Loja de Takarazuka';
	replace:'塚口店' 	'Loja de Tsukaguchi';
	replace:'天王寺店' 	'Loja de Tennoji';
	replace:'布施店' 	'Loja de Fuse';
	replace:'武庫之荘店' 	'Loja de Mukonosou';
	replace:'中野店' 	'Loja de Nakano';
	replace:'<label for=\\\\"footer_search_check\\\\" class=\\\\"tip-mod-footer__search__button\\\\"><span>(.*?)</span></label>' '<label for=\\\\"footer_search_check\\\\" class=\\\\"tip-mod-footer__search__button\\\\"><span>Pesquisar a loja</span></label>';
	replace:'位置情報が取得できませんでした。' 	'Não foi possível obter informações de localização.';
	replace:'位置情報の許可をONにしてください。' 'Por favor, ligue a permissão de informações de localização.';
	replace:'もっと見る' 	'Ver mais';
	replace:'全て' 	'Todos';
	replace:'関東' 	'Kanto';
	replace:'東海' 	'Tokai';
	replace:'中京' 	'Chukyo';
	replace:'関西' 	'Kansai';
	replace:'条件で検索する' 	'Pesquisa por condição';
	replace:'未選択' 	'Não selecionado';
	replace:'ストレッチ・リフレッシュ' 	'Alongamento/ Reanimação';
	replace:'ヨガ・ピラティス' 	'Yoga / Pilates';
	replace:'筋トレ・格闘技プログラム' 	'Musculação / Programa de artes marciais';
	replace:'ショートプログラム' 	'Programa curto';
	replace:'脂肪燃焼系プログラム・エアロビクス' 	'Programa para combustão de gorduras / Aeróbica';
	replace:'スイミング・アクア' 	'Natação / Aqua';
	replace:'ダンス/バレエ' 	'Dança / Balé';
	replace:'疲労回復' 	'Recuperação da fadiga';
	replace:'姿勢改善' 	'Melhora de postura';
	replace:'柔軟性の向上' 	'Melhora da flexibilidade';
	replace:'筋力アップ' 	'Aumentar a força muscular';
	replace:'脂肪燃焼' 	'Combustão de gordura';
	replace:'基礎代謝の向上' 	'Melhora a base do metabolismo';
	replace:'持久力アップ' 	'Aumentar a resistência';
	replace:'バランス' 	'Balanço';
	replace:'リラックス' 	'Relaxamento';
	replace:'パーソナルトレーニング' 	'Treinamento pessoal';
	replace:'その他スクール' 	'Outras classes';
	replace:'件' 	'Item';
	replace:'WEB入会フォームへ' 	'Para o formulário de inscrição na WEB';
	replace:'東京\\(23区内\\)' 	'Tóquio (23 Distritos)';
	replace:'東京\\(その他\\)' 	'Tóquio (outros)';
	replace:'神奈川' 	'Kanagawa';
	replace:'千葉' 	'Chiba';
	replace:'埼玉' 	'Saitama';
	replace:'群馬' 	'Gunma';
	replace:'<li><a href=\\\\"/concept/orj4a90qo98acwk8.html\\\\">(.*?)<br>(.*?)</a></li>' '<li><a href=\\\\"/concept/orj4a90qo98acwk8.html\\\\">Primeiro<br>TIPNESS</a></li>';
	replace:'店舗によって違う施設やプログラムを楽しみたい方にスタートアップ会員\\(FG24Plus\\)' 	'Para aqueles que querem desfrutar de diferentes instalações e programas, dependendo da academia, Membro de start-up (FG24 Plus)';
	replace:'夏カラダ企画\\(FG24Plus\\)' 	'Plano Corpo de verão (FG24Plus)';
	replace:'エディフィス山陽' 	'Edifice Sanyo Building';
	replace:'she‐Bopビル3～5F' 	'She‐Bop Building 3-5F';
	replace:'新宿イーストサイドスクエアB1F' 	'SHINJUKU EASTSIDE SQUARE B1F';
	replace:'フレンテ明大前 3～5F' 	'Frente Meidaimae 3-5F';
	replace:'ピラミデビル B1F' 	'Piramide Building B1F';
	replace:'町田TIP\'S 5F～7F' 	'Machida IP\'S 5F-7F';
	replace:'日土地川崎ビル3F' 	'Nittochi Kawasaki Building 3F';
	replace:'小田急新百合ヶ丘エルミロード7F' 	'Odakyu Shin-Yurigaoka L-mylord 7F';
	replace:'鶴見えんため館4～7F' 	'Tsurumi Entamekan 4-7F';
	replace:'ハマボール イアス内' 	'Hamabowleas';
	replace:'千葉県千葉市中央区川崎町50-2' 	'50-2, Kawasakicho, Chuo-ku, Chiba-shi, Chiba';
	replace:'ハーバーシティ蘇我内　アリオ蘇我隣' 	'Harborcity-soga Ario soga';
	replace:'グリーンガーデン武蔵藤沢内' 	'Green Garden Musashi Fujisawa';
	replace:'オーレ藤枝8･9F' 	'Ole Fujieda 8, 9F';
	replace:'太陽サウンドオンビル3・4Ｆ' 	'Taiyo Sound On Building 3, 4Ｆ';
	replace:'ヴィアモール江南内' 	'Via Mall Kounan';
	replace:'OSビル 4F～6F' 	'OS Building 4F-6F';
	replace:'ホテル京阪京橋 6F・7F' 	'Hotel Keihan Kyobashi 6F, 7F';
	replace:'都シティ大阪天王寺3F・4F' 	'Miyako City Osaka Tennoji 3F, 4F';
	replace:'大阪府池田市井口堂3-1-5' 	'3-1-5, Iguchido, Ikeda-shi, Osaka';
	replace:'大阪府大阪市北区小松原町3-3' 	'3-3, Komatsubaracho, Kita-ku, Osaka-shi, Osaka';
	replace:'大阪府大阪市都島区東野田町2-1-38' 	'2-1-38, Higashinodamachi, Miyakojima-ku, Osaka-shi, Osaka';
	replace:'大阪府寝屋川市香里南之町30-18' 	'30-18, Koriminaminocho, Neyagawa-shi, Osaka';
	replace:'大阪府高槻市上田辺町1-36' 	'1-36, Kamitanabecho, Takatsuki-shi, Osaka';
	replace:'大阪府大阪市阿倍野区松崎町1-2-8' 	'1-2-8, Matsuzakicho, Abeno-ku, Osaka-shi, Osaka';
}
