@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT";
}
@engine starcat/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT";
}
@engine starcat/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT";
}

body {
  attribute: lang add 'zh';
}

@postprocess {
  replace: '<dt class="langJ"><span>“ú–{Œê</span></dt>' '<dt class="langJ"><a href="http://www.starcat.co.jp/">“ú–{Œê</a></dt>';
  replace: '<dd class="langC"><a href="http://www.starcat.co.jp.c.lh.hp.transer.com/">’†‘ŠÈ‘Ìš</a></dd>' '<dd class="langC"><span>’†‘ŠÈ‘Ìš</span></dd>';
}