@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT";
}
@engine starcat/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT";
}
@engine starcat/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT";
}

body {
  attribute: lang add 'zh';
}

@postprocess {
  replace: '<dt class="langJ"><!--cltx--><span>日语</span></dt>' '<dt class="langJ"><!--cltx--><a href="http://www.starcat.co.jp/">日语</a></dt>';
  replace: '<dd class="langC"><!--cltx--><a href="http://www.starcat.co.jp.c.lh.hp.transer.com/">中国简体字</a></dd>' '<dd class="langC"><!--cltx--><span>中国简体字</span></dd>';
  replace: '<span>(0|([1-9][0-9]{0,2}(,[0-9]{3})*?))日</span>元' '<span>$1</span>日元';
}