@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine kumamoto/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine kumamoto/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}



@rewrite RewriteConvertedPDF {
  if (absurl matches "http://www.city.kumamoto.kumamoto.jp/(.+\\.pdf)") return "http://pdf-tmp.transer.com.k.fm.hp.transer.com/{$1}/";
  apply "@RewriteHtmlUrlAttribute";
}
a[href] {
  attribute: href rewrite "@RewriteConvertedPDF";
}
