// @RULESET
// URL =http://www.nambacity.com/floor/
@postprocess {
replace:'<div class="flash" id="flash">' '<div class="condition">';
replace:'<p><!--cltx-->Adobe Flash Player is necessary to let you display these contents.</p>' '<ul id="floor_btn" class="cf">';
replace:'<p><!--cltx-->We obtain <a href="http://www.adobe.com/go/getflashplayer" target="_blank">Flash Player</a></p>' '<li class="btn_1f"><a href="mini_01" class="on"></a></li>';
replace:'</li>' '<li class="btn_2f"><a href="mini_02"></a></li>';
replace:'</div>' '<li class="btn_b1f"><a href="mini_b1"></a></li><li class="btn_b2f"><a href="mini_b2"></a></li>';
replace:'(\\()"nambacity_floormap.swf", "flash", "766", "425", "8", "#ffffff"(\\);)' '</ul>';
replace:'swfobject.embedSWF' ' ';
replace:'</script>' '</div><!--end .condition-->';
}