@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT TOURISM";
}
@engine city-sapporo/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT TOURISM";
}
@engine city-sapporo/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT TOURISM";
}

body {
  attribute: lang add 'zh';
}


@postprocess {
	replace: '<title cltx>(.*?)札幌市(.*?)</title>' '<title cltx>$1札幌市$2</title>';
	replace: '<title cltx>(.*?)札幌市議会(.*?)</title>' '<title cltx>$1札幌市议会$2</title>';
	replace: '<title cltx>(.*?)札幌市水道局(.*?)</title>' '<title cltx>$1札幌市自来水局$2</title>';
	replace: '<title cltx>(.*?)市立札幌病院(.*?)</title>' '<title cltx>$1札幌市立医院$2</title>';
	replace: '<title cltx>(.*?)札幌市中央図書館(.*?)</title>' '<title cltx>$1札幌市中央图书馆$2</title>';
	replace: '<title cltx>(.*?)札幌市円山動物園(.*?)</title>' '<title cltx>$1札幌市圆山动物园$2</title>';
	replace: '<title cltx>(.*?)札幌市交通局(.*?)</title>' '<title cltx>$1札幌市交通局$2</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/chuo/.*
@postprocess {
	replace: '<title cltx>(.*?)札幌市中央区(.*?)</title>' '<title cltx>$1札幌市中央区役所$2</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/kitaku/.*
@postprocess {
	replace: '<title cltx>(.*?)札幌市北区(.*?)</title>' '<title cltx>$1札幌市北区役所$2</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/higashi/.*
@postprocess {
	replace: '<title cltx>(.*?)札幌市東区(.*?)</title>' '<title cltx>$1札幌市东区役所$2</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/teine/.*
@postprocess {
	replace: '<title cltx>(.*?)札幌市手稻区(.*?)</title>' '<title cltx>$1札幌市手稻区役所$2</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/shiroishi/.*
@postprocess {
	replace: '<title cltx>(.*?)札幌市白石区(.*?)</title>' '<title cltx>$1札幌市白石区役所$2</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/atsubetsu/.*
@postprocess {
	replace: '<title cltx>(.*?)札幌市厚別区(.*?)</title>' '<title cltx>$1札幌市厚别区役所$2</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/toyohira/.*
@postprocess {
	replace: '<title cltx>(.*?)札幌市豊平区(.*?)</title>' '<title cltx>$1札幌市丰平区役所$2</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/kiyota/.*
@postprocess {
	replace: '<title cltx>(.*?)札幌市清田区(.*?)</title>' '<title cltx>$1札幌市清田区役所$2</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/minami/.*
@postprocess {
	replace: '<title cltx>(.*?)札幌市南区(.*?)</title>' '<title cltx>$1札幌市南区役所$2</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/nishi/.*
@postprocess {
	replace: '<title cltx>(.*?)札幌市西区(.*?)</title>' '<title cltx>$1札幌市西区役所$2</title>';
}
