@engine default {
  eid: CR-JT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine shibuya-parco/main {
  eid: CR-JT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine shibuya-parco/cross {
  eid: CR-JT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

@preprocess {
	replace:'<!-- crosslanguage-th:show(.*?)/crosslanguage-th:show -->' '$1';
	replace:'<li class="header__item header__item--language"><span>JP</span></li>' '<li class="header__item header__item--language"><span>TH</span></li>';
}
