@engine default {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine first-cabin/main {
  eid: MS-JATH;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine first-cabin/cross {
  eid: MS-JATH;
  dictionaries: "CROSS_TM_MASTER";
}
