@engine default {
  eid: BR-EN.ZH-HANS.JA;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOVT GOURMET";
}
@engine demo/main {
  eid: BR-EN.ZH-HANS.JA;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOVT GOURMET";
}
@engine demo/cross {
  eid: BR-EN.ZH-HANS.JA;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOVT GOURMET";
}
