@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT";
}
@engine izu/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT";
}
@engine izu/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT";
}

body {
  attribute: lang add 'zh';
}

@preprocess {
	replace: '015522140178123932687\\:mx6uxa7fhpy' '003005127414087536515\\:e2hj8wdu61m';
	replace: '003005127414087536515\\:mmvqituc2f3' '003005127414087536515\\:flgkksyh5fl';
	replace: '007532502274234954543\\:8cqpmju38ok' '003005127414087536515\\:xgpkhcqwmlc';
}

// @RULESET
// URL = http://livecamera.city.izu.shizuoka.jp/
// URL = http://livecamera.city.izu.shizuoka.jp/index.php
// URL = http://livecamera.city.izu.shizuoka.jp/movie.php
@preprocess {
replace:'<span class="shousai">' '<br style="display:none;"><span class="shousai">';
}

div#movie-photoArea > h1 > span.title {
attribute:style add 'font-size: 22px;';
}

input#date_from.form-control {
attribute:style add 'width: 120px; margin-left: 15px;';
}

input#date_to.form-control {
attribute:style add 'width: 120px; margin-left: 15px;';
}

div#dateSelectArea > dl.time > dd > select {
attribute:style add 'margin-left: 15px;';
}