

#site-translate-header-wrapper {
	width:100% !important;
}

#site-translate-header-wrapper p {
	letter-spacing: normal;
}

* {
    letter-spacing: normal !important;
}

#header {
    height: auto;
}

.txtIntroHdr {
    font-size: 96%;
}

.gloval_language {
    margin-right: 15px;
}

.partnerlist,
.partnerlist2,
.partnerlistend,
.partnerlist2end{
	font-size: 11px;
	float: none;
    display: inline-block;
    width: calc((100% - 110px) / 5);
    margin-right: 20px;
    vertical-align: top;
}

.partnerlistend,
.partnerlist2end{
	margin-right: 0px;
}


@media screen and (max-width: 767px) {

	#site-translate-header-wrapper {
	    position: fixed;
	}

	#header {
	    top: 27px;
		padding: 0;
	}

	#main{
		padding-top: 108px;
	}

	.toprightbn {
	    top: 84px;
	}

	/*オフィシャルパートナー*/
	.partnerlist,
	.partnerlist2{
		font-size: 14px;
		display: block;
		float: left;
		width: 99%;
		margin-right: 20px;
		vertical-align: baseline;
	}

	.partnerlistend,
	.partnerlist2end{
		font-size: 14px;
		display: block;
		float: left;
		width: 99%;
		vertical-align: baseline;
	}
}

@media screen and (max-width: 647px) {
	#header:lang(en){
	    top: 45px;
	}

	#main:lang(en){
		padding-top: 126px;
	}

	.toprightbn{
	    top: 170px;
	}
}

@media screen and (max-width: 625px) {
	#header{
	    top: 45px;
	}

	#main{
		padding-top: 126px;
	}
}

@media screen and (max-width: 410px) {
	iframe.sp{
		height: 120px !important;
	}
}

@media screen and (max-width: 351px) {
	#header:lang(en){
	    top: 63px;
	}

	#main{
		padding-top: 140px;
	}

	#main:lang(en){
		padding-top: 158px;
	}

	.toprightbn{
	    top: 245px;
	}
}
