@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM ARCHI";
}
@engine takiya/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER ARCHI";
}
@engine takiya/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER ARCHI";
}
