@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOVT GOURMET INTERNET";
}
@engine tokyo-mitaka/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOVT GOURMET";
}
@engine tokyo-mitaka/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOVT GOURMET";
}

img[src$="houou_naiyou_on_r1.gif"] {
  attribute: src rewrite "http://www.city.mitaka.tokyo.jp/honyaku/en/top/bnr_musen_l_en.gif";
}