// @RULESET
// URL = http://www.akan-mashu-nationalpark.asia/js/seasonal_slide.js
// URL = http://www.akan-mashu-nationalpark.asia.t.adr.hp.transer.com/js/seasonal_slide.js

@postprocess {
  /*冬スライダー text*/
  replace: '厳寒期の美幌峠。' '嚴寒期的美幌嶺。';
  replace: '全てが凍てついた銀世界に広がる広大なパノラマをバックに語らうふたりのシルエット。' '以全部都結冰的銀色世界擴展開來的廣大全景畫為背景，正在談心的兩人剪影。';
  replace: '（美幌峠フォトコンテストグランプリ作品「語らい」　網走市　桧枝広美）' '美幌嶺攝影比賽最優秀奬作品「默默無語」 網走市 檜枝廣美';
  replace: '町民手づくりの300個以上のアイスキャンドルが点灯し幻想的な雰囲気の中、幅広い年齢層が楽しめるイベント' '對町民手工製作的300多個冰蠟燭進行點燈，讓各種年齡層的人們可在充滿夢幻的雰圍中享受的活動';
  replace: '町\\(直営\\)の焼酎醸造所は全国でもここだけ。' '町(直營)的燒酒釀造所在日本全國只有這裡才有。';
  replace: 'ここからも、日本百名山「斜里岳」をご覧になれます。' '從這裡也可以眺望日本百名山「斜里岳」。';
  replace: '濤沸湖は貴重な動植物を守り、育てる宝のような湖。初冬と早春にはオオハクチョウが訪れ、四季を通じてバードウオッチングが楽しめます。' '濤沸湖守護著珍貴的動植物，是孕育著寶藏似的湖。初冬與早春有黃嘴天鵝到訪，一年四季均可賞鳥。';
  replace: '四季を通じて美しい景色を楽しめる人気のスポット。冬になると雪原にたたずむ木々の美しい風景が楽しめます。' '一年四季均可觀賞美麗景色的人氣景點。一到冬季，可觀賞佇立在雪原上的樹木群呈現出的美麗風景。';
  replace: 'オンネトーに冬が到来すると、凍結した湖上は深い雪に覆われ、静寂だけが一面の銀世界を支配する。' '遠內多湖一到冬季，結冰的湖面被深雪覆蓋，只有寂靜支配著整面銀色世界。';
  replace: '1月から3月上旬のキンと冷え切った阿寒湖氷上にはシーズン中20%の確率でしか見ることのできない奇跡の霜の花畑が広がします。' '從1月到3月上旬的極冷阿寒湖冰上，即使是冬季也只有20%的機率才可看到的奇蹟霜花田擴展在眼前。';
  replace: '360度のパノラマを望める多和平では、恒例の「多和平初日の出を見る会」が開催されます。' '可眺望360度全景畫的多和平舉辦慣例的「觀賞多和平元旦日出大會」。';
  replace: '霧の水蒸気が木々に付着し凍ってできる「霧氷」。冬の早朝に水のカムイが作り出す、幻想的な風景。' '霧的水蒸気附著在樹木上結成冰的「霧冰」。冬天的清晨，水的神靈創造出的充滿夢幻的風景。';
  replace: 'エゾ鹿は町内各地で見られますが、お車を運転の際はその可愛さに目を奪われて事故を起こさないようご注意を。' '蝦夷鹿可在町內各地看見，駕駛時請不要被其可愛身姿吸引而引起車禍。';
  replace: '上空からも楽しめる絶景は北海道遺産にも登録されており、冬は白銀の世界、雪解け後は緑のコントラスト、季節によって様々な色を見ることができます。' '從空中也可以觀賞到的絕景被登錄到北海道遺產中，冬天是銀白世界，融雪後的綠色形成明顯對比，隨著季節的不同可以看到各種景色。';

  /*冬スライダー title*/
  replace: '冬の美幌峠で語らうふたり' '在冬天的美幌嶺上談心的兩人';
  replace: 'つべつアイスキャンドル点灯まつり' '津別冰蠟燭點燈祭典';
  replace: '清里焼酎醸造所' '清里燒酒釀造所';
  replace: '濤沸湖' '濤沸湖';
  replace: '「メルヘンの丘」と銀世界' '「MERUHEN之丘」與銀色世界';
  replace: '初冬のオンネトー' '初冬的遠內多湖';
  replace: '氷上に花咲く霜の結晶' '冰上霜花的結晶';
  replace: '多和平（たわだいら）からの初日の出' '來自多和平（TAWADAIRA）的元旦日出';
  replace: 'カムイに出会う瞬間' '遇到神靈的瞬間';
  replace: '冬山から顔を覗かせる野生のエゾ鹿' '自冬山起就會露臉的野生蝦夷鹿';
  replace: '自然が織り成す圧巻の景色　根釧台地の格子状防風林' '大自然織就成的最精彩景色 根釧台地的格子狀防風林';

  /*冬スライダー place*/
  replace: '美幌峠' '美幌嶺';
  replace: 'さんさん館' 'SANSAN館';
  replace: 'メルヘンの丘　ビューポイントパーキング' 'MERUHEN之丘 景觀停車場';
  replace: 'オンネトー' '遠內多湖';
  replace: '阿寒湖上' '阿寒湖上';
  replace: '多和平' '多和平';
  replace: '摩周第一展望台' '摩周第一觀景台';
  replace: '国道392号線沿' '國道392號沿線';
  replace: '飛行機　機内' '飛機 機內';

  /*冬スライダー season*/
  replace: '2月第1土曜日' '2月第1個週六';
  replace: '通年' '一整年';
  replace: '11月から3月上旬' '11月到3月上旬';
  replace: '5月から12月中旬' '5月至12月中旬';
  replace: '1月初旬～3月初旬' '1月初～3月初';
  replace: '12月中旬～3月末' '12月中旬～3月底';

  /*冬スライダー owner*/
  replace: '撮影：' '拍攝：';
  replace: '桧枝広美' '檜枝廣美';
  replace: '江草智行' '江草智行';
  replace: '\\(株\\)北海道アート社' '株式會社北海道藝術社';
  replace: '神子島智樹' '神子島智樹';
}
