@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM IT SYSTEM MARKET LAW INTERNET";
}
@engine spirit-rikkyo/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER IT SYSTEM MARKET LAW";
}
@engine spirit-rikkyo/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER IT SYSTEM MARKET LAW";
}

@preprocess {
	replace: 'UA-32172910-1' 'UA-32172910-3';
}
