@engine default {
  eid: CR-JK;
  dictionaries: "WAKKANAI_DIC WAKKANAI_TM CROSS_TM";
}
@engine wakkanai/main {
  eid: CR-JK;
  dictionaries: "WAKKANAI_DIC_MASTER WAKKANAI_TM_MASTER";
}
@engine wakkanai/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@postprocess {
  replace: 'https://www\.city\.wakkanai\.hokkaido\.jp/' 'http://www\.city\.wakkanai\.hokkaido\.jp\.k\.dh\.hp\.transer\.com/';
}
