@engine default {
  eid: CR-JC;
  dictionaries: "MARUI-IMAI_DIC MARUI-IMAI_TM NETSHOP FASHION DEPART";
}
@engine marui-imai/main {
  eid: CR-JC;
  dictionaries: "MARUI-IMAI_DIC_MASTER MARUI-IMAI_TM_MASTER NETSHOP FASHION";
}
