.headerSpTopRight {
	attribute: cltx add 'exclude';
}

@preprocess {
	replace:'<!-- crosslanguage:show(.*?)/crosslanguage:show -->' '$1';
	replace:'<h1>(.*?)<span>(.*?)</span></h1>' '<h1>$1<br style="display:none;"><span>$2</span><br style="display:none;"></h1>';
	replace:'<h2>(.*?)<span>(.*?)</span></h2>' '<h2>$1<br style="display:none;"><span>$2</span></h2>';
	replace:'<p class="tdPrice">(.*?)<span>(.*?)</span></p>' '<p class="tdPrice">$1<span><br style="display:none;">$2<br style="display:none;"></span></p>';
	replace:'<li id="(.*?)Toggle">(.*?)<a href="#" class="acdBtn noSmooth">(.*?)</a>(.*?)</li>' '<li id="$1Toggle">$2<br style="display:none;"><a href="#" class="acdBtn noSmooth">$3</a>$4</li>';
	replace:'<p class="date">(.*?)<span class="new">(.*?)</span></p>' '<p class="date">$1<br style="display:none;"><span class="new">$2</span></p>';
	replace:'<p class="date">(.*?)<span class="new"(.*?)><span class="cat">(.*?)</span></span></p>' '<p class="date">$1<br style="display:none;"><span class="new"$2><br style="display:none;"><span class="cat">$3</span></span></p>';
}
