#header,
#spMenuOverlay,
#spMenu,
.als-container,
.bx-prev,
.bx-next,
#block-choice-best5 > .wrap,
.header {
	attribute: cltx add 'exclude';
}

@preprocess {
	replace:'href=\"//www.jtrip.co.jp(.*?)\"' 'href=\"http://www.jtrip.co.jp$1\"';
	replace:'href=\"//www.jdive.jp(.*?)\"' 'href=\"http://www.jdive.jp$1\"';
	replace:'href=\"//support.jtrip.co.jp(.*?)\"' 'href=\"http://support.jtrip.co.jp$1\"';
	replace:'<div id="depa" class="clfix">' '<div id="depa" class="clfix depabox">';
	replace:'<p class="h3p">(.*?)<span>(.*?)</span>(.*?)</p>' '<p class="h3p">$1<br style="display:none;"><span>$2</span><br style="display:none;">$3</p>';
	replace:'<p class="lowest">(.*?)<strong>(.*?)</strong>(.*?)</p>' '<p class="lowest">$1<br style="display:none;"><strong>$2</strong>$3</p>';
	replace:'<dd>(.*?)<span class="money">(.*?)</span>(.*?)</dd>' '<dd>$1<br style="display:none;"><span class="money">$2</span>$3</dd>';
	replace:'<span class="money"(.*?)>(.*?)</span>' '<br style="display:none;"><span class="money"$1>$2</span><br style="display:none;">';
	replace:'<span class="num">(.*?)</span>' '<span class="num">$1</span><br style="display:none;">';
	replace:'<span id="hotel_exists"(.*?)><em id="hotel_num">(.*?)</em>(.*?)</span>' '<span id="hotel_exists"$1><em id="hotel_num">$2</em><br style="display:none;">$3</span>';
	replace:'<li class="btn(.*?)">(.*?)<span>(.*?)</span>(.*?)</a></li>' '<li class="btn$1">$2<span>$3</span><br style="display:none;">$4</a></li>';
	replace:'<li class="category-list-subatz"(.*?)>(.*?)<span class="count">(.*?)</span>(.*?)</li>' '<li class="category-list-subatz"$1>$2<br style="display:none;"><span class="count">$3</span>$4</li>';
	replace:'<span class="new">NEW</span>' '<span class="new">NEW</span><br style="display:none;">';
	replace:'<p class="hd"><img(.*?)><b>沖縄本島</b>のホテルから選ぶ<a(.*?)>(.*?)</a></p>' '<p class="hd"><img$1><b>沖縄本島</b>のホテルから選ぶ<br style="display:none;"><a$2>$3</a></p>';
	replace:'<p class="hd"><img(.*?)><b>沖縄離島</b>のホテルから選ぶ<a(.*?)>(.*?)</a></p>' '<p class="hd"><img$1><b>沖縄離島</b>のホテルから選ぶ<br style="display:none;"><a$2>$3</a></p>';
	replace:'<p class="melmaga"><a(.*?)>(.*?)</a>(.*?)<a(.*?)>(.*?)</a></p>' '<p class="melmaga"><a$1>$2</a>$3<br style="display:none;"><a$4>$5</a></p>';
}

@postprocess {
	replace:'<div class="bx-viewport" style="(.*?)height(.*?);">' '<div class="bx-viewport" style="$1height: auto;">';
	replace:'<div class="cassette"(.*?)>' '<div class="cassette">';
	replace:'<td><!--cltx-->January</td>' '<td><!--cltx-->Jan</td>';
	replace:'<td><!--cltx-->February</td>' '<td><!--cltx-->Feb</td>';
	replace:'<td><!--cltx-->March</td>' '<td><!--cltx-->Mar</td>';
	replace:'<td><!--cltx-->April</td>' '<td><!--cltx-->Apr</td>';
	replace:'<td><!--cltx-->June</td>' '<td><!--cltx-->Jun</td>';
	replace:'<td><!--cltx-->July</td>' '<td><!--cltx-->Jul</td>';
	replace:'<td><!--cltx-->August</td>' '<td><!--cltx-->Aug</td>';
	replace:'<td><!--cltx-->September</td>' '<td><!--cltx-->Sep</td>';
	replace:'<td><!--cltx-->October</td>' '<td><!--cltx-->Oct</td>';
	replace:'<td><!--cltx-->November</td>' '<td><!--cltx-->Nov</td>';
	replace:'<td><!--cltx-->December</td>' '<td><!--cltx-->Dec</td>';
}

// @RULESET
// URL #= http://www\.jdive\.jp/.*
body{
 attribute: style add 'background-position:0 25px;';
}
