@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT TOURISM";
}
@engine city-sapporo/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT TOURISM";
}
@engine city-sapporo/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT TOURISM";
}

@preprocess {
	replace: 'lang=ja_jp' 'lang=zh_tw';
}

// @RULESET
// URL #= //www\.city\.sapporo\.jp/gikai/.*
@preprocess {
	replace: '<title>(.*?)札幌市議会(.*?)</title>' '<title>$1札幌市議會$2</title>';
}

// @RULESET
// URL #= //www\.city\.sapporo\.jp/suido/.*
@preprocess {
	replace: '<title>(.*?)札幌市水道局(.*?)</title>' '<title>$1札幌市自來水局$2</title>';
}

// @RULESET
// URL #= //www\.city\.sapporo\.jp/hospital/.*
@preprocess {
	replace: '<title>(.*?)市立札幌病院(.*?)</title>' '<title>$1市立札幌醫院$2</title>';
}

// @RULESET
// URL #= //www\.city\.sapporo\.jp/toshokan/.*
@preprocess {
	replace: '<title>(.*?)札幌市中央図書館(.*?)</title>' '<title>$1札幌市中央圖書館$2</title>';
}

// @RULESET
// URL #= //www\.city\.sapporo\.jp/zoo/.*
@preprocess {
	replace: '<title>(.*?)札幌市円山動物園(.*?)</title>' '<title>$1札幌市圓山動物園$2</title>';
}

// @RULESET
// URL #= //www\.city\.sapporo\.jp/st/.*
@preprocess {
	replace: '<title>(.*?)札幌市交通局(.*?)</title>' '<title>$1札幌市交通局$2</title>';
}

// @RULESET
// URL #= //www\.city\.sapporo\.jp/shiroishi/.*
@preprocess {
	replace: '<title>(.*?)札幌市白石区(.*?)</title>' '<title>$1札幌市白石區役所$2</title>';
}

// @RULESET
// URL #= //www\.city\.sapporo\.jp/atsubetsu/.*
@preprocess {
	replace: '<title>(.*?)札幌市厚別区(.*?)</title>' '<title>$1札幌市厚別區役所$2</title>';
}

// @RULESET
// URL #= //www\.city\.sapporo\.jp/toyohira/.*
@preprocess {
	replace: '<title>(.*?)札幌市豐平区(.*?)</title>' '<title>$1札幌市豐平區役所$2</title>';
}

// @RULESET
// URL #= //www\.city\.sapporo\.jp/kiyota/.*
@preprocess {
	replace: '<title>(.*?)札幌市清田区(.*?)</title>' '<title>$1札幌市清田區役所$2</title>';
}

// @RULESET
// URL #= //www\.city\.sapporo\.jp/minami/.*
@preprocess {
	replace: '<title>(.*?)札幌市南区(.*?)</title>' '<title>$1札幌市南區役所$2</title>';
}

// @RULESET
// URL #= //www\.city\.sapporo\.jp/nishi/.*
@preprocess {
	replace: '<title>(.*?)札幌市西区(.*?)</title>' '<title>$1札幌市西區役所$2</title>';
}

// @RULESET
// URL #= //www\.city\.sapporo\.jp/chuo/.*
@preprocess {
	replace: '<title>(.*?)札幌市中央区(.*?)</title>' '<title>$1札幌市中央區役所$2</title>';
}

// @RULESET
// URL #= //www\.city\.sapporo\.jp/kitaku/.*
@preprocess {
	replace: '<title>(.*?)札幌市北区(.*?)</title>' '<title>$1札幌市北區役所$2</title>';
}

// @RULESET
// URL #= //www\.city\.sapporo\.jp/higashi/.*
@preprocess {
	replace: '<title>(.*?)札幌市東区(.*?)</title>' '<title>$1札幌市東區役所$2</title>';
}

// @RULESET
// URL #= //www\.city\.sapporo\.jp/teine/.*
@preprocess {
	replace: '<title>(.*?)札幌市手稲区(.*?)</title>' '<title>$1札幌市手稻區役所$2</title>';
}

// @RULESET
// URL #= //www\.city\.sapporo\.jp/.*
@preprocess {
	replace: '<title>(.*?)札幌市(.*?)</title>' '<title>$1札幌市$2</title>';
}
