@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT TOURISM INTERNET";
}
@engine izu/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT TOURISM";
}
@engine izu/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT TOURISM";
}

@postprocess {
	replace: '015522140178123932687\\:mx6uxa7fhpy' '003005127414087536515\\:9ims21a1mii';
}

// @RULESET
// URL = http://livecamera.city.izu.shizuoka.jp/
// URL = http://livecamera.city.izu.shizuoka.jp/index.php
// URL = http://livecamera.city.izu.shizuoka.jp/movie.php
@preprocess {
replace:'<span class="shousai">' '<br style="display:none;"><span class="shousai">';
replace:'<span>伊豆市観光情報</span>' '<span>伊豆市</span><br><span>観光情報</span>';
}

div.tab-1 > a > span {
attribute:style add 'font-size: 80%; line-height: 25px;';
}

div#movie-photoArea > h1 > span.title {
attribute:style add 'font-size: 22px;';
}

input#date_from.form-control {
attribute:style add 'width: 120px; margin-left: 15px;';
}

input#date_to.form-control {
attribute:style add 'width: 120px; margin-left: 15px;';
}

div#dateSelectArea > dl.time > dd > select {
attribute:style add 'margin-left: 15px;';
}