@engine default {
  eid: CR-JK;
  dictionaries: "KURABO_DIC KURABO_TM CROSS_TM COMPUTER";
}
@engine kurabo/main {
  eid: CR-JK;
  dictionaries: "KURABO_DIC_MASTER KURABO_TM_MASTER COMPUTER";
}
@engine kurabo/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER COMPUTER";
}

// @RULESET
// URL = http://www.kurabo.co.jp/el/rd/tm4_01.html
iframe[src$="fla/jp/tech4ch-jp.html"] {
  attribute: src rewrite "fla/kr/tech4ch-kr.html";
}
