@engine default {
  eid: CR-JC;
}

form[name="kataJump"] > select[name="linkselectkata"] option {
  attribute: value rewrite "@RewriteRegisteredDomain";
}

form[name="colorJump"] > select[name="linkselectcolor"] option {
  attribute: value rewrite "@RewriteRegisteredDomain";
}
