@engine default {
  eid: CR-JC;
  dictionaries: "YAMAGATAKANKO_DIC YAMAGATAKANKO_TM CROSS_DIC CROSS_TM";
}
@engine yamagatakanko/main {
  eid: CR-JC;
  dictionaries: "YAMAGATAKANKO_DIC_MASTER YAMAGATAKANKO_TM_MASTER";
}
@engine yamagatakanko/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

body {
  attribute: lang add 'zh';
}


// @RULESET
// URL #= http://(www\.)?yamagatakanko\.com/$
a[href='http://yamagatakanko.com/tiji/'] {
  attribute: href set 'http://data.yamagatakanko.com/chn/';
}
