#site-translate-header-wrapper{
	width:100% !important;
	height:44px;
	position: fixed;
	top:0;
}

#site-translate-header-wrapper p{
	font-size:10px;
	line-height: 12px;
}

#site-translate-message{
	display:table-cell;
	height:44px;
	vertical-align:middle;
	width:5000px;
}

header {
    top: 44px;
}

:lang(en) body {
    font-size: 1.73em;
}

:lang(fr) body {
    font-size: 1.57em;
}

main#home section#route .timetable {
    margin-right: -120px;
    margin-left: -120px;
}

main#home div#jumbotron .slick-slider .slick-list .init.slick-slide > p img {
   top: 50%;
}

main#home section#guide .intro dl dd .txt {
    line-height: 1.6;
}

:lang(en) main#home section#guide .intro .intro-wrap-kids .ttl img {
    top: -66px;
}

:lang(fr) main#home section#guide .intro .intro-wrap-kids .ttl img {
    top: -80px;
}

@media screen and (min-width: 1200px) {

    main#home div#jumbotron {
        height: 662px;
    }

    main#home div#jumbotron .slick-slider {
        top: 44px;
    }

}
