@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT TOURISM INTERNET";
}
@engine kobe-park/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT TOURISM";
}
@engine kobe-park/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT TOURISM";
}

/* 左メニューフォントサイズ */
#leftblk > .leftlink1 > ul > li > a {
	attribute: style add 'font-size: 12.5px;';
}

/* 神戸の身近な公園情報(目的から探す) */
.topL > article > ul > li {
	attribute: style add 'width: 47%;';
}

.topL > article > ul > li > a > p {
	attribute: style add 'float: left; width: 70%;';
}

.mblk01 > .toptpics > .kiji > h3 {
	attribute: style add 'font-size: 105%;';
}

/* 森林植物園（サムネイル付リンク）*/
#content > aside > .bnr-left > .btn-title,
#content > aside > .bnr-right > .btn-title {
	attribute: style add 'font-size: 95%; top: 10px; left: 7px; width: 70%; line-height: 1.3;';
}

#content > aside > .bnr-left > .btn-body,
#content > aside > .bnr-right > .btn-body {
	attribute: style add 'top: 50px; font-size: 90%; line-height: 1.3; width: 63%;';
}

/* 花と緑の推進センター /hanamidori/ */
.nav-sub > li > a {
	attribute: style add 'padding: 10px 0 10px 10px; font-size: 75%;';
}

/* 公園計画 /kouen_keikaku/ */
#content > ul.kuul > li {
	attribute: style add 'width: 103px;';
}

#content > ul.kuul > li > a {
	attribute: style add 'font-size: 12px;';
}

#content > .itiran > .blk > dl > dt {
	attribute: style add 'width: 5em;';
}

@postprocess {
  replace:'<dd class="m">(.*?)The inside</a></dd>' '<dd class="m">$1Medium</a></dd>';
  replace:'<dd class="l">(.*?)Very much</a></dd>' '<dd class="l">$1Large</a></dd>';
}
