@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOVT GOURMET INTERNET";
}
@engine heartcore_demo/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOVT GOURMET";
}
@engine heartcore_demo/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOVT GOURMET";
}

@preprocess {
  replace: "www\.city\.yokohama\.lg\.jp" "translate.city.yokohama.lg.jp";
}

@postprocess {
  replace: 'UA-48397272-1' 'UA-48374796-10';
  replace: "('create', 'UA-.*?' )'miguide.jp'" "$1'miguide.jp.e.bbb.hp.transer.com'";
}
