@engine default {
  eid: CR-JK;
  dictionaries: "AEONMALL_TM AEONMALL_DIC CROSS_TM";
}
@engine narita-aeonmall/main {
  eid: CR-JK;
  dictionaries: "AEONMALL_TM_MASTER AEONMALL_DIC_MASTER";
}
@engine narita-aeonmall/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

a[href$="/floorguide/"] {
  attribute: href rewrite "@RewriteFloorGuide";
}

@rewrite RewriteFloorGuide {
  if (absurl matches "(http://narita-aeonmall\\.com)/floorguide/(.*)") return "{$1}/floorguide-ko/{$2}";
}

a[href$="/shopguide/floorguide/"] {
  attribute: href rewrite "http://narita-aeonmall.com/shopguide/floorguide_ko/";
}
