@engine default {
  eid: CR-JK;
  dictionaries: "AEONMALL_TM AEONMALL_DIC CROSS_TM";
}
@engine narita-aeonmall/main {
  eid: CR-JK;
  dictionaries: "AEONMALL_TM_MASTER AEONMALL_DIC_MASTER";
}
@engine narita-aeonmall/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

a[href$="/floorguide/"], a[href$="/floorguide"]{
  attribute: href rewrite "@RewriteFloorGuide";
}

@rewrite RewriteFloorGuide {
  if (absurl matches "(http://narita-aeonmall\\.com)/floorguide(.*)") return "{$1}/floorguide-ko{$2}";
}


// @RULESET
// URL = http://narita-aeonmall.com/shop/lists/
a[href="http://narita-aeonmall.com/floorguide/#page=2"]{
  attribute: href rewrite "http://narita-aeonmall.com/floorguide-ko/#page=2";
}