div.parts_page_nation {
  attribute: cltx add 'exclude';
}

div.big {
  attribute: style add 'font-size: 25px;';
}

@preprocess {
	replace:'<a class="opentext">(.*?)</a><a class="closetext">(.*?)</a>' '<a class="opentext">$1</a><br style="display:none;"><a class="closetext">$2</a>';
}
