@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine ekipara/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine ekipara/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
  replace:'<!-- crosslanguage-k:show(.*?)/crosslanguage-k:show -->' '$1';
}

@preprocess {
replace: 'UA-40160165-1' 'UA-40160165-7';
}