@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine naha-navi/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine naha-navi/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
  replace: 'sp=true&lang=ja' 'sp=true&amp;lang=kr';
  replace: 'NahaNavi\.swf' 'http://naha-navi.or.jp/NahaNavihangul.swf';
  replace: '\'movie\'\, \'NahaNavi\'\,' '\'movie\', \'NahaNavihangul\',';
  replace: 'assets/javascripts/config\.js' 'http://naha-navi.or.jp/assets/javascripts/configKR.js';
}
