@engine default {
  eid: CR-JE;
  dictionaries: "KEIONET_DIC KEIONET_TM CROSS_DIC CROSS_TM DEPART FASHION HOBBY BEAUTY GOURMET INTERNET";
}

@engine keionet/main {
  eid: CR-JE;
  dictionaries: "KEIONET_DIC_MASTER KEIONET_TM_MASTER DEPART FASHION HOBBY BEAUTY GOURMET";
}
