#site-translate-header-wrapper {
	width:auto !important;
}

#site-translate-header-wrapper p {
	letter-spacing: normal;
}

.news-list__entry__title {
    line-height: normal;
    margin-top: 5px;
}

.news-list__entry__tag {
	width: auto;
}

.news-list__entry__info {
    margin-top: 5px;
}

.news-list__entry__date {
    line-height: 1.0;
}

@media only screen and (max-width: 767px) {

	.news-list__entry__info {
		margin-top: 2px;
		letter-spacing: normal;
		font-size: 82%;
	}

	.news-list__entry__info:lang(en) {
	    line-height: 0.8;
	}

	.news-list__entry__date {
	    margin-top: 3px;
	}

	.news-list__entry__date:lang(en) {
	    margin-top: 1px;
	}

	.news-list__entry__title:lang(en) {
	    margin-top: 1px;
    	line-height: 0.9;
	}

	.news-list__entry, .grid-sizer {
	    width: auto;
	}

}
