@preprocess {
  replace: '<base[^>]+>' '';
}

div#header > div.inner {
  attribute: cltx add "exclude";
}

// @RULESET
// URL #= http://www.tokyu-dept.co.jp/[^/]+/shop/[^/]+_list.html.+
div.floor dl dd a span {
  text-flow: break;
}
div.shopList div.text a, div.shopList div.title h2 {
  text-flow: break;
}
div.shopList div.text span, div.shopList div.title h2 span {
  text-flow: break;
  content: translate split exclude "\\[|\\]";
}

// @RULESET
// URL ^= http://www.tokyu-dept.co.jp/toyoko/shop/
div.floor dl dd a span {
  text-flow: break;
}

// @RULESET
// URL #= http://www\.tokyu-dept\.co\.jp/.*
@preprocess {
replace: '<div id="header">' '<div style="margin-top: 30px;" id="header">';
}