@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM IT TOURISM GOURMET INTERNET";
}
@engine tokyogrown/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER IT TOURISM GOURMET";
}
@engine tokyogrown/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER IT TOURISM GOURMET";
}

@preprocess {
  replace:'<!-- crosslanguage-e:show(.*?)/crosslanguage-e:show -->' '$1';
}

div.box-special-contnt > a > div > img {
 attribute:style add 'height:272px;';
}

div.box-special-contnt > a > p.txt-ttl {
 attribute:style add 'height:72px;';
}

div.box-special-contnt > a > p.txt-detail > span {
 attribute:style add 'font-size:13px;';
}

div.pageSpecial-head > ul.pageSpecial-head-list > li.pageSpecial-head-list-special > a > p.pageSpecial-head-list-link {
 attribute:style add 'line-height:15px;height:25px;';
}

div.pageSpecial-head > ul.pageSpecial-head-list > li.pageSpecial-head-list-season > a > p.pageSpecial-head-list-link {
 attribute:style add 'line-height:15px;height:25px;';
}

div.pageSpecial-head > ul.pageSpecial-head-list > li.pageSpecial-head-list-report > a > p.pageSpecial-head-list-link {
 attribute:style add 'line-height:15px;height:25px;';
}

div.pageSpecial-head > ul.pageSpecial-head-list > li.pageSpecial-head-list-special > a > p.pageSpecial-head-list-content {
 attribute:style add 'font-size:14px;height:240px;';
}

div.pageSpecial-head > ul.pageSpecial-head-list > li.pageSpecial-head-list-season > a > p.pageSpecial-head-list-content {
 attribute:style add 'font-size:14px;height:240px;';
}

div.pageSpecial-head > ul.pageSpecial-head-list > li.pageSpecial-head-list-report > a > p.pageSpecial-head-list-content {
 attribute:style add 'font-size:14px;height:240px;';
}

div.pageSpecial-head > ul.pageSpecial-nav-list > li.pageSpecial-nav-list-new > a.pageSpecial-nav-list-link {
 attribute:style add 'font-size:12px;height;43px;line-height:43px;';
}

div.pageSpecial-head > ul.pageSpecial-nav-list > li.pageSpecial-nav-list-special > a.pageSpecial-nav-list-link {
 attribute:style add 'font-size:12px;height;43px;line-height:43px;';
}

div.pageSpecial-head > ul.pageSpecial-nav-list > li.pageSpecial-nav-list-season > a.pageSpecial-nav-list-link {
 attribute:style add 'font-size:12px;height;43px;line-height:43px;';
}

div.pageSpecial-head > ul.pageSpecial-nav-list > li.pageSpecial-nav-list-report > a.pageSpecial-nav-list-link {
 attribute:style add 'font-size:12px;height;43px;';
}

section.nav-product-menu > nav.grid-cmn-w1000 > ul > li > p.txt-product-category > a {
 attribute:style add 'font-size:9px;';
}

section.nav-product-menu > nav.grid-cmn-w1000 > ul > li > a > p.txt-product-category {
 attribute:style add 'font-size:8px;width:74px;margin-left:-10px;';
}

section.area-product > div.grid-cmn-w1200.sec-product > ul > li > p.btn-product-detail {
 attribute:style add 'font-size:12px;';
}

section.area-product > div.grid-cmn-w1200.sec-product > ul > li > a > div > p.btn-product-txt {
 attribute:style add 'font-size:15px;';
}

section.area-product > div.grid-cmn-w1200.sec-product > ul > li > a > div > p.btn-product-txt > span {
 attribute:style add 'font-size:13px;';
}

section.mod-e_mark-searchFilter > nav > ul > li > a > div.txt-category-sentence {
 attribute:style add 'height:101px;';
}

section.area-product > div.grid-cmn-w1200.sec-product > ul > li.box-product > p.txt-product-detail {
 attribute: style add 'font-size:12px;';
}

div.box-detail-watch > h4 > p.ttl-level-04 {
 attribute: style add 'font-size:15px;';
}

div#pageThing > div.contents-bg-01 > div.h3.cmn-01 > section > h3 {
 attribute: style add 'font-size:16px;';
}

div.grid-cmn-w1000 > div.area-checkbox-bg > ul > li > label {
 attribute: style add 'font-size:10px;height:145px;line-height:14px;';
}

div.grid-cmn-w1000 > div.area-checkbox-bg > ul > li > label > span {
 attribute: style add 'font-size:10px;height:58px;line-height:14px;';
}

#itemSearchResult > .grid-cmn-w1000  > p.txt-result-num {
 attribute:style add 'width: 80% !important;';
}

.contents-bg-01 > section > div > .area-sitemap > ul > li > a {
 attribute:style add 'font-size:82%;';
}

#pageProfessionalArticle .pageProfessionalArticle-map-fukidasi,
#pageSeasonArticle .pageSeasonArticle-map-fukidasi,
#pageReportArticle .pageReportArticle-map-fukidasi {
 attribute:style add 'line-height: 1.35;padding: 0;height: 58px;';
}

#pageThing > .contents-bg-01 > .h3-cmn-01 > .ttl-level3-left > h3.ttl-level3 {
 attribute:style add 'font-size: 1.6rem !important;';
}

.h3-cmn-01 > .ttl-level3-right > p{
 attribute:style add 'margin: 10px 30px;';
}

div#pageDetail > section.h2-cmn-bg4 > h2.grid-cmn-w1000.h2-cmn-02 > span {
 attribute:style  add 'font-size:14px;';
}

@preprocess {
 replace: '</i>特集<span>SPECIAL&nbsp;REPORT</span></a>' '</i>特集<br style="display:none;"><span>SPECIAL&nbsp;REPORT</span></a>';
}

@preprocess {
 replace: '</i>食材を選択してください<span>&nbsp;' '</i>食材を選択してください<br style="display:none;"><span>&nbsp;';
}

@preprocess {
 replace: '</i>エリアを選択してください<span>&nbsp;' '</i>エリアを選択してください<br style="display:none;"><span>&nbsp;';
}

@preprocess {
 replace: '<i class="fa fa-chevron-right" aria-hidden="true"></i>東京の特産物<span>' '<i class="fa fa-chevron-right" aria-hidden="true"></i>東京の特産物<br style="display:none;"><span>';
 replace: '<h2>見る・食べる <span>SEE・EAT</span></h2>' '<h2>見る・食べる <br style="display:none;"><span>SEE・EAT</span></h2>';
}

@preprocess {
 replace: '</span>JA東京中央会</p>' '</span><br style="display:none;">JA東京中央会</p>';
}

@postprocess {
 replace: 'but when you put a l<a href="#">ink, inform us</a> from the inquiry page.</li>' 'but when you put a link, inform us from <a href="#">the inquiry page</a>.</li>';
}

@postprocess {
 replace: '<li><!--cltx--><i class="fa fa-circle" aria-hidden="true">(.*?)<a href="#">Contact</a>(.*?)inform' '<li><!--cltx--><i class="fa fa-circle" aria-hidden="true">$1&nbsp;Contact&nbsp;$2<a href="#">inform</a>';
}

@postprocess {
 replace: '<h3><!--cltx-->Gift<span>s fro</span>m fo<span>rest and </span>pure fresh waters</h3>' '<h3><!--cltx-->Gifts from <span>forest</span> and <span>pure fresh waters</span></h3>';
}

@postprocess {
 replace: '<h3><!--cltx-->Gif<span>ts fro</span>m the Earth</h3>' '<h3><!--cltx-->Gifts from <span>the Earth</span></h3>';
}

@postprocess {
 replace: '<h3><!--cltx-->Gift<span>s fr</span>om <span>the </span>sea and islands</h3>' '<h3><!--cltx-->Gifts from <span>the sea</span> and <span>islands</span></h3>';
}

@postprocess {
 replace: '<span class="txt-subtitle-style">Here you can find vegetables,</span> fruits and teas of Tokyo origin.</p>' 'Here you can find <span class="txt-subtitle-style">vegetables, fruits and teas</span> of Tokyo origin.</p>';
}

@postprocess {
 replace: '<i class="fa fa-chevron-right" aria-hidden="true"></i>For registered businesses and so on, please tak<a href="http://www.toshinren.org/certification.html" target="_blank">e a look at Tokyo Federation of Forest Owners Cooperative </a>Association official website.' 'For registered businesses and so on, please take a look at <i class="fa fa-chevron-right" aria-hidden="true"></i><a href="http://www.toshinren.org/certification.html" target="_blank">Tokyo Federation of Forest Owners Cooperative Association official website.</a>';
 replace: '<i class="fa fa-chevron-right" aria-hidden="true"></i>For commercial <a href="http://www.tamamori.jp/tamasanzai-info/index.php" target="_blank">use, please check the official website of Tamasa</a>nzai Information Center.' 'For commercial use, please check <i class="fa fa-chevron-right" aria-hidden="true"></i><a href="http://www.tamamori.jp/tamasanzai-info/index.php" target="_blank">the official website of Tamasanzai Information Center.</a>';
}
