#headerWrapper {
attribute: style add 'top:34px;';
}

body {
attribute: style add 'top:34px;';
}

body.top {
attribute: style add 'top:34px;';
}

div#topHeader {
attribute: style set 'z-index: 102;top:34px;';
}

div#wrapper{
 attribute: style add 'background-color: #ffffff;';
}

#topMainImgPagenation {
 attribute: cltx add 'exclude';
}

// @RULESET
// URL = http://www.nagaoka-id.ac.jp/career/
@postprocess {
 replace:'<h2 style="margin-top: -1em;">' '<h2 style="margin-top: 0em;">';
}
