div#headerWrapper {
 attribute: style add 'margin-top: 31px;';
}

div#wrapper{
 attribute: style add 'background-color: #ffffff;';
}

#topMainImgPagenation {
 attribute: cltx add 'exclude';
}