@engine default {
  eid: BO-ENIT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine nissei-kk/main {
  eid: BO-ENIT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine nissei-kk/cross {
  eid: BO-ENIT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}
