@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}

@engine kirikoku/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}

body {
  attribute: lang add 'zh';
}

a[href="http://www.jhpds.net/kirishimakokusai/uw/uwp3100/uww3101.do?yadNo=322385"] {
  attribute: href rewrite "http://www.tabimado.net.cn/hotel/43/18243/";
}

// @RULESET
// URL = http://www.kirikoku.co.jp/pp/yoyaku.html
table > tr > td > a[href="http://www.jhpds.net/kirishimakokusai/uw/uwp3100/uww3101.do?yadNo=322385"] {
  attribute: href rewrite "http://www.japanican.com/Simplified-Chinese/hotels/shisetsudetail.aspx?ar=46&sar=460202&st=8604005&pn=2&rn=1";
}