@engine default {
  eid: CR-JC;
  dictionaries: "MUSASHI-ENGINEERING_DIC MUSASHI-ENGINEERING_TM CROSS_DIC CROSS_TM SYSTEM MECHA CHEMICAL";
}

body {
  attribute: lang add 'zh';
}

@rewrite RewriteInquiry {
  if (absurl matches "^http://www\\.musashi-engineering\\.co\\.jp/inquiry/?$") return "http://www.musashi-engineering.co.jp/chinese/inquiry/";
  if (absurl equals "http://www.musashi-engineering.co.jp/inquiry/inquiry.php") return "http://www.musashi-engineering.co.jp/chinese/inquiry/inquiry.php";
  if (absurl equals "http://www.musashi-engineering.co.jp/inquiry/request.php") return "http://www.musashi-engineering.co.jp/chinese/inquiry/request.php";
  if (absurl matches "^http://www\\.musashi-engineering\\.co\\.jp/member/?$") return "http://www.musashi-engineering.co.jp/chinese/member/";
  if (absurl equals "http://www.musashi-engineering.co.jp/member/login.php") return "http://www.musashi-engineering.co.jp/chinese/member/login.php";
  if (absurl equals "http://www.musashi-engineering.co.jp/member/regist.php") return "http://www.musashi-engineering.co.jp/chinese/member/regist.php";
  apply "@RewriteHtmlUrlAttribute";
}

a[href] {
  attribute: href rewrite @RewriteInquiry;
}
