@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOURMET FASHION INTERNET";
}
@engine mitsui-shopping-park/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOURMET FASHION";
}
@engine mitsui-shopping-park/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOURMET FASHION";
}

@preprocess {
	replace: 'UA-20131188-3' 'UA-20131188-5';
	replace: 'UA-106973307-1' 'UA-106973307-2';
	replace: 'UA-9454978-1' 'UA-9454978-2';
}

@postprocess {
	replace: '<a href="(.*?)kana=あ"><strong class="child-menu__link"><span>Oh</span></strong></a>' '<a href="$1kana=あ"><strong class="child-menu__link"><span>a</span></strong></a>';
	replace: '<a href="(.*?)kana=は"><strong class="child-menu__link"><span>This</span></strong></a>' '<a href="$1kana=は"><strong class="child-menu__link"><span>ha</span></strong></a>';
	replace: '<a href="(.*?)kana=や"><strong class="child-menu__link"><span>This</span></strong></a>' '<a href="$1kana=や"><strong class="child-menu__link"><span>ya</span></strong></a>';
}

// @RULESET
// URL #= //mitsui-shopping-park\.com/urban/muromachi/.*
@postprocess{
	replace:'<!--cltx--><a href="/urban/redirect.html(.*?)" target="_blank">Connected to Exi</a>t A6 of Mitsukoshimae Station on the Tokyo Metro Hanzomon Line/Ginza Lines' '<!--cltx-->Connected to Exit A6 of Mitsukoshimae Station on the <a href="/urban/redirect.html$1" target="_blank">Tokyo Metro</a> Hanzomon Line/Ginza Lines';
	replace: '<!--cltx--><a href="/urban/redirect.html(.*?)" target="_blank">Connecte</a>d to Shin-Nihonbashi Station on the JR Sobu Express Line' '<!--cltx-->Connected to Shin-Nihonbashi Station on the <a href="/urban/redirect.html$1" target="_blank">JR</a> Sobu Express Line';
	replace: '<!--cltx--><a href="/urban/redirect.html(.*?)" target="_blank">Metro Link Nihonbashi \\(fre</a>e shuttle bus\\)' '<!--cltx--><a href="/urban/redirect.html$1" target="_blank">Metro Link Nihonbashi</a> \\(free shuttle bus\\)';
}

// @RULESET
// URL #= //mitsui-shopping-park\.com/urban/mitsuitower/.*
@postprocess{
	replace: 'Tokyo Metro Gi</a>nza Line' 'Tokyo Metro</a> Ginza Line';
	replace: '<!--cltx-->7<a href="/urban/redirect.html(.*?)" target="_blank">-min. walk from Ni</a>honbashi Station on the Tokyo Metro' '<!--cltx-->7-min. walk from Nihonbashi Station on the <a href="/urban/redirect.html$1" target="_blank">Tokyo Metro</a>';
	replace: '<!--cltx-->10<a href="/urban/redirect.html(.*?)" target="_blank">-min. walk from Ni</a>honbashi Station on the Toei Subway' '<!--cltx-->10-min. walk from Nihonbashi Station on the <a href="/urban/redirect.html$1" target="_blank">Toei Subway</a>';
	replace: '<!--cltx-->3<a href="/urban/redirect.html(.*?)" target="_blank">-min. wa</a>lk from Shin-Nihonbashi Station on the JR' '<!--cltx-->3-min. walk from Shin-Nihonbashi Station on the <a href="/urban/redirect.html$1" target="_blank">JR</a>';
	replace: '<!--cltx-->7<a href="/urban/redirect.html(.*?)" target="_blank">-min. w</a>alk from Kanda Station on the JR' '<!--cltx-->7-min. walk from Kanda Station on the <a href="/urban/redirect.html$1" target="_blank">JR</a>';
	replace: '<!--cltx-->12<a href="/urban/redirect.html(.*?)" target="_blank">-min. w</a>alk from Tokyo Station on the JR' '<!--cltx-->12-min. walk from Tokyo Station on the <a href="/urban/redirect.html$1" target="_blank">JR</a>';
	replace: '<!--cltx--><a href="/urban/redirect.html(.*?)" target="_blank">Metro Link Nihonbashi \\(fre</a>e shuttle bus\\)' '<!--cltx--><a href="/urban/redirect.html$1" target="_blank">Metro Link Nihonbashi</a> \\(free shuttle bus\\)';
}

// @RULESET
// URL #= //mitsui-shopping-park\.com/urban/nihonbashi/.*
@postprocess{
	replace: '<!--cltx--><a href="/urban/redirect.html(.*?)" target="_blank">Metro Link Nihonbashi \\(fre</a>e shuttle bus\\)' '<!--cltx--><a href="/urban/redirect.html$1" target="_blank">Metro Link Nihonbashi</a> \\(free shuttle bus\\)';
}
