@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM IT SYSTEM BUSINESS INTERNET";
}
@engine taiankaku/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM IT SYSTEM BUSINESS";
}
@engine taiankaku/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM IT SYSTEM BUSINESS";
}

@postprocess {
  replace:'Monday,' 'Monday,<br>';
  replace:'Tuesday,' 'Tuesday,<br>';
  replace:'Wednesday,' 'Wednesday,<br>';
  replace:'Thursday,' 'Thursday,<br>';
  replace:'Friday,' 'Friday,<br>';  
  replace:'Saturday,' 'Saturday,<br>';
  replace:'Sunday,' 'Sunday,<br>';
}

th {
  attribute: style add 'font-size: 9px;';
}

div.yms_navi_person > ul{
  attribute: style add 'font-size: 11px;';
}

div.list_one_normal {
  attribute: style add 'font-size: 10px;';
}

@postprocess {
 replace:'Finance debit card' '<br>Finance debit card';
}

div.yms_title {
  attribute: style add 'font-size: 10px;';
}