// @RULESET
// URL ^= http://www.maach-ecute.jp/css/contents.css
@preprocess {
  replace: '(#about #wrapper #contents #leftPane #contentsWrap #mainImage p\\{.+?)letter-spacing:0.6px;\r\n\\s*padding-top: 90px;' '$1letter-spacing:0.2px;\r\n	padding: 95px 50px 0px;\r\n	font-size: 80%;';
  replace: '(#about #wrapper #contents #leftPane #contentsWrap #mainImage p\\{.+?)padding-top: 78px;\r\n\\s*line-height: 22px;\r\n\\s*font-size:88%' '$1letter-spacing:0.2px;\r\n	padding: 85px 35px 0px;\r\n	line-height: 22px;\r\n	font-size: 75%;\r\n	-webkit-transform:scale(0.90);';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .map_bg p.b\\{)left: 108px;top: 237px;' '$1left: 92px;top: 237px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .map_bg p.c\\{)left: 249px;top: 302px;' '$1left: 233px;top: 302px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .map_bg p.d\\{)left: 352px;top: 367px;' '$1left: 335px;top: 367px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .map_bg p.e\\{)left: 400px;top: 355px;' '$1left: 400px;top: 390px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .map_bg p.f\\{)left: 410px;top: 300px;' '$1left: 336px;top: 300px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .map_bg p.g\\{)left: 500px;top: 310px;' '$1left: 440px;top: 310px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .map_bg p.h\\{)left: 465px;top: 355px;' '$1left: 465px;top: 375px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .map_bg p.k\\{)left: 120px;top: 330px;' '$1left: 100px;top: 330px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .map_bg p.n\\{)left: 155px;top: 385px;' '$1left: 140px;top: 385px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .map_bg p.o\\{)left: 325px;top: 430px;' '$1left: 290px;top: 430px; width:90px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .map_bg p.q\\{)left: 130px;top: 515px;' '$1left: 70px;top: 515px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .a01 \\{.+?)top: 175px;\r\n\\s*width: 155px;\r\n\\s*height: 107px;' '$1top: 99px;\r\n	width: 151px;\r\n	height: 183px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .a02 \\{.+?)top: 100px;\r\n\\s*width: 185px;\r\n\\s*height: 127px;' '$1top: 30px;\r\n	width: 165px;\r\n	height: 197px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .a03 \\{.+?)height: 133px;' '$1height: 170px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .a04 \\{.+?)height: 113px;' '$1height: 171px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .a05 \\{.+?)height: 113px;' '$1height: 183px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .a06 \\{.+?)height: 110px;' '$1height: 164px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .a07 \\{.+?)top: 600px;\r\n\\s*width: 169px;\r\n\\s*height: 103px;' '$1top: 523px;\r\n	width: 169px;\r\n	height: 180px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .a08 \\{.+?)height: 113px;' '$1height: 191px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .a09 \\{.+?)top: 230px;\r\n\\s*width: 165px;\r\n\\s*height: 97px;' '$1top: 147px;\r\n	width: 169px;\r\n	height: 180px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .a10 \\{.+?)top: 150px;\r\n\\s*width: 155px;\r\n\\s*height: 125px;' '$1top: 90px;\r\n	width: 166px;\r\n	height: 185px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map .a11 \\{.+?)top: 166px;\r\n\\s*width: 165px;\r\n\\s*height: 166px;' '$1top: 102px;\r\n	width: 165px;\r\n	height: 230px;';

  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.b\\{)left: 95px;top: 207px;' '$1left: 80px;top: 207px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.c\\{)left: 218px;top: 263px;' '$1left: 200px;top: 263px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.d\\{)left: 307px;top: 320px;' '$1left: 290px;top: 320px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.e\\{)left: 345px;top: 305px;' '$1left: 345px;top: 345px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.f\\{)left: 355px;top: 258px;' '$1left: 300px;top: 258px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.g\\{)left: 435px;top: 265px;' '$1left: 385px;top: 265px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.h\\{)left: 410px;top: 310px;' '$1left: 410px;top: 320px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.n\\{)left: 130px;top: 337px;' '$1left: 120px;top: 337px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.o\\{)left: 270px;top: 375px;' '$1left: 255px;top: 375px; width:90px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.q\\{)left: 105px;top: 455px;' '$1left: 60px;top: 455px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .a01 \\{.+?)top: 135px;\r\n\\s*width: 155px;\r\n\\s*height: 107px;' '$1top: 59px;\r\n	width: 151px;\r\n	height: 183px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .a02 \\{.+?)top: 70px;\r\n\\s*width: 185px;\r\n\\s*height: 127px;' '$1top: 0px;\r\n	width: 165px;\r\n	height: 197px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .a07 \\{.+?)top: 450px;\r\n\\s*width: 169px;\r\n\\s*height: 103px;' '$1top: 373px;	width: 169px;	height: 180px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .a09 \\{.+?)top: 185px;\r\n\\s*width: 165px;\r\n\\s*height: 97px;' '$1top: 102px;\r\n	width: 169px;\r\n	height: 180px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .a10 \\{.+?)top: 110px;\r\n\\s*width: 155px;\r\n\\s*height: 125px;' '$1top: 50px;\r\n	width: 166px;\r\n	height: 185px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .a11 \\{.+?)top: 126px;\r\n\\s*width: 165px;\r\n\\s*height: 166px;' '$1top: 62px;\r\n	width: 165px;\r\n	height: 230px;';

  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.b\\{)left: 54px;' '$1left: 44px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.c\\{)left: 125px;' '$1left: 115px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.d\\{)left: 175px;' '$1left: 165px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.f\\{)left: 205px;' '$1left: 175px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.g\\{)left: 250px;' '$1left: 220px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.h\\{.+?)top: 175px;' '$1top: 180px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.n\\{)left: 77px;' '$1left: 70px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.o\\{)left: 155px;top: 213px;' '$1left: 145px;top: 213px; width:40px;';
  replace: '(#access #wrapper #contents #leftPane #contentsWrap .map2 .map_bg2 p.q\\{)left: 55px;' '$1left: 40px;';

  replace: '(.map_l p.a\\{.+?)top: 120px;' '$1top: 170px;';
  replace: '(.map_l p.b\\{)left: 78px;top: 143px;' '$1left: 65px;top: 193px;';
  replace: '(.map_l p.c\\{)left: 150px;top:177px;' '$1left: 140px;top:227px;';
  replace: '(.map_l p.d\\{)left: 205px;top: 210px;' '$1left: 195px;top: 260px;';
  replace: '(.map_l p.e\\{.+?)top:207px;' '$1top:277px;';
  replace: '(.map_l p.f\\{)left: 235px;top: 175px;' '$1left: 200px;top: 225px;';
  replace: '(.map_l p.g\\{)left: 280px;top: 180px;' '$1left: 250px;top: 230px;';
  replace: '(.map_l p.h\\{)left: 272px;top: 205px;' '$1left: 265px;top: 270px;';
  replace: '(.map_l p.i\\{.+?)top: 145px;' '$1top: 195px;';
  replace: '(.map_l p.j\\{.+?)top: 180px;' '$1top: 230px;';
  replace: '(.map_l p.k\\{.+?)top: 195px;' '$1top: 245px;';
  replace: '(.map_l p.l\\{.+?)top: 175px;' '$1top: 225px;';
  replace: '(.map_l p.m\\{.+?)top: 210px;' '$1top: 260px;';
  replace: '(.map_l p.n\\{)left: 98px;top: 225px;' '$1left: 95px;top: 273px;';
  replace: '(.map_l p.o\\{)left: 162px;top: 230px;' '$1left: 175px;top: 295px; width:50px;';
  replace: '(.map_l p.p\\{.+?)top: 235px;' '$1top: 285px;';
  replace: '(.map_l p.q\\{)left:  80px;top: 295px;' '$1left: 60px;top: 345px;';
  replace: '(.map_l p.r\\{.+?)top: 270px;' '$1top: 320px;';
  replace: '(.map_l p.s\\{.+?)top: 305px;' '$1top: 355px;';
  replace: '(.map_l p.t\\{.+?)top: 365px;' '$1top: 415px;';
  replace: '(.map_l p.u\\{.+?)top: 275px;' '$1top: 325px;';
}