@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOVT GOURMET INTERNET";
}
@engine maach-ecute/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOVT GOURMET";
}
@engine maach-ecute/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOVT GOURMET";
}

@preprocess {
  replace: 'http://goo.gl/maps/lZeT9' 'https://www.google.co.jp/maps/place/1+Chome-25+Kanda+Sudach%C5%8D,+Chiyoda-ku,+T%C5%8Dky%C5%8D-to/@35.696733,139.771425,18z/data=!4m7!1m4!3m3!1s0x60188c02d48d40ef:0x91cc59ea7009217b!2s1+Chome-25+Kanda+Sudach%C5%8D,+Chiyoda-ku,+T%C5%8Dky%C5%8D-to!3b1!3m1!1s0x60188c02d48d40ef:0x91cc59ea7009217b?hl=en';
  replace: '/images/common/en_of.png' '/images/common/en_ov.png';
  replace: '/images/common/jp_ov.png' '/images/common/jp_of.png';
  replace: '/images/common/en2_of.png' '/images/common/en2_ov.png';
  replace: '/images/common/jp2_ov.png' '/images/common/jp2_of.png';
  replace: '(<p class="date update")>(<span>UPDATE</span>)( \\d{4}\.\\d{2}\.\\d{2}</p>)' '$1 style="display: inline;">$2</p><p class="date update" style="display: inline;">$3';
}

// @RULESET
// URL = http://www.maach-ecute.jp/access.html
div[id="contentsWrap"] > dl.line > dd[class="body1"] > dl > dd > strong {
  attribute: style add 'font-weight: normal; font-style: normal;';
}
