.sns_twitter {
 attribute: clftx add 'exclude';
}

ul.ul-index-floor > li {
 attribute: clftx add 'exclude';
}

ul.cf {
 attribute: style add 'font-size:11px;';
}

.flex-control-nav > li {
 attribute: cltx add 'exclude';
}

.flex-direction-nav > li {
 attribute: cltx add 'exclude';
}

.fb-like {
  attribute: clftx add 'exclude';
}

// @RULESET
// URL #= http://www\.termina\.info/.*
div#h-nav > h1 {
 attribute: style add 'white-space: nowrap !important;';
}


body {
  attribute: style add 'background-position:0px 24px !important;';
}