@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM HOBBY SYSTEM BIOL INTERNET";
}
@engine mstide/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM HOBBY SYSTEM BIOL";
}
@engine mstide/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM HOBBY SYSTEM BIOL";
}
