@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT";
}
@engine starcat/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT";
}
@engine starcat/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT";
}

@postprocess {
  replace: '<dt class="langJ"><span>日本語</span></dt>' '<dt class="langJ"><a href="http://www.starcat.co.jp/">日本語</a></dt>';
  replace: '<dd class="langT"><a href="http://www.starcat.co.jp.t.lh.hp.transer.com/">中国繁体字</a></dd>' '<dd class="langT"><span>中国繁体字</span></dd>';
}