#site-translate-header-wrapper{
	width:auto !important;
}

#site-translate-message {
    line-height: normal;
}

#toppage h2 {
    letter-spacing: normal;
}

#parks span {
    width: auto;
    height: auto;
    padding: 2% 7%;
}

#flower h2:lang(en) {
    line-height: 1.1;
}

#course .course_info p {
    width: 50%;
}

#footer_top #park_info dd:lang(en) {
    width: 80%;
}

#footer_link .imgbox span {
    width: auto;
    height: auto;
    padding: 2% 7%;
}

#footer .info_area {
	margin-right: 0;
    width: 22%;
}

@media screen and (max-width: 670px) {

	.smenu {
	    top: 52px;
	}

	.smenu.close {
	    top: 8px;
	}

	#spmenu_area p a {
	    top: 52px !important;
	}

	#spmenu_area .spmenu {
	    top: 114px;
	}

	#footer .info_area {
	    margin: 20px auto 0;
	    width: 80%;
	}

}
