@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM ARCHI";
}
@engine e-3016/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER ARCHI";
}
@engine e-3016/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER ARCHI";
}
