@engine default {
  eid: CR-JK;
  dictionaries: "SHIMAMOTOCHO_DIC SHIMAMOTOCHO_TM CROSS_TM";
}

@engine shimamotocho/main {
  eid: CR-JK;
  dictionaries: "SHIMAMOTOCHO_DIC_MASTER SHIMAMOTOCHO_TM_MASTER";
}