div.flexslider  {
	attribute: cltx add 'exclude';
}

body {
	attribute: style add 'margin-top: 48px;';
}

#ranking .ranking_tab li > span {
	attribute: style add 'line-height: normal;';
}

#news .news_tab li .tx_spc {
	attribute: style add 'letter-spacing: normal;padding-left: 0;';
}

#news .news_tab li > span {
	attribute: style add 'line-height: normal;padding: 5% 0;';
}
