@preprocess {
 replace:'<body class="(.*?)">' '<body class="$1 sptranser">';
 replace:'<script src="/common/js_frontend/common.js"></script>' '<script src="//www.atre.co.jp/common/js_frontend/common.js"></script>';
}

@preprocess {
 replace:'<!-- crosslanguage:show(.*?)/crosslanguage:show -->' '$1';
 replace: '<option value="">日本語</option>' '<option value="" class="cl-notranslate">日本語</option>';
 replace: '<option value="">English</option>' '<option value="" class="cl-notranslate">English</option>';
 replace: '<option value="">繁體中文</option>' '<option value="" class="cl-notranslate">繁體中文</option>';
 replace: '<option value="">简体中文</option>' '<option value="" class="cl-notranslate">简体中文</option>';
 replace: '<option value="">한글</option>' '<option value="" class="cl-notranslate">한글</option>';
 replace: '<span class="pcNone">スマホ版</span>' '<br style="display:none;"><span class="pcNone">スマホ版</span><br style="display:none;">';
 replace: '<span class="spNone">パソコン版</span>' '<br style="display:none;"><span class="spNone">パソコン版</span><br style="display:none;">';
}


@postprocess {
 replace:'<!-- crosslanguage:show(.*?)/crosslanguage:show -->' '$1';
}

p.pageTopBtn {
 attribute: cltx add 'exclude';
}

div.bx-controls-direction {
 attribute: cltx add 'exclude';
}

div.pluginConnectButton {
 attribute: cltx add 'exclude';
}

.hdrLangBtn {
  attribute: cltx add 'exclude';
}
