div#zoomImgItem {
  attribute:clftx add 'exclude';
}

@preprocess {
  replace: '<strong class="noticeTxt01 noticeTxt02 noticeTxt03">(.*?)</strong>件見つかりました' '<strong class="noticeTxt01 noticeTxt02 noticeTxt03">$1</strong><br style="display:none;">件見つかりました';
  replace: '<strong class="noticeTxt02 noticeTxt04">(.*?)</strong>' '<strong class="noticeTxt02 noticeTxt04">$1</strong><br style="display:none;">';
  replace: 'return false;">高い</a>｜</dd>' 'return false;"><br style="display:none;">高い</a><br style="display:none;">｜</dd>';
  replace: 'return false;">広い</a>｜</dd>' 'return false;"><br style="display:none;">広い</a><br style="display:none;">｜</dd>';
  replace: 'return false;">多い</a>｜</dd>' 'return false;"><br style="display:none;">多い</a><br style="display:none;">｜</dd>';
  replace: 'return false;">新しい</a>｜</dd>' 'return false;"><br style="display:none;">新しい</a><br style="display:none;">｜</dd>';
  replace: '<span class="icoAlt">新しいウィンドウが開きます</span>' '<span class="icoAlt">新しいウィンドウが開きます</span><br style="display:none;">';
}

@preprocess {
  replace: '<a href="\\?kukakuId=(.*?)" class="mrf-registFavorite"(.*?)>' '<!-- crosslanguage:delete --><a href="\\?kukakuId=$1" class="mrf-registFavorite"$2>';
  replace: '<img src="//www.rehouse.co.jp/dir_common/toshin/dir_img/btn/registration_06.gif" width="240" height="25" alt="お気に入り物件に登録" class="over"></a>' '<img src="//www.rehouse.co.jp/dir_common/toshin/dir_img/btn/registration_06.gif" width="240" height="25" alt="お気に入り物件に登録" class="over"></a><!-- /crosslanguage:delete -->';
  replace: '<img src="/dir_common/toushi/dir_img/btn/registration_06.gif" width="240" height="32" alt="お気に入り物件に登録する" class="over"></a>' '<img src="/dir_common/toushi/dir_img/btn/registration_06.gif" width="240" height="32" alt="お気に入り物件に登録する" class="over"></a><!-- /crosslanguage:delete -->';
  replace: '<img src="//www.rehouse.co.jp/dir_common/toushi/dir_img/btn/registration_06.gif" width="240" height="32" alt="お気に入り物件に登録する" class="over"></a>' '<img src="//www.rehouse.co.jp/dir_common/toushi/dir_img/btn/registration_06.gif" width="240" height="32" alt="お気に入り物件に登録する" class="over"></a><!-- /crosslanguage:delete -->';
}

@preprocess {
  replace: '<div id="aside_storeData" class="contentSec">' '<!-- crosslanguage:delete --><div id="aside_storeData" class="contentSec">';
  replace: '<div id="aside_stData" class="contentSec">' '<!-- /crosslanguage:delete --><div id="aside_stData" class="contentSec">';
}

@preprocess {
  replace: '<div id="aside_mrf" class="myFileFrame contentSec">' '<!-- crosslanguage:delete --><div id="aside_mrf" class="myFileFrame contentSec">';
  replace: '<!-- /.myFileFrame --></div>' '<!-- /.myFileFrame --></div><!-- /crosslanguage:delete -->';
}

@preprocess {
  replace: '<li id="tabNum02"><img src="//www.rehouse.co.jp/dir_sys/toshin/bkdetail/dir_img/tab_btn_002.gif" width="128" height="30" alt="最近閲覧した物件"></li>' '<!-- crosslanguage:delete --><li id="tabNum02"><img src="//www.rehouse.co.jp/dir_sys/toshin/bkdetail/dir_img/tab_btn_002.gif" width="128" height="30" alt="最近閲覧した物件"></li>';
  replace: '<li id="tabNum03"><img src="//www.rehouse.co.jp/dir_sys/toshin/bkdetail/dir_img/tab_btn_003.gif" width="128" height="30" alt="お気に入り物件"></li>' '<li id="tabNum03"><img src="//www.rehouse.co.jp/dir_sys/toshin/bkdetail/dir_img/tab_btn_003.gif" width="128" height="30" alt="お気に入り物件"></li><!-- /crosslanguage:delete -->';
  replace: '<li id="tabNum02"><img src="//www.rehouse.co.jp/dir_sys/toushi/bkdetail/dir_img/tab_btn_002.gif" width="128" height="30" alt="最近閲覧した物件"></li>' '<!-- crosslanguage:delete --><li　id="tabNum02"><img src="//www.rehouse.co.jp/dir_sys/toushi/bkdetail/dir_img/tab_btn_002.gif" width="128" height="30" alt="最近閲覧した物件"></li>';
  replace: '<li id="tabNum03"><img src="//www.rehouse.co.jp/dir_sys/toushi/bkdetail/dir_img/tab_btn_003.gif" width="128" height="30" alt="お気に入り物件"></li>' '<li id="tabNum03"><img src="//www.rehouse.co.jp/dir_sys/toushi/bkdetail/dir_img/tab_btn_003.gif" width="128" height="30" alt="お気に入り物件"></li><!-- /crosslanguage:delete -->';
}

@preprocess {
  replace: 'src="//www.rehouse.co.jp/dir_sys/javascript/keywordSave.js"' 'src="http://www.rehouse.co.jp/dir_sys/javascript/keywordSave.js"';
}

@postprocess {
  replace: "window.open\\('/(.*?)/lang/guide/index\.html'\\)" "window.open\\('http://www\.rehouse\.co\.jp/$1/lang/guide/index\.html'\\)";
}

@postprocess {
  replace: 'cltx>&lt;/&gt;' 'cltx>';
}
