ul.pagingNumber {
  attribute: cltx add 'exclude';
}
ul.pagingNumber > li {
  content: translate split exclude "\\[|\\]";
}
ul.pagingNumber > li > a, ul.pagingNumber > li > b {
  text-flow: break;
}

// @RULESET
// URL #= http://test(?:4ch)?\.visitjapan-tohoku\.org/(?:index\.html)?
div#crslConsole {
  attribute: cltx add 'exclude';
}
div#topMain section.listZone section.zoneBox a h1 *, dl.recommend dt.author span {
  text-flow: break;
}

// @RULESET
// URL #= http://test(?:4ch)?\.visitjapan-tohoku\.org/zone/[^/]+/access/
p.zoneName {
  content: translate split exclude "\\s";
}

// @RULESET
// URL #= http://test(?:4ch)?\.visitjapan-tohoku\.org/zone/[^/]+/guide/
section.guideBox div.infomation p.voice strong {
  text-flow: break;
}

// @RULESET
// URL #= http://test(?:4ch)?\.visitjapan-tohoku\.org/zone/.*
section.listNarrow h1 span {
  text-flow: break;
}

// @RULESET
// URL #= http://test(?:4ch)?\.visitjapan-tohoku\.org/(?:program|spot)/.*
p.zoneName {
  content: translate split exclude "\\s";
}

// @RULESET
// URL #= http://test(?:4ch)?\.visitjapan-tohoku\.org/event/.*
p.zoneName {
  content: translate split exclude "\\s";
}
table > caption {
  attribute: style add 'font-size:120%';
}
table > caption > em {
  tag: delete;
}

// @RULESET
// URL #= http://test(?:4ch)?\.visitjapan-tohoku\.org/supporter/famous/.*
section.supporterBox h1.name span {
  text-flow: break;
  attribute: style add 'display:block;';
}
section.supporterBox p.voice strong {
  text-flow: break;
}
