@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM LAW";
}
@engine kagoshima-aira/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER LAW";
}
@engine kagoshima-aira/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER LAW";
}
