@engine default {
  eid: CR-JC;
  dictionaries: "SHIROYAMA-G_DIC SHIROYAMA-G_TM CROSS_DIC CROSS_TM";
}

@engine shiroyama-g/main {
  eid: CR-JC;
  dictionaries: "SHIROYAMA-G_DIC_MASTER SHIROYAMA-G_TM_MASTER";
}

@postprocess {

replace: '<link rel="alternate" hreflang="ja" href="http://www.shiroyama-g.co.jp.c.bk.hp.transer.com/wedding/" />' '<link rel="alternate" hreflang="ja" href="http://www.shiroyama-g.co.jp/wedding/" />';

}