#site-translate-header-wrapper {
	width:auto !important;
}

#site-translate-header-wrapper p {
	letter-spacing: normal;
}

* {
    letter-spacing: normal !important;
}

#page-about ul.about-list li a .inner .text .name {
    font-size: 1.5rem;
    line-height: normal;
}

@media screen and (max-width: 768px) {

	#site-translate-header-wrapper p {
    	font-size: 11px;
	}

	#page-about ul.about-list li a .inner .text .name {
		font-size: 1.0rem;
		line-height: normal;
	}

	#switchBtnArea #switchBtn {
	    top: 49px;
	}

	#page-town ul#basic-info-list {
	    text-align: left;
	}

}
