@engine default {
  eid: CR-JK;
  dictionaries: "DOURAKU_DIC DOURAKU_TM CROSS_TM";
}
@engine douraku/main {
  eid: CR-JK;
  dictionaries: "DOURAKU_DIC_MASTER DOURAKU_TM_MASTER";
}
@engine douraku/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}