@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM BUSINESS";
}
@engine hitorigurashi/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER BUSINESS";
}
@engine hitorigurashi/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER BUSINESS";
}

@preprocess {
	replace:'<!-- crosslanguage-k:show(.*?)/crosslanguage-k:show -->' '$1';
	replace:'UA-6770989-14' 'UA-6770989-18';
	replace:'<dd><a (.*?) class="crosslanguage-translate-jako">한국어</a></dd>' '<dd><a $1 class="crosslanguage-translate-jako cl-notranslate">한국어</a></dd>';
}

@postprocess {
	replace:'<input type="text" name="ess_string" placeholder=(.*?)>' '<input type="text" name="ess_string" placeholder="학교명또는학교명의일부를입력">';
}
