@preprocess {
	replace:'<div class="btn">(.*?)<a href=(.*?)>アクセス</a>(.*?)<a href=(.*?)>(.*?)</a>(.*?)</div>' '<div class="btn">$1<a href=$2>アクセス</a>$3<br style="display:none;"><a href=$4>$5</a>$6</div>';
	replace:'<div id="maintitle_sub">(.*?)<h2>(.*?)<span>(.*?)</span></h2>(.*?)</div>' '<div id="maintitle_sub">$1<h2>$2<br style="display:none;"><span>$3</span></h2>$4</div>';
	replace:'<div id="maintitle"(.*?)>(.*?)<h2>(.*?)<span>(.*?)</span></h2>(.*?)</div>' '<div id="maintitle"$1>$2<h2>$3<br style="display:none;"><span>$4</span></h2>$5</div>';
//	replace:'<div id="maintitle" class="title_checkup">(.*?)<h2>(.*?)<span>(.*?)</span></h2>(.*?)</div>' '<div id="maintitle" class="title_checkup">$1<h2>$2<br style="display:none;"><span>$3</span></h2>$4</div>';
}

@postprocess {
	replace:'<th><!--cltx-->Month</th>' '<th><!--cltx-->Mon</th>';
	replace:'<th><!--cltx-->Fire</th>' '<th><!--cltx-->Tue</th>';
	replace:'<th><!--cltx-->Water</th>' '<th><!--cltx-->Wed</th>';
	replace:'<th><!--cltx-->Tree</th>' '<th><!--cltx-->Thu</th>';
	replace:'<th><!--cltx-->Money</th>' '<th><!--cltx-->Fri</th>';
	replace:'<th><!--cltx-->Soil</th>' '<th><!--cltx-->Sat</th>';
	replace:'<th><!--cltx-->Day</th>' '<th><!--cltx-->Sun</th>';
}
