@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine hitorigurashi/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine hitorigurashi/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

@preprocess {
	replace:'<!-- crosslanguage-t:show(.*?)/crosslanguage-t:show -->' '$1';
	replace:'UA-6770989-14' 'UA-6770989-16';
}

@postprocess {
	replace:'<input type="text" name="ess_string" placeholder=(.*?)>' '<input type="text" name="ess_string" placeholder="請輸入學校全稱或部分學校名">';
}
