//　IE9でグローバルメニューのcltxコメントが解釈されてないための対応
ul[id="menu"] {
  attribute: cltx add 'exclude';
}

form[action="http://www.google.co.jp/search"] > input[type="hidden"][name#="[io]e"] {
  attribute: value set 'UTF-8';
}

@preprocess {
  replace:'<!-- crosslanguage:show(.*?)/crosslanguage:show -->' '$1';
}

div#corporatelogo ul.symbolmarks li a {
  attribute: href set 'javascript:void(0)';
  attribute: target delete;
}