@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT ART SYSTEM COMPUTER INTERNET";
}
@engine ibaraki/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT ART SYSTEM COMPUTER";
}
@engine ibaraki/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT ART SYSTEM COMPUTER";
}
