@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM MEDICAL";
}
@engine mc-pref-osaka/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER MEDICAL";
}
@engine mc-pref-osaka/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER MEDICAL";
}
