@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM CAR";
}
@engine synergy-rentacar/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER CAR";
}
@engine synergy-rentacar/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER CAR";
}
