@engine default {
  eid: CR-JE;
  dictionaries: "KANIE_DIC KANIE_TM CROSS_DIC CROSS_TM GOVT INTERNET";
}

@engine kanie/main {
  eid: CR-JE;
  dictionaries: "KANIE_DIC_MASTER KANIE_TM_MASTER GOVT";
}