@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM FASHION GOURMET INTERNET";
}
@engine hibiya-midtown/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM FASHION GOURMET";
}
@engine hibiya-midtown/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM FASHION GOURMET";
}

@preprocess{
	replace:'<!-- crosslanguage-e:show(.*?)/crosslanguage-e:show -->' '$1';
	replace:'<a href="(.*?)/jp/(.*?)"(.*?)>' '<a href="$1/en/$2"$3>';
	replace:'<form action="(.*?)/jp/(.*?)"(.*?)>' '<form action="$1/en/$2"$3>';
}

@postprocess{
	replace:'hibiya.tokyo-midtown.com/en/(.*?)" class="cl-norewrite">Japanese</a>' 'hibiya.tokyo-midtown.com/jp/$1" class="cl-norewrite">Japanese</a>';
}
