@engine default {
  eid: BR-JA.FR.EN;
  dictionaries: "NASUSHIOBARA_DIC NASUSHIOBARA_TM CROSS_DIC CROSS_TM GOVT TOURISM INTERNET";
}
@engine nasushiobara/main {
  eid: BR-JA.FR.EN;
  dictionaries: "NASUSHIOBARA_DIC_MASTER NASUSHIOBARA_TM_MASTER GOVT TOURISM";
}
@engine nasushiobara/cross {
  eid: BR-JA.FR.EN;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT TOURISM";
}