.language {
 attribute: clftx add 'exclude';
}

@preprocess {
 replace: '<a href="/specialtyshop">(.*?)&amp;(.*?)</a>' '<a href="/specialtyshop">$1<br style="display:none;">&amp;$2</a>';
}

#gHeader {
  attribute: style add 'margin-top: 31px;';
}

.mainImg {
  attribute: style add 'margin-top: 31px;';
}

#main > h2 {
 attribute: style add 'margin-top: 60px;';
}