@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine odakyu-sc/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine odakyu-sc/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

@preprocess {
	replace: 'UA-67697584-1' 'UA-67697584-4';
}
