@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM MECHA ELEC ARCHI";
}
@engine daido-it/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER MECHA ELEC ARCHI";
}
@engine daido-it/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER MECHA ELEC ARCHI";
}
