#site-translate-header-wrapper{
	width:100% !important;
	height:44px;
	position: fixed;
	top:0;
}

#site-translate-header-wrapper p{
	font-size:10px;
	line-height: 12px;
}

#site-translate-message{
	display:table-cell;
	height:44px;
	vertical-align:middle;
	width:5000px;
}

.btn-default {
    width: 170px;
}

.archive_list>li {
    display: block;
}

@media (min-width: 768px) {

	#fixed_menu>ul.nav1 {
	    width: auto;
	}

	#fixed_menu:lang(en) > ul.nav1 > li::after {
	    margin-left: 7px;
	    margin-right: 7px;
	}

	#fixed_menu:lang(en) > a {
	    padding: 16px 0;
	}

	#fixed_menu:lang(en) .contact_lang_box>li:last-child {
	    margin-left: 5px;
	}

	#header_line {
	    margin: 44px auto 0;
	}

	header.pc_fixed {
	    margin: 44px auto 0;
	}

	header.pc_fixed:lang(en) {
		font-size: 70%;
	}

	#header .nav1 {
	    margin-bottom: 0;
	    margin-top: 0;
	}

	#header .nav1>li {
	    font-size: 85%;
	}

	.gray_box_parent {
	    height: 184px;
	}

	.gray_box.privilege {
	    height: auto;
	}

	.profile {
	    height: auto;
	}

	.member {
	    height: 380px;
	}

	.member:last-child {
	    margin-top: 100px;
	    height: 380px;
	}

	.member2 {
	    height: 300px;
	}

	.member_parent {
	    margin-top: 100px;
	}

	.picture {
	    top: 130px;
	}

}

@media (max-width: 767.98px) {

	body {
	    margin: 44px auto 0;
	}

	header {
	    top: 44px;
	}

	.overlayMenuBtn {
	    top: 49px;
	}

	.gray_box_parent {
	    height: 294px;
	}

	#footer_nav:lang(en) {
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: -moz-flex;
	    display: flex;
	    -webkit-box-lines: multiple;
	    -moz-box-lines: multiple;
	    -webkit-flex-wrap: wrap;
	    -moz-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}

}
