@engine default {
  eid: CR-JK;
  dictionaries: "KOMAGANE_DIC KOMAGANE_TM CROSS_TM";
}
@engine komagane/main {
  eid: CR-JK;
  dictionaries: "KOMAGANE_DIC_MASTER KOMAGANE_TM_MASTER";
}
@engine komagane/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}