@postprocess{
	replace:'fill\\:url\\(https://hareza-ikebukuro\.com/#SVGID_1_\\)' 'fill\\:url\\(#SVGID_1_\\)';
}

// @RULESET
// URL #= //hareza-ikebukuro\.com/
@preprocess{
	replace:'<span class="en">(.*?)</span><span class="ja">(.*?)</span>' '<span class="en">$1</span><br style="display:none;"><span class="ja">$2</span>';
}

// @RULESET
// URL #= //hareza-ikebukuro\.com/office/.*
@preprocess{
	replace:'<h3 class="headings-panel"><small>(.*?)</small>(.*?)</h3>' '<h3 class="headings-panel"><small>$1</small><br style="display:none;">$2</h3>';
	replace:'<a (.*?)>(.*?)<small>(.*?)</small>(.*?)</a>' '<a $1>$2<small>$3</small><br style="display:none;">$4</a>';
	replace:'<h1 class="title-headings"><small>(.*?)</small>' '<h1 class="title-headings"><small>$1</small><br style="display:none;">';
}
