#site-translate-header-wrapper {
	display: none;
}

#site-translate-icp {
    width: auto;
}

.header_upper ul li:lang(en) {
    display: block;
}

.header_upper:lang(en) ul li.history a, .header_upper ul li.favorite a {
    line-height: 13px;
}

.fv_count:lang(en),
.his_count:lang(en),
.fv_count:lang(vi),
.his_count:lang(vi) {
    top: unset;
    left: unset;
}

.header_upper:lang(en) ul.left {
    padding: 0;
}

nav > a {
	height: auto;
}
