div.top-section > div > div > p {
	attribute:clftx add 'exclude';
}

p.bukken.osusume {
        attribute:clftx add 'exclude';
}

div.section.act6 > ul > li > p.bukken {
        attribute:clftx add 'exclude';
}

.costomer-pht {
        attribute:clftx add 'exclude';
}

div.check_section > div > ul > li {
        attribute:clftx add 'exclude';
}

div#contents > form#searchForm > p.center {
        attribute:clftx add 'exclude';
}

form#spotForm > div#spot-display > div.display-check {
        attribute:clftx add 'exclude';
}

@postprocess {
	replace:'/search/ajax/bkncnt/' 'http://www.japanhouse.com/search/ajax/bkncnt/';
	replace:'<a(.*?)href="/blog/entry(.*?)">' '<a$1 href="/blog/entry$2/">';
	replace:'<a(.*?)href="/blog/entry(.*?)//">' '<a$1 href="/blog/entry$2/">';
	replace:'<a(.*?)href="/blog/entry(.*?)///">' '<a$1 href="/blog/entry$2/">';
}

@preprocess {
	replace:'<span id="hisCnt">(.*?)</span>' '<span id="hisCnt">$1</span><br style="display:none;">';
	replace:'<span id="favoCnt">(.*?)</span>' '<span id="favoCnt">$1</span><br style="display:none;">';
	replace:'<a href="/area_b1/" class="area"><i class="fa fa-map-marker" aria-hidden="true"></i>(.*?)</a>' '<a href="/area_b1/" class="area"><i class="fa fa-map-marker" aria-hidden="true"></i><br style="display:none;">$1</a>';
}
