@engine default {
  eid: CR-JE;
  dictionaries: "TERILOGY_DIC TERILOGY_TM CROSS_DIC CROSS_TM IT SYSTEM COMPUTER INTERNET";
}
@engine terilogy/main {
  eid: CR-JE;
  dictionaries: "TERILOGY_DIC_MASTER TERILOGY_TM_MASTER IT SYSTEM COMPUTER";
}
@engine terilogy/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER IT SYSTEM COMPUTER";
}