@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine starcat/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine starcat/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@postprocess {
  replace: '<dt class="langJ"><span>“ú–{Œê</span></dt>' '<dt class="langJ"><a href="http://www.starcat.co.jp/">“ú–{Œê</a></dt>';
  replace: '<dd class="langK"><a href="http://www.starcat.co.jp.k.lh.hp.transer.com/">ŠØ‘Œê</a></dd>' '<dd class="langK"><span>ŠØ‘Œê</span></dd>';
}