@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine starcat/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine starcat/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@postprocess {
  replace: '<dt class="langJ"><!--cltx--><span>일본어</span></dt>' '<dt class="langJ"><!--cltx--><a href="http://www.starcat.co.jp/">일본어</a></dt>';
  replace: '<dd class="langK"><!--cltx--><a href="http://www.starcat.co.jp.k.lh.hp.transer.com/">한국어</a></dd>' '<dd class="langK"><!--cltx--><span>한국어</span></dd>';
}