@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine snowtomamu/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine snowtomamu/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

@preprocess {
replace: 'UA-5864174-1' 'UA-5864174-4';
}

// @RULESET
// URL = http://www.snowtomamu.jp/special/xmas/
@postprocess {
replace: '<p class="logo"><a href="/winter/">' '<p class="logo"><a href="http://www.snowtomamu.jp/winter/topics2015/index_cn.html" class="cl-norewrite">';
}

// @RULESET
// URL #= http://www\.snowtomamu\.jp/winter/
@postprocess {
replace: '<a href="/winter/reserve/index.php#risonare">' '<a href="/winter/reserve_cn/index.php#risonare" class="cl-norewrite">';
replace: '<a href="/winter/reserve/index.php#tower">' '<a href="/winter/reserve_cn/index.php#tower" class="cl-norewrite">';
}