@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine ginza6/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine ginza6/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

/* Googleアナリティクス */
@preprocess {
	replace: 'UA-54523459-1' 'UA-54523459-7';
}
