@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine ginza6/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine ginza6/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

/* Googleアナリティクス */
@preprocess {
	replace: 'UA-54523459-1' 'UA-54523459-7';
}

@postprocess {
	replace: '‘4WD(.*?)이번 「주상」으로 넘을 수 있을 것 같았습니다」.' '‘4WD 차량으로 이동하면서 싣고 있던 작은 텐트를 치고 안에서 자거나 하면서 사하라 사막을 종단했습니다. 지금도 잊을 수 없는 추억입니다. 오늘은 이곳, 내일은 저곳에서 지내는 유목민의 주거 방식은 건축가에게 있어서 가장 큰 동경의 대상이며, 아무리 건축으로 재미있게 하더라도 그 자리에서 움직일 수 없다는 딜레마를 이번 “쥬바코”를 통해 극복할 수 있을 것 같았습니다’.';
	replace: '「 나는 신수를 그리는 것이 많습니다만(.*?)…… \\(웃음\\).' '‘‘저는 신성한 동물을 그리는 경우가 많습니다만, 우연히 “OKANO”의 회사 캐릭터가 봉황이라서 봉황은 신성한 동물이기도 하니까……라는 흐름에서 그대로 봉황이 모티프가 되었습니다. 다만, 이번에 그린 것은 봉황이 되기 전의 새끼 봉황입니다. 꼬리 날개만은 제대로 자라고 있어 세포 분열이 시작되었습니다만, 아직 날개는 펴지 못했습니다. 아티스트로서 아직까지 미숙한 저처럼 한창 진화 중인 새끼 봉황입니다. 색과 관련해서 긴자는 네온 거리의 이미지가 있는데, 많은 사람들의 색으로 물드는 거리가 되었으면 하는 마음도 담았습니다. 유젠 염색의 장인 선생님께 색 배합법을 배워 제가 직접 물감도 만들었습니다. 평소 사용하는 붓이 아닌 전용 특수 솔을 사용하는 것도 즐거웠습니다’라고 말하는 코마츠 씨. 참고로 이번 스카프는 코마츠 씨의 이름을 따서 ‘美しい羽(아름다운 날개) 02’로 명명했습니다. ‘01’은 2016년에 일본에서 개최된 G7 정상 회담의 관계 각료 회의 중 하나인 ‘나가노현 카루이자와 국교 장관 회의’에서 각국 장관에게 기증된 숄(shawl)이며, ‘02’는 시리즈 제2탄에 해당됩니다. ‘“01”에서는 그림만 그리고 나머지는 유젠 염색 장인에게 맡겼습니다만, 원단 선정까지 참여한 것은 GINZA SIX의 한정품이 처음입니다. 베이스를 검게 염색한 것은 네온 거리=밤을 표현한 것도 있습니다만, 샤프한 느낌을 내고 싶었던 것도 있습니다. OKANO와는 “99”까지 함께하고 싶다고 말했습니다만, 실현되면 마지막은 어떤 봉황이 될지……\\(웃음\\)’';
	replace: 'GINZA SIX에서는 그 밖에도 HANGLOOSE(.*?)일본의 마음이라고 말할 수 있을 것이다.' 'GINZA SIX에서는 그 밖에도 HANGLOOSE와 새로 개발한 초발수 가공의 신작 데님을 비롯해 일부 여성 의류 등 오픈 초반에는 브랜드에서 첫선을 보이는 상품만 전개합니다. 팬은 물론, 해외에서 온 고객층에게도 일본의 장인 정신을 전하는 발신 거점이 됩니다. 참고로 스토어를 방문했을 때 확인해 주었으면 하는 것이 바로 태그입니다. 집어 든 것이 이번의 한정 컬렉션이라면 거기에 ‘HANGLOOSE’라는 공장명을 발견할 수 있을 것입니다. 데님 가공이 코지마라면, 봉제는 미야기현 케센누마, 울은 아이치현의 비슈, 셔츠는 시즈오카현의 하마마츠와 효고현의 니시와키……등 일본 각지의 공장을 열심히 다니면서 장인의 기술과 기개를 직접 접해 온 야츠하시 씨의 그런 감사의 증거도 일본의 마음이라고 할 수 있을 것입니다.';
	replace: '두 번째는 다양한 스토리 보드를 만들어 시뮬레이션함으로써 공간 속에서 사람의 움직임을 디자인하는 것입니다.(.*?)부분은 건축가와의 컬래버레이션이 필요한 부분이기도 합니다.''두 번째는 다양한 스토리 보드를 만들어 시뮬레이션함으로써 공간 속에서 사람의 움직임을 디자인하는 것입니다. 어떤 장소에서 어떤 장소까지 몇 분 걸리고, 그 경우에 엘리베이터가 1대 더 필요하지 않은가, 이쯤에서 빛이 필요하니까 오픈형 천장 구조로 할까…. 공간의 에너지가 자연스럽게 순환하여 인간의 감정이나 신체 감각에 대해 스트레스가 없는 공간이어야 한다는 것. 이 부분은 건축가와의 컬래버레이션이 필요한 부분이기도 합니다.';
	replace: '그런 일본식의 럭셔리를 구현하여(.*?)만드는 것을 어떻게 보여 나갈 것인가.''그 결과, 이번 로고도 ‘이렇게 심플해 돼?’ 라는 것이 되었습니다. 간결하기 때문에 럭셔리나 패션뿐만 아니라 전통문화와 하이테크놀로지, 컨템퍼러리 아트 등 모든 씬에서 함께할 수 있는 것이 되었다고 생각합니다.';
	replace: '참고로 메인 로고로서 ‘GSIX’가 서 있습니다만,(.*?)‘GSIX’라는 단축형을 제안했습니다.' '참고로 메인 로고로서 ‘GSIX’가 서 있습니다만, 당초의 과제는 ‘GINZA SIX로 만들어 줬으면 좋겠다’는 것이었습니다. 다만 저는 1983년에 일본 디자인 센터에 입사한 후 벌써 33년이나 긴자가 일터이고, 빌딩이든 점포이든 모두 긴자라는 이름이 붙은 곳뿐이구나 싶어 좀 식상해 있었던 터라…\\(웃음\\). 그래서 ‘GSIX’라는 단축형을 제안했습니다.';
	replace:'<p class="addres"><!--cltx-->〒(.*?)</p>' '<p class="addres"><!--cltx-->우104-0061 도쿄도 츄오구 긴자 6-10-1</p>';
	replace:'<a href="(.*?)/shops" class="view_detail">(.*?)</a>' '<a href="$1/shops" class="view_detail">매장 안내</a>';
	replace:'<a href="(.*?)/facilities" class="view_detail">(.*?)</a>' '<a href="$1/shops" class="view_detail">시설 안내</a>';
}
