/* 翻訳しない */
div#metaslider_container_111,
div.wp-video-shortcode,
div.wp-video {
	attribute: cltx add 'exclude';
}

/* ヘッダーメニュー */
header > .header_description {
	attribute: style add 'margin: 48px auto 0;';
}

/* 左メニューテキスト一位置修正 */
.side_nav_ttl {
	attribute: style add 'text-align: left;';
}

/* トップページ　ボックスタイトルフォントサイズ修正 */
.m-pannel-ttl {
	attribute: style add 'font-size: 100%;';
}

/* トップページ　電話案内ボックス説明文フォントサイズ修正 */
.m-pannel-txt {
	attribute: style add 'font-size: 90%;';
}
