@engine default {
  eid: BR-JA.ES.EN;
}

form[name="kataJump"] > select[name="linkselectkata"] option {
  attribute: value rewrite "@RewriteRegisteredDomain";
}

form[name="colorJump"] > select[name="linkselectcolor"] option {
  attribute: value rewrite "@RewriteRegisteredDomain";
}
