@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION GOURMET INTERNET";
}
@engine foris/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION GOURMET";
}
@engine foris/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION GOURMET";
}

@preprocess {
	replace:'UA-478564-22' 'UA-148633582-1';
	replace:'<!-- crosslanguage-e:show(.*?)/crosslanguage-e:show -->' '$1';
}
