#site-translate-header-wrapper{
	width: 100% !important;
	height:auto;
	box-sizing: border-box;
}

#site-translate-header-wrapper p{
	line-height: 12px;
}

#site-translate-message{
	display:block;	
	vertical-align:middle;
	padding: 3px 0;
	text-align: center;
}

.language_menu {
    top: 11%;
    right: 8px;
}

.main-navigation a {
    font-size: 82%;
}

.language_menu > li {
    width: 180px;
}
