@engine default {
  eid: MS-JAID;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine test-crosslanguage/main {
  eid: MS-JAID;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine test-crosslanguage/cross {
  eid: MS-JAID;
  dictionaries: "CROSS_TM_MASTER";
}
