@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOURMET FASHION INTERNET";
}
@engine park-funabashi/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOURMET FASHION";
}
@engine park-funabashi/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOURMET FASHION";
}

@postprocess {
 replace: '<table width="738" height="30" border="0" align="center" cellpadding="2" cellspacing="0">' '<table width="1000" height="30" border="0" align="center" cellpadding="2" cellspacing="0">';
 replace: '<td width="612" align="right" background="img/header_bg.gif" clftx="exclude">' '<td width="700" align="right" background="img/header_bg.gif" clftx="exclude">';
 replace: '<td width="118" nowrap background="img/header_bg.gif" clftx="exclude">' '<td width="65" nowrap background="img/header_bg.gif" clftx="exclude">';
}

@preprocess {
 replace: '&nbsp;(.*?)<font color="#ff0000">' '&nbsp;$1<br style="display:none;"><font color="#ff0000">';
}

// @RULESET
// URL #= http://www\.park-funabashi\.or\.jp/cgi/sche14\.cgi.*
@preprocess {
 replace: '<td height=20 width=160 style="padding-left: 10px;">(.*?)<font color="#ff0000">' '<td height=20 width=160 style="padding-left: 10px;">$1<br style="display:none;"><font color="#ff0000"> ';
}

// @RULESET
// URL #= http://www\.park-funabashi\.or\.jp/cgi/sche14_K\.cgi.*
@preprocess {
 replace: '<td height=20>　 (.*?)<font color="#ff0000">(.*?)</font>' '<td height=20>　 $1<br style="display:none;"><font color="#ff0000"> $2</font>';
}

// @RULESET
// URL = http://www.park-funabashi.or.jp/bay/bshio.htm
@postprocess {
 replace: '<td width="590" height="45" clftx="exclude"><!--cltx--><font color="#ff0000" size="-2">(.*?), (.*?)\. (.*?)</font><font size="-2">,</font> (.*?), (.*?) <font color="#ff0000" size="-2">(.*?), (.*?)\. (.*?)\.　<br>' '<td width="590" height="45" clftx="exclude"><!--cltx--><font color="#ff0000" size="-2">$1, $2. $3,$4, $5 $6, $7. $8.　</font><br>'; 
}
