.description {
 attribute: style add 'font-size: 11px;';
}

span.news_p {
  text-flow: break;
}

ol.flex-control-paging {
 attribute: cltx add 'exclude';
}

.slides {
 attribute: cltx add 'exclude';
}

.fla_area2 {
 attribute: clftx add 'exclude';
}