@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOVT INTERNET";
}
@engine starcat/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOVT";
}
@engine starcat/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOVT";
}

@postprocess {
  replace: '<dt class="langJ"><!--cltx--><span>Japanese</span></dt>' '<dt class="langJ"><!--cltx--><a href="http://www.starcat.co.jp/">Japanese</a></dt>';
  replace: '<dd class="langE"><!--cltx--><a href="http://www.starcat.co.jp.e.lh.hp.transer.com/">English</a></dd>' '<dd class="langE"><!--cltx--><span>English</span></dd>';
  replace: '<span>(0|([1-9][0-9]{0,2}(,[0-9]{3})*?)) ye</span>n' '<span>$1</span> yen';
}