@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOVT INTERNET";
}
@engine starcat/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOVT";
}
@engine starcat/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOVT";
}

@postprocess {
  replace: '<dt class="langJ"><span>“ú–{Œê</span></dt>' '<dt class="langJ"><a href="http://www.starcat.co.jp/">“ú–{Œê</a></dt>';
  replace: '<dd class="langE"><a href="http://www.starcat.co.jp.e.lh.hp.transer.com/">‰pŒê</a></dd>' '<dd class="langE"><span>‰pŒê</span></dd>';
}