@engine default {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine saitama-ina/main {
  eid: MS-JAVI;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine saitama-ina/cross {
  eid: MS-JAVI;
  dictionaries: "CROSS_TM_MASTER";
}
