@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOURMET TOURISM BEAUTY INTERNET";
}
@engine kamogata/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOURMET TOURISM BEAUTY";
}
@engine kamogata/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOURMET TOURISM BEAUTY";
}

div.menu02 > a {
  attribute: style add "font-size:0px;";
}

div.menu03 > a {
    attribute: style add "font-size:0px;";
}