@engine default {
  eid: BR-JA.DE.EN;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT TOURISM GOURMET";
}
@engine demo/main {
  eid: BR-JA.DE.EN;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT TOURISM GOURMET";
}
@engine demo/cross {
  eid: BR-JA.DE.EN;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT TOURISM GOURMET";
}
