@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM LAW";
}
@engine pref-gunma/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER LAW";
}
@engine pref-gunma/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER LAW";
}
