#site-translate-header-wrapper {
	width: 100% !important;
    box-sizing: border-box;
}

#site-translate-header-wrapper p {
	font-size: 10px;
    line-height: 12px;
}

#site-translate-message {
	padding: 2px;
}

.area_box {
    margin-left: 30px;
}

.area_box li {
    width: 125px;
}

@media screen and (max-width: 767px) {

	#site-translate-header-wrapper{
		width: 100% !important;
		box-sizing: border-box;
		position: fixed;
		top: 0;
		height: 44px;
	}

	#site-translate-message{
		padding: 2px;
	}

	#site-translate-header-wrapper p{
		font-size: 10px;
		line-height: 12px;
	}

	body {
	    top: 44px !important;
	}

	#header {
		top: 44px;
	}

}
