body {
attribute:style add 'margin-top:44px;';
}

// @RULESET
// URL #= //www\.jrtk\.jp/hibiya-okuroji/.*
@preprocess {
	replace:'<span class="small">(.*?)</span>' '<span class="small">$1</span><br style="display:none;">';
}

// @RULESET
// URL #= //www.jrtk.jp/.*
// URL #= //jrtk.jr.modworks.cc/.*
@preprocess {
	replace:'<span class="accessInfoFaTtl">(.*?)</span>' '<span class="accessInfoFaTtl">$1</span><br style="display:none;">';
}

// @RULESET
// URL #= //www.jrtk.jp/cotoniorgarden/shinkawasaki/.*
@preprocess {
replace:'<span class="font-s">(.*?)</span>' '<br style="display:none;"><span class="font-s">$1</span><br style="display:none;">';
replace:'<p><span>(.*?)</span>(.*?)</p>' '<p><span>$1</span><br style="display:none;">$2</p>';
replace:'<h3 class="shop">(.*?)<span>(.*?)</span></h3>' '<h3 class="shop">$1<br style="display:none;"><span>$2</span></h3>';
replace:'<p>(.*?)<a (.*?)class="blank">(.*?)</a></p>' '<p>$1<br style="display:none;"><a $2class="blank">$3</a><br style="display:none;"></p>';
}

// @RULESET
// URL = http://www.jrtk.jp/company/jigyou.html
div#jigyou-left-box > ol > li > a {
text-flow: break;
}

// @RULESET
// URL #= http://www.jrtk.jp/search/.*
form {
attribute: clftx add 'exclude';
}


// @RULESET
// URL = http://beans.jrtk.jp/
@postprocess {
replace:'<!--cltx-->Takasaki Line, Tohoku Main Line "Akabane Station" direct connection' '<!--cltx-->Takasaki Line, Tohoku Main Line<br>"Akabane Station" direct connection';
replace:'<span class="shop_text">JR Joban Line "Kameari Station" direct connection' '<span class="shop_text">JR Joban Line "Kameari Station"<br>direct connection';
replace:'<span class="shop_text">JR Saikyo Line "Toda-Koen Station" direct connection' '<span class="shop_text">JR Saikyo Line "Toda-Koen Station"<br>direct connection';
replace:'<span class="shop_text">JR Saikyo Line, Musashino Line "Musashi-Urawa Station" direct connection' '<span class="shop_text">JR Saikyo Line, Musashino Line<br>"Musashi-Urawa Station" direct connection';
replace:'<span class="shop_text">JR Saikyo Line "Yono-Hommachi Station" direct connection' '<span class="shop_text">JR Saikyo Line<br>"Yono-Hommachi Station" direct <br>connection';
replace:'<span class="shop_text">JR Keihin-Tohoku Line "Nishi-Kawaguchi Station" direct connection' '<span class="shop_text">JR Keihin-Tohoku Line <br>"Nishi-Kawaguchi Station" direct connection';
replace:'<span class="shop_text">JR Nanbu Line "Musashi-Nakahara Station" direct connection' '<span class="shop_text">JR Nanbu Line "Musashi-Nakahara Station" <br>direct connection';
replace:'<span class="shop_text">JR Nanbu Line "Musashi-Shinjo Station" direct connection' '<span class="shop_text">JR Nanbu Line "Musashi-Shinjo Station"<br>direct connection';
replace:'<span class="shop_text">JR Yokohama Line "Nakayama Station" direct connection' '<span class="shop_text">JR Yokohama Line<br>"Nakayama Station" direct connection';
replace:'<span class="shop_text">JR Keihin-Tohoku Line, Negishi Line "Shin-Sugita Station" direct connection</span>' '<span class="shop_text">JR Keihin-Tohoku Line, Negishi Line <br>"Shin-Sugita Station" direct connection</span>';
replace:'<p class="page_text only_pc"><!--cltx-->Keihin-Tohoku Line, Saikyo Line, Takasaki Line, Tohoku Main Line, Joban Line, Musashino Line, Nanbu Line, Yokohama Line, Negishi Line, Yokosuka Line<br><!--cltx-->We wait with shopping center beans of station direct connection' '<p class="page_text only_pc"><!--cltx-->Keihin-Tohoku Line, Saikyo Line, Takasaki Line, Tohoku Main Line, Joban Line, Musashino Line, Nanbu Line, Yokohama Line, Negishi Line, <br>Yokosuka Line<!--cltx-->We wait with shopping center beans of station direct connection';
replace:'<span class="shop_text">JR Saikyo Line "Toda Station" direct connection' '<span class="shop_text">JR Saikyo Line <br>"Toda Station" direct connection';
replace:'<span class="shop_text">JR Yokosuka Line "Hodogaya Station" direct connection' '<span class="shop_text">JR Yokosuka Line<br>"Hodogaya Station" direct connection';
}
