@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT";
}
@engine housekihiroba/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT";
}
@engine housekihiroba/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT";
}

@preprocess {
  replace: "'UA-2642328-5'" "'UA-2642328-10'";
  replace: "'housekihiroba\.jp','housekihiroba\.u-s\.co\.jp'" "'housekihiroba.jp.t.nh.hp.transer.com','housekihiroba.u-s.co.jp.t.nh.hp.transer.com'";
  replace: "\\['housekihiroba\.u-s\.co\.jp'\\]" "['housekihiroba.u-s.co.jp.t.nh.hp.transer.com']";
  replace: "\\['housekihiroba\.jp'\\]" "['housekihiroba.jp.t.nh.hp.transer.com']";
}

@preprocess {
  replace:'<!-- crosslanguage-c:show(.*?)/crosslanguage-c:show -->' '$1'; }
