@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine crosslanguage-multi/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine crosslanguage-multi/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

div.gridContainer > div#div1 > section > div.idx_02 > ul.package_list_w > li > h4.package_tit_w {
	attribute: style add 'min-height:60px !important;';
}
