@engine default {
  eid: CR-JK;
  dictionaries: "YAMAGATAKANKO_DIC YAMAGATAKANKO_TM CROSS_TM";
}
@engine yamagatakanko/main {
  eid: CR-JK;
  dictionaries: "YAMAGATAKANKO_DIC_MASTER YAMAGATAKANKO_TM_MASTER";
}
@engine yamagatakanko/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}


// @RULESET
// URL #= http://(www\.)?yamagatakanko\.com/$
div#honyaku {
  attribute: style delete;
}
div#honyaku a[href] {
  attribute: href set 'http://data.yamagatakanko.com/book/korean/';
}
