@engine default {
  eid: CR-JC;
  dictionaries: "AEONMALL_TM AEONMALL_DIC CROSS_DIC CROSS_TM";
}

body {
  attribute: lang add 'zh';
}

a[href$="/shopguide/floorguide/index.html"] {
  attribute: href rewrite "@RewriteFloorGuide";
}

@rewrite RewriteFloorGuide {
  if (absurl matches "(http://narita-aeonmall\\.com/shopguide)/floorguide/(.+)") return "{$1}/floorguide_cn/{$2}";
}
