@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOVT GOURMET INTERNET";
}
@engine yomiuriland/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOVT GOURMET";
}
@engine yomiuriland/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOVT GOURMET";
}

li.nav01 > a {
 attribute: style add 'letter-spacing: -1px; ';
}

li.nav02 > a {
 attribute: style add 'letter-spacing: -1px; ';
}

li.nav03 > a {
 attribute: style add 'letter-spacing: -1px; ';
}

li.nav04 > a {
 attribute: style add 'letter-spacing: -2px; ';
}

li.nav05 > a {
 attribute: style add 'letter-spacing: -1px; ';
}