@engine default {
  eid: CR-JCT;
  dictionaries: "SHIROYAMA-G_DIC SHIROYAMA-G_TM CROSS_DIC CROSS_TM";
}

@engine shiroyama-g/main {
  eid: CR-JCT;
  dictionaries: "SHIROYAMA-G_DIC_MASTER SHIROYAMA-G_TM_MASTER";
}
