.nortif_txt, #add_waku, .recruit, .gurunavi h1 a, .tenpo a, .tenpo h1, .thr_blocks, .thr_blocks a {
  attribute: style add 'height: auto;';
}

.wrap a, #wrapp a {
  attribute: style add 'text-indent: -350px;';
}

body {
  attribute: style add 'background-position-y: 27px;';
}

@preprocess {
  replace: '(http://)(kamogata\.com)' '$1www.$2';
}

@postprocess {
replace:'style="text-indent: -350px;' '';
}