#site-translate-header-wrapper{
	width:100% !important;
	height:44px;
	position: fixed;
	top:0;
	z-index: 99999;
}

#site-translate-header-wrapper p {
	font-size:10px;
	line-height: 12px;
}

#site-translate-message{
	display:
	table-cell;
	height:44px;
	vertical-align:middle;
	width:5000px;
    padding: 0;
}

body:lang(en),
body:lang(pt){
	word-break: normal;
}

header {
	margin: 44px auto 0;
}

.mobile_menu {
    top: 57px !important;
}

.fixed {
    top: 44px !important;
}

.storeList ul li p {
	padding:0 5%;
}

.shopInfo .clm dl dt {
	width: auto;
	margin: 0 2% 0 0;
}

.recommended__area {
    width: 990px;
}

.header__body.drawer-navbar--fixed {
    top: 44px !important;
}

.drawer #sp-side {
    margin: 44px auto 0;
}

@media screen and (min-width: 769px) {

	.header__nav__list li:nth-of-type(2) a,
	.header__nav__list li:nth-of-type(3) a {
	    width: 140px;
	}

	.header__nav__list li:nth-of-type(4) a,
	.header__nav__list li:nth-of-type(5) a,
	.header__nav__list li:nth-of-type(7) a {
	    width: 180px;
	}

	.header__nav__list li:nth-of-type(8) a {
	    width: 110px;
	}

	.md-search__menu .parent-menu:first-child {
	    width: auto;
	}

	.md-search__menu .parent-menu {
	    width: auto;
	}

	.footer__nav li {
	    width: 23%;
	    margin: 0 1% 0 0;
	}

}

@media screen and (max-width: 768px) {

	#site-translate-header-wrapper p {
		font-size: 80%;
	}

	.headerLogo h1 {
		font-size: 9px !important;
	}

	.drawerNav { 
		top: 124px !important;
	}

	.header__body {
		top: 74px !important;
	}
	
	.footerNav .footerClm {
		max-width: 95% !important;
	}

	.footerLink ul li:lang(en){
		font-size: 95%;
	}

}
