#site-translate-header-wrapper{
	width:auto!important;
	border: dotted 2px #FF0000;
}

#site-translate-header-wrapper p{
	box-sizing: border-box;
	padding: 10px;
	color: red;
	font-weight: bold;
}

body:lang(en) {
	word-break: normal;
}

.storeList ul li p {
	padding:0 5%;
}

.shopInfo .clm dl dt {
	width: auto;
	margin: 0 2% 0 0;
}

.recommended__area {
    width: 990px;
}

@media screen and (min-width: 769px) {

	.header__nav__list li:nth-of-type(2) a,
	.header__nav__list li:nth-of-type(3) a {
	    width: 140px;
	}

	.header__nav__list li:nth-of-type(4) a,
	.header__nav__list li:nth-of-type(5) a,
	.header__nav__list li:nth-of-type(7) a {
	    width: 180px;
	}

	.header__nav__list li:nth-of-type(8) a {
	    width: 110px;
	}

	.md-search__menu .parent-menu:first-child {
	    width: auto;
	}

	.md-search__menu .parent-menu {
	    width: auto;
	}

	.footer__nav li {
	    width: 23%;
	    margin: 0 1% 0 0;
	}

}

@media screen and (max-width: 767px) {

	#site-translate-header-wrapper p {
		font-size: 80%;
	}

	.headerLogo h1 {
		font-size: 9px !important;
	}

	.drawerNav { 
		top: 124px !important;
	}

	.footerNav .footerClm {
		max-width: 95% !important;
	}

	.footerLink ul li:lang(en){
		font-size: 95%;
	}

}
