.search_03 > .child-menu > ul > li,
.floor-num,
.scroll {
	attribute: cltx add 'exclude';
}

@preprocess {
	replace:'<!-- crosslanguage:show(.*?)/crosslanguage:show -->' '$1';
}

// @RULESET
// URL #= //mitsui-shopping-park\.com/urban/muromachi/.*
// URL #= //mitsui-shopping-park\.com/urban/mitsuitower/.*
@preprocess{
	replace:'<li><a href="https://mitsui-shopping-park.com/urban/coredo-muromachi/e/(.*?)"(.*?)>' '<li><a href="https://mitsui-shopping-park.com/urban/coredo-muromachi/e/$1"$2 class="cl-norewrite">';
	replace:'<li><a href="https://mitsui-shopping-park.com/urban/coredo-muromachi/c/(.*?)"(.*?)>' '<li><a href="https://mitsui-shopping-park.com/urban/coredo-muromachi/c/$1"$2 class="cl-norewrite">';
	replace:'<li><a href="https://mitsui-shopping-park.com/urban/coredo-muromachi/t/(.*?)"(.*?)>' '<li><a href="https://mitsui-shopping-park.com/urban/coredo-muromachi/t/$1"$2 class="cl-norewrite">';
	replace:'<li><a href="https://mitsui-shopping-park.com/urban/coredo-muromachi/k/(.*?)"(.*?)>' '<li><a href="https://mitsui-shopping-park.com/urban/coredo-muromachi/k/$1"$2 class="cl-norewrite">';
}
