@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine jcom/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine jcom/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@preprocess {
	replace:'href=\"//c.myjcom.jp(.*?)\"' 'href=\"http://c.myjcom.jp$1\"';
	replace:'href=\"//cs.myjcom.jp(.*?)\"' 'href=\"http://cs.myjcom.jp$1\"';
	replace:'href=\"//notices.jcom.co.jp(.*?)\"' 'href=\"http://notices.jcom.co.jp$1\"';
	replace:'href=\"//information.myjcom.jp(.*?)\"' 'href=\"http://information.myjcom.jp$1\"';
}
