@engine default {
  eid: BR-PR-JA.FR.EN;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM ANIME ENTER ART";
}
@engine nijigennomori/main {
  eid: BR-PR-JA.FR.EN;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER ANIME ENTER ART";
}
@engine nijigennomori/cross {
  eid: BR-PR-JA.FR.EN;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER ANIME ENTER ART";
}
