#main-contents > div > div > .flesh-wrap > .bkDetailMap > .map,
#main-contents > .pid2187556,
#main-contents > #company_branch1 > .flesh-wrap {
	attribute: cltx add 'exclude';
}

#left-contents-wrap > div > div > div > .col-1 > div > .pun102_style > .text-wrap > div > .mce-item-table > tbody > tr > td > span > strong {
	attribute: style add 'font-size: 11pt;';
}

@preprocess {
/* 件数 */
	replace:'<span class="noBundle"><span class="text-target">(.*?)</span><span class="count">(.*?)</span>' '<span class="noBundle"><span class="text-target">$1</span><br style="display:none;"><span class="count">$2</span><br style="display:none;">';
}

@preprocess {
/* 会員登録であと@件表示 */
	replace:'<span class="kaiin"><span class="text-target">\\(</span><a href="/kaiin_merit/" target="_blank"><span class="text-target">(.*?)</span><span class="count">(.*?)</span>' '<span class="kaiin"><span class="text-target">\\(</span><a href="/kaiin_merit/" target="_blank"><span class="text-target">$1</span><br style="display:none;"><span class="count">$2</span><br style="display:none;">';
}

@preprocess {
	replace:'<span class="sales-time-title">定休日</span>' '<br style="display:none;"><span class="sales-time-title">定休日</span><br style="display:none;">';
}
