@engine default {
  eid: CR-JC;
  dictionaries: "TAIKI_DIC TAIKI_TM CROSS_DIC CROSS_TM SYSTEM AERO";
}

@engine taiki/main {
  eid: CR-JC;
  dictionaries: "TAIKI_DIC_MASTER TAIKI_TM_MASTER SYSTEM AERO";
}