@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM MECHA ELEC";
}
@engine daido-it/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER MECHA ELEC";
}
@engine daido-it/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER MECHA ELEC";
}

body {
  attribute: lang add 'zh';
}
