@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM IT SYSTEM BUSINESS INTERNET";
}
@engine salvatore/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM IT SYSTEM BUSINESS";
}
@engine salvatore/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM IT SYSTEM BUSINESS";
}

@postprocess {
  replace:'<p class="restbtn"><!--cltx-->We <a href="/delivery.html">look' '<p class="restbtn"><!--cltx--><a href="/delivery.html">We look';
  replace:'<a href="/about_pizza/qualita.html">' '<a style="font-size: 10px;" href="/about_pizza/qualita.html">';
}

div.pager {
  attribute: cltx add 'exclude';
}

@preprocess {
  replace:'前へ' 'Forward';
  replace:'次へ' 'To next';
}

@preprocess {
	replace: 'UA-1514395-4' 'UA-1514395-25';
}
