@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM BEAUTY SYSTEM MEDICAL BIOL INTERNET";
}
@engine kasugai-reha/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER BEAUTY SYSTEM MEDICAL BIOL";
}
@engine kasugai-reha/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER BEAUTY SYSTEM MEDICAL BIOL";
}
