@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine yokohama-mores/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine yokohama-mores/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

@postprocess {
  replace: '(<[^<]*#footer_container[^>]*>)' '$1<p style="text-align:center;margin-bottom:6px" cltx>&#51060;&#54168;&#51060;&#51648;&#45716;&#44592;&#44228;&#48264;&#50669;&#51004;&#47196;&#48264;&#50669;&#46104;&#44256;&#51080;&#49845;&#45768;&#45796;&#46;&#48264;&#50669;&#44208;&#44284;&#44032;&#49;&#48;&#48;&#37;&#51221;&#54869;&#54616;&#45796;&#44256;&#45716;&#54624;&#49688;&#50630;&#44592;&#50640;&#51060;&#54644;&#54616;&#49884;&#44592;&#48148;&#46989;&#45768;&#45796;</p>';
}
