@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM FASHION GOURMET INTERNET";
}
@engine matsuzakaya/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM FASHION GOURMET";
}
@engine matsuzakaya/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM FASHION GOURMET";
}

@preprocess {
  replace:'<!-- crosslanguage-e:show(.*?)/crosslanguage-e:show -->' '$1';
}

// @RULESET
// URL #=//www.matsuzakaya.co.jp/nagoya/
// URL #=//www.matsuzakaya.co.jp/nagoya/index.html
@postprocess {
//  replace: '<script type="text/javascript" src="/nagoya/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="https://dmdepart.jp.e.me.hp.transer.com/flnews/e/" target="_blank"><img width="730" height="349" alt="" src="https://dmdepart.jp/fl/images/storemain_pc_e.jpg"></a></p>';
}

// @RULESET
// URL #=//www.matsuzakaya.co.jp/ueno/
// URL #=//www.matsuzakaya.co.jp/ueno/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/ueno/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="https://dmdepart.jp.e.me.hp.transer.com/flnews/e/" target="_blank"><img width="730" height="349" alt="" src="https://dmdepart.jp/fl/images/storemain_pc_e.jpg"></a></p>';
}

// @RULESET
// URL #=//www.matsuzakaya.co.jp/shizuoka/
// URL #=//www.matsuzakaya.co.jp/shizuoka/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/shizuoka/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<div id="mainContent">)' '$1<p class="aC" cltx="exclude"><a href="https://dmdepart.jp.e.me.hp.transer.com/flnews/e/" target="_blank"><img width="730" height="349" alt="" src="https://dmdepart.jp/fl/images/storemain_pc_e.jpg"></a></p>';
}

// @RULESET
// URL #=//www.matsuzakaya.co.jp/smp/nagoya/
// URL #=//www.matsuzakaya.co.jp/smp/nagoya/index.html
@postprocess {
//  replace: '<script type="text/javascript" src="/smp/nagoya/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="https://dmdepart.jp.e.me.hp.transer.com/flnews/e/" target="_blank"><img width="300" alt="" src="https://dmdepart.jp/fl/images/storemain_smp_e.jpg"></a></p>$1';
}

// @RULESET
// URL #=//www.matsuzakaya.co.jp/smp/ueno/
// URL #=//www.matsuzakaya.co.jp/smp/ueno/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/ueno/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="https://dmdepart.jp.e.me.hp.transer.com/flnews/e/" target="_blank"><img width="300" alt="" src="https://dmdepart.jp/fl/images/storemain_smp_e.jpg"></a></p>$1';
}

// @RULESET
// URL #=//www.matsuzakaya.co.jp/smp/shizuoka/
// URL #=//www.matsuzakaya.co.jp/smp/shizuoka/index.html
@postprocess {
  replace: '<script type="text/javascript" src="/smp/shizuoka/js/galleryImg\.js" charset="UTF-8"></script>' '';
  replace: '<script type="text/javascript" src="/common/js/mainImagesGallery\.js"></script>' '';
  replace: '(<nav class="shopInfoNav">)' '<p class="aC mt15 mb15" cltx="exclude"><a href="https://dmdepart.jp.e.me.hp.transer.com/flnews/e/" target="_blank"><img width="300" alt="" src="https://dmdepart.jp/fl/images/storemain_smp_e.jpg"></a></p>$1';
}

// @RULESET
// URL #=//dmdepart.jp/fl/
// URL #=//dmdepart.jp/fl/smp/
@preprocess {
  replace: "www\.daimaru\.co\.jp/" "www.daimaru.co.jp.e.md.hp.transer.com/";
}

// @RULESET
// URL #=//dmdepart.jp/flnews/
@preprocess {
  replace: '(<meta http-equiv="refresh" content="3 ; URL=)s(/index.html">)' '$1e$2';
}