@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM";
}
@engine nsk-eki/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine nsk-eki/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER";
}

// @RULESET
// URL #= //www\.nsk-eki\.com/asty/.*
// URL #= //www\.nsk-eki\.com/chum/.*
@postprocess{
	replace:'영업시간：' '영업시간';
}
