@engine default {
  eid: CR-JK;
  dictionaries: "HIROSHIMA_DIC HIROSHIMA_TM CROSS_TM MEDICAL";
}
@engine pref-hiroshima/main {
  eid: CR-JK;
  dictionaries: "HIROSHIMA_DIC_MASTER HIROSHIMA_TM_MASTER MEDICAL";
}
@engine pref-hiroshima/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER MEDICAL";
}
