#sidebar_lifeline_selector {
 attribute: style add 'width:203px;';
}

@preprocess {
 replace: '<span class="alert(.*?)Žw</span>' '<br style="display:none;"><span class="alert$1&emsp;</span><br style="display:none;">';
 replace: '<span class="alert(.*?)Š©</span>' '<br style="display:none;"><span class="alert$1&emsp;</span><br style="display:none;">';
 replace: '<span class="alert(.*?)€</span>' '<br style="display:none;"><span class="alert$1&emsp;</span><br style="display:none;">';
 replace: '<span class="alert(.*?)“Á</span>' '<br style="display:none;"><span class="alert$1&emsp;</span><br style="display:none;">';
 replace: '<span class="alert(.*?)Œx</span>' '<br style="display:none;"><span class="alert$1&emsp;</span><br style="display:none;">';
 replace: '<span class="alert(.*?)’</span>' '<br style="display:none;"><span class="alert$1&emsp;</span><br style="display:none;">';
}

@postprocess {
 replace: '<div style="display:none;" id="kisho_info_onoff"><!--cltx-->' '<div style="display:none;" id="kisho_info_onoff">';
}