// @RULESET
// URL = http://www.rkansai.net/sys/bosai/js/cities.js
// URL = http://web.bosai.pref.hyogo.lg.jp/js/cities.js
// URL = http://bosai.dev02.smartvalue.ad.jp/js/cities.js
@preprocess {
 replace: '神戸市', 'Kobe-shi';
 replace: '西宮市', 'Nishinomiya-shi';
 replace: '西宮', 'Nishinomiya';
 replace: '神戸市', 'Kobe-shi';
 replace: '尼崎市', 'Amagasaki-shi';
 replace: '芦屋市', 'Ashiya-shi';
 replace: '伊丹市', 'Itami-shi';
 replace: '宝塚市', 'Takarazuka-shi';
 replace: '川西市', 'Kawanishi-shi';
 replace: '三田市', 'Sanda-shi';
 replace: '猪名川町', 'Inagawa-cho';
 replace: '明石市', 'Akashi-shi';
 replace: '加古川市', 'Kakogawa-shi';
 replace: '高砂市', 'Takasago-shi';
 replace: '稲美町', 'Inami-cho';
 replace: '播磨町', 'Harima-cho';
 replace: '西脇市', 'Nishiwaki-shi';
 replace: '三木市', 'Miki-shi';
 replace: '小野市', 'Ono-shi';
 replace: '加西市', 'Kasai-shi';
 replace: '加東市', 'Kato-shi';
 replace: '多可町', 'Taka-cho';
 replace: '姫路市', 'Himeji-shi';
 replace: '神河町', 'Kamikawa-cho';
 replace: '市川町', 'Ichikawa-cho';
 replace: '福崎町', 'Fukusaki-cho';
 replace: '相生市', 'Aioi-shi';
 replace: 'たつの市', 'Tatsuno-shi';
 replace: '赤穂市', 'Ako-shi';
 replace: '宍粟市', 'Shiso-shi';
 replace: '太子町', 'Taishi-cho';
 replace: '上郡町', 'Kamigori-cho';
 replace: '佐用町', 'Sayo-cho';
 replace: '豊岡市', 'Toyooka-shi';
 replace: '養父市', 'Yabu-shi';
 replace: '朝来市', 'Asago-shi';
 replace: '香美町', 'Kami-cho';
 replace: '新温泉町', 'Shinonsen-cho';
 replace: '篠山市', 'Sasayama-shi';
 replace: '丹波市', 'Tamba-shi';
 replace: '洲本市', 'Sumoto-shi';
 replace: '南あわじ市', 'Minamiawaji-shi';
 replace: '淡路市', 'Awaji-shi';}