@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM IT TOURISM SYSTEM ARCHI INTERNET";
}
@engine idem-home/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER IT TOURISM SYSTEM ARCHI";
}
@engine idem-home/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER IT TOURISM SYSTEM ARCHI";
}

/* ヘッダーメニュー */
#header-contents-wrap > div > div > .block-parts-header > .col-4 > div > .link-list-wrap > .link-list > ul > li > a > span {
	attribute: style add 'line-height: 1.2;font-size: 90%;';
}

/* 総物件数 */
.container > #left-contents-wrap > .col-1 > div > .block-parts-left-side > .col-1 > div > .site-info-wrapper > .site-info > .number-property {
	attribute: style add 'font-size: 95%;';
}

.container > #left-contents-wrap > .col-1 > div > .block-parts-left-side > .col-1 > div > .site-info-wrapper > .site-info > .last-modified {
	attribute: style add 'font-size: 92%;';
}

.kaiin-en-num-title-area > .estate-num-title {
	attribute: style add 'line-height: normal; font-size: 0.6em; padding: 2% 0 0;';
}

@preprocess {
/* 件数 */
	replace:'<div class="number-property">(.*?)<span class="number-property-val">(.*?)</span>件</div>' '<div class="number-property">$1<span class="number-property-val"><br style="display:none;">$2<br style="display:none;"></span>件</div>';
}
