#site-translate-header-wrapper {
	width:auto !important;
}

#site-translate-header-wrapper p {
	letter-spacing: normal;
}

#header_mp_l ul li a {
    font-size: inherit;
}


/* top */



/* detail */
.srch_detail_titlebox2 .srch_detail_title {
    font-size: 16px;
}

#detailPage #top .text strong span {
    font-size: 24px;
}

#individual_list ul li a {
    width: auto;
    font-size: 12px;
    padding: 10px 15px;
}

/* side */
.sideContainer[lang|="en"] #SDclubNews dt {
    width: 80px;
	line-height: normal;
}

.sideContainer:lang(en) #SDclubNews dd {
    width: auto;
}

/* spec */
.page_navi .sort1 .page ul {
    position: relative;
    float: right;
    margin: 1% 0 0;
}
