.sp_ver > #header,
.console > .btn_prev,
.console > .btn_next,
.photo > .btn,
#ZVclose,
.searchList > li,
.jyouken_list > dl > dd,
.kodawari_list > dl > dd > ul >li {
	attribute:clftx add 'exclude';
}

.srch_lst_ob_check {
	attribute:cltx add 'exclude';
}

@preprocess{
	replace:'<div class="footer_shoplist_btn"><a href=(.*?) class="sph_none">(.*?)</a><a href="(.*?)" class="pc_none">(.*?)</a></div>' '<div class="footer_shoplist_btn"><br style="display:none;"><a href=$1 class="sph_none">$2</a><br style="display:none;"><a href="$3" class="pc_none">$4</a><br style="display:none;"></div>';
}
