@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine kumamoto/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine kumamoto/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

body {
  attribute: lang add 'zh';
}



@rewrite RewriteConvertedPDF {
  if (absurl matches "http://www.city.kumamoto.kumamoto.jp/(.+\\.pdf)") return "http://pdf-tmp.transer.com.c.fm.hp.transer.com/{$1}/";
  apply "@RewriteHtmlUrlAttribute";
}
a[href] {
  attribute: href rewrite "@RewriteConvertedPDF";
}
