@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM FASHION";
}
@engine funasei/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM FASHION";
}
@engine funasei/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM FASHION";
}

body {
  attribute: lang add 'zh';
}

@preprocess {
	replace: '<div class="reserve">(.*?)</div><!--/ .reserve -->' '<div class="reserve pc_only"><img src="//www.funasei.com/english/images/his.png" alt="HIS" class="his"><p class="txt mincho">请联系HIS旅行社</p><div class="number" style="font-size:18px"><a href="mailto:harajukutic@his-world.com">harajukutic@his-world.com</a></div></div>';
}

// @RULESET
// URL #= //www.funasei.com/
@preprocess {
	replace: '<div class="reserve pc_only">(.*?)</div><!--/ .reserve -->' '<div class="reserve pc_only"><img src="//www.funasei.com/english/images/his.png" alt="HIS" class="his"><p class="txt mincho">请联系HIS旅行社</p><div class="number" style="font-size:18px"><a href="mailto:harajukutic@his-world.com">harajukutic@his-world.com</a></div></div>';
}
