@engine default {
  eid: BR-EN.KO.JA;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM";
}
@engine jrtbinm/main {
  eid: BR-EN.KO.JA;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM";
}
@engine jrtbinm/cross {
  eid: BR-EN.KO.JA;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM";
}
