@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine tomorrowland/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine tomorrowland/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

@preprocess {
	replace: 'UA-29028432-1' 'UA-29028432-5';
	replace: "('_setDomainName', )'tomorrowland.co.jp'" "$1'www.tomorrowland.co.jp.t.mf.hp.transer.com'";
}

// @RULESET
// URL = http://www.tomorrowland.co.jp/new-index20150929.php
// URL = http://www.tomorrowland.co.jp/new2015-informationservice/index.html
@postprocess {
	replace: '<span class="stay">JP</span><span class="inline">' '<a href="http://www.tomorrowland.co.jp/">JP</a><span class="inline">';
    replace: '<a href="http://www.tomorrowland.co.jp.t.mf.hp.transer.com/">CN</a><span class="inline">' '<span class="stay">CN</span><span class="inline">';
}