@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine nambaparks/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine nambaparks/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

body {
  attribute: lang add 'zh';
}

@preprocess{
replace: '\"nambaparks\.com\"' '\"nambaparks\.com\.c\.uq\.hpcn\.transer-cn\.com\"';
replace: 'UA-48132452-1' 'UA-48132452-4';
}
