@engine default {
  eid: CR-JE;
  dictionaries: "SHINJUKU-OHDOORI_DIC SHINJUKU-OHDOORI_TM INTERNET GOURMET FASHION BEAUTY SPORTS ENTER HOBBY";
}

@engine shinjuku-ohdoori/main {
  eid: CR-JE;
  dictionaries: "SHINJUKU-OHDOORI_DIC_MASTER SHINJUKU-OHDOORI_TM_MASTER GOURMET FASHION BEAUTY SPORTS ENTER HOBBY";
}