@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM LAW";
}
@engine vill-yamato/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER LAW";
}
@engine vill-yamato/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER LAW";
}
