@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine tomorrowland/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine tomorrowland/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

body {
  attribute: lang add 'zh';
}


// @RULESET
// URL = http://www.tomorrowland.co.jp/new-index20150929.php
// URL = http://www.tomorrowland.co.jp/new2015-informationservice/index.html
@postprocess {
	replace: '<span class="stay">JP</span><span class="inline">' '<a href="http://www.tomorrowland.co.jp/">JP</a><span class="inline">';
    replace: '<a href="http://www.tomorrowland.co.jp.c.mf.hp.transer.com/">TW</a><span class="inline">' '<span class="stay">TW</span><span class="inline">';
}