#site-translate-header-wrapper{
	width: auto !important;
}

#calendar-toolbar .buttons button {
    height: 40px !important;
}

@media only screen and (max-width:768px) {

	#contentWarp,
	#EVENT_CALENDAR .headlineA,
	#eventVisual {
	    margin: 44px auto 0;
	}

	#site-translate-header-wrapper{
		width:100% !important;
		height:44px;
		position: fixed;
		top:0;
		z-index: 99999;
	}

	#site-translate-header-wrapper p {
		font-size:10px;
		line-height: 12px;
	}

	#site-translate-message{
		display:
		table-cell;
		height:44px;
		vertical-align:middle;
		width:5000px;
	    padding: 0;
	}

	header {
	    top: 44px;
	}

}
