@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM FASHION GOURMET INTERNET";
}
@engine kawaba-yutorian/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM FASHION GOURMET";
}
@engine kawaba-yutorian/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM FASHION GOURMET";
}

div#header > h1 {
  attribute: style add 'font-size: 9px;';
}

dt {
   attribute: style add 'letter-spacing: -1px;';
}

div#option {
   attribute: style add 'letter-spacing: -1px;';
}