.gnavShopSearch {
 attribute: cltx add 'exclude';
}

#dnn_ctr1740_ContentPane {
 attribute: cltx add 'exclude';
}

#dnn_ctr1747_ContentPane {
 attribute: cltx add 'exclude';
}

#dnn_ctr1748_ContentPane {
 attribute: cltx add 'exclude';
}

#dnn_ctr1733_ContentPane {
 attribute: cltx add 'exclude';
}