@engine default {
  eid: CR-JCT;
  dictionaries: "WAJIMANAVI_DIC WAJIMANAVI_TM";
}
@engine wajimanavi/wajimanavi02 {
  eid: CR-JCT;
  dictionaries: "WAJIMANAVI_DIC_MASTER WAJIMANAVI_TM_MASTER";
}
