@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM SYSTEM BUSINESS INTERNET";
}
@engine hitorigurashi/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER SYSTEM BUSINESS";
}
@engine hitorigurashi/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER SYSTEM BUSINESS";
}

@preprocess {
	replace:'<!-- crosslanguage-e:show(.*?)/crosslanguage-e:show -->' '$1';
	replace:'UA-6770989-14' 'UA-6770989-15';
}

@postprocess {
	replace:'<input type="text" name="ess_string" placeholder=(.*?)>' '<input type="text" name="ess_string" placeholder="Please enter University/College name">';
}
