@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT";
}
@engine aso-onsen/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT";
}
@engine aso-onsen/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT";
}

@postprocess {
  replace: "(www\.asocity-kanko\.jp)" "$1.t.px.hp.transer.com";
}