@engine default {
  eid: MS-JAID;
  dictionaries: "CLIENT_TM CROSS_TM";
}
@engine biccamera-test/main {
  eid: MS-JAID;
  dictionaries: "CLIENT_TM_MASTER";
}
@engine biccamera-test/cross {
  eid: MS-JAID;
  dictionaries: "CROSS_TM_MASTER";
}
@preprocess {
 replace:'<!-- crosslanguage-id:show(.*?)/crosslanguage-id:show -->' '$1';
}