@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOVT GOURMET INTERNET";
}
@engine city-yokohama/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOVT GOURMET";
}
@engine city-yokohama/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOVT GOURMET";
}

@preprocess {
  replace: 'www\.city\.yokohama\.lg\.jp' 'translate-en\.city\.yokohama\.lg\.jp';
  }

@postprocess {
  replace: '<a class="cl-norewrite cl-notranslate" href="http://translate-en.city.yokohama.lg.jp/kyoiku/library/">(.*?)' '<a class="cl-norewrite cl-notranslate" href="http://www.city.yokohama.lg.jp/kyoiku/library/">$1';
  }