@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM";
}
@engine yamaga-tanbou/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine yamaga-tanbou/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

@preprocess {
  replace:'<aside class="foot-content foot-facebook-area">(.*?)<h2 lang="en">Facebook</h2>(.*?)</aside>' '<aside class="foot-content foot-facebook-area"><h2 lang="en">Facebook</h2><div class="fb-page" data-href="https://www.facebook.com/yamagaonnsen/" data-tabs="timeline" data-width="460" data-height="380" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/yamagaonnsen/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/yamagaonnsen/">熊本縣北觀光指南</a></blockquote></div></aside>';
}

// @RULESET
// URL #= //yamaga-tanbou.jp/mingeikan/.*
@preprocess{
	replace:'<ruby>鶴田<rp>（</rp><rt>つるた</rt><rp>）</rp>一郎<rp>（</rp><rt>いちろう</rt><rp>）</rp></ruby>' '鹤田 一郎（TSURUTA ICHIROU）';
}
