@engine default {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_TM COMPUTER";
}
@engine jec/main {
  eid: CR-JK;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER COMPUTER";
}
@engine jec/cross {
  eid: CR-JK;
  dictionaries: "CROSS_TM_MASTER COMPUTER";
}

@preprocess{
	replace:'UA-4717922-1' 'UA-4717922-6';
}
