@engine default {
  eid: CR-JC;
  dictionaries: "WAKKANAI_DIC WAKKANAI_TM CROSS_DIC CROSS_TM";
}
@engine wakkanai/main {
  eid: CR-JC;
  dictionaries: "WAKKANAI_DIC_MASTER WAKKANAI_TM_MASTER";
}
@engine wakkanai/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

body {
  attribute: lang add 'zh';
}

@postprocess {
  replace: 'https://www\.city\.wakkanai\.hokkaido\.jp/' 'http://www\.city\.wakkanai\.hokkaido\.jp\.c\.dh\.hp\.transer\.com/';
}
