@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM INTERNET";
}
@engine ryukoku/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}
@engine ryukoku/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

@preprocess {
  replace: 'ï¼ž' '';
}