@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM";
}
@engine cross/demo {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}

@engine cross/test {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER";
}