@engine default {
  eid: CR-JCT;
  dictionaries: "HIROSHIMA_DIC HIROSHIMA_TM CROSS_DIC CROSS_TM MEDICAL";
}
@engine pref-hiroshima/main {
  eid: CR-JCT;
  dictionaries: "HIROSHIMA_DIC_MASTER HIROSHIMA_TM_MASTER MEDICAL";
}
@engine pref-hiroshima/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER MEDICAL";
}

