@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM";
}
@engine landmark-osaka/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM";
}
@engine landmark-osaka/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM";
}

body {
  attribute: lang add 'zh';
}

@preprocess {
	replace:'<!-- crosslanguage-c:show(.*?)/crosslanguage-c:show -->' '$1';
	replace:'<div class="bottom-info-area-shop-area">(.*?)<p>(.*?)<span>(.*?)</span></p>' '<div class="bottom-info-area-shop-area">$1<p>$2<br style="display:none;"><span>$3</span></p>';
}
