@engine default {
  eid: CR-JCT;
  dictionaries: "KIRINBEER-EN_DIC KIRINBEER-EN_TM CROSS_DIC CROSS_TM";
}

@engine kirinbeer-en/main {
  eid: CR-JCT;
  dictionaries: "KIRINBEER-EN_DIC_MASTER KIRINBEER-EN_TM_MASTER";
}