@engine default {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT";
}
@engine heartcore_demo/main {
  eid: CR-JC;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT";
}
@engine heartcore_demo/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT";
}

body {
  attribute: lang add 'zh';
}

@postprocess {
  replace: 'UA-48397272-1' 'UA-48374796-10';
  replace: "('create', 'UA-.*?', )'miguide.jp'" "$1'miguide.jp.c.bbb.hp.transer.com'";
}
