@engine default {
  eid: BR-JA.ES.EN;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM TOURISM GOURMET";
}
@engine himeji-kanko/main {
  eid: BR-JA.ES.EN;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER TOURISM GOURMET";
}
@engine himeji-kanko/cross {
  eid: BR-JA.ES.EN;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER TOURISM GOURMET";
}

@preprocess {
	replace:'<!-- crosslanguage-s:show(.*?)/crosslanguage-s:show -->' '$1';
}
