@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM FASHION";
}
@engine lumine/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER FASHION";
}
@engine lumine/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER FASHION";
}

@preprocess {
  replace:'<!-- crosslanguage-t:show(.*?)/crosslanguage-t:show -->' '$1';
}

// @RULESET
// URL #= http://www.lumine.ne.jp/(.*)/taxfree/
@postprocess {
  replace:'<a href="http://www.mlit.go.jp/kankocho/tax-free/about.html" target="_blank" class="dotLine">細資訊，請訪問觀</a>光廳主頁進行確認。' '細資訊，請訪問<a href="http://www.mlit.go.jp/kankocho/tax-free/about.html" target="_blank" class="dotLine">觀光廳主頁</a>進行確認。';
  replace:'<strong>晚上22點\\(商品銷售店鋪</strong>\\)' '<strong>晚上22點(商品銷售店鋪)</strong>';
  replace:'距JR新宿站0<strong>分鐘！</strong>' '距JR新宿站<strong>0分鐘！</strong>';
  replace:'<strong>營業至晚上10點\\（商品銷</strong>售店鋪\\）' '營業至<strong>晚上10點（商品銷售店鋪）</strong>';
  replace:'距JR有樂町站1<strong>分鐘！</strong>' '距JR有樂町站<strong>1分鐘！</strong>';
  replace:'平日營業至21點30分(.*?)周六(.*?)周日(.*?)節假日營業至21點（商品</strong>銷售店鋪）(.*)' '平日營業至21點30分$1周六$2周日$3節假日營業至21點（商品銷售店鋪）$4</strong>';  
  replace:'距JR池袋站0<strong>分鐘！' '距JR池袋站<strong>0分鐘！';
  replace:'<strong>營業至晚上21點30分\\（商品銷</strong>售店鋪\\）' '營業至<strong>晚上21點30分（商品銷售店鋪）</strong>';
  replace:'距JR橫濱站0<strong>分鐘！</strong>' '距JR橫濱站<strong>0分鐘！</strong>';    
  replace:'<strong>營業至晚上21點\\（商品銷</strong>售店鋪\\）' '營業至<strong>晚上21點（商品銷售店鋪）</strong>';  
}

// @RULESET
// URL #= http://www.lumine.ne.jp/taxfree/
@postprocess {
  replace:'<a href="http://www.mlit.go.jp/kankocho/tax-free/about.html" target="_blank" class="dotLine">細資訊，請訪問觀</a>光廳主頁進行確認。' '細資訊，請訪問<a href="http://www.mlit.go.jp/kankocho/tax-free/about.html" target="_blank" class="dotLine">觀光廳主頁</a>進行確認。';
}
