@engine default {
  eid: CR-JC;
  dictionaries: "SHIBUYAKUKANKO_DIC SHIBUYAKUKANKO_TM CROSS_DIC CROSS_TM";
}
@engine shibuyakukanko/main {
  eid: CR-JC;
  dictionaries: "SHIBUYAKUKANKO_DIC_MASTER SHIBUYAKUKANKO_TM_MASTER";
}
@engine shibuyakukanko/cross {
  eid: CR-JC;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}

body {
  attribute: lang add 'zh';
}
