div.image,
div.images,
div.images > ul > li {
	attribute:clftx add 'exclude';
}

@preprocess{
	replace:'<h1 class="page_head jp">(.*?)<small class="title_small en">(.*?)</small></h1>' '<h1 class="page_head jp">$1<br style="display:none;"><small class="title_small en">$2</small></h1>';
}

// @RULESET
// URL #= //www.hibiya.tokyo-midtown.com/en/conference/.*
@preprocess{
	replace:'<div class="right_box">(.*?)<p>(.*?)<span>(.*?)</span></p>' '<div class="right_box">$1<p>$2<br style="display:none;"><span>$3</span></p>';
}
