@engine default {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM GOVT TOURISM INTERNET";
}
@engine city-sapporo/main {
  eid: CR-JE;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER GOVT TOURISM";
}
@engine city-sapporo/cross {
  eid: CR-JE;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER GOVT TOURISM";
}

@preprocess {
	replace: '<title(.*?)>(.*?)札幌市議会(.*?)</title>' '<title $1>$2 Sapporo City Assembly $3</title>';
	replace: '<title(.*?)>(.*?)札幌市水道局(.*?)</title>' '<title $1>$2 Sapporo Waterworks Bureau $3</title>';
	replace: '<title(.*?)>(.*?)市立札幌病院(.*?)</title>' '<title $1>$2 Sapporo City General Hospital $3</title>';
	replace: '<title(.*?)>(.*?)札幌市中央図書館(.*?)</title>' '<title $1>$2 Sapporo Municipal Central Library $3</title>';
	replace: '<title(.*?)>(.*?)札幌市円山動物園(.*?)</title>' '<title $1>$2 Sapporo Maruyama Zoo $3</title>';
	replace: '<title(.*?)>(.*?)札幌市交通局(.*?)</title>' '<title $1>$2 Sapporo Transportation Bureau $3</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/chuo/.*
@preprocess {
	replace: '<title(.*?)>(.*?)札幌市中央区(.*?)</title>' '<title $1>$2 Sapporo Chuo Ward Office $3</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/kitaku/.*
@preprocess {
	replace: '<title(.*?)>(.*?)札幌市北区(.*?)</title>' '<title $1>$2 Sapporo Kita Ward Office $3</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/higashi/.*
@preprocess {
	replace: '<title(.*?)>(.*?)札幌市東区(.*?)</title>' '<title $1>$2 Sapporo Higashi Ward Office $3</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/shiroishi/.*
@preprocess {
	replace: '<title(.*?)>(.*?)札幌市白石区(.*?)</title>' '<title $1>$2 Sapporo Shiroishi Ward Office $3</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/atsubetsu/.*
@preprocess {
	replace: '<title(.*?)>(.*?)札幌市厚別区(.*?)</title>' '<title $1>$2 Sapporo Atsubetsu Ward Office $3</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/toyohira/.*
@preprocess {
	replace: '<title(.*?)>(.*?)札幌市豊平区(.*?)</title>' '<title $1>$2 Sapporo Toyohira Ward Office $3</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/kiyota/.*
@preprocess {
	replace: '<title(.*?)>(.*?)札幌市清田区(.*?)</title>' '<title $1>$2 Sapporo Kiyota Ward Office $3</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/minami/.*
@preprocess {
	replace: '<title(.*?)>(.*?)札幌市南区(.*?)</title>' '<title $1>$2 Sapporo Minami Ward Office $3</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/nishi/.*
@preprocess {
	replace: '<title(.*?)>(.*?)札幌市西区(.*?)</title>' '<title $1>$2 Sapporo Nishi Ward Office $3</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/teine/.*
@preprocess {
	replace: '<title(.*?)>(.*?)札幌市手稲区(.*?)</title>' '<title $1>$2 Sapporo Teine Ward Office $3</title>';
}

// @RULESET
// URL #= //www.city.sapporo.jp/.*
@postprocess {
	replace: '<title(.*?)>(.*?)Sapporo-shi(.*?)</title>' '<title $1>$2 City of Sapporo $3</title>';
}
