@engine default {
  eid: CR-JCT;
  dictionaries: "SOPHIA-ACADEMIC_DIC SOPHIA-ACADEMIC_TM CROSS_DIC CROSS_TM";
}
@engine sophia-academic/main {
  eid: CR-JCT;
  dictionaries: "SOPHIA-ACADEMIC_DIC_MASTER SOPHIA-ACADEMIC_TM_MASTER";
}
@engine sophia-academic/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER";
}