@engine default {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC CLIENT_TM CROSS_DIC CROSS_TM CAR TRADE";
}
@engine itamisyaryo/main {
  eid: CR-JCT;
  dictionaries: "CLIENT_DIC_MASTER CLIENT_TM_MASTER CAR TRADE";
}
@engine itamisyaryo/cross {
  eid: CR-JCT;
  dictionaries: "CROSS_DIC_MASTER CROSS_TM_MASTER CAR TRADE";
}

@postprocess {
	replace:'<option value="(.*?).c.afp.hp.transer.com(.*?)"(.*?)>中國</option>' '<option value="$1.c.afp.hp.transer.com$2"$3>中国</option>';
}
