@postprocess {
replace:'src="http://www.e-map.ne.jp.k.yy.hp.transer.com/cgi/sys_icon_select.cgi' 'src="http://www.e-map.ne.jp/cgi/sys_icon_select.cgi';
}

@postprocess {
replace:'PARENT_HTTP_HOST=www.e-map.ne.jp"' 'PARENT_HTTP_HOST=www.e-map.ne.jp.k.yy.hp.transer.com"';
replace:'127.0.0.1' 'www.e-map.ne.jp.k.yy.hp.transer.com';
}
